<div class="ap-avanan-exceptions">
    <ul class="nav nav-tabs">
        <li role="presentation" ng-repeat="type in excludeTypes" ng-class="{'active': type.id === excludeType}">
            <a ng-href="{{'/#!' + type.link}}">{{type.label}}</a></li>
    </ul>

    <div ng-if="resultsPanel" widget-panel="resultsPanel" class="results-panel">
        <widget-body>
            <div ng-if="tableModel" class="avanan-table vertical-middle medium-icons" data-table="tableModel" options="tableOptions"></div>
        </widget-body>
    </div>
</div>