.ap-avanan-exceptions {
  .nav-tabs {
    margin-bottom: 20px;
  }

  .nav-pills {
    margin-bottom: 20px;
  }

  .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background-color: #F9F9F9;
  }

  .data-table .table-wrapper {
    min-height: 400px;
  }
}