.policy-create {
  .panel .panel-body {
    overflow: visible !important;
  }

  .continue-button {
    float: right;
    width: 150px;
  }

  .advanced-checkbox {
    margin-right: 15px;
  }
  
  .table {
    thead tr {
      cursor: default !important;
    }
  }
}