<div class="policy-create">
    <div ng-if="internalModel.loaded" widget-panel="policyOptionsPanel">
        <widget-body>
            <div ng-if="policyOptionsPanel.checkbox.value" policy-options="model" saas-list="internalModel.saasList" sources="internalModel.sources" properties="internalModel.properties"></div>
            <div ng-if="!policyOptionsPanel.checkbox.value" policy-template-options="model" sources="internalModel.sources" sources-info="internalModel.sourcesInfo" property-types="internalModel.propertyTypes" properties="internalModel.properties" action-types="internalModel.actionTypes" generate-body="generateBody()"></div>
            <button class="btn btn-blue continue-button" ng-click="save()" ng-class="{'display-none': !isSaveVisible()}">Continue</button>
        </widget-body>
    </div>
</div>