<div class="security-events" page>
    <top>
        <div top-panel="{{ title }}">
        </div>
    </top>
    <content class="security-events-body">
        <div security-events-pie-charts resolution="model.resolution" filters="model.filters" api="chartsWidget" update-filter="updateFilter"></div>

        <div class="widget-label list-title">Security Events</div>

        <div class="events-filters" id="events-filters">
            <div class="filters-controls">
                <div class="group-actions" ng-if="groupActions.length">
                    <div class="selector-v2 dropdown" dropdown>
                        <div class="dropdown-toggle" dropdown-toggle>
                            <div class="selected">Group Actions</div>
                            <div class="chevron">
                                <div class="fa fa-chevron-down"></div>
                            </div>
                        </div>
                        <div class="dropdown-menu" role="menu">
                            <div ng-repeat="action in groupActions"
                                 class="menu-item"
                                 linked-text="action.label"
                                 ng-class="{'disabled':!action.enabled()}"
                                 ng-disabled="!action.enabled()"
                                 ng-click="action.execute()"></div>
                        </div>
                    </div>
                </div>
                <div ng-repeat="button in filterButtons" class="filter" ng-class="button.class">
                    <div class="selector-v2 dropdown" dropdown>
                        <div class="dropdown-toggle" dropdown-toggle>
                            <div class="selected" linked-text="button.label"></div>
                            <div class="chevron">
                                <div class="fa fa-chevron-down"></div>
                            </div>
                        </div>
                        <div class="dropdown-menu" role="menu">
                            <div ng-repeat="variant in button.variants" class="menu-item" linked-text="variant.label" ng-click="button.execute(variant)"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="filters-selected">
                <span class="filter-by-label">Filter By:</span>
                <div ng-if="model.resolutionLabel" class="filter-item"><span class="fa fa-times filter-item-remove" ng-click="clearResolution($index)"></span>{{model.resolutionLabel}}</div>
                <div ng-repeat="filter in model.filters track by $index" class="filter-item"><span class="fa fa-times filter-item-remove" ng-click="removeFilterByIndex($index)"></span>{{filter.label}}</div>
                <div class="working-status" ng-if="workingIndicator.isShown">
                    <span class="fa fa-spinner fa-pulse"></span> loading data</div>
                <div class="total-status" ng-if="!workingIndicator.isShown">Total <span class="total-amount">{{totalEvents}}</span> Events Filtered</div>
            </div>
        </div>

        <div class="v2-table vertical-middle security-events-table" ng-if="tableModel" data-table="tableModel" options="tableOptions"></div>

    </content>
</div>