.security-events {
  position: relative;
  .security-events-body {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .list-title {
    margin-top: 15px;
    flex: 0 0 auto;
  }
  .events-filters {
    margin-top: 10px;
    .filters-controls {
      &:after {
        clear: both;
        content: ' ';
        display: table;
      }

      .dropdown-toggle {
        background-color: #fff;
      }

      .dropdown-menu {
        min-width: 0;
        background-color: #fff;
      }
      .menu-item:hover {
        color: inherit;
      }

      .filter {
        float: left;
        margin-right: 20px;
        margin-bottom: 10px;
        width: 120px;

        &.filter-saas {
          width: 160px;
        }
        &.filter-severity {
          width: 140px;
        }
      }

      .group-actions {
        float: right;
        width: 140px;
        margin-bottom: 10px;
      }

    }

    .filters-selected {
      background-color: #dce3ec;
      border-radius: 3px;
      margin-bottom: 10px;
      &:after {
        clear: both;
        content: ' ';
        display: table;
      }


      .filter-by-label {
        color: #314e7b;
        font-weight: 600;
        padding: 2px 5px;
        margin: 8px 5px;
        display: block;
        float: left;
      }

      .filter-item {
        display: block;
        float: left;
        background-color: #fff;
        padding: 2px 5px;
        margin: 8px 5px;
        border-radius: 3px;
        color: #06346b;

        .filter-item-remove {
          cursor: pointer;
          margin-right: 5px;
        }

      }

      .total-status, .working-status {
        float: right;
        padding: 2px 5px;
        margin: 8px 5px;

        .total-amount {
          font-weight: bold;
          color: #555;
        }
      }
    }

  }

  .v2-table > .table-wrapper > .table > tbody > tr > td,
  .data-table.v2-table > .table-wrapper > .table > thead > tr > th {
    padding: 15px 10px;
    line-height: 1.6;

    a {
      color: #1251c2;
      text-decoration: none;
      &:hover {
        color: #7096da;
      }
    }
  }

  .data-table > .bottom-container {
    margin-bottom: 20px;
    border-radius: 3px;
  }

  .saas-icon {
    img {
      width: 30px;
      max-width: 30px;
      height: 30px;
      border-radius: 15px;
    }
  }

  .data-table tbody tr:nth-child(n+6) td .severity-inline-editor .dropdown-menu {
    bottom: 100%;
    top: auto;
  }

  .severity-inline-editor {
    li > a {
      cursor: pointer;
    }
    .severity-indicator {
      &:after {
        clear: both;
        content: ' ';
        display: table;
      }
      display: inline-block;
      vertical-align: middle;
      padding-top: 3px;
      padding-bottom: 3px;
    }
  }

  .severity-indicator {
    display: block;
    padding-top: 5px;
    width: 56px;
    cursor: pointer;

    .severity-mark {
      display: block;
      float: left;
      width: 11px;
      height: 17px;
      margin-right: 0;

      .item-indicator {
        background-color: #c1c6d0;
        width: 10px;
        height: 17px;
        display: block;
      }

      &:first-child {
        .item-indicator {
          border-radius: 8px 0 0 8px;
        }
      }
      &:last-child {
        width: 10px;
        .item-indicator {
          border-radius: 0 8px 8px 0;
        }
      }
    }
    &.level-1 {
      .severity-mark-1 {
        .item-indicator {
          background-color: #ed1c24;
        }
      }
    }

    &.level-2 {
      .severity-mark-1, .severity-mark-2 {
        .item-indicator {
          background-color: #ed1c24;
        }
      }
    }

    &.level-3 {
      .severity-mark-1, .severity-mark-2, .severity-mark-3 {
        .item-indicator {
          background-color: #ed1c24;
        }
      }
    }

    &.level-4 {
      .severity-mark-1, .severity-mark-2, .severity-mark-3, .severity-mark-4 {
        .item-indicator {
          background-color: #ed1c24;
        }
      }
    }

    &.level-5 {
      .severity-mark {
        .item-indicator {
          background-color: #ed1c24;
        }
      }
    }

    &:hover {
      .severity-mark {
        .item-indicator {
          background-color: #ed1c24;
        }
        &:hover ~ .severity-mark {
          .item-indicator {
            background-color: #c1c6d0;
          }
        }
      }
    }
  }

  .event-state {
    padding: 3px 10px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 10px;
    border-radius: 3px;

    &.state-new {
      color: #fff;
      background-color: #e63c53;
    }
    &.state-remediated {
      color: #fff;
      background-color: #91ce55;
    }

  }
  .security-events-table.data-table .table-hover tbody tr.processing {
    &:hover td {
      background-color: transparent;
    }
    > td:not(.workflow-cell) {
      position: relative;
      &:after {
        content: ' ';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
        background-color: rgba(255, 255, 255, 0.7);
      }
    }

  }

  .security-events-table.data-table .table-hover tbody tr.highlighted-event {
    background-color: #e9f2fc;
    animation: highlightBg 1.5s linear;
  }

  .workflow-cell {
    position: relative;
    .actions-disabler {
      font-size: 20px;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: none;
      justify-content: center;
      align-items: center;
      z-index: 2;
      background-color: rgba(255, 255, 255, 0.7);
    }
    .action-link {
      color: #1251c2;
      text-decoration: none;
      cursor: pointer;
      &:hover {
        color: #7096da;
      }
    }
  }

  tr.processing .actions-disabler {
    display: flex;
  }
  .event-history-item {
    white-space: nowrap;
  }

  .working-indicator {
    top: 60px;
    &.disable-screen {
      background-color: rgba(255, 255, 255, 0.3);
    }
  }
}

.security-events-entity-tooltip {
  max-width: 50vw;
  background-color:  #e9edf1;;
  border: 1px solid #c1c6d0;
  border-radius: 4px;
  font-size: 12px;
  color: #343942;
  line-height: 1.4;
  a {
    text-decoration: underline;
  }

  .qtip-content {
    min-height: 120px;
    min-width: 250px;
    display: flex;
    align-items: center;
    overflow: auto;
    padding: 10px;
    td {
      padding: 2px 4px;
      vertical-align: top;
      &.key {
        white-space: nowrap;
        text-align: right;
        font-weight: 600;
        padding-top: 3px;
      }
      > .value-wrapper {
        word-wrap: break-word;
        overflow-wrap: break-word;
        max-width: 250px;
      }
    }
  }
}

.dbl-line-date-date {
  display: block;
  font-size: 11px;
}
.dbl-line-date-time {
  display: block;
}

.tooltip-keyword {
  color: #1251c2;
  text-decoration: none;
  cursor: default;
  &:hover {
    color: #7096da;
  }
}


@keyframes highlightBg {
  0%   {background-color: #fff;}
  10%  {background-color: rgba(37, 133, 230, 0.2);}
  20%  {background-color: rgba(37, 133, 230, 0.4);}
  30%  {background-color: rgba(37, 133, 230, 0.6);}
  40%  {background-color: rgba(37, 133, 230, 0.8);}
  50%  {background-color: rgba(37, 133, 230, 1);}
  60%  {background-color: rgba(37, 133, 230, 0.8);}
  70%  {background-color: rgba(37, 133, 230, 0.6);}
  80%  {background-color: rgba(37, 133, 230, 0.4);}
  90%  {background-color: rgba(37, 133, 230, 0.2);}
  100%  {background-color: rgba(37, 133, 230, 0.1);}
}