.modal-body.inline-user-selector {
  .left-part {
    float: left;
    width: calc(50% - 50px);
    height: 100%;
  }
  .right-part {
    float: left;
    width: calc(50% - 50px);
    height: 100%;
  }
  .middle-part {
    float: left;
    width: 100px;
    height: 100px;
    text-align: center;
    padding-top: 50px;
    .btn {
      margin: 5px 0;
      width: 84px;
    }
    .fa {
      float: left;
      font-size: 14px;
    }
  }
  .data-table.avanan-table .top-left {
    margin-right: 0;
    font-size: 0;
    .filter {
      width: 100%;
    }
  }

  .panel.avanan.white-body > .panel-body {
    padding: 15px 0 0 0;
    border-bottom: 0;
  }

  .panel {
    border: 0;
  }
}

.modal.inline-user-limit-dialog {
  .modal-body {
    p {
      margin-bottom: 0;
    }
  }
}