<div class="form-param" ng-class="param.paramClass">
    <div class="param-control" ng-class="{'param-with-validator': param.onchange_validation}">
        <div ng-if="param.type === 'property-string'" class="property-string">
            <div sub-button="subButtonModel" on-click="addProperty(menuIds)"></div>
            <input type="text" ng-model="internal.model" class="form-control avanan-square"/>
        </div>
        <div ng-if="param.type === 'property-multiline-string'" class="property-multiline-string">
            <div sub-button="subButtonModel" on-click="addProperty(menuIds)"></div>
            <textarea ng-model="internal.model" class="form-control avanan-square"></textarea>
        </div>
        <div ng-if="param.type === 'property'" class="property" sub-selector="resolvedProperties" ng-model="internal.model"></div>
        <div class="input-group square-group" ng-if="param.type === 'string'">
            <input ng-if="param.type === 'string'" type="text" ng-model="internal.model"
                   class="form-control avanan-square"
                   ng-disabled="paramDisabled(param)"
                   typeahead="option for option in (param.variants || []) | filter:$viewValue | limitTo:20"
                   placeholder="{{param.placeholder}}"
                   ng-model-options="param.modelOptions || {}"/>
            <span ng-if="param.rightAddon" class="input-group-addon">{{param.rightAddon}}</span>
        </div>
        <textarea ng-if="param.type === 'text'" ng-model="internal.model" class="form-control avanan-square"></textarea>
        <input ng-if="param.type === 'integer'" type="number" integer-restriction min="{{param.min}}" max="{{param.max}}" ng-model="internal.model" class="form-control avanan-square"/>
        <input ng-if="param.type === 'password'" type="password" ng-model="internal.model" class="form-control avanan-square"/>
        <textarea ng-if="param.type === 'email-body'" tinymce="emailOptions" tinymce-model="internal.model" tags="emailTags" class="form-control"></textarea>
        <div ng-if="param.type === 'property-email-body'" class="property-email-body">
            <div sub-button="subButtonModel" on-click="addProperty(menuIds, true)"></div>
            <textarea tinymce="emailOptions" tinymce-model="internal.model" tags="emailTags" class="form-control"></textarea>
        </div>
        <div ng-if="param.type === 'boolean'" class="property-boolean">
            <input type="checkbox" ng-model="internal.model">
            <span class="custom-checkbox"></span>
            <span>{{param.rightLabel}}</span>
        </div>
        <div ng-if="param.type === 'tree'">
            <div class="tree-input avanan-square" ng-click="openTreeModal()">
                <div linked-text="internal.model[param.options.labelField] || 'Click to select...'"></div>
            </div>
        </div>

        <div ng-if="param.type === 'list' || param.type === 'list-as-csv'" class="form-inline">
            <div select2="internal.model" variants="param.variants" settings="param.settings" select-disabled="paramDisabled(param)" focus-on-load="param.focusOnLoad">
            </div>
        </div>

        <div ng-if="param.type === 'selector'" class="form-inline">
            <div selector="internal.model" variants="param.variants">
            </div>
        </div>

        <div ng-if="param.type === 'datetime'" class="cef-items">
            <div datetime-picker="internal.model" options="param.options" class="form-control avanan-square"></div>
        </div>
        <div ng-if="param.type === 'time'">
            <div time-picker="internal.model" class="form-control avanan-square"></div>
        </div>
        <div ng-if="param.type === 'color'">
            <input ng-model="internal.model" type="text" color-picker="param.options" class="form-control avanan-square"/>
        </div>

    </div>
    <div ng-if="param.onchange_validation" class="param-validator-status" qtip2="param.onchange_validation.tooltip">
        <span class="fa fa-check green-text" ng-if="param.onchange_validation.status === 'valid'"></span>
        <span class="fa fa-times red-text" ng-if="param.onchange_validation.status === 'invalid'"></span>
        <span class="fa fa-spinner fa-pulse" ng-if="param.onchange_validation.status === 'progress'"></span>
    </div>

    <div ng-if="param.type === 'email'">
        <div class="input-group form-inline email-data">
            <span class="param-label input-group-addon">To</span>
            <input type="text" ng-model="model.to" class="form-control param-data"/>
            <span class="param-label input-group-addon">CC</span>
            <input type="text" ng-model="model.cc" class="form-control param-data"/>
            <span class="param-label input-group-addon">Bcc</span>
            <input type="text" ng-model="model.bcc" class="form-control param-data"/>
        </div>
        <div class="input-group form-inline email-data">
            <span class="param-label input-group-addon">Subject</span>
            <input type="text" ng-model="model.subject" class="form-control param-data"/>
        </div>
        <textarea tinymce="emailOptions" tinymce-model="model.body" tags="emailTags" class="form-control param-data"></textarea>
    </div>

    <div ng-if="param.type === 'cef-items'" class="cef-items">
        <div ng-repeat="item in model" class="item">
            <input type="text" ng-model="item.id" placeholder="CEF key" class="form-control"/>
            <input ng-if="item.type === 'text'" type="text" ng-model="item.data" class="form-control"/>
            <div ng-if="item.type === 'property'" class="property" sub-selector="pages[page()].properties" ng-model="item.data"></div>
            <button class="btn btn-white" ng-click="removeFromList(param, $index)"><span class="fa fa-times"></span></button>
        </div>
        <div class="buttons">
            <div class="btn btn-blue" ng-click="addToList(param, 'property')">Add property</div>
            <div class="btn btn-blue" ng-click="addToList(param, 'text')">Add text</div>
        </div>
    </div>

    <div ng-if="param.type === 'radio-group'" ng-repeat="button in param.buttons" class="radio-group">
        <label ng-class="{'disabled': button.disabled || paramDisabled(param)}">
            <input type="radio" ng-model="internal.model" ng-value="button.value" ng-change="radioClick(button)" ng-disabled="button.disabled || paramDisabled(param)">
            <span class="custom-radio"></span><span linked-text="button.label"></span>
        </label>
    </div>

    <div ng-if="param.type === 'object-of-arrays'" class="object-param">
        <div class="object-element" ng-repeat="key in param.keysParam.data">
            <div class="object-label">{{key}}:</div>
            <div select2="internal.model[key]" variants="param.variants" settings="param.settings" lookup-params="{param_key: key}"  select-disabled="paramDisabled(param)"></div>
        </div>
    </div>


    <input ng-if="param.type === 'file'" type="file" class="file-upload-field"/>

    <button ng-if="param.type === 'button'" ng-click="param.execute()" ng-class="param.class" class="btn">{{param.title}}</button>

    <p ng-if="param.type === 'message'" linked-text="param.message"></p>

    <div ng-if="param.type === 'datetime-interval'" datetime-interval="internal.model"></div>

    <div ng-if="param.onchange_validation.error" class="error validation-error" linked-text="param.onchange_validation.error" qtip2="param.onchange_validation.tooltip"></div>

    <p ng-if="param.error" class="error">{{param.error}}</p>
</div>