@mixin calc($property, $expression) {
  #{$property}: -webkit-calc(#{$expression});
  #{$property}: -moz-calc(#{$expression});
  #{$property}: calc(#{$expression});
}

.form-param {
  .param-control {
    .property-string {
      width: 100%;
      font-size: 0px;

      > input {
        display: inline-block;
        font-size: 12px;
        @include calc("width", "100% - 45px");
        vertical-align: top;
      }

      > div {
        display: inline-block;
        font-size: 12px;
        width: 40px;
        vertical-align: top;
      }
    }
    .property-multiline-string {
      width: 100%;
      font-size: 0px;
      > textarea {
        display: inline-block;
        font-size: 12px;
        height: 200px;
        @include calc("width", "100% - 45px");
      }

      > div {
        display: inline-block;
        font-size: 12px;
        width: 40px;
        vertical-align: top;
      }
    }
    .property-boolean {
      margin-top: 8px;
    }

    & + .radio-group {
      margin-top: 8px;
    }
  }

  &.text-param-average textarea {
    height: 100px;
  }

  textarea {
    height: 300px;
  }

  .email-data {
    width: 100%;
    margin-bottom: 10px;

    span {
      width: 1%;
    }
  }

  .property-email-body {
    position: relative;
    .sub-button {
      position: absolute;
      left: 1px;
      top: 1px;
      z-index: 1;
    }
    .mce-menubar > div {
      margin-left: 40px;
    }
  }

  .object-param {
    padding-top: 25px;

    .object-element {
      position: relative;
      margin-bottom: 7px;

      .object-label {
        position: absolute;
        height: 100%;
        right: 100%;
        text-align: right;
        width: auto;
        padding-right: 10px;
        padding-top: 7px;
      }

    }
  }

  .radio-group {
    margin-bottom: 2px;
  }

  .radio-group:last-child {
    margin-bottom: 5px;
  }

  .radio-group label {
    cursor: pointer;
    font-weight: inherit;
  }

  .radio-group label.disabled {
    color: #bbb;

    input[type="radio"]:disabled + .custom-radio {
      background-color: #fafafa;
    }

  }



  .cef-items {
    .item {
      float: left;
      margin-bottom: 5px;
      > * {
        width: 200px;
        margin-right: 5px;
        display: inline-block;
      }
      > button {
        vertical-align: top;
        margin: 4px 0px;
        width: 24px;
      }
      .property {
        margin-right: 2px;
        input {
          width: 175px;
        }
      }
    }
    .buttons {
      float: left;
    }

    .error {
      color: red;
      text-align: right;
    }
  }

  .error-msg {
    color: #f35428;
  }

  .tree-input {
    position: relative;
    overflow: visible;
    cursor: pointer;
    width: 300px;
    height: 32px;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #d5d7da;
    padding: 6px 12px;
  }

  .sp-replacer {
    width: 100%;
  }
  .sp-preview {
    @include calc("width", "100% - 16px");
  }

  .file-upload-field {
    margin-top: 10px;
  }
}