<div class="linked-editable" dropdown dropdown-toggle is-open="isDropdownOpen" on-toggle="dropdownToggled(open)">
    <div ng-if="model.text" qtip2="model.tooltip"><div linked-text="internalModel.display"></div></div>
    <div class="empty-text" ng-if="!model.text" qtip2="model.emptyTooltip || model.tooltip" ng-class="model.emptyClass">{{model.emptyText}}</div>
    <div class="dropdown-menu editable-with-buttons" ng-if="model.editType === 'text' || model.editType === 'string'" ng-class="model.editType" ng-click="$event.stopPropagation()">
        <textarea  ng-if="model.editType === 'text'" ng-click="$event.stopPropagation()" ng-model="internalModel.text"></textarea>
        <input  ng-if="model.editType === 'string'" ng-click="$event.stopPropagation()" ng-model="internalModel.text" typeahead="option for option in (model.variants || []) | filter:$viewValue | limitTo:20" class="form-control avanan-square">
        <div class="dropdown-close-buttons">
            <button class="btn btn-primary" ng-click="applyChanges()">Ok</button>
            <button class="btn btn-default" ng-click="closeDropdown()">Cancel</button>
        </div>
    </div>
    <ul ng-if="model.editType === 'select' && model.variants" class="dropdown-menu">
        <li ng-repeat="variant in model.variants"><a ng-click="variantSelected(variant)"><div linked-text="variant.label"></div></a></li>
    </ul>
</div>