.linked-editable {
  position: relative;

  .dropdown-menu.editable-with-buttons.text {
    width: 400px;
    height: 200px;
    padding: 10px;

    textarea {
      width: 100%;
      height: 130px;
    }
  }

  .dropdown-menu.editable-with-buttons.string {
    width: 400px;
    height: 100px;
    padding: 10px;
  }


  .dropdown-close-buttons {
    text-align: center;
    padding: 5px 20px 3px;
    white-space: nowrap;

    .btn {
      width: 80px;
      height: 28px;
      font-size: 12px;
      border-radius: 2px;

      &.btn-primary {
        background-color: #2980b9;
        color: #fff;
        border: 0;
      }

      &.btn-default {
        border: 1px solid #2980b9;
        color: #2980b9;
      }
    }
  }

}

