<div ng-cloak>
    <div class="row">
        <div class="col-md-4">
            <span class="hipster img-responsive img-rounded"></span>
        </div>
        <div class="col-md-8">
            <h1>Welcome, Meridian User!</h1>
            <p class="lead">This is your homepage</p>

            <div ng-switch="vm.isAuthenticated()">
                <div class="alert alert-success" ng-switch-when="true">
                    You are logged in as user "{{vm.account.login}}".
                </div>

                <div class="alert alert-success" ng-switch-when="true"  has-authority="ROLE_WEBUI">
                    <p>You can reindex data in elasticsearch.</p>
                    <button class="btn btn-primary" ng-click="vm.reindex()">Reindex</button>
                    <p>{{vm.afterReindex}}</p>
                </div>

                <div class="alert alert-warning" ng-switch-when="false">
                    <a class="alert-link" href="" ng-click="vm.login()">Sign In</a>
                </div>
            </div>
        </div>
    </div>
</div>
