<div ng-if="initialized" class="policy-root-cause-view">
    <div widget-panel="resultsPanel" class="results-panel">
        <widget-body>
            <div ng-if="tableModel" class="query-results">
                <div class="avanan-table vertical-middle medium-icons" data-table="tableModel" options="tableOptions"></div>
            </div>
        </widget-body>
    </div>
</div>