<ul class="select-dropdown dropdown-menu" role="menu">
    <li ng-repeat="option in options" ng-click="selectionChanged($event, option)" ng-class="{'disabled': option.disabled}">
        <a ng-if="option.type == 'select-all'" href="javascript:void(0);" ng-click="selectAll()">{{isAllSelected() ? 'Unselect all' : 'Select all'}}</a>
        <div ng-if="option.type == 'filter'" href="javascript:void(0);" class="options-filter"><input type="text" ng-model="root.optionsFilter" placeholder="Filter..."></div>
        <a ng-if="option.type == 'flag' && !isFiltered(option)" href="javascript:void(0);" ng-click="option.state = !option.state;" ng-class="option.class">
            <input type="checkbox" ng-model="option.state" ng-click="selectionChanged($event, option)">
            <span class="custom-checkbox"></span>
            {{option.text}}
        </a>
        <div ng-if="option.type === 'radio-group'" class="select-dropdown-radios">
            <span class="option-label">{{option.text}}</span>
            <label ng-repeat="variant in option.variants">
                <input type="radio" ng-model="option.state" value="{{variant.id}}">
                <span class="custom-radio"></span>{{variant.label}}
            </label>
        </div>
        <span ng-if="option.type == 'number'" class="number-option" ng-click="$event.stopPropagation();">
            <input type="number" ng-style="option.style" ng-model="option.state" integer-restriction ng-change="numberOptionChanged(option)" min="{{option.min}}" max="{{option.max}}"> {{option.text}}
        </span>
        <a ng-if="option.type == 'external-link'" ng-href="{{option.href}}" target="_blank">{{option.text}}</a>
        <a ng-if="option.type === 'button'" href="javascript:void(0);">{{option.text}}</a>
    </li>
</ul>