@mixin select-dropdown-number {
  .number-option {
    display: block;
    padding: 1px 20px;
    white-space: nowrap;
    cursor: default;
    line-height: 30px;

    input[type='number'] {
      margin: 0 10px 0 0;
      vertical-align: middle;
      height: auto;
      width: auto;
      border: 1px solid rgba(0, 0, 0, .15);
    }
  }
}

.select-dropdown.dropdown-menu {
  li {
    a {
      background: #ffffff;
      color: #333333;
      &:hover {
        background: #3c8dbc !important;
        color: #ffffff !important;
      }
      &:focus {
        background: #ffffff;
        color: #333333;
      }
    }
    @include select-dropdown-number;
    .select-dropdown-radios {
      & > .option-label {
        display: block;
        padding: 3px 20px;
        clear: both;
        font-weight: normal;
        line-height: 1.42857143;
        white-space: nowrap;
        color: #333333;
      }
      & > label {
        display: block;
        padding: 3px 20px 3px 30px;
        clear: both;
        font-weight: normal;
        line-height: 1.42857143;
        white-space: nowrap;
        color: #333333;

        &:hover {
          background: #3c8dbc !important;
          color: #ffffff !important;
        }
      }
    }
  }
  li.disabled {
    a, a:hover, a:focus {
      background: #fff !important;
      color: #999 !important;
    }

  }
  
  .options-filter {
    margin: 0px 20px;
    width: 200px;
    input {
      border: 1px solid #AAAAAA;
      border-radius: 0;
      padding: 0px 5px;
    }
  }
}

.panel .panel-heading .panel-actions .select-dropdown.dropdown-menu {
  @include select-dropdown-number;
}