.flotTip {
  background: #2980b9 !important;
  border: none !important;
  color: #fff !important;
  font-weight: bold !important;
  padding: 2px !important;
  border-radius: 2px !important;
  z-index: 10000 !important;
  pointer-events: none;
}

.pieLabel {
  color: #ffffff;
  font-weight: 600;
}

.flot-extended-hover,
#wrapper #ng-view > div.flot-extended-hover {
  position: absolute;
  z-index: 10;
  display: none;
  top: 0;
  left: 0;
  height: auto;
  max-height: 350px;
  overflow: auto;
}

.legendColorBox {
  padding: 2px;
}
.legendLabel {
  padding-right: 5px;
}

.flot-outer-legend {
  padding-top: 10px;
  & > table {
    width: 100%;
    .legendColorBox {
      width: 18px;
    }
  }
  .flot-labels-align-right & {
    text-align: right;
    & > table {
      width: auto;
      display: inline-block;
    }
  }
}