<div>
    <h2>News</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="news.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs-down" >
                        Create new News
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="Query">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="datetime"><span>Datetime</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="originalSubject"><span>Original Subject</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="englishSubject"><span>English Subject</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="originalPost"><span>Original Post</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="englishPost"><span>English Post</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="creationDate"><span>Creation Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="author.originalName"><span>Author</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="siteChatgroup.originalName"><span>Site Chatgroup</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="location.name"><span>Location</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="news in vm.news track by news.id">
                    <td><a ui-sref="news-detail({id:news.id})">{{news.id}}</a></td>
                    <td>{{news.datetime | date:'medium'}}</td>
                    <td>{{news.originalSubject}}</td>
                    <td>{{news.englishSubject}}</td>
                    <td>{{news.originalPost}}</td>
                    <td>{{news.englishPost}}</td>
                    <td>{{news.creationDate | date:'medium'}}</td>
                    <td>
                        <a ui-sref="author-detail({id:news.author.id})">{{news.author.originalName}}</a>
                    </td>
                    <td>
                        <a ui-sref="site-chatgroup-detail({id:news.siteChatgroup.id})">{{news.siteChatgroup.originalName}}</a>
                    </td>
                    <td>
                        <a ui-sref="location-detail({id:news.location.id})">{{news.location.name}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="news-detail({id:news.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="news.edit({id:news.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="news.delete({id:news.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
