
<div>
    <h2><span>News</span> {{vm.news.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Datetime</span></dt>
        <dd>
            <span>{{vm.news.datetime | date:'medium'}}</span>
        </dd>
        <dt><span>Original Subject</span></dt>
        <dd>
            <span>{{vm.news.originalSubject}}</span>
        </dd>
        <dt><span>English Subject</span></dt>
        <dd>
            <span>{{vm.news.englishSubject}}</span>
        </dd>
        <dt><span>Original Post</span></dt>
        <dd>
            <span>{{vm.news.originalPost}}</span>
        </dd>
        <dt><span>English Post</span></dt>
        <dd>
            <span>{{vm.news.englishPost}}</span>
        </dd>
        <dt><span>Creation Date</span></dt>
        <dd>
            <span>{{vm.news.creationDate | date:'medium'}}</span>
        </dd>
        <dt><span>Author</span></dt>
        <dd>
            <a ui-sref="author-detail({id:vm.news.author.id})">{{vm.news.author.originalName}}</a>
        </dd>
        <dt><span>Site Chatgroup</span></dt>
        <dd>
            <a ui-sref="site-chatgroup-detail({id:vm.news.siteChatgroup.id})">{{vm.news.siteChatgroup.originalName}}</a>
        </dd>
        <dt><span>Location</span></dt>
        <dd>
            <a ui-sref="location-detail({id:vm.news.location.id})">{{vm.news.location.name}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="news-detail.edit({id:vm.news.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down"> Edit</span>
    </button>
</div>
