
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myNewsLabel">Create or edit a News</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.news.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.news.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_datetime">Datetime</label>
                <div class="input-group">
                    <input id="field_datetime" type="text" class="form-control" name="datetime" datetime-picker="{{dateformat}}" ng-model="vm.news.datetime" is-open="vm.datePickerOpenStatus.datetime"
                    required/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('datetime')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.datetime.$invalid">
                <p class="help-block"
                    ng-show="editForm.datetime.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.datetime.$error.ZonedDateTimelocal">
                    This field should be a date and time.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_originalSubject">Original Subject</label>
            <input type="text" class="form-control" name="originalSubject" id="field_originalSubject"
                    ng-model="vm.news.originalSubject"
                    required/>
            <div ng-show="editForm.originalSubject.$invalid">
                <p class="help-block"
                    ng-show="editForm.originalSubject.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_englishSubject">English Subject</label>
            <input type="text" class="form-control" name="englishSubject" id="field_englishSubject"
                    ng-model="vm.news.englishSubject"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_originalPost">Original Post</label>
            <input type="text" class="form-control" name="originalPost" id="field_originalPost"
                    ng-model="vm.news.originalPost"
                    required/>
            <div ng-show="editForm.originalPost.$invalid">
                <p class="help-block"
                    ng-show="editForm.originalPost.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_englishPost">English Post</label>
            <input type="text" class="form-control" name="englishPost" id="field_englishPost"
                    ng-model="vm.news.englishPost"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_creationDate">Creation Date</label>
                <div class="input-group">
                    <input id="field_creationDate" type="text" class="form-control" name="creationDate" datetime-picker="{{dateformat}}" ng-model="vm.news.creationDate" is-open="vm.datePickerOpenStatus.creationDate"
                    required/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('creationDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.creationDate.$invalid">
                <p class="help-block"
                    ng-show="editForm.creationDate.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.creationDate.$error.ZonedDateTimelocal">
                    This field should be a date and time.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label for="field_author">Author</label>
            <select class="form-control" id="field_author" name="author" ng-model="vm.news.author" ng-options="author as author.originalName for author in vm.authors track by author.id" required>
            </select>
        </div>
        <div ng-show="editForm.author.$invalid">
            <p class="help-block"
                ng-show="editForm.author.$error.required">
                This field is required.
            </p>
        </div>
        <div class="form-group">
            <label for="field_siteChatgroup">Site Chatgroup</label>
            <select class="form-control" id="field_siteChatgroup" name="siteChatgroup" ng-model="vm.news.siteChatgroup" ng-options="siteChatgroup as siteChatgroup.originalName for siteChatgroup in vm.sitechatgroups track by siteChatgroup.id" required>
            </select>
        </div>
        <div ng-show="editForm.siteChatgroup.$invalid">
            <p class="help-block"
                ng-show="editForm.siteChatgroup.$error.required">
                This field is required.
            </p>
        </div>
        <div class="form-group">
            <label for="field_location">Location</label>
            <select class="form-control" id="field_location" name="location" ng-model="vm.news.location" ng-options="location as location.name for location in vm.locations track by location.id" required>
            </select>
        </div>
        <div ng-show="editForm.location.$invalid">
            <p class="help-block"
                ng-show="editForm.location.$error.required">
                This field is required.
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
