.top-panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fafafa;
  border-bottom: 1px solid #e7e9ec;
  padding: 0 54px;
  height: 61px;

  .title {
    color: #4688af;
    text-transform: uppercase;
    font-size: 22px;
  }
}