<div class="dashboard-events-graph" widget="loadData()" tick="30000" api="widgetApi">
    <div class="widget-label">Graph</div>
    <div class="chart-legend">
        <div id="{{chartLegendId}}"></div>
    </div>
    <div class="chart-wrapper">
        <div ng-if="model" class="chart" flot="model"></div>
    </div>
</div>