.dashboard-events-graph {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;

  .widget-label {
    flex: 0 0 auto;
  }
  .chart-legend {
    flex: 0 0 auto;
    height: 48px;
    border: 1px solid #c1c6d0;
    border-bottom: none;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;

    .legendColorBox {
      padding: 0;
      > div {
        border: none !important;
        padding: 0 !important;
        > div {
          width: 5px !important;
          border-width: 5px !important;
          border-radius: 5px !important;
        }
      }
    }
    .legendLabel {
      text-transform: uppercase;
      padding-left: 6px;
      padding-right: 20px;
    }
  }
  .chart-wrapper {
    display: flex;
    flex: 1 1 auto;
    border: 1px solid #c1c6d0;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: white;
    position: relative;
    .chart {
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }
}