<div class="wizard-item-v2">
    <div class="img-wrapper">
        <div class="item-img" ng-style="{'background-image': 'url(' + path.img(model.options.img.path) + ')'}">
        </div>
        <div ng-if="model.options.isBeta" class="beta-label">BETA</div>
        <div ng-if="model.options.isExpired" class="expired-label">EXPIRED</div>
    </div>
    <div class="item-info">
        <div class="title">{{model.options.title}}</div>
        <div class="description">{{model.options.description}}</div>
    </div>
    <div class="actions">
        <button ng-if="startButton.enabled && !operationInProgress()" class="btn btn-default start-button" ng-click="startButton.execute()">Activate</button>
        <div ng-if="startButton.enabled && operationInProgress()" class="progress-indicator"><span class="fa fa-spinner fa-pulse"></span></div>
        <div ng-if="model.options.moduleStatus === 'display_only'" class="coming-soon-label">Coming soon</div>
        <div ng-if="model.options.moduleStatus === 'require_license'" class="coming-soon-label">License Required</div>
        <button ng-if="contactSupport.enabled" class="coming-soon-label" ng-click="contactSupport.execute()">Contact Support</button>
    </div>
    <div ng-if="model.options.moduleStatus === 'active'" class="active-label"><i class="fa fa-check"></i></div>
</div>
