.dashboard-events-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  > .widget-label {
    flex: 0 0 auto;
  }
  > .data-table {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;

    > .table-wrapper {
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;

      &.scroll.show-scroll {
        > table {
          flex: 1 1 auto;
          display: flex;
          flex-direction: column;

          > thead {
            flex: 0 0 auto;
            width: 100%;
          }

          > tbody {
            flex: 1 1 200px;
            min-height: 200px;
            overflow: auto;
            height: 100%;
          }
        }
      }
    }
  }

  > .data-table {
    > .clearfix {
      display: none;
    }
    border: 1px solid #c1c6d0;
    border-radius: 3px;
    background-color: #fff;
    overflow: visible;

    .table thead tr th, td {
      background-color: transparent;
      overflow: hidden;
      text-overflow: ellipsis;
      color: #343942;
      padding: 10px;
      cursor: pointer;
    }

    .table tbody tr {
      background-color: transparent;
    }

    .table > thead {
      border-bottom: 1px solid #c1c6d0;
      > tr {
        border: none;
        th {
          color: #7f8fa4;
          font-size: 12px;
          font-weight: 600;
          height: 48px;
          padding-top: 0;
          padding-bottom: 0;
          vertical-align: middle;

          .column-header-label {
            text-transform: uppercase;
          }

          &.column-clickable > div {
            white-space: nowrap;
            &:after {
              font: normal normal normal 14px/1 FontAwesome;
              font-size: inherit;
              text-rendering: auto;
              -webkit-font-smoothing: antialiased;
              -moz-osx-font-smoothing: grayscale;
              content: "\f0dd";
              vertical-align: top;
            }
          }
        }
      }
    }
  }

  .list {
    background-color: #fff;
    border: 1px solid #c1c6d0;
    border-radius: 6px;
    min-height: 100px;
  }

  .saas-icon {
    img {
      width: 30px;
      height: 30px;
      border-radius: 15px;
    }
  }
  .event-history-item {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .severity-indicator {
    display: block;
    padding-top: 5px;

    .severity-mark {
      display: block;
      float: left;
      width: 7px;
      height: 4px;
      background-color: #c1c6d0;
      margin-right: 1px;

      &:first-child {
        width: 8px;
        border-radius: 2px 0 0 2px;
      }
      &:last-child {
        width: 8px;
        border-radius: 0 2px 2px 0;
      }
    }
    &.level-1 {
      .severity-mark-1 {
        background-color: #ed1c24;
      }
    }

    &.level-2 {
      .severity-mark-1, .severity-mark-2 {
        background-color: #ed1c24;
      }
    }

    &.level-3 {
      .severity-mark-1, .severity-mark-2, .severity-mark-3 {
        background-color: #ed1c24;
      }
    }

    &.level-4 {
      .severity-mark-1, .severity-mark-2, .severity-mark-3, .severity-mark-4 {
        background-color: #ed1c24;
      }
    }

    &.level-5 {
      .severity-mark {
        background-color: #ed1c24;
      }
    }


  }

}