<div class="dashboard-events-list" widget="loadData()" tick="30000" api="widgetApi">
    <div class="widget-label">Events</div>
    <div ng-if="tableModel" data-table="tableModel" options="tableOptions"></div>
</div>