.search-options-block {
  margin-bottom: 10px;
  .title {
    font-size: 18px;
    font-weight: 600;
  }
  .search-option {
    margin-left: 10px;
  }
  .panel .panel-heading .panel-actions input {
    width: 100px;
  }

  .logic-container {
    &:after {
      content: ' ';
      display: table;
      clear: both;
    }
    .operator-select {
      float: right;
      width: 52px;
      height: 27px;
      display: inline-block;
      margin-left: 10px;
      margin-top: -5px;

      button {
        width: 100%;
        height: 100%;
        padding-top: 4px;

        & > span {
          top: 8px;
        }
      }

      .dropdown-menu {
        left: auto;
        right: 0;
        min-width: 50px;
      }

    }
  }
  .panel-body {
    position: relative;
    .loading-icon {
      font-size: 20px;
      position: absolute;
      right: 10px;
      top: 6px;
    }
  }
}

.options-block-non-empty .panel.avanan > .panel-heading {
  background-color: #0e2129;
}