<div class="search-options-block" ng-show="visible" ng-class="{'options-block-non-empty': !isEmpty()}">
    <div widget-panel="blockPanel">
        <widget-body>
            <div class="logic-container" ng-if="blockOptions.facetsOperator">Combination logic <div selector="model.operator" variants="operatorVariants" class="operator-select"></div>
            </div>
            <div class="loading-icon" ng-if="isLoading"><span class="fa fa-refresh fa-spin"></span></div>
            <div ng-repeat="option in buildOptions()" search-option="model.values[option.id]" option="option"></div>
            <div ng-if="tooMuchOptions">Too many options, use filter</div>
        </widget-body>
    </div>
</div>