<div class="main-menu-v2">
    <ul>
        <li ng-repeat="menu in menus" ng-class="{'openable': menu.submenus, 'active': menu.isActive()}"  ng-click="menuItemClicked($event);">
            <a ng-href="{{menu.href}}">
                <span class="text">{{menu.title}}</span>
            </a>
            <ul ng-if="menu.submenus" class="submenu">
                <li ng-repeat="submenu in menu.submenus">
                    <a ng-href="{{submenu.href}}">
                        <span class="submenu-label">{{submenu.title}}</span>
                    </a>
                </li>
            </ul>

        </li>
    </ul>
</div>