.main-menu-v2 {
  ul {
    margin: 0;
    padding: 0;
    > li {
      list-style-type: none;
      font-weight: 600;
      position: relative;
      overflow: hidden;
      > a {
        cursor: pointer;
        background-color: #06346b;
        &, &:hover, &:active, &:visited {
          display: block;
          padding: 20px 0 20px 34px;
          color: #fff;
          text-transform: uppercase;
          text-decoration: none;
        }
        &:hover {
          background-color: #134579;
        }
      }
      &.active {
        > a {
          background-color: #134579;
        }
      }

      .submenu {
        display: none;
      }

      &.open > .submenu {
        display: block;
        > li > a {
          &, &:hover, &:active, &:visited {
            display: block;
            padding: 10px 0 10px 40px;
            color: #fff;
            text-transform: none;
            text-decoration: none;
            font-weight: normal;
          }
        }
      }
    }
  }
}