.dashboard {
  .dashboard-body {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .bottom-row {
    display: flex;
    flex: 1 0 300px;
    min-height: 300px;
    margin: 15px 0;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;

    .events-list-container {
      flex: 1 1 400px;
      overflow: hidden;
    }

    .right {
      flex: 1 1 400px;
      display: flex;
      flex-direction: row;
      align-items: stretch;
      justify-content: space-between;
      margin-left: 20px;

      .heat-map-container {
        flex: 1 1 200px;
      }

      .events-graph-container {
        flex: 1 1 200px;
        margin-left: 20px;
      }
    }
  }
}