<div class="dashboard" page>
    <top>
        <div top-panel="{{ title }}">
            <right><div time-resolution-selector resolution="model.resolution"></div></right>
        </div>
    </top>
    <content class="dashboard-body">
        <div dashboard-apps-status></div>
        <div dashboard-events-statistic resolution="model.resolution"></div>
        <div class="bottom-row">
            <div dashboard-events-list class="events-list-container"></div>
            <div class="right">
                <div dashboard-events-heat-map class="heat-map-container" resolution="model.resolution"></div>
                <div dashboard-events-graph class="events-graph-container" resolution="model.resolution"></div>
            </div>
        </div>
    </content>
</div>