@mixin calc($property, $expression) {
  #{$property}: -webkit-calc(#{$expression});
  #{$property}: -moz-calc(#{$expression});
  #{$property}: calc(#{$expression});
}

.params-modal {
  .parameter {
    font-size: 0px;
    margin: 5px 0px;
    .param-label {
      display: inline-block;
      font-size: 12px;
      height: 100%;
      width: 200px;
      padding-top: 9px;
      padding-right: 5px;
      vertical-align: top;
      text-align: right;

      &.label-with-overflow {
        padding-top: 0;
        height: 20px;
        overflow-y: visible;
      }

      &.full-width-label {
        margin-bottom: 3px;
      }
    }


    .form-param {
      display: inline-block;
      @include calc("width", "100% - 200px");
      &.full-width-param {
        width: 100%;
        > .param-control + .radio-group {
          margin-top: 8px;
        }
      }

      &.low-height-param {
        .property-boolean {
          margin-top: 0;
        }
      }
      &.constant-param {
        padding-top: 9px;
      }

      > * {
        display: inline-block;
        width: 100%;
        font-size: 12px;
        .input-group-addon {
          font-size: 12px;
        }
      }

      > .param-with-validator {
        width: calc(100% - 30px);
        .select2-container.list-selector {
          margin-top: 4px;
        }
      }

      .input-group {
        width: 100%;

        &.square-group {
          .input-group-addon {
            border-radius: 0;
          }
        }
      }

      &.full-width-param > .object-param {
        width: calc(100% - 20px);
        margin-left: 20px;
        padding-top: 0;

        .object-label {
          position: static;
          right: auto;
          height: auto;
          padding: 0 0 3px 0;
          text-align: left;
        }
      }
    }

    .param-validator-status {
      width: 30px;
      display: inline-block;
      vertical-align: top;
      padding-left: 10px;
      font-size: 22px;
    }

    .validation-error {
      font-size: 12px;
      overflow: hidden;
      color: #f35428;
      margin-top: 3px;
    }


    .param-confirmation {
      display: block;
      font-size: 12px;
      width: 100%;
      margin-top: 10px;
      border-top: 1px solid #ccc;
      padding-top: 5px;
      padding-bottom: 8px;


      .verification-links {
        float: right;
        display: inline-block;
        position: relative;
        top: -2px;

        .verify-now {
          text-decoration: underline;
        }

        .verify-cancel {
          font-size: 16px;
        }
      }
      a {
        cursor: pointer;
        margin-left: 5px;
      }
    }
    .params-section-title {
      display: inline-block;
      font-size: 12px;
      padding-top: 9px;
      padding-right: 5px;
      vertical-align: top;
      text-align: right;
      cursor: pointer;

      .fa {
        width: 7px;
      }

    }

    .params-section-body {
      padding-left: 10px;
      padding-bottom: 8px;

      .param-label {
        width: 190px;
        &.full-width-label {
          width: 100%;
        }
      }

      .form-param {
        @include calc("width", "100% - 190px");
      }
    }
  }

  .action-repeat-options {
    margin: 5px 0px;
    .action-repeat-options-label {
      width: 169px;
      display: inline-block;
    }
    input {
      margin: 0px 3px;
    }
  }

  .select2-container-multi .select2-choices .select2-search-choice {
    word-break: break-all;
  }

  .params-right {
    position: relative;
  }
  .params-loading-disabler {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(255,255,255,0.8);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    .fa {
      font-size: 40px;
    }
  }
}


.license-modal-body {

  position: relative;

  .params-left {
    width: 200px;
    float: left;
    margin-right: 10px;
  }
  .params-right {
    float: left;
    @include calc("width", "100% - 220px");
  }

  &:after {
    display: table;
    content: " ";
    clear: both;
  }

  &:before {
    position: absolute;
    width: 1px;
    background-color: #e5e5e5;
    top: 0;
    bottom: 0;
    left: 217px;
    content: ' ';
  }


  &.params-modal .parameter .form-param.full-width-param {
    width: 100%;
  }

  &.params-modal .parameter .param-label {
    width: 100px;
    &.full-width-label {
      width: 100%;
    }
  }


  &.params-modal .parameter .form-param {

    &.full-width-param {
      width: 100%;
    }
    @include calc("width", "100% - 100px");
  }

  .app-title {
    margin-top: 10px;
    display: block;
    color: #455a64;
    font-weight: 600;
    font-size: 14px;
  }
}

.params-modal .parameter .form-param.radio-group-inline {
  .radio-group {
    display: inline-block;
    width: auto;
    margin-right: 20px;
  }

  &.align-with-label {
    padding-top: 9px;
    &.infobox-param-arrows {
      padding-top: 5px;
    }
  }
}

.params-modal .parameter .form-param.radio-group-package {

  .radio-group {
    padding-left: 95px;
  }

  .radio-group label {
    display: inline;
    margin-left: -90px;
  }
}

.params-modal .parameter .form-param.radio-group-av {
  .radio-group {
    width: 45%;
    float: left;
    padding-left: 5px;
  }
  &:after {
    content: ' ';
    display: table;
    clear: both;
  }
}

@media (min-width: 842px) {
  .configure-dialog .modal-dialog {
    width: 750px;

    .license-modal-body {
      &.params-modal .parameter .param-label {
        width: 200px;
        &.full-width-label {
          width: 100%;
        }
      }
      &.params-modal .parameter .form-param {
        &.full-width-param {
          width: 100%;
        }
        @include calc("width", "100% - 200px");
      }
    }

  }
}
