.saas-health-widget {
  .saas-icon {
    height: 34px;
    width: 34px;
    max-width: 34px;
    min-width: 34px;
    max-height: 34px;
    min-height: 34px;
  }
  .saas-icon-column {
    width: 45px;
  }
  .token-status {
    font-size: 25px;
  }
  .fullscan-status {
    font-size: 25px;
  }
  .realtime-status {
    font-size: 20px;
  }
}

.saas-selector-widget {
  height: 45px;
  line-height: 45px;
  border: 1px solid #eee;
  margin-bottom: 30px;
  font-size: 25px;

  img {
    vertical-align: middle;
    margin: 0 -4px 7px 5px;
    cursor: pointer;

    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
    opacity: 0.5;

    -webkit-transition: opacity 0.5s ease-out, filter 0.5s ease-out, -webkit-filter 0.5s ease-out;
    -moz-transition: opacity 0.5s ease-out, filter 0.5s ease-out, -webkit-filter 0.5s ease-out;
    -o-transition: opacity 0.5s ease-out, filter 0.5s ease-out, -webkit-filter 0.5s ease-out;
    transition: opacity 0.5s ease-out, filter 0.5s ease-out, -webkit-filter 0.5s ease-out;

    &.active, &:hover {
      opacity: 1;
      filter: none;
      -webkit-filter: grayscale(0%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
    }
  }

}