.policy-rules {

  .page-head {
    margin: 15px 0;
  }

  .table-container {
    margin-bottom: 20px;
  }

  .rule-state {
    display: inline-block;
    text-align: center;
    height: 20px;
    line-height: 21px;
    min-width: 70px;
    border-radius: 3px;
    color: #fff;
    text-transform: uppercase;
    background-color: #85909d;
    font-size: 10px;
    font-weight: 600;

    &.state-running {
      background-color: #36af46;
    }
  }

  .rule-identity-item {
    display: block;
    white-space: nowrap;
    .item-icon {
      margin-right: 5px;
    }
  }

  .rule-saas {
    white-space: nowrap;
    img {
      width: 30px;
      height: 30px;
      max-width: 30px;
      min-width: 30px;
      border-radius: 15px;
      margin-right: 10px;
    }
  }

  .rule-add-button {
    display: inline-block;
    vertical-align: middle;
    float: right;
    background-color: #2298f0;
    border: 1px solid #1585d8;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    font-size: 12px;
    padding: 8px 30px;
    font-weight: normal;
    .plus-sign {
      font-size: 28px;
      margin-right: 10px;
      display: inline-block;
      height: 1px;
      line-height: 0;
      vertical-align: middle;
    }
  }

  .v2-table > .table-wrapper > table > tbody > tr > td {
    height: 70px;
  }

  .v2-table {
    > .table-wrapper > table {
      > tbody > tr > td:first-child,
      > thead > tr > th:first-child {
        padding-left: 30px;
      }

      > thead > tr > th.column-clickable > div {
        white-space: nowrap;
        &:after {
          font: normal normal normal 14px/1 FontAwesome;
          font-size: inherit;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          content: "\f0dd";
          vertical-align: top;
        }
      }
    }
    > .bottom-container {
      .bottom-info-text {
        padding-top: 3px;
        .total-word {
          font-weight: bold;
        }
      }
    }
  }
}