<div class="policy-rules" page>
    <content class="policy-rules-body">
        <div class="page-head">
            <span class="widget-label">Policy Rules</span>
            <a ng-href="{{addHref}}" class="rule-add-button">
                <span class="plus-sign">+</span>
                Add a New Policy Rule
            </a>
        </div>
        <div ng-if="tableModel" class="table-container">
            <div class="v2-table vertical-middle" data-table="tableModel" options="tableOptions"></div>
        </div>
    </content>
</div>


