
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myAuthorLabel">Create or edit a Author</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.author.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.author.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_originalName">Original Name</label>
            <input type="text" class="form-control" name="originalName" id="field_originalName"
                    ng-model="vm.author.originalName"
                    required/>
            <div ng-show="editForm.originalName.$invalid">
                <p class="help-block"
                    ng-show="editForm.originalName.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_englishName">English Name</label>
            <input type="text" class="form-control" name="englishName" id="field_englishName"
                    ng-model="vm.author.englishName"
                    required/>
            <div ng-show="editForm.englishName.$invalid">
                <p class="help-block"
                    ng-show="editForm.englishName.$error.required">
                    This field is required.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label for="field_location">Location</label>
            <select class="form-control" id="field_location" name="location" ng-model="vm.author.location" ng-options="location as location.name for location in vm.locations track by location.id" required>
            </select>
        </div>
        <div ng-show="editForm.location.$invalid">
            <p class="help-block"
                ng-show="editForm.location.$error.required">
                This field is required.
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
