
<div>
    <h2><span>Author</span> {{vm.author.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Original Name</span></dt>
        <dd>
            <span>{{vm.author.originalName}}</span>
        </dd>
        <dt><span>English Name</span></dt>
        <dd>
            <span>{{vm.author.englishName}}</span>
        </dd>
        <dt><span>Location</span></dt>
        <dd>
            <a ui-sref="location-detail({id:vm.author.location.id})">{{vm.author.location.name}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="author-detail.edit({id:vm.author.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down"> Edit</span>
    </button>
</div>
