
<div>
    <h2><span>Site Chatgroup Name</span> {{vm.siteChatgroupName.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Original Name</span></dt>
        <dd>
            <span>{{vm.siteChatgroupName.originalName}}</span>
        </dd>
        <dt><span>English Name</span></dt>
        <dd>
            <span>{{vm.siteChatgroupName.englishName}}</span>
        </dd>
        <dt><span>Site Chatgroup</span></dt>
        <dd>
            <a ui-sref="site-chatgroup-detail({id:vm.siteChatgroupName.siteChatgroup.id})">{{vm.siteChatgroupName.siteChatgroup.originalName}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="site-chatgroup-name-detail.edit({id:vm.siteChatgroupName.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down"> Edit</span>
    </button>
</div>
