<div class="viewer">
    <div ng-if="viewerPanel" widget-panel="viewerPanel">
        <widget-body>
            <div ng-if="tableModel" class="avanan-table vertical-middle medium-icons" data-table="tableModel" options="tableOptions"></div>
        </widget-body>
    </div>
</div>
