.dashboard {
  .policy-infobox-settings {
    color: white;
    font-size: 20px;
    padding: 0;
    margin: -4px -10px 0 0 !important;
  }
}

.policy-chart-hover-container {
  display: block;
  padding: 5px;
  background-color: #fff;
  border: 1px solid #ccc;

  .policy-chart-hover-link {
    display: block;
  }

  .policy-chart-count {
    margin-left: 10px;
    float: right;
  }

  .policy-chart-hover-total {
    font-weight: bold;
  }
}

.lea-selector {
  height: 45px;
  line-height: 45px;
  border: 1px solid #eee;
  margin-bottom: 30px;
  font-size: 25px;


  .dns-logger-icon {
    color: #ddd;
    background-color: #0f5d84;
  }

  img, .lea-icon {
    vertical-align: middle;
    margin: 0 -4px 7px 5px;
    cursor: pointer;

    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
    opacity: 0.5;

    -webkit-transition: opacity 0.5s ease-out, filter 0.5s ease-out, -webkit-filter 0.5s ease-out;
    -moz-transition: opacity 0.5s ease-out, filter 0.5s ease-out, -webkit-filter 0.5s ease-out;
    -o-transition: opacity 0.5s ease-out, filter 0.5s ease-out, -webkit-filter 0.5s ease-out;
    transition: opacity 0.5s ease-out, filter 0.5s ease-out, -webkit-filter 0.5s ease-out;

    &.active, &:hover {
      opacity: 1;
      filter: none;
      -webkit-filter: grayscale(0%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
    }
  }

  .lea-icon {
    height: 34px;
    width: 34px;
    line-height: 34px;
    display: inline-block;
    border-radius: 2px;
    font-size: 23px;
    text-align: center;
  }

}

.lea-period-selector {
  height: 45px;
  line-height: 45px;
  margin-bottom: 30px;

  .lea-period-selector-container {
    float: right;

    & > div > .linked-text {
      position: relative;
      display: inline-block;
      vertical-align: middle;

      & > .btn {
        position: relative;
        float: left;
      }

      & > .btn:hover,
      & > .btn:focus,
      & > .btn:active,
      & > .btn.active {
        z-index: 2;
      }

      & .btn + .btn{
        margin-left: -1px;
      }

      & > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
        border-radius: 0;
      }
      & > .btn:first-child {
        margin-left: 0;
      }
      & > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }

    }
  }
}

.pie-chart {
  td.legendLabel {
    padding-left: 5px;
  }
  td.legendColorBox {
    padding-top: 1px;
    padding-bottom: 1px;
  }
}

.super-dashboard-infoboxes-left {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;

  .panel {
    border: 0;
  }
}

.super-dashboard-infoboxes-container {
  position: relative;
  min-height: 1px;
  width: 100%;
}

.super-dashboard-infobox {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
}

@media (min-width: 550px) {
  .super-dashboard-infobox {
    float: left;
    width: 50%;
  }
}

@media (min-width: 992px) {
  .super-dashboard-infoboxes-left {
    float: left;
    width: 50%;
    .panel-body {
      height: 235px;
    }
  }
  .super-dashboard-infoboxes-container {
    float: left;
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .super-dashboard-infoboxes-left {
    width: 33.33333333%;
    .panel-body {
      height: 388px;
    }
  }

  .super-dashboard-infoboxes-container {
    width: 66.66666667%;
  }

  .super-dashboard-infobox {
    width: 33.33333333%;
  }
}
@media (min-width: 1500px) {
  .super-dashboard-infoboxes-left {
    width: 33.33333333%;
    .panel-body {
      height: 235px;
    }
  }

  .super-dashboard-infobox {
    width: 22.222222%;
  }
}

.policies-findings-flot {
  .flot-tick-label {
    max-width: 250px;
  }
}

.top-users-chart {
  .flot-tick-label {
    max-width: 60%;
  }
}

.multi-findings-chart {
  .funnelLabel {
    color: #777777;
    font-size: 16px;
  }
}

.summary-report-container {
  &:after {
    content: ' ';
    display: table;
    clear: both;
  }
  background-color: #fff;
  padding: 40px 10px 0;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.summary-report-widget {
  .panel {
    .panel-heading {
      border: 0;
      h2 {
        font-weight: 200;
        color: #569abd;
        font-size: 30px;
        text-transform: none;
      }
    }
    .linked-text-title {
      font-weight: bold;
      text-transform: uppercase;
      color: #000;
      font-size: 16px;

      img {
        margin-right: 5px;
        width: 34px;
        height: 34px;
      }
      span {
        vertical-align: middle;
      }
    }
  }
  table {
    border-collapse: separate;
    border: 0;
    tr, tr:hover {
      td, td:hover {
        background-color: #fff;
      }
      td {
        border-bottom: 1px solid #7f7f7f !important;
        height: 60px;
      }
      &.empty-row, &.risk-summary-row-emptyRow {
        td {
          border-bottom: 0 !important;
        }
      }
    }
  }
  .data-table .table-hover tbody tr:hover td {
    background-color: #fff;
  }


  thead {
    display: none;
  }

  &.with-table-head {
    thead {
      display: table-header-group;
    }
  }

  .data-table .table tr.summary-section-title,
  .data-table .table tr.risk-summary-row-category-level-1 {
    background-color: #fff;
    &:hover {
      background-color: #fff;
      td, td:hover {
        background-color: #fff;
      }
    }
    td, td:hover {
      background-color: #fff;
      color: #585858;
      font-weight: 200;
      font-size: 24px;
      border-bottom: 3px solid #579dbf !important;
    }
  }

  .data-table .table tr.risk-summary-row-category-level-2 {
    td, td:hover {
      color: #000;
      font-weight: bold;
    }
  }

  .summary-value {
    font-weight: bold;
    font-size: 20px;
    text-align: right;
    color: #000;
    a {
      color: #000;
    }
  }

  .risk-summary-value {
    font-size: 20px;
    text-align: center;
    color: #000;
    a {
      color: #000;
    }
  }

  .summary-cell-title, .summary-label {
    font-weight: bold;
    font-size: 14px;
    color: #000;
    text-transform: uppercase;
  }
  .summary-cell-descr {
    font-weight: 200;
    font-size: 13px;
    color: #000;
    &:not(:empty):before {
      content: ' \2013 ';
      margin-left: 5px;
      margin-right: 5px;
    }
  }
  .summary-value-total-cell {
    text-align: center;
  }

  .data-table .table-hover tbody tr.risk-summary-row-value:hover td.summary-value-total-cell,
  .risk-summary-row-value .summary-value-total-cell,
  .data-table .table-hover tbody tr.risk-summary-row-totals:hover td.summary-value-total-cell,
  .risk-summary-row-totals .summary-value-total-cell {
    background-color: #ddebf2;
  }

  .data-table .table tr.risk-summary-row-columnHeaders td {
    font-weight: bold;
    font-size: 14px;
    color: #000;
    text-transform: uppercase;
    vertical-align: bottom;
    padding-bottom: 7px;
  }

  .risk-summary-row-data-type-sec_app td.label-column,
  .risk-summary-row-totals td.label-column {
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    color: #000;
  }
}

@media print {
  .summary-report-container {
    -webkit-print-color-adjust: exact;
  }
  .summary-report-widget {
    a, .linked-text .link {
      text-decoration: none;
    }
  }
  tr.empty-row, tr.risk-summary-row-emptyRow {
    border-bottom: 0 !important;
  }
  .summary-report-widget .panel .panel-heading h2 {
    color: #569abd !important;
  }

  .data-table table tbody tr.risk-summary-row-value td.summary-value-total-cell,
  .data-table table tbody tr.risk-summary-row-totals td.summary-value-total-cell {
    background-color: #ddebf2 !important;
  }

}

@media print {
  .security-coverage-widget {
    page-break-inside: avoid;
  }
}

.added-value-app-chosen {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000;
}

.added-value-value-cell-head {
  text-align: center;
}


.added-value-value-cell {
  position: relative;
  text-align: center;
}

.added-value-choosed-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ddebf2 !important;
  z-index: 1;
}

.added-value-percent {
  position: relative;
  display: block;
  font-size: 18px;
  color: #000;
  z-index: 2;
}

.added-value-percent-top {
  font-weight: bold;
}
.added-value-found {
  position: relative;
  display: block;
  z-index: 2;
  font-size: 14px;
}

.added-value-coverage-label {
  font-weight: bold;
  font-size: 15px;
  color: #000;
}

.title-wrapper {
  .title {
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  margin-bottom: 20px;
}