<div class="dashboard-events-heat-map" widget="loadData()" tick="30000" api="widgetApi">
    <div class="widget-label">Map</div>
    <div class="widget-body">
        <div class="widget-top"></div>
        <div class="map-container"></div>
    </div>
</div>