.dashboard-events-heat-map {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  > .widget-label {
    flex: 0 0 auto;
  }

  .widget-body {
    flex: 1 1 auto;
    border: 1px solid #c1c6d0;
    overflow: hidden;
    z-index: 1;
    border-radius: 3px;
    background-color: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;
    > .widget-top {
      flex: 0 0 auto;
      height: 48px;
      border-bottom: 1px solid #c1c6d0;
    }
    > .map-container {
      flex: 1 1 auto;
    }
  }

}