<div class="custom-popup width-100" id="logoutConfirm">
    <div class="padding-md">
        <h4 class="m-top-none"> Do you want to logout?</h4>
    </div>

    <div class="text-center">
        <a class="btn btn-success m-right-sm" href="#" ng-click="logout($event)">Logout</a>
        <a class="btn btn-danger" ng-click="close()">Cancel</a>
    </div>
</div>