
<div>
    <h2><span>News To Related Author</span> {{vm.newsToRelatedAuthor.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>News</span></dt>
        <dd>
            <a ui-sref="news-detail({id:vm.newsToRelatedAuthor.news.id})">{{vm.newsToRelatedAuthor.news.id}}</a>
        </dd>
        <dt><span>Author</span></dt>
        <dd>
            <a ui-sref="author-detail({id:vm.newsToRelatedAuthor.author.id})">{{vm.newsToRelatedAuthor.author.id}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="news-to-related-author-detail.edit({id:vm.newsToRelatedAuthor.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down"> Edit</span>
    </button>
</div>
