
<div>
    <h2><span>News Summary Confidential Image</span> {{vm.newsSummaryConfidentialImage.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Filename</span></dt>
        <dd>
            <span>{{vm.newsSummaryConfidentialImage.filename}}</span>
        </dd>
        <dt><span>Blob</span></dt>
        <dd>
            <div ng-if="vm.newsSummaryConfidentialImage.blob">
                <a ng-click="vm.openFile(vm.newsSummaryConfidentialImage.blobContentType, vm.newsSummaryConfidentialImage.blob)">
                    <img data-ng-src="{{'data:' + vm.newsSummaryConfidentialImage.blobContentType + ';base64,' + vm.newsSummaryConfidentialImage.blob}}" style="max-width: 100%;" alt="newsSummaryConfidentialImage image"/>
                </a>
                {{vm.newsSummaryConfidentialImage.blobContentType}}, {{vm.byteSize(vm.newsSummaryConfidentialImage.blob)}}
            </div>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
            <span>{{vm.newsSummaryConfidentialImage.description}}</span>
        </dd>
        <dt><span>Description Translation</span></dt>
        <dd>
            <span>{{vm.newsSummaryConfidentialImage.descriptionTranslation}}</span>
        </dd>
        <dt><span>Image Order</span></dt>
        <dd>
            <span>{{vm.newsSummaryConfidentialImage.imageOrder}}</span>
        </dd>
        <dt><span>News Summary</span></dt>
        <dd>
            <a ui-sref="news-summary-detail({id:vm.newsSummaryConfidentialImage.newsSummary.id})">{{vm.newsSummaryConfidentialImage.newsSummary.id}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="news-summary-confidential-image-detail.edit({id:vm.newsSummaryConfidentialImage.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down"> Edit</span>
    </button>
</div>
