
<div>
    <h2><span>Site Chatgroup Num Visitors</span> {{vm.siteChatgroupNumVisitors.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Num Visitors</span></dt>
        <dd>
            <span>{{vm.siteChatgroupNumVisitors.numVisitors}}</span>
        </dd>
        <dt><span>Num Visitor Date</span></dt>
        <dd>
            <span>{{vm.siteChatgroupNumVisitors.numVisitorDate | date:'medium'}}</span>
        </dd>
        <dt><span>Site Chatgroup</span></dt>
        <dd>
            <a ui-sref="site-chatgroup-detail({id:vm.siteChatgroupNumVisitors.siteChatgroup.id})">{{vm.siteChatgroupNumVisitors.siteChatgroup.originalName}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="site-chatgroup-num-visitors-detail.edit({id:vm.siteChatgroupNumVisitors.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down"> Edit</span>
    </button>
</div>
