
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="mySiteChatgroupNumVisitorsLabel">Create or edit a Site Chatgroup Num Visitors</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.siteChatgroupNumVisitors.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.siteChatgroupNumVisitors.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_numVisitors">Num Visitors</label>
            <input type="number" class="form-control" name="numVisitors" id="field_numVisitors"
                    ng-model="vm.siteChatgroupNumVisitors.numVisitors"
                    required/>
            <div ng-show="editForm.numVisitors.$invalid">
                <p class="help-block"
                    ng-show="editForm.numVisitors.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.numVisitors.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_numVisitorDate">Num Visitor Date</label>
                <div class="input-group">
                    <input id="field_numVisitorDate" type="text" class="form-control" name="numVisitorDate" datetime-picker="{{dateformat}}" ng-model="vm.siteChatgroupNumVisitors.numVisitorDate" is-open="vm.datePickerOpenStatus.numVisitorDate"
                    required/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('numVisitorDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.numVisitorDate.$invalid">
                <p class="help-block"
                    ng-show="editForm.numVisitorDate.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.numVisitorDate.$error.ZonedDateTimelocal">
                    This field should be a date and time.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label for="field_siteChatgroup">Site Chatgroup</label>
            <select class="form-control" id="field_siteChatgroup" name="siteChatgroup" ng-model="vm.siteChatgroupNumVisitors.siteChatgroup" ng-options="siteChatgroup as siteChatgroup.originalName for siteChatgroup in vm.sitechatgroups track by siteChatgroup.id" required>
            </select>
        </div>
        <div ng-show="editForm.siteChatgroup.$invalid">
            <p class="help-block"
                ng-show="editForm.siteChatgroup.$error.required">
                This field is required.
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
