<tr ng-click="lineClick({line: line})">
    <td ng-if="model.options.expandable">
        <span ng-if="line.isExpandable && line.isExpandable()" class="expand-button fa" ng-class="getExpandableClass(line)"
              ng-click="line.toggleExpand()"></span>
    </td>
    <td ng-if="model.options.checkboxes" class="text-center table-checkbox">
        <input type="checkbox" ng-model="lineSelected({line: line})" ng-model-options="{ getterSetter: true }" ng-click="$event.stopPropagation()">
        <span class="custom-checkbox"></span>
    </td>
    
    <!--Dirty fast fix by looking columnsOrder in two different path. By some reason model of widget-selector table is different than 'standalone' tables (that is correct)-->
    <td ng-repeat="columnId in (model.columnsOrder || model.options.columnsOrder || model.autoOrder)" ng-style="model.idToColumn[columnId].dataStyle"
        ng-class="model.idToColumn[columnId].cellDataClass" ng-init="order = model.idToColumn[columnId].idx"
        ng-if="isColumnVisible({column: model.idToColumn[columnId]}) && (!line[model.idToColumn[columnId].idx] || !line[model.idToColumn[columnId].idx].hidden)"
        colspan="{{line[model.idToColumn[columnId].idx].colSpan || 1}}">
        <div ng-if="line[order].img !== undefined">
            <img ng-src="{{line[order].img.path}}">
        </div>
        <div ng-if="line[order].tags !== undefined">
            <div ng-repeat="tag in line[order].tags" ng-if="model.tags[tag]" alerts-tag="model.tags[tag]" tag-name="tag"></div>
            <div ng-repeat="tag in line[order].tags" ng-if="!model.tags[tag]">{{tag}}</div>
        </div>
        <div ng-if="line[order].text !== undefined" linked-text="getText({line: line, index:order})"></div>
    </td>
</tr>