<div id="wrapper" ng-class="{'fullscreen': sideMenuManager.fullscreen(), 'tree-side-menu-feature': feature.treeSideMenu, 'guiV1': guiVersion == 1, 'guiV2': guiVersion == 2}">
    <div ng-if="guiVersion == 2 && !sideMenuManager.fullscreen()" side-menu-v2></div>
    <div ng-if="guiVersion == 2" id="ng-view-v2">
        <div ng-if="!$route.current.addStandardPage" ng-view></div>
        <div ng-if="$route.current.addStandardPage" class="standard-page" page>
            <top>
                <div class="standard-top" linked-text="$route.current.fullTitle || $route.current.title"></div>
            </top>
            <content class="standard-page-body">
                <div ng-view></div>
            </content>
        </div>
    </div>
    <div ng-if="guiVersion == 1" top-navigation></div>
    <div ng-if="guiVersion == 1" id="main-container" ng-class="getContainerClass()">
        <div ng-show="!errorStatusHolder.errorStatus()" id="ng-view" ng-view></div>
        <div ng-show="!errorStatusHolder.errorStatus()" working-indicator></div>
        <div ng-show="errorStatusHolder.errorStatus()" error-status></div>
    </div>
    <div ng-if="guiVersion == 1 && !feature.treeSideMenu && !sideMenuManager.fullscreen()" side-menu></div>
    <div ng-if="guiVersion == 1 && feature.treeSideMenu && !sideMenuManager.fullscreen()" tree-side-menu></div>
    <div scroll-to-top></div>
    <div logout-confirm></div>
</div>