#wrapper.guiV1 {
  min-height: 0 !important;
  height: 100%;
  #ng-view {
    clear: both;
    height: 100%;
    padding: 20px 20px 0;
    > div {
      height: 100%;
      position: relative;
    }
  }

  &.fullscreen {
    overflow: visible;
    min-height: 0px;
    background: none;

    #ng-view {
      height: auto;
    }
    #ng-view.in-wizard {
      height: 100%;
      width: 100%;
      display: table;
    }

    #main-container {
      height: 100%;
      margin-top: 0;
    }
  }

  #main-container {
    min-height: 0 !important;
    height: calc(100% - 45px);
    height: -moz-calc(100% - 45px);
    height: -webkit-calc(100% - 45px);
    overflow: auto;
    padding: 0 !important;
    margin-top: 45px;
    
    &.fullscreen {
      margin-left: 0px;
      min-height: 0px;
      padding: 0px;
      overflow: visible;
    }
    &.hidden-overflow {
      overflow: hidden;
    }
    &.no-paddings > div {
      padding: 0;
    }
  }

  &.two-line-top #main-container {
    margin-top: 90px;
    height: calc(100% - 90px);
    height: -moz-calc(100% - 90px);
    height: -webkit-calc(100% - 90px);
  }

  &.tree-side-menu-feature {
    &.sidebar-hide, &.fullscreen {
      #top-nav {
        margin-left: 0px;
      }
      #main-container {
        margin-left: 0px;
      }
    }
    #top-nav {
      margin-left: 220px;
    }
    #main-container {
      margin-left: 220px;
    }
  }
}
@media print {
  #wrapper.guiV1, #wrapper.guiV1.tree-side-menu-feature {
    height: auto;
    #ng-view {
      height: auto;
      & > div {
        height: auto;
      }
    }
    #main-container {
      height: auto;
      margin-left: 0;
    }
    #top-nav {
      margin-left: 0;
      position: absolute;
      top: 0;
      left: 0;
      .top-nav-cloud-apps, .nav-notification {
        display: none;
      }
    }
  }

  a[href]:after {
    content: none !important;
  }
  aside, .tree-side-menu {
    display: none;
  }
}

#wrapper.guiV2 {
  display: flex;
  align-items: flex-start;
  min-height: 0;
  background-color: transparent;

  &.fullscreen {
    #ng-view-v2 {
      width: 100% !important;
      display: table !important;
    }
  }

  .side-menu-v2 {
    width: 216px;
    height: 100vh;
  }

  #ng-view-v2 {
    width: calc(100% - 216px);
    height: 100vh;
  }
  color: #343942;
}

.guiV2-scroll {
  #ng-view-v2 {
    overflow-y: auto;
    overflow-x: hidden;

    > div {
      padding: 20px;
      height: 100vh;

      > div {
        height: 100%;
        display: inline-block;
        width: 100%;
      }
    }
  }
}

.standard-page {
  .content {
    padding: 0;

    .standard-page-body {
      display: block;
      height: 100%;
      padding: 0;
      > div {
        height: 100%;
        > div {
          height: 100%;
          position: relative;
        }
      }
    }
  }

  .standard-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fafafa;
    border-bottom: 1px solid #e7e9ec;
    padding: 0 54px;
    height: 61px;
    color: #4688af;
    font-size: 22px;
    text-transform: uppercase;
    > .linked-text {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

