
<div>
    <h2><span>News Metadata</span> {{vm.newsMetadata.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Value String</span></dt>
        <dd>
            <span>{{vm.newsMetadata.valueString}}</span>
        </dd>
        <dt><span>Value Number</span></dt>
        <dd>
            <span>{{vm.newsMetadata.valueNumber}}</span>
        </dd>
        <dt><span>Value Date</span></dt>
        <dd>
            <span>{{vm.newsMetadata.valueDate | date:'medium'}}</span>
        </dd>
        <dt><span>News</span></dt>
        <dd>
            <a ui-sref="news-detail({id:vm.newsMetadata.news.id})">{{vm.newsMetadata.news.id}}</a>
        </dd>
        <dt><span>Metagroup</span></dt>
        <dd>
            <a ui-sref="metagroup-detail({id:vm.newsMetadata.metagroup.id})">{{vm.newsMetadata.metagroup.name}}</a>
        </dd>
        <dt><span>Metafield</span></dt>
        <dd>
            <a ui-sref="metafield-detail({id:vm.newsMetadata.metafield.id})">{{vm.newsMetadata.metafield.name}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="news-metadata-detail.edit({id:vm.newsMetadata.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down"> Edit</span>
    </button>
</div>
