
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myNewsMetadataLabel">Create or edit a News Metadata</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.newsMetadata.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.newsMetadata.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_valueString">Value String</label>
            <input type="text" class="form-control" name="valueString" id="field_valueString"
                    ng-model="vm.newsMetadata.valueString"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_valueNumber">Value Number</label>
            <input type="number" class="form-control" name="valueNumber" id="field_valueNumber"
                    ng-model="vm.newsMetadata.valueNumber"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_valueDate">Value Date</label>
                <div class="input-group">
                    <input id="field_valueDate" type="text" class="form-control" name="valueDate" datetime-picker="{{dateformat}}" ng-model="vm.newsMetadata.valueDate" is-open="vm.datePickerOpenStatus.valueDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('valueDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>

        <div class="form-group">
            <label for="field_news">News</label>
            <select class="form-control" id="field_news" name="news" ng-model="vm.newsMetadata.news" ng-options="news as news.id for news in vm.news track by news.id" required>
            </select>
        </div>
        <div ng-show="editForm.news.$invalid">
            <p class="help-block"
                ng-show="editForm.news.$error.required">
                This field is required.
            </p>
        </div>
        <div class="form-group">
            <label for="field_metagroup">Metagroup</label>
            <select class="form-control" id="field_metagroup" name="metagroup" ng-model="vm.newsMetadata.metagroup" ng-options="metagroup as metagroup.name for metagroup in vm.metagroups track by metagroup.id" required>
            </select>
        </div>
        <div ng-show="editForm.metagroup.$invalid">
            <p class="help-block"
                ng-show="editForm.metagroup.$error.required">
                This field is required.
            </p>
        </div>
        <div class="form-group">
            <label for="field_metafield">Metafield</label>
            <select class="form-control" id="field_metafield" name="metafield" ng-model="vm.newsMetadata.metafield" ng-options="metafield as metafield.name for metafield in vm.metafields track by metafield.id" required>
            </select>
        </div>
        <div ng-show="editForm.metafield.$invalid">
            <p class="help-block"
                ng-show="editForm.metafield.$error.required">
                This field is required.
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
