<div>
    <h2>News Metadata</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="news-metadata.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs-down" >
                        Create new News Metadata
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="Query">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="valueString"><span>Value String</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="valueNumber"><span>Value Number</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="valueDate"><span>Value Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="news.id"><span>News</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="metagroup.name"><span>Metagroup</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="metafield.name"><span>Metafield</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="newsMetadata in vm.newsMetadata track by newsMetadata.id">
                    <td><a ui-sref="news-metadata-detail({id:newsMetadata.id})">{{newsMetadata.id}}</a></td>
                    <td>{{newsMetadata.valueString}}</td>
                    <td>{{newsMetadata.valueNumber}}</td>
                    <td>{{newsMetadata.valueDate | date:'medium'}}</td>
                    <td>
                        <a ui-sref="news-detail({id:newsMetadata.news.id})">{{newsMetadata.news.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="metagroup-detail({id:newsMetadata.metagroup.id})">{{newsMetadata.metagroup.name}}</a>
                    </td>
                    <td>
                        <a ui-sref="metafield-detail({id:newsMetadata.metafield.id})">{{newsMetadata.metafield.name}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="news-metadata-detail({id:newsMetadata.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="news-metadata.edit({id:newsMetadata.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="news-metadata.delete({id:newsMetadata.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
