.policy-rules-dlp-selector {
  border: 1px solid #c1c6d0;
  border-radius: 4px;
  background-color: #f3f5f9;
  height: 410px;
  width: 100%;
  padding: 0;
  overflow: auto;

  .item {
    width: 100%;
    height: 34px;
    line-height: 34px;
    padding: 0 10px;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    display: block;
    max-width: 100%;
    margin-bottom: 0;
    font-weight: normal;

    -webkit-transform: translate3d(0, 0, 0); //fix for strange google chrome error on mac retina

    .item-checkbox {
      display: inline-block;
      position: relative;
      line-height: 15px;
      z-index: 10;
      input[type="checkbox"] {
        margin: 0;
        opacity: 0;
      }
    }

    .item-icon {
      width: 20px;
    }

    &:hover {
      background-color: #e8eef4;
      color: #4688af;
      svg path {
        fill: #4688af;
      }
    }
  }

  .item-group-item {
    .item-icon {
      svg {
        vertical-align: middle;
        position: relative;
        top: -3px;
      }

    }
    .item-expanded-icon {
      display: inline-block;
    }
    .item-collapsed-icon {
      display: none;
    }

    &.collapsed {
      .sub-items {
        display: none;
      }
      .item-expanded-icon {
        display: none;
      }
      .item-collapsed-icon {
        display: inline-block;
      }
    }

  }
}

