<div class="square-list" ng-class="options.squareListClass">
    <div class="square-list-label" ng-class="getLabelClass()" ng-transclude="listLabel">
        <div ng-if="options.label" linked-text="options.label"></div>
    </div>
    <div class="square-list-show-hide" ng-if="hideable()">
        <a ng-click="toggleVisibility()">{{showHideLabel()}}</a>
    </div>

    <div ng-if="!itemsHidden" ng-repeat="item in items" class="square-item" ng-class="options.squareClass" ng-transclude="square">
        <div linked-text="item.label"></div>
    </div>
</div>