.square-list {
  padding: 0 5px 5px 0;
  
  .square-list-label {
    margin: 5px 0 0 5px;
    padding: 2px 0px 2px 5px;
    display: inline-block;
    font-weight: bold;
    color: #000000;
  }
  
  .square-item {
    margin: 5px 0 0 5px;
    padding: 2px 5px;
    display: inline-block;
  }
  
  &.default-square-list {
    border: 1px solid #aaaaaa;
    border-radius: 3px;
    
    .square-item {
      border: 1px solid #aaaaaa;
      border-radius: 3px;
      background-color: #e4e4e4;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#f4f4f4', GradientType=0);
      background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eee));
      background-image: -webkit-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);
      background-image: -moz-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);
      background-image: linear-gradient(to bottom, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);
    }
  }

  .square-list-show-hide {
    float: right;
    cursor: pointer;
    text-decoration: underline;
    padding: 12px 7px 7px;
  }
}