<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">×</button>
    <h4>{{args.title}}</h4>
</div>
<div class="modal-body">
    <p ng-bind-html="args.message"></p>
</div>
<div class="modal-footer">
    <div ng-if="args.remember" nice-checkbox="result.remember" text="args.remember" class="float-left"></div>
    <button class="btn btn-sm btn-danger" ng-click="cancel()">{{args.cancelText}}</button>
    <a class="btn btn-success btn-sm" target="_blank" ng-href="{{args.okUrl}}">{{args.okText}}</a>
</div>
