.settings-v2 {
  .settings-v2-body {
    display: flex;
    flex-direction: column;
    height: 100%;

    .settings-row {
      display: flex;
      flex: 1 0 auto;
      margin: 15px 0;
      flex-direction: row;
      align-items: stretch;
      justify-content: space-between;

      .settings-widget {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;

        > .widget-label {
          flex: 0 0 auto;
        }

        > .widget-body {
          flex: 1 1 auto;
          display: flex;
          flex-direction: column;
          border: 1px solid #c1c6d0;
          border-radius: 3px;
          background-color: white;
          padding: 15px;
        }
      }

      .settings-change-password {
        > .widget-body {
          > form {
            display: flex;

            > div {
              flex: 1;
              min-width: 0;

              > p {
                display: flex;
                align-items: center;

                > label {
                  display: flex;
                  margin: 0 10px 0 0;
                  flex: 0 0 170px;
                  justify-content: flex-end;
                }

                > input {
                  padding: 6px 12px;
                }

                .verification {
                  display: flex;
                  flex: 0 0 40px;
                  justify-content: center;
                  right: 10px;
                  top: 8px;
                  font-size: 20px;
                  &.fa-exclamation-circle {
                    color: #800000;
                  }

                  &.fa-check-circle {
                    color: #008000;
                  }
                }
              }

              > div {
                display: flex;
                justify-content: flex-end;
              }
            }

            input:not([type=submit]) {
              flex: 1;
              display: block;
              min-width: 0;
            }
          }
        }
      }

      .settings-friendly-domains {
        margin-left: 20px;

        > .widget-body {
          .domains-list {
            margin-bottom: 10px;

            .list-selector .select2-choices {
              font-size: 12px;
              border-radius: 0;
              height: 32px;
            }
          }

          .content-right {
            text-align: right;
          }
        }
      }

      .settings-advanced-section {
        > .widget-body {
          button {
            background-color: #2298f0;
            border: 1px solid #1585d8;
            border-radius: 5px;
            color: #fff;
            cursor: pointer;
            display: inline-block;
            font-size: 12px;
            font-weight: normal;
            padding: 8px 30px;
            vertical-align: middle;
            height: 35px;
          }

          .session-idle-param {
            > .idle-timeout-label {
              margin-right: 10px;
              text-align: right;
              display: inline-block;
            }

            > input {
              width: 80px;
              padding: 6px 12px;
            }

            > .idle-timeout-postfix {
              width: 70px;
              display: inline-block;
            }
          }

          .backend-param {
            > span {
              width: 160px;
              text-align: right;
              display: inline-block;
            }

            > .form-param {
              width: 150px;
              display: inline-block;
            }

            > input[type="number"],
            > input[type="text"] {
              padding: 6px 12px;
              width: 150px;
            }
          }
        }
      }

      .settings-debug-links {
        margin-left: 20px;

        > .widget-body {
          .links-panel {
            display: flex;
            flex: 1 1 auto;
            flex-direction: row;
          }
        }
      }
    }

    .settings-top {
      flex: 1 0 250px;
    }

    .settings-middle {
      flex: 1 0 450px;
    }

    .settings-button {
      background-color: #2298f0;
      border: 1px solid #1585d8;
      border-radius: 5px;
      color: #fff;
      cursor: pointer;
      display: inline-block;
      font-size: 12px;
      font-weight: normal;
      padding: 8px 30px;
      vertical-align: middle;
      height: 35px;
    }

    .button-fixed-width {
      width: 200px;
      margin-right: 10px;
    }
  }
}
