<div class="settings-v2" page>
    <content class="settings-v2-body">
        <div class="settings-row settings-top">
            <div class="settings-widget settings-change-password">
                <div class="widget-label">Change Password</div>
                <div class="widget-body">
                    <form>
                        <div>
                            <p>
                                <label class="password-label">Current password:</label>
                                <input type="password" class="avanan-square" placeholder="Current password" ng-model="changePasswordModel.oldPassword">
                                <span ng-if="error.oldPassword" qtip2="error.oldPassword" class="verification fa fa-exclamation-circle"></span>
                            </p>
                            <p>
                                <label class="password-label">Current password:</label>
                                <input type="password" class="avanan-square" placeholder="New password" ng-model="changePasswordModel.newPassword">
                                <span ng-if="error.newPassword" qtip2="error.newPassword" class="verification fa fa-exclamation-circle"></span>
                            </p>
                            <p>
                                <label class="password-label">Repeat password:</label>
                                <input type="password" class="avanan-square" placeholder="Repeat password" ng-model="changePasswordModel.repeatPassword">
                                <span ng-if="error.repeatPassword" qtip2="error.repeatPassword" class="verification fa fa-exclamation-circle"></span>
                            </p>
                            <div class="buttons">
                                <button class="settings-button" ng-click="changePassword()">Change password</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div ng-if="friendlyDomainsPanel" class="settings-widget settings-friendly-domains">
                <div class="widget-label">Friendly Domains</div>
                <div class="widget-body">
                    <div class="domains-list" select2="friendlyDomainsModel.domains"></div>
                    <div class="content-right">
                        <button class="settings-button" ng-click="saveDomains()">Save domains</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="settings-row settings-middle">
            <div ng-if="advancedPanel" class="settings-widget settings-advanced-section">
                <div class="widget-label">Advanced</div>
                <div class="widget-body">
                    <div ng-if="updateLocalModules" class="form-group">
                        <button class="settings-button button-fixed-width" ng-if="updateLocalModules" ng-click="updateLocalModules()">Update local modules</button>
                    </div>
                    <div class="form-group">
                        <button class="settings-button button-fixed-width" ng-click="uploadCustomIcon()">Upload custom logo</button>
                        <button class="settings-button button-fixed-width" ng-click="removeCustomIcon()">Remove custom logo</button>
                    </div>
                    <div ng-if="sendEmailReport" class="form-group">
                        <button class="settings-button button-fixed-width" ng-click="sendEmailReport()">Send email report</button>
                    </div>
                    <div system-config-parameter="hide_beta_apps" data-label="Hide Beta Applications in App Store" debug-only="true"></div>

                    <div class="form-group" ng-if="domainsManageLink">
                        <a ng-href="/#!{{domainsManageLink}}" class="link-like">Manage Email Domains</a>
                    </div>
                    <div class="form-group session-idle-param">
                        <span class="idle-timeout-label">Idle-session auto log-off after:</span>
                        <input integer-restriction min="1" class="avanan-square" ng-model="params.idleTimeout"/>
                        <span class="idle-timeout-postfix">minutes</span>
                        <button class="settings-button" ng-click="saveIdleTimeout()">Update timeout</button>
                    </div>
                    <div ng-if="showDownloadConfirmationParam"
                         system-config-parameter="download-entity-no-confirm"
                         data-label="Don't show confirmation when downloading entity" storage="local"></div>

                    <div ng-repeat="param in configParams" ng-if="!param.hidden && param.loaded" class="form-group backend-param">
                        <span class="backend-param-label">{{param.label}}:</span>
                        <div form-param="param" ng-model="param.data"></div>
                        <button class="settings-button" ng-click="saveConfigParam(param)">Update</button>
                    </div>
                    <div ng-if="showHardReset" class="form-group">
                        <button class="btn btn-red" ng-click="performHardReset()">Hard Reset</button>
                    </div>
                    <div system-config-parameter="hide_system_alerts" data-label="Hide System Alerts" debug-only="true"></div>

                    <div system-config-parameter="email_alerts_show_logo" data-label="Add AVANAN Logo to Email Alerts"></div>
                </div>
            </div>
            <div ng-if="debugLinksPanel" class="settings-widget settings-debug-links">
                <div class="widget-label">Debug Links</div>
                <div class="widget-body">
                    <div class="links-panel" ng-repeat="link in debugLinksPanel.links" linked-text="link"></div>
                </div>
            </div>
        </div>
        <div class="settings-row">
            <div ng-if="entityDebugPanel" class="settings-widget settings-entity-debug">
                <div class="widget-label">Entity Debug</div>
                <div class="widget-body">
                    <div entity-debug-v2="entityDebugPanel"></div>
                </div>
            </div>
        </div>
    </content>
</div>