<div class="main-menu">
    <ul>
        <li ng-repeat="menu in menus" ng-class="{'openable': menu.submenus, 'active': menu.isActive()}"  ng-click="menuItemClicked($event);">
            <a ng-href="{{menu.path()}}">
                <span class="menu-icon">
                    <i class="fa fa-lg" ng-class="menu.icon"></i>
                </span>
                <span class="text">{{menu.title}}</span>
                <span class="menu-hover"></span>
            </a>
            <ul ng-if="menu.submenus" class="submenu">
                <li ng-repeat="submenu in menu.submenus">
                    <a ng-href="{{submenu.path()}}">
                        <span class="submenu-label">{{submenu.title}}</span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
    <div ng-if="sideMenuManager.logoIsCustom()" class="sidebar-powered-by">Powered by AVANAN</div>
</div>