aside.skin-light .main-menu > ul > li {
  border: none;
  cursor: pointer;
  &.active, &.display {
    border: none;
  }
  &.active > a, &.display > a {
    background: #30343c;
    color: #fff;
  }
  > {
    a {
      color: #fff;
      &:hover, &:focus {
        background: #30343c;
        color: #fff;

        .submenu {
          display: block;
        }
      }
      .menu-icon {
        font-size: 22px;
        display: block;
        text-align: center;
      }
      .text {
        display: block;
        margin-top: 5px;
        margin-left: 0px;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
      }
      .menu-hover {
        display: none;
        background: #feffd8;
        box-shadow: 0 0 10px 0px #ffffff;
        -moz-box-shadow: 0 0 10px 0px #ffffff;
        -webkit-box-shadow: 0 0 10px 0px #ffffff;
      }
    }
    .submenu li {
      a {
        background-color: #434A54; /*#415160;*/
        .submenu-label {
          color: #BECFE0;
        }
        &:hover .submenu-label, &:focus .submenu-label {
          color: #fff;
        }
        &:hover {
          background: #30343C;
        }
      }
      &.active a {
        background: #2E3943;
        .submenu-label {
          color: #fff;
        }
      }
    }
  }

  &.open .submenu {
    display: block;
  }
}