<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" msd-wheel="onWheel($event, $delta)">
    <li ng-if="title" class="submenu-title" ng-click="$event.stopPropagation()">{{title}}</li>
    <li class="submenu-search" ng-click="$event.stopPropagation()" ng-show="!options.hideFilter">
        <span ng-if="!menuFilter" class="fa fa-filter"></span>
        <span ng-if="menuFilter" class="fa fa-times clear-filter" ng-click="clearFilter()"></span>
        <input ng-model="menuFilter" placeholder="Type to filter">
    </li>
    <li ng-repeat="subMenuId in subMenus track by $index" class="submenu-menus" ng-class="{'dropdown-submenu': menus[subMenuId.nodeId].sub || options.editor, 'no-arrow': !menus[subMenuId.nodeId].sub}" show-sub-menu="$index" show-sub-menu-action="click">
        <a ng-if="!subMenuId.separator" href="#" ng-class="{'selectable': menus[subMenuId.nodeId].selectable, 'hovered': hoveredSubMenu == $index}" ng-click="singleMenuClickedWrapper($event, subMenuId, false)">
            <i ng-if="!options.menuIconsOverride" ng-show="menus[subMenuId.nodeId].selectable" class="fa" ng-class="{'fa-circle-o': selectedId.fullId != subMenuId.fullId, 'fa-circle': selectedId.fullId == subMenuId.fullId}"></i>
            <i ng-if="options.menuIconsOverride" ng-show="menus[subMenuId.nodeId].selectable" class="fa" ng-class="getMenuIconClass(subMenuId)"></i>
            <span ng-class="{'selected-path': isSelectedPath(subMenuId), 'temp-selected': isTempSelected(subMenuId)}">{{menus[subMenuId.nodeId].label}}</span>
        </a>
        <ul ng-if="options.editor && hoveredSubMenu == $index && !menus[subMenuId.nodeId].sub" class="dropdown-menu editor" role="menu" aria-labelledby="dropdownMenu" ng-click="editorClick($event)">
            <li ng-if="options.editor == 'conditions-editor'">
                <div column-filter="internal.filter" column-id="subMenuId.fullId" options="internal.filterOptions"></div>
            </li>
            <li class="btn btn-blue ok-button" ng-disabled="!internal.filter" ng-click="singleMenuClickedWrapper($event, subMenuId, internal.filter, true)">Add</li>
        </ul>
        <div ng-if="!subMenuId.separator && hoveredSubMenu == $index && menus[subMenuId.nodeId].sub" sub-menu="menus" menu-id="subMenuId" selected-id="selectedId" options="options" menu-filter="internal.subMenuFilter" temp-selection="tempSelection" depth="{{depth - 1}}" menu-clicked="menuClickedWrapper(event, menuIds, filter, inEditor)" ng-style="{'top': getTopForMenu($index)}"></div>
        <div ng-if="subMenuId.separator" class="menu-separator"></div>
    </li>
    <li ng-if="isScrollUpEnabled() || isScrollDownEnabled()" class="scroll-buttons">
        <div class="buttons-center">
            <div class="fa fa-arrow-circle-o-down" href="#" ng-click="onScrollClick($event, -10)" ng-class="{'disabled': !isScrollDownEnabled()}"></div>
            <div class="fa fa-arrow-circle-o-up" href="#" ng-click="onScrollClick($event, 10)" ng-class="{'disabled': !isScrollUpEnabled()}"></div>
        </div>
    </li>
    <li class="advance-buttons" ng-if="!options.hideAdvancedFilter">
        <a ng-if="showAdvance" ng-click="setAdvance($event, false)">Hide advanced</a>
        <a ng-if="!showAdvance" ng-click="setAdvance($event, true)">Show advanced</a>
    </li>
    <li class="apply-button" ng-if="isApplyActive()">
        <a ng-click="onApplyClick($event)">Apply</a>
    </li>
</ul>
