.sub-button .dropdown-submenu, .sub-selector .dropdown-submenu {
  position: relative;
    
  .submenu-title {
    background-color: #255484;
    color: #ffffff;
    font-weight: 600;
    font-size: 11px;
    padding: 0px 10px;
    margin-top: -5px;
  }

  > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px 6px;
    border-radius: 0 6px 6px 6px;
  }

  > .dropdown-menu {
    display: block;
  }

  > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #cccccc;
    margin-top: 5px;
    margin-right: -10px;
  }
  
  &.no-arrow > a:after {
    display: none !important;
  }

  &:hover > a:after {
    border-left-color: #ffffff;
  }

  &:hover > a, > a.hovered {
    background: #3c8dbc;
    color: #fff;
  }

  &.pull-left {
    float: none;
  }

  &.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
  }
  
  .editor {
    padding: 5px;
    display: list-item;
    .ok-button {
      width: 90px;
      float: right;
    }
  }
}

.dropdown-menu {
  .submenu-search {
    position: relative;
    padding: 0px 20px;
    span {
      position: absolute;
      top: 3px;
      right: 26px;
      font-size: 16px;
      pointer-events: none;
      color: #434a54;
      &.clear-filter {
        pointer-events: auto;
        cursor: pointer;
      }
    }
    input {
      width: 100%;
      height: 20px;
      margin: 2px 0px;
    }
  }

  .selected-path, .temp-selected {
    font-weight: 800;
  }
  
  .scroll-buttons {
    font-size: 30px;
    line-height: 40px;
    .buttons-center {
      display: table;
      margin: 0px auto;
      width: 120px;
      div {
        cursor: pointer;
        width: 50%;
        display: inline-block;
        text-align: center;
        color: #303030;
        &.disabled {
          color: #999;
        }
        &:hover:not(.disabled) {
          color: #2980b9;
        }
      }
    }
  }
  
  .advance-buttons { 
    clear: both;
    > a {
      float: right;
      background: #ffffff;
      cursor: pointer;
      color: #555555;
      text-decoration: underline;
      &:hover {
        background: #ffffff;
        color: #888888;
        text-decoration: underline;
      }
    }
  }
  .apply-button { 
    clear: both;
    > a {
      float: right;
      background: #ffffff;
      cursor: pointer;
      color: #2980b9;
      text-decoration: underline;
      font-weight: bold;
      &:hover {
        background: #ffffff;
        color: #255484;
        text-decoration: underline;
      }
    }
  }
}