.search-option {
  font-size: 12px;
  font-family: open-sans, sans-serif;
  .option-state {
    display: inline-block;
    width: 12px;
    cursor: pointer;
    font-weight: 600;
  }
  .option-label {
    display: inline-block;
  }

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}