<div class="search-option" ng-click="changeState($event)">
    <div class="option-state fa" ng-class="getStateClass()"></div>
    <div class="option-label">{{option.label + (option.count ? ' (' + option.count + ')' : '')}}</div>
</div>