.error-status {
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  
  .search-input {
    width: 335px !important;
  }
}

.guiV2 .error-status {
  padding: 0 54px;
  overflow: auto;
  height: 100%;
  position: static;
}