<div class="error-status">
    <div ng-if="errorStatusHolder.errorStatus() == 500" class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 text-center">
        <div class="h5">Sorry, Something went wrong</div>
        <h1 class="m-top-none error-heading">500</h1>

        <p class="font-14">The server encountered an unexpected condition which prevented it from fulfilling the request.</p>
        <h4 class="text-danger"><i class="fa fa-wrench"></i> But we are working on it!</h4>

        <a class="btn btn-success m-bottom-sm" href="/#!/"><i class="fa fa-home"></i> Back to Dashboard</a>
        <a class="btn btn-success m-bottom-sm" ng-click="contact()"><i class="fa fa-envelope"></i> Contact Us</a>
        <a class="btn btn-success m-bottom-sm" ng-click="reload()"><i class="fa fa-refresh"></i> Reload page</a>
    </div>
    <div ng-if="errorStatusHolder.errorStatus() == 404" class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 text-center">
        <div class="h5">Oops, This Page Could Not Be Found!</div>
        <h4>Search Our Website</h4>
        <div class="input-group">
            <div search-box></div>
        </div>
        <h1 class="m-top-none error-heading">404</h1>
        <a class="btn btn-success m-bottom-sm" href="/#!/"><i class="fa fa-home"></i> Back to Dashboard</a>
        <a class="btn btn-success m-bottom-sm" ng-click="contact()"><i class="fa fa-envelope"></i> Contact Us</a>
        <a class="btn btn-success m-bottom-sm" ng-click="reload()"><i class="fa fa-refresh"></i> Reload page</a>
    </div>
</div>