<div class="sub-button dropdown" dropdown>
    <div class="panel-btn btn dropdown-toggle" ng-class="options.dropdownClass" dropdown-toggle ng-click="buttonClicked()"><span ng-class="options.class"></span>{{options.label}}</div>
    <div ng-if="root && showDropdown" sub-menu="menus" menu-id="root" selected-id="model" menu-clicked="menuClicked(event, menuIds, filter)" options="options.menuOptions" temp-selection="tempSelection" depth="{{depth}}"></div>
</div>