.wizard-item {
  position: relative;
  width: 100%;
  min-width: 190px;
  overflow: hidden;
  padding-bottom: 20px;


  .img-wrapper {
    border: 1px solid #d7d8d8;
    border-bottom: none;
    background: #fff;
    padding: 6px;

    height: 125px;
    .item-img {
      width: 100%;
      height: 100%;
      background: no-repeat center;
    }

    .beta-label {
      position: absolute;
      background-color: #2980b9;
      color: #fff;
      font-weight: bold;
      text-transform: uppercase;
      padding: 2px 50px;
      font-size: 14px;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.75);
      top: 0;
      right: 0;
      transform: translateY(12px) translateX(43px) rotate(40deg);
    }
    .expired-label {
      position: absolute;
      background-color: #f35428;
      color: #fff;
      font-weight: bold;
      text-transform: uppercase;
      padding: 2px 65px;
      font-size: 14px;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.75);
      top: 0;
      right: 0;
      transform: translateY(29px) translateX(45px) rotate(40deg)
    }
  }

  .item-info {
    position: relative;
    border: 1px solid #d7d8d8;
    border-bottom: none;
    background: #f5f5f5;

    height: 75px;
    padding: 8px;

    .title {
      color: #060606;
      font-weight: 600;
      font-size: 13px;
    }
    .description {
      color: #434a54;
      font-size: 11px;
    }
  }

  .actions {
    position: relative;
    border: 1px solid #d7d8d8;
    border-top: none;
    height: 35px;
    background: #f5f5f5;
    text-align: center;
  }

  .btn.btn-default {
    border: none;
    border-radius: 1px;
    height: 20px;
    line-height: 20px;
    width: 85px;
    background: #66bb6a;
    color: #ffffff;
    font-weight: 600;
    font-size: 11px;
    text-transform: uppercase;
    margin-top: 4px;
    padding: 0;
  }

  .active-label {
    width: 40px;
    height: 40px;
    border: 3px solid #fff;
    background-color: #58af2d;
    color: #fff;
    border-radius: 20px;
    position: absolute;
    z-index: 2;
    top: 105px;
    right: 5px;
    padding: 3px 7px;
    font-size: 20px;
    font-weight: normal;
  }

  .coming-soon-label {
    display: inline-block;
    border: 1px solid #636363;
    border-radius: 1px;
    height: 20px;
    line-height: 18px;
    background: transparent;
    color: #636363;
    font-weight: 600;
    font-size: 11px;
    text-transform: uppercase;
    margin-top: 4px;
    padding: 0 6px;
  }

  .progress-indicator {
    .fa {
      font-size: 18px;
    }
  }
}

.wizard-app-col {
  width: 33.33333333%;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
}
/*
@media (min-width: 520px) {
  .wizard-app-col {
    width: 50%;
  }
}
*/

@media (min-width: 720px) {
  .wizard-app-col {
    width: 33.33333333%;
  }
}

@media (min-width: 920px) {
  .wizard-app-col {
    width: 25%;
  }
}

@media (min-width: 1120px) {
  .wizard-app-col {
    width: 20%;
  }
}

@media (min-width: 1320px) {
  .wizard-app-col {
    width: 16.66666666%;
  }
}

@media (min-width: 1520px) {
  .wizard-app-col {
    width: 14.285%;
  }
}

