.login-wrapper-v2 {
  margin-top: 65px;
  .avanan-logo {
    background: no-repeat center;
    height: 50px;
  }
  .login-panel {
    width: 290px;
    margin: 20px auto 0 auto;
    background: #ffffff;
    border: 1px solid #b9babd;
    border-radius: 5px;

    .login-header {
      font-size: 14px;
      font-weight: 400;
      text-align: center;
      color: #424242;
      height: 45px;
      line-height: 60px;
      vertical-align: middle;
      text-transform: uppercase;
    }

    .login-body {
      padding: 23px 30px 23px 30px;
      position: relative;
      .btn {
        border: none;
        margin-bottom: 7px;
        padding: 0px 5px;
        color: #ffffff;
        height: 32px;
        width: 230px;
        p {
          line-height: 32px;
          font-size: 12px;
          text-transform: uppercase;
          font-weight: 600;
          text-align: left;
          margin: 0 0 0 55px;
        }
        span {
          line-height: 32px;
        }
        .button-image {
          height: 100%;
          width: 39px;
          float: left;
          img {
            margin-top: 2px;
            margin-right: 3px;
          }
          span {
            font-size: 18px;
            line-height: 36px;
          }
        }
        &.google-button {
          background: rgb(213, 53, 50);
          .button-image {
            border-right: 1px solid rgb(196, 43, 41);
          }
        }
        &.dropbox-button {
          background: #007ee6;
          .button-image {
            border-right: 1px solid #0d6fbf;
          }
        }
        &.box-button {
          background: rgb(25, 102, 187);
          .button-image {
            border-right: 1px solid rgb(20, 90, 167);
          }
        }
        &.password-button {
          background: rgb(86, 155, 190);
          .button-image {
            border-right: 1px solid rgb(49, 119, 154);
          }
        }
        &.back-button {
          background: #df4a32;
          width: 80px;
          display: inline-block;
        }

        &.password-login-button, &.password-restore-button {
          background: rgb(86, 155, 190);
          position: absolute;
          right: 30px;
          width: 145px;
        }

        &.password-change-button {
          background: #df4a32;
        }
      }
      .separator {
        display: block;
        margin-bottom: 15px;
      }
      .form-group {
        position: relative;
        margin-bottom: 0px;
        input {
          height: 32px;
          width: 230px;
          padding: 6px;
          margin-bottom: 7px;

          &.password-input {
            margin-bottom: 2px;
          }
        }
        .verification {
          position: absolute;
          right: 10px;
          top: 6px;
          font-size: 16px;
          &.fa-exclamation-circle {
            color: rgb(213, 53, 50);
          }

          &.fa-check-circle {
            color: #008000;
          }
        }
      }
      .restore-password {
        display: block;
        text-align: right;
        margin-bottom: 15px;
      }
    }
  }
}