<div class="login-wrapper-v2">
    <div class="avanan-logo" ng-style="{'background-image': 'url(' + path('gui-v2').directive('side-menu-v2').img('logo-white.svg') + ')'}"></div>
    <div class="login-panel animation-delay1">
        <div class="login-header">{{getTitle()}}</div>
        <div class="login-body" ng-if="page == 'login'">
            <button ng-repeat="button in loginButtons" class="btn btn-default" ng-click="button.execute()" ng-class="button.class">
                <div class="button-image">
                    <img ng-if="button.image" ng-src="{{button.image}}">
                    <span ng-if="button.icon" class="fa" ng-class="button.icon"></span>
                </div>
                <p>{{button.text}}</p>
            </button>
        </div>
        <form class="login-body" ng-if="page == 'password-login'">
            <div class="form-group">
                <input class="avanan-square email-input" ng-model="loginModel.email" placeholder="Email">
                <span ng-if="error.email" qtip2="error.email" class="verification fa fa-exclamation-circle"></span>
            </div>
            <div class="form-group">
                <input type="password" class="avanan-square password-input" ng-model="loginModel.password" placeholder="Password">
                <span ng-if="error.password" qtip2="error.password" class="verification fa fa-exclamation-circle"></span>
            </div>
            <a class="restore-password" href="#" ng-click="restorePassword($event)">Forgot password?</a>
            <button type="button" class="btn btn-default back-button" ng-click="back()">
                <span class="fa fa-arrow-left"></span>
                <span>Back</span>
            </button>
            <button class="btn btn-default password-login-button" ng-click="login()">
                <span>Login</span>
            </button>
        </form>
        <form class="login-body" ng-if="page == 'password-restore'">
            <div class="form-group">
                <input class="avanan-square email-input" ng-model="loginModel.email" placeholder="Email">
                <span ng-if="error.email" qtip2="error.email" class="verification fa fa-exclamation-circle"></span>
            </div>
            <div class="separator"></div>
            <button type="button" class="btn btn-default back-button" ng-click="back()">
                <span class="fa fa-arrow-left"></span>
                <span>Back</span>
            </button>
            <button class="btn btn-default password-restore-button" ng-click="restore()">
                <span>Restore</span>
            </button>
        </form>
        <div class="login-body" ng-if="page == 'email-sent'">
            <span>If you entered a valid account email address, you will receive an email with instructions shortly.</span>
        </div>
        <form class="login-body" ng-if="page == 'password-reset'">
            <div class="form-group">
                <input type="password" class="avanan-square password-input" ng-model="loginModel.password" placeholder="Password">
                <span ng-if="error.password" qtip2="error.password" class="verification fa fa-exclamation-circle"></span>
            </div>
            <div class="form-group">
                <input type="password" class="avanan-square password-input" ng-model="loginModel.repeatPassword" placeholder="Repeat password">
                <span ng-if="error.repeatPassword" qtip2="error.repeatPassword" class="verification fa fa-exclamation-circle"></span>
            </div>
            <div class="separator"></div>
            <button class="btn btn-default password-change-button" ng-click="changePassword()">
                <span>Change password</span>
            </button>
        </form>
    </div>
</div>