.key-value-graph {
    position: relative;
    .graph-type-select {
        text-align: center;
        .graph-type {
            display: inline-block;
            width: 50px;
            height: 50px;
            text-align: center;
            vertical-align: middle;
            line-height: 50px;
            border-radius: 5px;
            border: 1px solid #2980b9;
            cursor: pointer;
            margin-right: 10px;
            font-weight: 800;
            color: #2980b9;
            
            &.active {
                border: 1px solid #2980b9;
                background-color: #2980b9;
                color: white;
            }
        }
    }
    
    .key-value-select {
        margin: 10px 0;
        text-align: center;
        padding-bottom: 5px;
        border-bottom: 1px solid #e5e5e5;
        .pair {
            display: inline-block;
            text-align: left;
            margin: 0 10px;
            
            select {
                min-width: 200px;
            }
            input {
                min-width: 50px;
                max-width: 50px;
            }
        }
    }
    
    .graph {
        height: 100%;
        position: relative;
        > .flot-div {
            height: 100%;
            width: 100%;
            position: relative;
        }
        
        .add-graph {
            position: absolute;
            left: calc(50% - 100px);
            top: calc(50% - 25px);
            width: 200px;
            height: 50px;
            text-align: center;
            font-size: 22px;
            line-height: 48px;
            border: 2px solid #2980b9;
            border-radius: 25px;
            color: #2980b9;
            cursor: pointer;
        }
        
        .legend > div {
            display: none;
        }
        
        .legend > table {
            border: 1px solid #333;
            background-color: white;
            z-index: 10;
            display: block;
        }
        
        &.legend-scroll {
            max-height: 200px;
        }
        
        &.hide-legend {
            .legend {
                display: none;
            }
        }
        
        .flot-x-axis div.flot-tick-label {
            transform: translateX(50%) rotate(20deg); 
            transform-origin: 0 0;
            white-space: nowrap;
        }
    }
    
    .settings, .legend-toggle {
        position: absolute;
        top: 0;
        right: 0;
        width: 31px;
        cursor: pointer;
        color: #2980b9;
        font-size: 18px;
        background-color: white;
        border: 1px solid;
        padding: 2px 5px;
        border-radius: 8px;
        opacity: 0.6;
        text-align: center;
        z-index: 11;
        
        &:hover {
            opacity: 1;
        }
    }
    
    .legend-toggle {
        right: 41px;
    }
}