<div class="key-value-graph">
    <div ng-if="options.editor" class="graph-type-select">
        <div ng-repeat="graphType in graphTypes" class="graph-type" 
            ng-class="{active: graphType.id == model.graph}"
            ng-click="selectGraph(graphType.id)">{{graphType.id}}</div>
    </div>
    <div ng-if="options.editor" class="key-value-select">
        <div class="pair">
            <span>Key column:</span>
            <select ng-model="model.keyColumn" ng-change="requestData()">
                <option ng-repeat="variant in options.keyVariants" value="{{variant.id}}">{{variant.label}}</option>
            </select>
        </div>
        <div class="pair">
            <span>Value column:</span>
            <select ng-model="model.valueColumn" ng-change="requestData()">
                <option ng-repeat="variant in options.valueVariants" value="{{variant.id}}">{{variant.label}}</option>
            </select>
        </div>
        <div class="pair">
            <span>Show: </span>
            <input integer-restriction min="1" max="20" ng-model="model.top" ng-change="requestData()">
        </div>
    </div>
    <div class="graph" ng-class="{'hide-legend': hideLegend, 'legend-scroll': !options.hideControls}">
        <div ng-if="!options.hideControls && isConfigured() && flotModel.flotOptions.legend" class="legend-toggle" ng-click="toggleLegend()">
            <span class="fa fa-info"></span>
        </div>
        <div ng-if="!options.hideControls && !options.editor && isConfigured()" class="settings" ng-click="showSettings()">
            <span class="fa fa-cogs"></span>
        </div>
        <div ng-if="isConfigured() && flotModel" class="flot-div" flot="flotModel"></div>
        <div ng-if="!options.hideControls && !options.editor && !isConfigured()">
            <div class="add-graph" ng-click="showSettings()">
                <span class="fa fa-plus-circle"></span>
                Add chart
            </div>
        </div>
    </div>
</div>