.column-header {
  position: relative;
  .dropdown-menu {
    min-width: 250px;
    &.dropdown-right {
      right: 0;
      left: auto;
    }
    > li {

      > span {
        display: block;
        padding: 3px 20px;
        clear: both;
        font-weight: normal;
        line-height: 1.42857143;
        white-space: nowrap;
      }

      > a {
        background: #ffffff;
        color: #333333;
        &:hover, &:hover .fa {
          background: #3c8dbc !important;
          color: #ffffff !important;
        }
        &:focus {
          background: #ffffff;
          color: #333333;
        }
        > span {
          width: 15px;
        }
      }

      .clear-filters, .clear-filters:hover, .clear-filters:focus {
        text-align: right;
        background: #ffffff !important;
      }

      .clear-filters > a,  .clear-filters > a:hover, .clear-filters > a:focus {
        color: #777 !important;
        text-decoration: underline;
        padding: 0;
      }

      .facets-filter {
        padding: 4px 20px;
        white-space: nowrap;
        color: #777;

        input {
          vertical-align: middle;
          height: auto;
          width: auto;
          border: 1px solid rgba(0, 0, 0, .15);
          font-weight: normal;
          padding-left: 2px;
          padding-right: 2px;
        }
      }

      .column-header-filter {
        padding: 4px 20px;
        white-space: nowrap;
        color: #333;
      }

      .column-header-facets {
        padding: 4px 20px;
        max-height: 300px;
        overflow-y: auto;

      }

      .search-option {
        font-weight: normal;
        cursor: pointer;
        white-space: nowrap;
        color: #777;
      }
    }
    
    .sort-option {
      position: relative;
      color: #000000;
      padding: 0 20px 3px;
      > div {
        display: inline-block;
        line-height: 25px;
        
        &.sort-label {
          width: 40px;
        }
        &.sort-switch {
          width: 50px;
          text-align: center;
          padding: 0px 5px;
          background: #FFFFFF;
          border-radius: 5px;
          border: 1px solid #CFCFCF;
          &.active, &:hover {
            background: #2980b9;
            border: 1px solid #2980b9;
            color: #FFFFFF;
          }
        }
      }
      > .disabled-sortable-cover {
        display: block;
        position: absolute;
        background-color: #FFFFFF;
        opacity: 0.5;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
      }
    }
    
    .column-warning {
      padding: 3px 20px;
      color: #333333;
    }
  }
  &.column-clickable {
    cursor: pointer;
  }
  &.column-expanded {
    background-color: #eee !important;
  }
  &.column-have-filters, &.column-expanded.column-have-filters {
    color: #000 !important;
  }

  .column-close-buttons {
    text-align: center;
    padding: 5px 20px 3px;
    white-space: nowrap;

    .btn {
      width: 80px;
      height: 28px;
      font-size: 12px;
      border-radius: 2px;
      padding-top: 5px;

      &.btn-primary {
        background-color: #2980b9;
        color: #fff;
        border: 0;
      }

      &.btn-default {
        border: 1px solid #2980b9;
        color: #2980b9;
      }
    }
  }

  &.multi-line-label .column-header-label {
    white-space: pre-line;
  }

}
.select-dropdown.dropdown-menu li a.column-with-filter {
  font-weight: bold;
}
