<th ng-click="columnClick()" dropdown dropdown-toggle class="column-header" is-open="isDropdownOpen" on-toggle="dropdownToggled(open)">
    <div qtip2="column.tooltip">
        <span class="column-header-label">{{getColumnLabel()}}</span>
        <span ng-repeat="button in column.headerButtons" class="fa" ng-class="button.iconClass" qtip2="button.label" ng-click="button.execute($event)"></span>
        <span ng-if="column.sortable && tableOptions.orderDisplayMode == 'header-sign'" class="fa" ng-class="orderingClass()"></span>
    </div>
    <ul ng-if="haveDropdown()" class="dropdown-menu" role="menu" ng-class="dropdownClass()">
        <li ng-if="column.sortable || column.sortableTooltip" class="sort-option" qtip2="column.sortableTooltip">
            <div class="sort-label">Sort: </div>
            <div class="sort-switch" ng-class="{'active': getOrder() == 'asc'}" ng-click="order('asc')" qtip2="'Sort ascending'">
                <div class="fa fa-sort-amount-asc"></div>
            </div>
            <div class="sort-switch" ng-class="{'active': getOrder() == 'desc'}" ng-click="order('desc')" qtip2="'Sort descending'">
                <div class="fa fa-sort-amount-desc"></div>
            </div>
            <div ng-if="!column.sortable" class="disabled-sortable-cover"></div>
        </li>
        <li ng-if="column.optional || column.removable">
            <a href="javascript:void(0);" ng-click="hide()"><span class="fa fa-times"></span> Remove column</a>
        </li>
        <li ng-repeat="button in column.buttons">
            <a href="javascript:void(0);" ng-click="execute($event, button)" ng-class="button.linkClass"><span ng-if="button.iconClass" class="fa" ng-class="button.iconClass"></span> {{button.label}}</a>
        </li>
        <li ng-if="column.filter && isDropdownOpen" ng-click="$event.stopPropagation()" ng-class="column.filter.class">
            <div class="column-header-filter">
                <div column-filter="state.filter" column-id="column.id" options="headerOptions[column.filter.type]"></div>
            </div>
        </li>
        <li ng-if="column.facets" ng-click="$event.stopPropagation()">
            <div class="facets-filter">
                <span class="fa fa-filter"></span>
                <input type="text" ng-model="state.facetsFilter">
            </div>
            <div class="column-header-facets">
                <div ng-repeat="option in column.facets.variants | filter: {label: state.facetsFilter}"
                     ng-if="option.count != 0 || state.facetsUsed[option.id] || state.facetsUsed[option.id] === false"
                     search-option="state.facets[option.id]" option="option"></div>
            </div>
        </li>
        <li ng-if="column.filter || column.facets" ng-class="column.clearAllClass">
            <span class="clear-filters" ng-click="$event.stopPropagation()"><a href="javascript:void(0);" ng-click="clearAll($event)" class="clear-filters">clear filters</a></span>
        </li>
        <li ng-if="column.warning" class="column-warning" ng-class="column.warning.class">
            <div linked-text="column.warning.text"></div>
        </li>
    
        <div class="column-close-buttons">
            <div class="btn btn-primary" ng-click="applyFilter()">Ok</div>
            <div class="btn btn-default">Cancel</div>
        </div>
    </ul>
</th>
