@mixin calc($property, $expression) {
  #{$property}: -webkit-calc(#{$expression});
  #{$property}: -moz-calc(#{$expression});
  #{$property}: calc(#{$expression});
}

.modal-body.smart-search-rule {
  .param-label {
    display: inline-block;
    width: 80px;
    text-align: right;
    vertical-align: top;
    padding-top: 7px;
  }
  .form-param {
    display: inline-block;
    @include calc("width", "100% - 85px");
    &.full-width-param {
      width: 100%;
    }
    .form-control {
      margin-bottom: 5px;
    }
  }

  .radio-group {
    display: inline-block;
    margin-right: 8px;
    margin-top: 7px;
  }

  .rule-query {
    height: 200px;
  }

  .rule-builder {
    .param-label {
      width: 180px;
      text-align: left;
      padding-top: 5px;
    }
    .form-param {
      @include calc("width", "100% - 185px");
      .avanan-square {
        padding: 3px 12px;
        height: 28px;
      }

      .inline-input {
        display: inline-block;
        padding-left: 6px;
        padding-right: 6px;
        margin-left: 5px;
        margin-right: 5px;
      }

      .words-control {
        width: 30px;
      }

      .range-control {
        width: 50px;
      }

    }
  }
  .error {
    color: #e0242a;
  }
  .system-rule-title {
    margin-bottom: 5px;
  }

  .no-query-message {
    margin-top: 8px;
    display: inline-block;
  }
}