<div class="modal-header">
    <button ng-if="!options.disableCloseX" type="button" class="close" ng-click="close()">×</button>
    <h4>{{options.title || 'Rule Builder'}}</h4>
</div>
<div class="modal-body smart-search-rule">
    <div ng-if="model.is_predefined">
        <div class="param-label"></div>
        <div class="form-param system-rule-title">
            System rule
        </div>
    </div>
    <div class="param-label">Name:</div>
    <div class="form-param">
        <input type="text" class="form-control avanan-square" ng-model="model.name" ng-readonly="model.is_predefined">
        <p ng-if="errors.name" class="error">{{errors.name}}</p>
    </div>

    <div class="param-label">Description:</div>
    <div class="form-param">
        <input type="text" class="form-control avanan-square" ng-model="model.description"  ng-readonly="model.is_predefined">
    </div>

    <div class="param-label"> </div>
    <div class="form-param">
        <input type="checkbox" ng-model="model.is_active">
        <span class="custom-checkbox"></span>
        <span>Active</span>
    </div>



    <div class="param-label">Mode:</div>
    <div class="form-param">
        <div class="radio-group">
            <label>
                <input type="radio" ng-model="model.ui_info.mode" value="builder"  ng-disabled="model.is_predefined">
                <span class="custom-radio"></span><span>Query Builder</span>
            </label>
        </div>
        <div class="radio-group">
            <label>
                <input type="radio" ng-model="model.ui_info.mode" value="raw"  ng-disabled="model.is_predefined">
                <span class="custom-radio"></span><span>Raw Query</span>
            </label>
        </div>
        <div class="radio-group">
            <label>
                <input type="radio" ng-model="model.ui_info.mode" value="regexp"  ng-disabled="model.is_predefined">
                <span class="custom-radio"></span><span>Regular Expression</span>
            </label>
        </div>
        <div class="radio-group" ng-if="false">
            <label>
                <input type="radio" ng-model="model.ui_info.mode" value="password_protected"  ng-disabled="model.is_predefined">
                <span class="custom-radio"></span><span>Password Protected</span>
            </label>
        </div>

    </div>
    <div ng-if="model.ui_info.mode === 'builder'">
        <div class="param-label"></div>
        <div class="form-param">
            <div class="rule-builder">
                <div class="param-label">
                    With <strong>all</strong> of the words
                </div>
                <div class="form-param">
                    <input type="text" class="form-control avanan-square" ng-model="model.ui_info.builder.and"  ng-readonly="model.is_predefined">
                </div>

                <div class="param-label">
                    With the <strong>exact phrase</strong>
                </div>
                <div class="form-param">
                    <input type="text" class="form-control avanan-square" ng-model="model.ui_info.builder.phrase"  ng-readonly="model.is_predefined">
                </div>

                <div class="param-label">
                    With <strong>at least</strong> one of the words
                </div>
                <div class="form-param">
                    <input type="text" class="form-control avanan-square" ng-model="model.ui_info.builder.or"  ng-readonly="model.is_predefined">
                </div>

                <div class="param-label">
                    <strong>Without</strong> the words
                </div>
                <div class="form-param">
                    <input type="text" class="form-control avanan-square" ng-model="model.ui_info.builder.not" ng-readonly="model.is_predefined">
                </div>

                <div class="param-label">
                    With <strong>regexp</strong>
                </div>
                <div class="form-param">
                    <input type="text" class="form-control avanan-square" ng-model="model.ui_info.builder.regexp" ng-readonly="model.is_predefined">
                </div>


                <div class="param-label">
                    With the <strong>approximate phrase</strong>
                </div>
                <div class="form-param">
                    <input type="text" class="form-control avanan-square" ng-model="model.ui_info.builder.proxphrase" ng-readonly="model.is_predefined">
                </div>
                <div class="param-label">
                </div>
                <div class="form-param">
                    within <input type="text" class="form-control avanan-square inline-input words-control" ng-model="model.ui_info.builder.proximity" ng-readonly="model.is_predefined"> words of each other
                </div>
            </div>
        </div>
    </div>

    <div class="param-label">Query:</div>
    <div class="form-param">
        <textarea class="form-control avanan-square rule-query" ng-model="model.value" ng-readonly="model.ui_info.mode === 'builder' || model.is_predefined" ng-show="model.ui_info.mode !== 'password_protected'"></textarea>
        <div class="no-query-message" ng-if="model.ui_info.mode === 'password_protected'">This rule will match if file is password protected</div>
        <p ng-if="errors.value" class="error">{{errors.value}}</p>
    </div>

</div>
<div class="modal-footer">
    <button class="btn btn-danger btn-sm" ng-click="close()">{{options.closeText || 'Close'}}</button>
    <button class="btn btn-success btn-sm" ng-click="ok()">{{options.okButton || 'Ok'}}</button>
</div>
