<div class="policy-rule-edit" page>
    <content class="policy-rule-edit-content">
        <div class="widget-label">
            {{pageTitle}}
        </div>
        <div class="page-body">
            <div class="load-indicator" ng-if="loading">
                <span class="fa fa-spinner fa-pulse"></span>
            </div>
            <div class="page-content">
                <div ng-if="step === 'create'">
                    <div class="section-top">
                        <div class="section-title">SaaS and Security</div>
                        <div class="section-descr">Begin defining a new policy rule by choosing the SaaS and Security to be used</div>
                    </div>
                    <div ng-if="saasList && saasList.length" class="field-left saas-selector">
                        <span class="field-label">Choose SaaS</span>
                        <div selector-v2="model.saas" variants="saasList" dropdown-open="internal.saasSelectorOpen"></div>
                    </div>
                    <div ng-if="ruleTypes && ruleTypes.length" class="field-right rule-type-selector">
                        <span class="field-label">Choose Security</span>
                        <div selector-v2="model.ruleType" variants="ruleTypes" dropdown-open="internal.ruleTypeSelectorOpen"></div>
                    </div>
                </div>
                <div ng-if="step === 'details'">
                    <div class="section clearfix">
                        <div class="section-top">
                            <div class="section-title">Rule Status</div>
                        </div>
                        <div class="field-left">
                            <span class="field-label">Rule State</span>
                            <div selector-v2="model.state" variants="ruleStates"></div>
                            <span class="field-label">Severity</span>
                            <div selector-v2="model.security_events.severity" variants="severityTypes"></div>
                        </div>
                        <div class="field-right">
                            <span class="field-label">Rule Name</span>
                            <input type="text" class="text-input" ng-model="model.name">
                        </div>
                    </div>
                    <div class="section clearfix">
                        <div class="section-top">
                            <div class="section-title">Scope</div>
                            <label class="scope-all">
                                <input type="checkbox" ng-model="model.all" ng-disabled="!scopesAvailable">
                                <span class="custom-checkbox"></span>
                                <span>All users</span>
                            </label>
                            <div class="scopes-selector" ng-if="scopesAvailable && !model.all">
                                <div class="field-left">
                                    <span class="field-label">Identities</span>
                                    <div items-selector="scopes.available" show-filter="true"></div>
                                </div>
                                <div class="field-middle">
                                    <div class="scopes-action-btn" ng-click="scopesAdd()">Add &gt;</div>
                                    <div class="scopes-action-btn" ng-click="scopesRemove()">&lt; Remove</div>
                                    <div class="scopes-action-btn" ng-click="scopesRemoveAll()">&lt; Remove All</div>

                                </div>
                                <div class="field-right">
                                    <span class="field-label">Selected</span>
                                    <div items-selector="scopes.selected"></div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="section clearfix" ng-if="ruleTypeConfig.activeSecTypes.dlp">
                        <div class="section-top">
                            <div class="section-title">DLP Criteria</div>
                            <div class="dlp-selector">
                                <div class="field-left">
                                    <span class="field-label">DLP Rules</span>
                                    <div policy-rules-dlp-selector="model.rule.dlp_rules" dlp-rules="dlpRules"></div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="section clearfix" ng-if="ruleTypeConfig.activeSecTypes.av || ruleTypeConfig.activeSecTypes.ap">
                        <div class="section-top">
                            <div class="section-title">Security Tools</div>
                            <div class="dlp-selector">
                                <div class="field-left">
                                    <div class="apps-list av-list" ng-if="ruleTypeConfig.activeSecTypes.av">
                                        <label ng-repeat="app in activeAppsBySecType['av']" class="list-item">
                                            <div class="item-checkbox">
                                                <input type="checkbox" ng-model="internal.selectedApps[app.name]">
                                                <span class="custom-checkbox"></span>
                                            </div>
                                            <span>{{app.label}}</span>
                                        </label>
                                    </div>
                                    <div class="apps-list ap-list" ng-if="ruleTypeConfig.activeSecTypes.ap">
                                        <label ng-repeat="app in activeAppsBySecType['ap']" class="list-item">
                                            <div class="item-checkbox">
                                                <input type="checkbox" ng-model="internal.selectedApps[app.name]">
                                                <span class="custom-checkbox"></span>
                                            </div>
                                            <span>{{app.label}}</span>
                                        </label>
                                    </div>
                                </div>

                                <div class="field-right workflows-section" ng-show="ruleTypeConfig.workflows">
                                    <label class="malware-advanced-switch" ng-show="malwareAdvancedVisible()">
                                        <input type="checkbox" ng-model="internal.malwareAdvanced">
                                        <span class="custom-checkbox"></span>
                                        <span>Show advanced options</span>
                                    </label>
                                    <div class="workflows">
                                        <div class="workflow-item" ng-repeat="item in workflows" ng-show="workflowAvailable(item) && (internal.malwareAdvanced || !item.advanced)">
                                            {{item.label}}:
                                            <div selector-v2="internal.workflows[item.id]" variants="item.variants"></div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>


                    <div class="section clearfix" ng-show="actionsAvailable()">
                        <div class="section-top">
                            <div class="section-title">Remediation Workflow</div>
                            <div ng-repeat="action in actions" class="rule-action" ng-show="actionAvailable(action)">
                                <label class="rule-action-label">
                                    <input type="checkbox" ng-model="internal.actions[action.id].enabled">
                                    <span class="custom-checkbox"></span>
                                    <span>{{action.label}}</span>
                                </label>
                                <div class="action-param" ng-repeat="(paramId, param) in action.input">
                                    <input ng-if="param.type === 'string' || param.type === 'email'" type="text" class="text-input" ng-model="internal.actions[action.id].params[paramId]" placeholder="{{param.placeholder}}">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="page-actions clearfix">
                <a class="button-cancel" ng-href="{{cancelHref}}" ng-if="step === 'create' || mode !== 'create'">Cancel</a>
                <a class="button-cancel" ng-if="step === 'details' && mode === 'create'" ng-click="back()">Back</a>
                <a class="button-next" ng-disabled="nextDisabled()" ng-click="next()" ng-if="step === 'create'">Next</a>
                <a class="button-next" ng-click="save()" ng-if="step === 'details'">Save and Apply</a>
            </div>
        </div>
    </content>
</div>


