.policy-rule-edit {

  .policy-rule-edit-content {
    min-height: 100%;
    display: flex;
    flex-direction: column;

    > .widget-label {
      flex: 0 0 auto;
    }

    > .page-body {
      flex: 1 0 auto;
      display: flex;
      flex-direction: column;
      position: relative;

      > .page-content {
        flex: 1 0 auto;
      }

      > .page-actions {
        flex: 0 0 auto;
      }
    }
  }

  .load-indicator {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 40px;
  }

  .widget-label {
    margin: 20px 0 10px;
  }

  .page-body {
    border: 1px solid #c1c6d0;
    border-radius: 4px;
    background-color: #fff;
    margin-bottom: 30px;
    padding: 20px;
  }

  .section {
    border-bottom: 1px solid #eff1f3;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }

  .section-top {
    .section-title {
      color: #4688af;
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 10px;
    }
    margin-bottom: 10px;
  }

  .field-left, .field-right {
    float: left;
    width: 250px;
  }

  .field-middle {
    float: left;
    width: 80px;
    margin-left: 30px;
  }

  .field-right {
    margin-left: 140px;
  }

  .field-middle + .field-right {
    margin-left: 30px;
  }

  .saas-selector, .rule-type-selector {
    .menu-item, .selected {
      color: #484C55;
      font-weight: 600;
    }
    .menu-item.disabled {
      font-weight: normal;
    }

  }

  .saas-selector .dropdown-menu {
    max-height: 300px;
    overflow: auto;
  }


  .text-input {
    border: 1px solid #c1c6d0;
    border-radius: 3px;
    background-color: #f7f8fb;
    height: 34px;
    line-height: 32px;
    width: 100%;
    padding: 0 10px;
  }

  .field-label {
    font-weight: 600;
    margin-bottom: 7px;
    margin-top: 15px;
    display: block;
  }

  .field-label:first-child {
    margin-top: 0;
  }

  label.scope-all, label.rule-action-label {
    font-weight: normal;
    display: inline;
    margin: 0;
    max-width: none;
    cursor: pointer;
    position: relative;

    input[type="checkbox"] + .custom-checkbox {
      position: relative;
      top: -2px;
      left: -1px;
      line-height: 16px;
    }
    input[type="checkbox"] {
      margin: 0;
    }
  }

  .scopes-selector {
    margin-top: 20px;

    .filter-group {
      position: relative;
      margin-bottom: 10px;
      .text-input {
        padding-right: 24px;
      }

      .fa-search {
        position: absolute;
        right: 6px;
        top: 8px;
        color: #ccc;
        font-size: 16px;
      }
    }


    .items-list {
      border: 1px solid #c1c6d0;
      border-radius: 4px;
      background-color: #f3f5f9;
      height: 206px;
      width: 100%;
      padding: 0;
      overflow-y: auto;
    }

    .field-right .field-label {
      margin-bottom: 51px;
    }

    .field-middle {
      margin-top: 100px;
    }

    .scopes-action-btn {
      border: 1px solid #c1c6d0;
      border-radius: 3px;
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 36px;
      justify-content: center;
      cursor: pointer;
      margin-bottom: 10px;

    }
  }


  .button-cancel {
    float: left;
    background-color: #465566;
    border: 1px solid #2e3945;

    display: inline-block;
    vertical-align: middle;
    border-radius: 4px;
    cursor: pointer;
    color: #fff;
    font-size: 12px;
    padding: 8px 30px;
    font-weight: normal;
    min-width: 160px;
    text-align: center;
  }

  .button-next {
    float: right;
    background-color: #2298f0;
    border: 1px solid #1585d8;

    display: inline-block;
    vertical-align: middle;
    border-radius: 4px;
    cursor: pointer;
    color: #fff;
    font-size: 12px;
    padding: 8px 30px;
    font-weight: normal;
    min-width: 160px;
    text-align: center;

    &[disabled] {
      cursor: not-allowed;
    }
  }

  .rule-action {
    margin: 20px 0;
  }

  .action-param {
    display: inline-block;
    width: 250px;
    margin: -20px 0;
  }

  .apps-list {
    .list-item {
      display: block;
      font-weight: normal;
      margin-bottom: 8px;
      .item-checkbox {
        display: inline-block;
        position: relative;
      }
    }
  }

  .workflows-section {
    position: relative;
    width: 400px;
  }

  .malware-advanced-switch {
    font-weight: normal;
    display: block;
    position: absolute;
    top: -30px;
  }


  .workflow-item {
    .selector-v2 {
      margin-top: 5px;
    }
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
  }


}