
<div>
    <h2><span>News Summary To Tag</span> {{vm.newsSummaryToTag.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>News Summary</span></dt>
        <dd>
            <a ui-sref="news-summary-detail({id:vm.newsSummaryToTag.newsSummary.id})">{{vm.newsSummaryToTag.newsSummary.id}}</a>
        </dd>
        <dt><span>Tag</span></dt>
        <dd>
            <a ui-sref="tag-detail({id:vm.newsSummaryToTag.tag.id})">{{vm.newsSummaryToTag.tag.name}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="news-summary-to-tag-detail.edit({id:vm.newsSummaryToTag.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down"> Edit</span>
    </button>
</div>
