
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myNewsSummaryToTagLabel">Create or edit a News Summary To Tag</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.newsSummaryToTag.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.newsSummaryToTag.id" readonly />
        </div>

        <div class="form-group">
            <label for="field_newsSummary">News Summary</label>
            <select class="form-control" id="field_newsSummary" name="newsSummary" ng-model="vm.newsSummaryToTag.newsSummary" ng-options="newsSummary as newsSummary.id for newsSummary in vm.newssummaries track by newsSummary.id" required>
            </select>
        </div>
        <div ng-show="editForm.newsSummary.$invalid">
            <p class="help-block"
                ng-show="editForm.newsSummary.$error.required">
                This field is required.
            </p>
        </div>
        <div class="form-group">
            <label for="field_tag">Tag</label>
            <select class="form-control" id="field_tag" name="tag" ng-model="vm.newsSummaryToTag.tag" ng-options="tag as tag.name for tag in vm.tags track by tag.id" required>
            </select>
        </div>
        <div ng-show="editForm.tag.$invalid">
            <p class="help-block"
                ng-show="editForm.tag.$error.required">
                This field is required.
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
