<div class="policy-template-options">
    <div ng-if="!internalModel.templateSelected">
        <div ng-if="tableModel" class="avanan-table line-selection small-icons" data-table="tableModel" options="tableOptions"></div>
    </div>
    <div ng-if="internalModel.templateSelected" class="form-inline">
        <label>Template name:</label>
        <span class="template-selector" ng-click="reset()" ng-class="{'editable': internalModel.editableTemplate}">{{model.templateName}}</span>
    </div>
    <div ng-if="internalModel.templateSelected" class="form-inline">
        <label>Template description:</label>
        <span class="template-description">{{model.templateDesc}}</span>
    </div>
    <div ng-if="internalModel.templateSelected && internalModel.questions" ng-repeat="q in internalModel.questions" class="template-question">
        <label>{{q.label}}:</label>
        <div condition="q.condition" options="properties" property-types="propertyTypes"></div>
    </div>
    <div ng-if="internalModel.templateSelected && internalModel.optionalActions" ng-repeat="optional in internalModel.optionalActions" class="optional-action">
        <div nice-checkbox="optional.enabled" text="optional.label" on-change="optional.onChange()"></div>
        <div ng-if="optional.enabled" ng-repeat="question in optional.questions">
            <label>{{question.label}}:</label>
            <div form-param="question.param" ng-model="optional.action.attributes[question.id]" properties="optional.properties(propertyType)"></div>
        </div>
    </div>
    <div ng-if="feature.policyColumnsSettings && internalModel.editableTemplate && internalModel.templateSelected" widget-panel="columnsPanel" class="columns-select">
        <widget-body>
            <div policy-columns="model.columns" generate-body="generateBody()"></div>
        </widget-body>
    </div>
</div>