.policy-template-options {
  .form-inline {
    margin-top: 5px;
    margin-bottom: 5px;

    label{
      width: 150px;
      vertical-align: top;
      padding-top: 8px;
    }

    .form-control {
      width: 300px;
    }
  }
  .template-selector, .template-description{
    width: 300px;
    min-height: 32px;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #d5d7da;
    padding: 6px 12px;

    &.editable {
      cursor: pointer;
    }
  }
  .template-question {
    margin-top: 5px;
    margin-bottom: 5px;
    .condition {
      display: block;
      margin-left: 0px;
      border: none;
      .not-select, .property, .operator, .remove-button {
        display: none;
      }
      .value-selector {
        display: inline-block;
        width: 405px;
      }
      .filters > button {
        width: 27px;
      }
    }
  }
  .optional-action > div {
    margin: 5px 30px;
  }
  .nice-checkbox-text {
    font-weight: bold;
  }
  .columns-select {
    width: 400px;
    .panel .panel-body {
      overflow: visible !important;

      &.minimizing {
        overflow: hidden !important;
      }
    }
  }

  .policy-template-saas-title {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    color: #333;
    height: 45px;
    line-height: 45px;
  }

}

.data-table.avanan-table .table tr.policy-template-title-row {
  td, th, &:hover td, &:hover th, &.selected-line {
    background-color: #fff;
    cursor: default;
  }
  &.selected-line {
    td, th, &:hover td, &:hover th, td:hover, th:hover {
      background-color: #fff;
    }
  }
}
.data-table tr td .policy-template-saas-title img {
  width: 34px;
  height: 34px;
  max-width: 34px;
  margin-right: 10px;
}