
<div>
    <h2><span>News Downloadable Content Url</span> {{vm.newsDownloadableContentUrl.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Url</span></dt>
        <dd>
            <span>{{vm.newsDownloadableContentUrl.url}}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
            <span>{{vm.newsDownloadableContentUrl.description}}</span>
        </dd>
        <dt><span>News</span></dt>
        <dd>
            <a ui-sref="news-detail({id:vm.newsDownloadableContentUrl.news.id})">{{vm.newsDownloadableContentUrl.news.id}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="news-downloadable-content-url-detail.edit({id:vm.newsDownloadableContentUrl.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down"> Edit</span>
    </button>
</div>
