<div class="inline-config">
    <div ng-if="model.initialized">
        <div class="quarantine-address-error"
             ng-if="showEmptyQuarantineAddressError">Valid quarantine mailbox is required to activate inline protection</div>
        <div class="full-width-param" ng-if="!hideInlineModeSwitch">
            <label ng-class="{'disabled': model.impossible}" qtip2="model.impossibleReason">
                <input type="checkbox" ng-model="model.inlineActive" ng-change="inlineStateChanged()" ng-disabled="model.impossible">
                <span class="custom-checkbox"></span>
                <span>Activate Inline Email Protection</span>
            </label>
        </div>
        <div ng-if="model.inlineActive">
            <div class="config-label" ng-class="{'disabled': model.selectorDisabled}">{{model.label}}:
            </div>
            <div class="config-params">
                <div selector="model.fetchType" variants="typeVariants" change="fetchTypeChanged(newValue, oldValue)" select-disabled="model.selectorDisabled"></div>
                <a href='#' class="open-selector-link" ng-if="showUserSelector()" qtip2="'Click to manage selected users'"
                   ng-click="openUserSelector($event)">{{selectUsersLabel()}}</a>
            </div>
        </div>
        <div class="empty-users-error"
             ng-if="showEmptyUsersError">Requested inline protection mode requires at least 1 user to be selected</div>

    </div>
</div>