.inline-config {

  .config-label {
    display: inline-block;
    height: 100%;
    width: 200px;
    padding-top: 9px;
    padding-right: 5px;
    vertical-align: top;
    text-align: left;
    font-size: 12px;

    &.disabled {
      opacity: 0.65;
    }
  }

  .full-width-param {
    padding-right: 5px;
    vertical-align: top;
    text-align: left;
    font-size: 12px;
    line-height: 34px;
  }

  label {
    font-weight: normal;
    cursor: pointer;
  }

  label.disabled {
    color: #bbb;
    cursor: not-allowed;
  }

  .quarantine-address-error, .empty-users-error {
    font-size: 12px;
    color: #f35428;
  }


  .config-params {
    font-size: 12px;
    width: calc(100% - 200px);
    display: inline-block;
    .selector {
      display: inline-block;
      vertical-align: top;
      width: 135px;
    }
    .open-selector-link {
      line-height: 34px;
      margin-left: 10px;
      text-decoration: underline;
    }
  }
}