.selector-v2 {
  .dropdown-toggle {
    border: 1px solid #c1c6d0;
    border-radius: 4px;
    background-color: #f7f8fb;//#f5f6f9;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 34px;
    cursor: pointer;
    width: 100%;
    color: rgba(52, 57, 66, 0.902);

    .selected {
      flex: 1 1 auto;
      height: 100%;
      display: flex;
      align-items: center;
      margin-left: 10px;
      margin-right: 10px;
      overflow: hidden;
      white-space: nowrap;
      > .linked-text {
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    .chevron {
      flex: 0 0 auto;
      border-left: 1px solid #c1c6d0;
      width: 34px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &.open > .dropdown-toggle {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .dropdown-menu {
    width: 100%;
    border: 1px solid #c1c6d0;
    box-shadow: none;
    background-color: #f7f8fb;
    padding: 0;
    margin: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: none;
  }

  .menu-item {
    height: 34px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    cursor: pointer;
    color: rgba(52, 57, 66, 0.902);
    white-space: nowrap;
    > .linked-text {
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
    }


    &:not(:first-child) {
      border-top: 1px solid #e3e6eb;
    }
    &:last-child {
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
    }

    &:hover {
      background-color: #e8eef4;
      color: #4688af;
    }

    &.disabled {
      font-style: italic;
      color: #8d9bb3;
      cursor: not-allowed;
    }
  }

  .no-variants-caption {
    font-style: italic;
  }
}