<div class="selector-v2 dropdown" dropdown is-open="isOpen">
    <div class="dropdown-toggle" dropdown-toggle>
        <div class="selected" linked-text="getLabel(model)"></div>
        <div class="chevron">
            <div class="fa fa-chevron-down"></div>
        </div>
    </div>
    <div class="dropdown-menu" role="menu">
        <div ng-repeat="variant in variants" class="menu-item" ng-class="{disabled: variant.disabled}" ng-click="setVariant($event, variant)" linked-text="getVariantLabel(variant)"></div>
        <div ng-if="!variants.length && noVariantsCaption" class="menu-item no-variants-caption" linked-text="noVariantsCaption"></div>
    </div>
</div>
