.dashboard-events-statistic {
  .widget-label {
    flex-grow: 0;
  }

  .sub-widgets {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;

    .sub-widget {
      flex: 1 1;
      border: 1px solid #c1c6d0;
      border-radius: 3px;
      background-color: white;
      margin-left: 20px;
      padding: 10px 10px 5px;

      .sub-widget-label {
        font-size: 14px;
        line-height: 14px;
        font-weight: 600;
        color: #4688af;
      }

      .big-counts {
        margin-top: 16px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 14px;
        line-height: 14px;
        color: #343942;

        .count-label {
          display: inline-block;
        }

        .count {
          display: inline-block;
          font-weight: 800;
        }

        .left .count {
          color: #ed1c24;
          font-size: 20px;
        }
      }

      .remediated {
        margin-top: 26px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 12px;
        line-height: 12px;
        font-weight: 600;
        text-transform: uppercase;
        color: #80858c;

        .remediated-events-count {
          color: #1cb834;
          font-size: 16px;
        }
      }

      .remediated-progress {
        margin-top: 8px;
        border-radius: 2px;
        height: 4px;
        width: 100%;
        position: relative;
        overflow: hidden;
        background-color: rgb(229, 34, 37);
        .background {
          position: absolute;
          height: 100%;
          width: 100%;
          background: rgb(28, 184, 52);
        }
      }

      .counts-table {
        margin-top: 11px;
        width: 100%;

        td {
          height: 23px;
          border-top: 1px solid #dfe3e9;
          vertical-align: middle;
        }

        .saas-label {
          color: #343942;
        }

        .total-label, .resolution-label {
          color: #6e7176;
          width: 50px;
          text-align: right;
        }

        .total-count, .resolution-count {
          color: #343942;
          font-weight: 600;
          width: 40px;
          text-align: right;
        }

        .disabled {
          .saas-label {
            color: #adaeb1;
          }
          .total-label, .resolution-label, .total-count, .resolution-count {
            opacity: 0;
            pointer-events: none;
          }
        }
      }

      &:first-child {
        margin-left: 0px;
      }
    }
  }
}