<div class="dashboard-events-statistic" widget="loadData()" tick="30000" api="widgetApi">
    <div class="widget-label">Security events</div>
    <div class="sub-widgets">
        <div ng-repeat="widget in widgets" class="sub-widget">
            <div class="sub-widget-label">{{widget.label}}</div>
            <div class="big-counts">
                <div class="left" ng-if="widget.leftCountLabel">
                    <div class="count-label">{{widget.leftCountLabel}}</div>
                    <a class="count" ng-href="{{widget.leftHref}}">{{widget.leftCount}}</a>
                </div>
                <div class="right" ng-if="widget.rightCountLabel">
                    <div class="count-label">{{widget.rightCountLabel}}</div>
                    <a class="count" ng-href="{{widget.rightHref}}">{{widget.rightCount}}</a>
                </div>
            </div>
            <div class="remediated">
                <div class="remediated-label">
                    Remediated
                    <a class="remediated-events-count" ng-href="{{widget.remediatedHref}}">{{widget.remediatedCount}}</a>
                </div>
                <div class="remediated-count">{{widget.remediated}}%</div>
            </div>
            <div class="remediated-progress">
                <div class="background" ng-style="{'left': (widget.remediated - 100) + '%'}"></div>
            </div>
            <table class="counts-table">
                <tbody>
                    <tr ng-repeat="saas in widget.saass" ng-class="{disabled: saas.disabled}">
                        <td class="saas-label">{{saas.label}}</td>
                        <td class="total-label">Total:</td>
                        <td class="total-count"><a ng-href="{{saas.totalHref}}">{{saas.totalCount}}</a></td>
                        <td class="resolution-label">{{saas.resolutionLabel}}:</td>
                        <td class="resolution-count"><a ng-href="{{saas.resolutionHref}}">{{saas.resolutionCount}}</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>