
<div>
    <h2><span>News To Language</span> {{vm.newsToLanguage.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>News</span></dt>
        <dd>
            <a ui-sref="news-detail({id:vm.newsToLanguage.news.id})">{{vm.newsToLanguage.news.id}}</a>
        </dd>
        <dt><span>Language</span></dt>
        <dd>
            <a ui-sref="language-detail({id:vm.newsToLanguage.language.id})">{{vm.newsToLanguage.language.name}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="news-to-language-detail.edit({id:vm.newsToLanguage.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down"> Edit</span>
    </button>
</div>
