<div class="widget-selector">
    <!--Common widgets-->
    <div ng-if="model.type === 'donut'">
        <div donut="model" ng-style="model.style" ng-class="model.class"></div>
    </div>
    <div ng-if="model.type === 'flot'">
        <div flot="model" ng-style="model.style" ng-class="model.class"></div>
    </div>
    <div ng-if="model.type === 'vector-map'">
        <div vector-map="model" ng-style="model.style" ng-class="model.class"></div>
    </div>
    <div ng-if="model.type === 'heat-map'">
        <div heat-map="model" ng-style="model.style" ng-class="model.class"></div>
    </div>
    <div ng-if="model.type === 'data-table'">
        <div data-table="model" options="model.options" ng-style="model.style" ng-class="model.class"></div>
    </div>
    <div ng-if="model.type === 'info'">
        <div info="model" ng-style="model.style" ng-class="model.class"></div>
    </div>
    <div ng-if="model.type === 'meta-info'">
        <div meta-info="model" ng-style="model.style" ng-class="model.class"></div>
    </div>
    <div ng-if="model.type === 'multi-widget'">
        <div multi-widget="model" ng-style="model.style" ng-class="model.class"></div>
    </div>
    <div ng-if="model.type === 'actions'">
        <div actions="model" ng-style="model.style" ng-class="model.class"></div>
    </div>
    <div ng-if="model.type === 'combo-box'">
        <div combo-box="model" ng-style="model.style" ng-class="model.class"></div>
    </div>
    <div ng-if="model.type === 'slider'">
        <div slider="model" ng-style="model.style" ng-class="model.class"></div>
    </div>
    <div ng-if="model.type === 'entity-debug'">
        <div entity-debug="model" ng-style="model.style" ng-class="model.class"></div>
    </div>
    <div ng-if="model.type === 'key-value-graph'">
        <div key-value-graph="model" options="model.options" ng-style="model.style" ng-class="model.class"></div>
    </div>
    <!--Security stack widgets-->
    <div ng-if="model.type === 'security-matrix'">
        <div security-matrix="model" ng-style="model.style" ng-class="model.class"></div>
    </div>
    <div ng-if="model.type === 'security-matrix-v2'">
        <div security-matrix-v2="model" ng-style="model.style" ng-class="model.class"></div>
    </div>
    <!--App-store widgets-->
    <div ng-if="model.type === 'store-item'">
        <div store-item="model" ng-style="model.style" ng-class="model.class"></div>
    </div>
    <div ng-if="model.type === 'wizard-item'">
        <div wizard-item="model" ng-style="model.style" ng-class="model.class"></div>
    </div>
    <div ng-if="model.type === 'wizard-item-v2'">
        <div wizard-item-v2="model" ng-style="model.style" ng-class="model.class"></div>
    </div>
    <div ng-if="model.type === 'inline-config'">
        <div inline-config="model" ng-style="model.style" ng-class="model.class"></div>
    </div>
    <!--Scan monitor widgets-->
    <div ng-if="model.type === 'entity-scan-status'">
        <div entity-scan-status="model" ng-style="model.style" ng-class="model.class"></div>
    </div>
</div>