
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="mySiteChatgroupDomainLabel">Create or edit a Site Chatgroup Domain</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.siteChatgroupDomain.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.siteChatgroupDomain.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_domainId">Domain Id</label>
            <input type="text" class="form-control" name="domainId" id="field_domainId"
                    ng-model="vm.siteChatgroupDomain.domainId"
                    required/>
            <div ng-show="editForm.domainId.$invalid">
                <p class="help-block"
                    ng-show="editForm.domainId.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_domainInfo">Domain Info</label>
            <input type="text" class="form-control" name="domainInfo" id="field_domainInfo"
                    ng-model="vm.siteChatgroupDomain.domainInfo"
                    required/>
            <div ng-show="editForm.domainInfo.$invalid">
                <p class="help-block"
                    ng-show="editForm.domainInfo.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_firstUsedDate">First Used Date</label>
                <div class="input-group">
                    <input id="field_firstUsedDate" type="text" class="form-control" name="firstUsedDate" datetime-picker="{{dateformat}}" ng-model="vm.siteChatgroupDomain.firstUsedDate" is-open="vm.datePickerOpenStatus.firstUsedDate"
                    required/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('firstUsedDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.firstUsedDate.$invalid">
                <p class="help-block"
                    ng-show="editForm.firstUsedDate.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.firstUsedDate.$error.ZonedDateTimelocal">
                    This field should be a date and time.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_lastUsedDate">Last Used Date</label>
                <div class="input-group">
                    <input id="field_lastUsedDate" type="text" class="form-control" name="lastUsedDate" datetime-picker="{{dateformat}}" ng-model="vm.siteChatgroupDomain.lastUsedDate" is-open="vm.datePickerOpenStatus.lastUsedDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('lastUsedDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>

        <div class="form-group">
            <label for="field_siteChatgroup">Site Chatgroup</label>
            <select class="form-control" id="field_siteChatgroup" name="siteChatgroup" ng-model="vm.siteChatgroupDomain.siteChatgroup" ng-options="siteChatgroup as siteChatgroup.originalName for siteChatgroup in vm.sitechatgroups track by siteChatgroup.id" required>
            </select>
        </div>
        <div ng-show="editForm.siteChatgroup.$invalid">
            <p class="help-block"
                ng-show="editForm.siteChatgroup.$error.required">
                This field is required.
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
