
<div>
    <h2><span>Site Chatgroup Domain</span> {{vm.siteChatgroupDomain.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Domain Id</span></dt>
        <dd>
            <span>{{vm.siteChatgroupDomain.domainId}}</span>
        </dd>
        <dt><span>Domain Info</span></dt>
        <dd>
            <span>{{vm.siteChatgroupDomain.domainInfo}}</span>
        </dd>
        <dt><span>First Used Date</span></dt>
        <dd>
            <span>{{vm.siteChatgroupDomain.firstUsedDate | date:'medium'}}</span>
        </dd>
        <dt><span>Last Used Date</span></dt>
        <dd>
            <span>{{vm.siteChatgroupDomain.lastUsedDate | date:'medium'}}</span>
        </dd>
        <dt><span>Site Chatgroup</span></dt>
        <dd>
            <a ui-sref="site-chatgroup-detail({id:vm.siteChatgroupDomain.siteChatgroup.id})">{{vm.siteChatgroupDomain.siteChatgroup.originalName}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="site-chatgroup-domain-detail.edit({id:vm.siteChatgroupDomain.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down"> Edit</span>
    </button>
</div>
