.side-menu-v2 .user-menu-v2 {
  .user-info {
    padding: 30px 34px 30px 34px;
    color: #fff;
    background-color: #0d3d72;
    cursor: pointer;
    position: relative;
    font-weight: 600;
  }

  .display-name {
    max-width: 145px;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .admin-label {
    font-size: 10px;
  }

  .toggle-icon {
    position: absolute;
    right: 0;
    top: 0;
    padding-right: 15px;
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 8px;
  }

  &.dropdown > .dropdown-menu {
    right: 0;
    left: auto;
  }
}