<div class="user-menu-v2 dropdown" dropdown>
    <div class="user-info" data-toggle="dropdown" >
        <div class="display-name" qtip2="tooltip">{{displayName}}</div>
        <div ng-if="isAdmin()" class="admin-label">Admin</div>
        <div class="toggle-icon"><span class="fa fa-chevron-down"></span></div>
    </div>
    <ul class="dropdown-menu">
        <li>
            <a tabindex="-1" href="#" class="main-link" ng-click="logout($event)">
                <i class="fa fa-lock fa-lg"></i> Log out
            </a>
        </li>
    </ul>
</div>