.map-label {
  font-weight: bold;
  border: none;
}

.jvectormap-tip {
  background: #2980b9;
  border: none;
}

.pretty-zoom {
  .jvectormap-zoomin, .jvectormap-zoomout {
    padding: 8px 0px 0px 1px;
    width: 28px;
    height: 28px;
    background: #FFF;
    color: #33414e;
    font-weight: bold;
    font-size: 16px;
    border: 1px solid #e3e3e3;
    border-radius: 0px;
    vertical-align: middle;
  }

  .jvectormap-zoomout {
    top: 38px;
    border-top: none;
  }
}

.leaflet-control-attribution {
  display: none;
}