<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">×</button>
    <h4>Accept Terms Of Service</h4>
</div>
<div class="modal-body terms-modal">
    <div class="terms-modal-text-container">
        <input type="checkbox" ng-model="accepted">
        <span class="custom-checkbox"></span>
        I Accept <a ng-href="{{termsUrl}}" target="_blank">Terms Of Service</a>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-sm btn-danger" ng-click="cancel()">Cancel</button>
    <button class="btn btn-success btn-sm" ng-click="ok()" ng-disabled="!accepted">Continue</button>
</div>
