.terms-modal {
  font-size: 18px;
  font-weight: 200;
  color: #00467f;
  text-align: center;

  .terms-modal-text-container {
    display: inline-block;
    position: relative;
  }

  input[type="checkbox"] + .custom-checkbox {
    margin-bottom: 3px;
  }
}