<div class="inline-list">
    <div ng-repeat="element in model.data | limitTo: expanded() track by $index " linked-text="element" class="inline-list-expanded" qtip2="elementTooltip(element)"></div>
    <div ng-show="model.data.length > expanded()" class="dropdown" dropdown>
        <div class="dropdown-toggle" dropdown-toggle ng-click="buttonClicked()" ng-if="!model.moreInPopup">
            <div linked-text="model.countText"></div>
            <span class="fa fa-chevron-down"></span>
        </div>
        <div ng-if="model.moreInPopup" linked-text="model.countText" ng-click="openMore()" class="more-in-popup"></div>
        <div ng-if="showDropdown" class="dropdown-menu" role="menu">
            <div ng-repeat="data in initialData track by $index" ng-if="$index >= expanded()" linked-text="data" class="inline-list-dropdown-row"></div>
            <div ng-if="initialData.length < model.data.length" class="inline-list-more" ng-click="openMore()">Show more...</div>
        </div>
    </div>
</div>