.inline-list {
  .dropdown-toggle > span.fa {
    font-size: 8px;
    position: absolute;
    right: 5px;
    top: 5px;
  }

  .dropdown > .dropdown-toggle {
    padding-right: 20px;
    white-space: nowrap;
    width: 100%;
    display: block;
    cursor: pointer;
  }

  .more-in-popup {
    padding-right: 20px;
    white-space: nowrap;
    width: 100%;
    display: block;
    cursor: pointer;
    text-decoration: underline;
  }

  .dropdown-menu {
    padding-left: 10px;
    padding-right: 10px;
    left: auto;
    right: 0;
  }

  &.medium-width .dropdown-menu {
    width: 250px;
  }
  
  &.large-width .dropdown-menu {
    width: 500px;
  }

  .inline-list-no-wrap &.medium-width .dropdown-menu {
    width: auto;
    white-space: nowrap;
  }

  &.point-prefix .dropdown-menu .linked-text:before {
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f111";
    font-size: 6px;
    vertical-align: middle;
  }

  .dropdown-align-left & .dropdown-menu {
    left: 0;
    right: auto;
  }
  
  .inline-list-more {
    cursor: pointer;
    font-weight: 600;
    text-decoration: underline;
  }

  &.dropdown-auto-one-line .dropdown-menu {
    width: auto;
    .inline-list-dropdown-row {
      white-space: nowrap;
    }
  }
}

