
<div>
    <h2><span>Author Name</span> {{vm.authorName.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Original Name</span></dt>
        <dd>
            <span>{{vm.authorName.originalName}}</span>
        </dd>
        <dt><span>English Name</span></dt>
        <dd>
            <span>{{vm.authorName.englishName}}</span>
        </dd>
        <dt><span>Author</span></dt>
        <dd>
            <a ui-sref="author-detail({id:vm.authorName.author.id})">{{vm.authorName.author.originalName}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="author-name-detail.edit({id:vm.authorName.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down"> Edit</span>
    </button>
</div>
