<div class="data-table">
    <ul ng-if="!options.disableTop && options.pagination !== undefined && model.pagination.total > 1" class="pagination pagination-xs m-top-none">
        <li ng-repeat="page in pages"
            ng-class="{'active': page.active, 'disabled': !page.enabled}">
            <a ng-href="#" ng-click="paginationClicked($event, page)">{{page.title}}</a>
        </li>
    </ul>
    
    <div ng-if="options.pagination.filter !== undefined || options.infoText || getActions('dropdown-button') || getActions('button') || getActions('group-button') || buttons('main').length || model.info || model.toggle" class="top-left form-inline">
        <input ng-if="options.pagination.filter !== undefined" ng-model="options.pagination.filter" type="text" class="form-control filter" placeholder="Filter by">
    
        <div ng-if="getActions('dropdown-button')" class="dropdown-actions dropdown" dropdown>
            <button class="btn panel-btn btn-default dropdown-toggle form-control" dropdown-toggle>Actions <span class="fa fa-chevron-down"></span></button>
            <ul ng-if="getActions('dropdown-button').length" class="dropdown-menu" role="menu">
                <li ng-repeat="action in getActions('dropdown-button')" ng-class="{'dropdown-submenu': action.submenus}">
                    <a href="#" ng-click="executeAction($event, action)" ng-class="{'disabled-link': !actionActive(action)}">{{action.label}}</a>
                    <ul ng-if="action.submenus" class="dropdown-menu">
                        <li ng-repeat="subaction in action.submenus">
                            <a href="#" ng-click="executeAction($event, subaction)" ng-class="{'disabled-link': !actionActive(subaction)}">{{subaction.label}}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        
        <div ng-if="buttons('main')" widget-panel-buttons="buttons('main')" class="dropdown-actions widget-panel-buttons"></div>

        <div ng-if="options.infoText" linked-text="options.infoText" class="display-inline-block"></div>
    
        <span ng-if="model.info" class="table-info">{{model.info}}</span>
    
        <div ng-if="options.optionalFilter" class="button-columns" dropdown>
            <i class="multiselect fa fa-columns btn" dropdown-toggle></i>
            <div select-dropdown="options.optionalFilter"></div>
        </div>
    
        <div ng-if="model.toggle" class="toggle-button">
            <div ng-repeat="button in model.toggle" class="panel-btn btn btn-blue" ng-model="options.toggleState" btn-radio="button.value"><div linked-text="button.text"></div></div>
        </div>
        <div ng-if="getActions('button')" class="button-actions">
            <div ng-repeat="action in getActions('button')" class="panel-btn btn btn-default" ng-disabled="!actionActive(action)" ng-click="executeAction($event, action)" ng-style="action.style" ng-class="action.class">{{action.label}}</div>
        </div>
    
        <div ng-if="getActions('group-button')" class="button-actions">
            <div ng-repeat="action in getActions('group-button')" class="group-button dropdown-actions dropdown" dropdown>
                <button class="panel-btn btn btn-default dropdown-toggle form-control" dropdown-toggle>{{action.label}} <span class="fa fa-chevron-down"></span></button>
                <ul class="dropdown-menu" role="menu">
                    <li ng-repeat="subaction in action.submenus">
                        <a href="#" ng-click="executeAction($event, subaction)" ng-class="{'disabled-link': !actionActive(subaction)}">{{subaction.label}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="table-wrapper" ng-class="{'scroll': options.bodyScroll, 'no-header': options.noHeader, 'dropdown-column-headers':  options.dropdownHeader, 'highlight-column-mode': options.orderDisplayMode ==='highlight-column'}">
        <table class="general-table table table-borderless table-striped table-condensed table-hover">
            <thead>
            <tr>
                <th ng-if="model.options.expandable"></th>
                <th ng-if="model.options.checkboxes" class="text-center table-checkbox">
                    <input ng-if="!model.options.singleSelection && !model.options.disableSelectAll" type="checkbox" ng-model="model.globalSelection" ng-click="updateSelection()">
                    <span ng-if="!model.options.singleSelection && !model.options.disableSelectAll" class="custom-checkbox"></span>
                </th>
                <!--Dirty fast fix by looking columnsOrder in two different path. By some reason model of widget-selector table is different than 'standalone' tables (that is correct)-->
                <th ng-repeat="columnId in (model.columnsOrder || model.options.columnsOrder || model.autoOrder)" ng-if="isColumnVisible(model.idToColumn[columnId])" ng-style="model.idToColumn[columnId].style" ng-class="model.idToColumn[columnId].class"
                    dnd="model.idToColumn[columnId].dnd" column-header="model.idToColumn[columnId]" table-options="options" table-model="model" change-columns-filters="changeColumnsFilters(filter, value)" dropdown-class="columnDropdownClass(model.columns, $index, columnId)"></th>
            </tr>
            </thead>
            <tbody>
                <tr ng-if="options.bodyScroll && !getRows().length" class="width-helper"></tr>
                <tr ng-repeat="(row, line) in getRows()" ng-class="getLineClass(row, line)" table-row="model" row="row" line="line" line-click="lineClick(line)" get-text="getText(line, index)" line-selected="lineSelected(line)" is-column-visible="isColumnVisible(column)"></tr>
            </tbody>
        </table>
    </div>

    <div class="bottom-container" ng-if="options.bottomInfoText || showBottomPerPageSelector() || (!options.disableBottom && options.pagination != undefined && (model.pagination.total > 1 || model.pagination.haveNext))">
        <div ng-if="options.bottomInfoText" linked-text="options.bottomInfoText" class="bottom-info-text"></div>

        <ul ng-if="!options.disableBottom && options.pagination != undefined && (model.pagination.total > 1 || model.pagination.haveNext)" class="pagination pagination-xs pagination-bottom">
            <li><span class="pagination-custom-element">
            Page:
            <input type="text" ng-model="customPage.value"/>
            </span>
            </li>
            <li><a ng-href="#" ng-click="paginationJump($event)">Jump</a></li>
        </ul>
        <ul ng-if="!options.disableBottom && options.pagination != undefined && (model.pagination.total > 1 || model.pagination.haveNext)" class="pagination pagination-xs pagination-bottom">
            <li ng-repeat="page in pages"
                ng-class="{'active': page.active, 'disabled': !page.enabled}">
                <a ng-href="#" ng-click="paginationClicked($event, page)">{{page.title}}</a>
            </li>
        </ul>

        <ul ng-if="showBottomPerPageSelector()" class="pagination pagination-xs pagination-bottom">
            <li><span>Per page: </span></li>
            <li ng-repeat="amount in pageSizes"
                ng-class="{'active': amount == options.pagination.pageSize}">
                <a ng-href="#" ng-click="paginationSetPageSize($event, amount)">{{amount}}</a>
            </li>
        </ul>
    </div>

    <div ng-if="getActions('bottom')" class="button-actions">
        <div ng-repeat="action in getActions('bottom')" class="panel-btn btn btn-default" ng-disabled="!actionActive(action)" ng-click="executeAction($event, action)" ng-style="action.style" ng-class="action.class">{{action.label}}</div>
    </div>

    <div class="clearfix"></div>
</div>
