.data-table {
  font-size: 13px;
  overflow: visible;
  .table {
    margin-bottom: 0px;
  }
  .table-wrapper {
    width: 100%;
    clear: both;
  }
  .table thead tr th {
    font-size: 18px;
    font-weight: 300;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .table-wrapper.no-header thead {
    display: none;
  }
  
  .table-wrapper.scroll {
    //opacity: 0;
    
    position: relative;
    &.show-scroll {
      opacity: 1;
      width: 100%;
      > table {
        // position: relative;
        display: block;
        overflow: hidden;
        > thead {
          display: block;
          width: 100%;
          overflow: visible;
          > tr > th {
            position: static;
            .dropdown-menu {
              top: auto;
              left: auto;
              margin-top: 7px;
              &.dropdown-right {
                right: auto;
              }
              &.dropdown-left {
                margin-left: -5px !important;
              }
            }
          }
        }
        > tbody {
          width: 100%;
          display: block;
          overflow: auto;
          height: 200px;
          .width-helper {
            display: block;
            height: 1px;
          }
          tr td {
            word-wrap: break-word;
          }
        }
      }
    }
  }

  .table-checkbox {
    width: 25px;
    position: relative;
  }

  .table tfoot tr td, .table tfoot tr th, .table thead tr td, .table thead tr th {
    background-color: #e9e9e9;
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .table-borderless tbody tr td, .table-borderless tbody tr th {
    border-top-width: 0
  }

  .table tbody + tbody, .table tbody tr td, .table tbody tr th, .table tfoot tr td, .table tfoot tr th, .table thead tr td, .table thead tr th, .table-bordered, .table-bordered tbody tr td, .table-bordered tbody tr th, .table-bordered tfoot tr td, .table-bordered tfoot tr th, .table-bordered thead tr td, .table-bordered thead tr th {
    border-color: #e9e9e9
  }

  .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #fcf8e3
  }

  tbody .btn {
    padding: 1px 5px;
    margin: 1px 0px;
    background-color: #EEE;
    box-shadow: 0px 1px 0px #D9D9D9;
    border-color: #D9D9D9;
    border-radius: 0px;

    &:hover {
      background-color: #FFF;
    }

    &.btn-in-table {
      height: 27px;
      border: 0;
      font-size: 11px;
      font-weight: 600;
      border-radius: 2px;
      box-shadow: none;
      text-decoration: none;
      padding: 6px 12px;

      &.small-btn {
        height: 20px;
        font-size: 9px;
        padding: 4px 12px;
      }
      &.btn-blue {
        background-color: #2980b9;
        color: #fff;
      }
      &.btn-red {
        background-color: #f35428;
        color: #fff;
      }
    }
  }

  td > div {
    display: inline-block;
  }

  .panel-actions li {
    height: 30px;
    label {
      display: inline-block;
    }
  }

  .pagination {
    float: right;
    margin: 10px;
    
    &.pagination-bottom {
      margin: 5px 0 0 15px;
    }
  }

  .top-left {
    float: left;
    margin: 10px 20px;

    .button-actions {
      display: inline-block;
      .btn {
        margin-left: 5px;
      }
    }

    .dropdown-actions {
      display: inline-block;
      
      .panel-btn.btn {
        margin-left: 5px;
        width: 120px;
      }
    }

    .toggle-button {
      margin-left: 5px;
      display: inline-block;
    }

    .table-info {
      font-size: 14px;
      font-weight: bold;
      margin-left: 20px;
    }

    .group-button {
      .dropdown-menu {
        left: auto;
        right: 0;
      }
    }

    .button-columns {
      float: right;
      position: relative;

      .dropdown-menu {
        right: 0;
        left: auto;
      }
    }
  }

  &.small-icons {
    td img {
      width: 20px;
      height: 20px;
      max-width: 20px;
    }
  }

  &.light {
    .table {
      th.drag-active {
        color: red !important;
      }
      th.drag-hover {
        color: blue !important;
      }
      tfoot tr td, tfoot tr th, thead tr td, thead tr th {
        background-color: #FFFFFF;
        padding-top: 0px;
        padding-bottom: 7px;
        font-size: 12px;
        font-weight: bold;
      }

      tr {
        border: none;
        border-bottom: 1px solid #d5d7da;
        background-color: #FFF;

        &:hover td {
          background-color: #f7f7f8;
        }

      }
    }
  }

  &.vertical-middle {
    .table td {
      vertical-align: middle;
    }
  }

  &.medium-icons {
    img.row-icon {
      max-width: 40px;
      max-height: 40px;
      min-width: 40px;
      min-height: 40px;
    }
  }

  &.high-light-new {
    .table tr {
      &:not(.new) td {
        -webkit-transition: background-color 500ms ease-out 500ms;
        -moz-transition: background-color 500ms ease-out 500ms;
        -o-transition: background-color 500ms ease-out 500ms;
        transition: background-color 500ms ease-out 500ms;
      }

      &.new td {
        background-color: #f39c12;
      }
    }
  }
  
  &.left-pagination {
    .pagination {
      float: left;
    }
  }

  &.avanan-table {
    .top-left {
      float: none;
      width: 100%;
      margin: 0px 0px 10px 0px;

      .filter {
        height: 28px;
        width: 170px;
        border: 1px solid #d5d7da;
        border-radius: 0px;
      }

      .dropdown-actions .panel-btn.btn {
        width: 90px;
        height: 28px;
        padding-left: 6px;
        padding-right: 6px;
        border: 1px solid #2980b9;
        border-radius: 2px;
        color: #2980b9;
        text-align: left;
        font-size: 11px;
        > .fa, > div > .fa {
          position: absolute;
          right: 4px;
          top: 10px;
          font-size: 8px;
        }
      }

      .button-actions {
        float: right;

        > .panel-btn.btn {
          width: 127px;
          height: 28px;
          padding-top: 7px;
          background-color: #2980b9;
          color: #fff;
          font-weight: 600;
          font-size: 11px;
          border: 0px;
          border-radius: 2px;
          margin-bottom: 7px;
        }
      }
    }

    .toggle-button {
      float: right;
      > div:nth-child(1n+2) {
        margin-left: 10px;
      }
    }

    .table {
      th.drag-hover {
        box-shadow: inset 0px 0px 2px 1px #434a54;
        -webkit-box-shadow: inset 0px 0px 2px 1px #434a54;
        -moz-box-shadow: inset 0px 0px 2px 1px #434a54;
      }
      
      tfoot tr td, tfoot tr th, thead tr td, thead tr th {
        background-color: #f5f6f6;
        padding-top: 9px;
        padding-bottom: 7px;
        font-size: 12px;
        font-weight: bold;
      }

      tr {
        td {
          vertical-align: middle;
          word-break: break-word;
          
          &.wide-column {
            height: 46px;
          }
        }
        border: none;
        border-bottom: 1px solid #d5d7da;
        background-color: #FFF;

        &:hover td {
          background-color: #f0f0f0;
        }

        &:nth-child(2n) {
          background-color: #f9f9fa;
        }
      }

      .custom-checkbox {
        width: 12px;
        height: 12px;
        border: 1px solid #aaaaaa;
        border-radius: 0px;
        font-size: 10px !important;
      }
      input[type="checkbox"]:checked + .custom-checkbox:before {
        font-size: 10px;
        display: block;
        margin-top: -2px;
        margin-left: 1px;
      }
    }

    &.line-selection {
      tr {
        cursor: pointer;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        &.selected-line, &.selected-line td {
          background-color: #2980b9;
          color: #ffffff;

          &:hover {
            background-color: #2980b9;
            color: #ffffff;
          }
        }
      }
    }
  }

  .one-line-date {
    width: 140px;
  }

  .expand-button {
    cursor: pointer;
  }



  &.meta-like {
    thead {
      display: none;
    }
    tr > td:first-child {
      width: 200px;
    }

    td {
      font-size: 12px;
      padding: 0;
    }

    .table {
      margin-bottom: 0;
    }

    &.light .table tr {
      border-bottom: none;
      &:hover td {
        background-color: #fff;
      }
    }
  }
  
  .aspect {
    &.positive {
      color: green;
    }
    &.negative {
      color: red;
    }
  }
}
td.file-security-app-icon {
  width: 120px;
}

.file-security-app-icon-container {
  display: inline-block;
  vertical-align: middle;
}

.file-security-app-icon {
  img {
    max-width: 110px;
  }

  .app-img-with-label {
    display: block;
    width: 110px;
    overflow:hidden;
    position: relative;
    min-height: 44px;
    text-align: left;
    line-height: 44px;

    &.beta-app-img:after {
      content: 'BETA';
      position: absolute;
      top: 5px;
      right: 0;
      font-weight: bold;
      font-size: 9px;
      background-color: #2980b9;
      color: #fff;
      text-transform: uppercase;
      padding: 1px 24px;
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.75);
      text-align: center;
      transform: translateY(3px) translateX(20px) rotate(40deg);
      line-height: normal;
    }

    &.expired-app-img:after {
      content: 'EXPIRED';
      position: absolute;
      top: 5px;
      right: 0;
      font-weight: bold;
      font-size: 9px;
      background-color: #f35428;
      color: #fff;
      text-transform: uppercase;
      padding: 1px 24px;
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.75);
      text-align: center;
      transform: translateY(5px) translateX(24px) rotate(40deg);
      line-height: normal;
    }
  }
}


.file-security-stack-table {
  table {
    margin-bottom: 0;
    display: block;
    width: 100%;
  }
  .table tbody tr {
    border: none;
    border-bottom: 1px solid #ccc;
    display: block;
    width: 100%;
    background-color: #fff;

    &.first-in-pair {
      border-bottom: none;
    }
  }

  tbody {
    display: block;
    width: 100%;
  }

  td {
    display: inline-block;
  }

  .table tbody tr td, .table tbody tr td:hover, .table tbody tr:hover td {
    background-color: #fff;
  }
  thead {
    display: none;
  }

  .file-security-status-icon {
    width: 38px;
    vertical-align: middle;
  }

  .file-security-findings-column {
  }
  &.data-table td.file-security-attachment-name {
    width: calc(100% - 78px);
  }

  &.data-table td.file-security-findings-column {
    white-space: nowrap;
    width: calc(100% - 158px);

    & > div {
      display: block;
      width: 100%;

      .multi-list-container {
        display: block;
        width: 100%;

        & > div.linked-text {
          display: flex;
          width: 100%;

          .inline-list {
            min-width: 100px;
            display: inline-block;
            vertical-align: top;
            .dropdown-menu {
              width: auto;
              min-width: 250px;
              max-width: calc(100% + 145px);
              overflow: auto;
              max-height: 300px;
            }

            .inline-list-expanded {
              white-space: nowrap;
              text-overflow: ellipsis;
              overflow: hidden;
              width: 100%;
            }
            .inline-list-dropdown-row {
              overflow: hidden;
              text-overflow: ellipsis;
            }

            &:nth-child(2) {
              margin-left: 5px;
            }
          }
        }
      }
    }

    .pdf-reports-links-container {
      .dropdown-menu {
        left: 0;
        right: auto;
        max-width: 100%;
        .inline-list-dropdown-row  {
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      .dropdown-toggle {
        & > div {
          display: inline;
        }
        & > .fa {
          position: relative;
          top: -1px;
          left: 3px;
          right: auto;
        }
      }
    }

    .smart-phish-links-container {
      text-align: right;
      .dropdown-menu {
        left: auto;
        right: 0;
        .inline-list-dropdown-row  {
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      .dropdown-toggle {
        padding-right: 0;
        & > div {
          display: inline;
        }
        & > .fa {
          position: relative;
          top: -1px;
          left: 3px;
          right: auto;
        }
      }
    }

    .all-scan-additional-links {
      display: block;
      float: right;
    }
    .all-scan-download-links {
      padding-top: 5px;
      display: block;
      float: left;
    }
  }

  .second-row-data {
    white-space: normal;
    width: calc(100% + 120px);
    margin-left: -80px;
    .section-title {
      font-weight: bold;
    }
    .sub-status {
      width: 14px;
    }
  }

}

.avanan-ap-links-table {
  .table td > div {
    max-width: 500px;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
}

.missing-columns-data-line {
  display: block;
  white-space: nowrap;
  margin-bottom: 3px;
  font-size: 12px;
}

.missing-columns-data-label {
  width: 150px;
  display: inline-block;
  word-break: break-all;
  white-space: normal;
  vertical-align: top;
}

.data-table.v2-table {
  > .table-wrapper {
    border: 1px solid #c1c6d0;
    border-radius: 4px;
    background-color: #fff;

    >.table {
      > thead {
        border-bottom: 1px solid #c1c6d0;
        > tr {
          border: 0;
          > th {
            background-color: #fff;
            color: #7f8fa4;
            font-size: 12px;
            font-weight: 600;
            height: 48px;
            padding: 0 10px;
            vertical-align: middle;

            .column-header-label {
              text-transform: uppercase;
            }

            &:first-child {
              border-top-left-radius: 4px;
            }
            &:last-child {
              border-top-right-radius: 4px;
            }
          }
        }
      }

      > tbody {
        > tr {
          background-color: #fff;
          border: none;
          border-top: 1px solid #c1c6d0;
          border-bottom: 1px solid #c1c6d0;
          > td {
            border: none;
            border-top: 1px solid #c1c6d0;
          }

          &:last-child {
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
            > td:first-child {
              border-bottom-left-radius: 4px;
            }
            > td:last-child {
              border-bottom-right-radius: 4px;
            }

          }
        }
      }

      border-bottom: 1px solid #c1c6d0;
      margin-bottom: -1px;

    }

    &.dropdown-column-headers.highlight-column-mode {
      > table > thead > tr > th.column-clickable > div {
        white-space: nowrap;
        &:after {
          font: normal normal normal 14px/1 FontAwesome;
          font-size: inherit;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          content: "\f0dd";
          vertical-align: top;
        }
      }
    }

  }

  > .bottom-container {
    background-color: #e6eaf2;
    padding: 10px;
    margin-top: 20px;

    .bottom-info-text {
      float: left;
      text-transform: uppercase;
      padding-top: 3px;
    }

    .pagination {
      margin-top: 0;
    }

    &:after {
      content: ' ';
      display: table;
      clear: both;
    }
  }

}