<div class="report-options">
    <div ng-if="!model.template">
        <div ng-if="tableModel" class="avanan-table line-selection small-icons" data-table="tableModel" options="tableOptions"></div>
    </div>
    <div ng-if="model.template">
        <div class="form-inline">
            <label>Template name:</label>
            <span class="template-selector" ng-click="reset()" ng-class="{'editable': internalModel.editableTemplate}">{{model.template.name}}</span>
        </div>
        <div class="form-inline">
            <label>Template description:</label>
            <span class="template-description">{{model.template.description}}</span>
        </div>
        <div class="form-inline">
            <label>Report name:</label>
            <input ng-model="model.name" type="text" class="avanan-square form-control">
        </div>
        <div class="form-inline">
            <label>Report description:</label>
            <input ng-model="model.description" type="text" class="avanan-square form-control">
        </div>

        <div ng-repeat="question in internalModel.questions" class="form-inline">
            <label>{{question.label}}:</label>
            <div form-param="question" ng-model="model.params[question.id]"></div>
        </div>
    </div>
</div>