.report-options {
  .form-inline {
    margin-top: 5px;
    margin-bottom: 5px;

    label{
      width: 150px;
      vertical-align: top;
      padding-top: 8px;
    }

    .form-control, .form-param {
      width: 300px;
      display: inline-block;
    }

    .custom-checkbox {
      margin-top: 7px;
    }
  }

  .template-selector, .template-description{
    width: 300px;
    min-height: 32px;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #d5d7da;
    padding: 6px 12px;

    &.editable {
      cursor: pointer;
    }
  }
}