<div class="example" page>
    <top>
        <div top-panel="{{ title }}">
            <right>Example right component</right>
        </div>
    </top>
    <content class="example-body">
        <div widget-example></div>
    </content>
</div>