<div class="profile-security-stack" widget="loadData()" tick="30000" api="widgetApi">
    <div class="widget-head">
        <div class="widget-label">Security Stack</div>

        <div ng-repeat="button in panel.wrapper.buttons" class="debug-link head-link">
            <a ng-click="button.execute()">{{button.label}}</a>
        </div>
        <div class="head-link" widget-filters="filters" ng-if="filters.filters"></div>
    </div>
    <div class="widget-body">
        <div ng-if="panel.wrapper.isLoading" class="loader">
            <span class="fa fa-spinner fa-pulse"></span>
        </div>
        <div multi-widget="panel"></div>
    </div>
</div>
