.profile-security-stack {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;

  > .widget-head {
    flex: 0 0 auto;
  }

  > .widget-body {
    flex: 1 1 auto;
    background-color: #fff;
    padding: 10px;
    position: relative;

    > .loader {
      font-size: 25px;
      text-align: center;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(255,255,255,0.8);
      z-index: 10;

      .fa {
        position: relative;
        top: 20px;
      }
    }
  }

  .panel.file-security-stack-category .panel-body {
    overflow: visible;
  }
}