.login-wrapper {
  margin-top: 65px;
  .avanan-logo {
    background: no-repeat center;
    height: 50px;
  }
  .login-panel {
    width: 290px;
    margin: 20px auto 0 auto;
    background: #ffffff;
    border: 1px solid #b9babd;
    border-radius: 5px;

    .login-header {
      font-size: 24px;
      font-weight: 200;
      padding-left: 57px;
      color: #424242;
      border-bottom: 1px solid #b9babd;
      height: 63px;
      line-height: 62px;
      vertical-align: middle;
    }

    .login-body {
      padding: 26px 30px 23px 30px;
      position: relative;
      .btn {
        border: none;
        margin-bottom: 7px;
        padding: 0px 5px;
        color: #ffffff;
        height: 42px;
        width: 230px;
        span {
          line-height: 41px;
          font-size: 12px;
          text-transform: uppercase;
          font-weight: 600;
        }
        .button-image {
          height: 100%;
          width: 39px;
          float: left;
          img {
            margin-top: 6px;
            margin-right: 3px;
          }
          span {
            font-size: 24px;
            line-height: 46px;
          }
        }
        &.google-button {
          background: #df4a32;
          .button-image {
            border-right: 1px solid #ce442e;
          }
        }
        &.dropbox-button {
          background: #007ee6;
          .button-image {
            border-right: 1px solid #0d6fbf;
          }
        }
        &.box-button {
          background: #00aff0;
          .button-image {
            border-right: 1px solid #099dd4;
          }
        }
        &.password-button {
          background: #e6e336;
          .button-image {
            border-right: 1px solid #c9c633;
          }
        }
        &.back-button {
          background: #df4a32;
          width: 80px;
          display: inline-block;
        }

        &.password-login-button, &.password-restore-button {
          background: #e6e336;
          position: absolute;
          right: 30px;
          width: 145px;
        }

        &.password-change-button {
          background: #df4a32;
        }
      }
      .form-group {
        position: relative;
        margin-bottom: 0px;
        input {
          height: 42px;
          width: 230px;
          padding: 10px;
          margin-bottom: 7px;

          &.password-input {
            margin-bottom: 2px;
          }
        }
        .verification {
          position: absolute;
          right: 10px;
          top: 12px;
          font-size: 20px;
          &.fa-exclamation-circle {
            color: #800000;
          }

          &.fa-check-circle {
            color: #008000;
          }
        }
      }
      .restore-password {
        display: block;
        text-align: right;
        margin-bottom: 5px;
      }
    }
  }
}