
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="mySiteChatgroupCommentLabel">Create or edit a Site Chatgroup Comment</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.siteChatgroupComment.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.siteChatgroupComment.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_userId">User Id</label>
            <input type="text" class="form-control" name="userId" id="field_userId"
                    ng-model="vm.siteChatgroupComment.userId"
                    required/>
            <div ng-show="editForm.userId.$invalid">
                <p class="help-block"
                    ng-show="editForm.userId.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_comment">Comment</label>
            <input type="text" class="form-control" name="comment" id="field_comment"
                    ng-model="vm.siteChatgroupComment.comment"
                    required ng-maxlength="2000"/>
            <div ng-show="editForm.comment.$invalid">
                <p class="help-block"
                    ng-show="editForm.comment.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.comment.$error.maxlength">
                    This field cannot be longer than 2000 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_datetime">Datetime</label>
                <div class="input-group">
                    <input id="field_datetime" type="text" class="form-control" name="datetime" datetime-picker="{{dateformat}}" ng-model="vm.siteChatgroupComment.datetime" is-open="vm.datePickerOpenStatus.datetime"
                    required/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('datetime')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.datetime.$invalid">
                <p class="help-block"
                    ng-show="editForm.datetime.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.datetime.$error.ZonedDateTimelocal">
                    This field should be a date and time.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label for="field_siteChatgroup">Site Chatgroup</label>
            <select class="form-control" id="field_siteChatgroup" name="siteChatgroup" ng-model="vm.siteChatgroupComment.siteChatgroup" ng-options="siteChatgroup as siteChatgroup.originalName for siteChatgroup in vm.sitechatgroups track by siteChatgroup.id" required>
            </select>
        </div>
        <div ng-show="editForm.siteChatgroup.$invalid">
            <p class="help-block"
                ng-show="editForm.siteChatgroup.$error.required">
                This field is required.
            </p>
        </div>
        <div class="form-group">
            <label for="field_parentComment">Parent Comment</label>
            <select class="form-control" id="field_parentComment" name="parentComment" ng-model="vm.siteChatgroupComment.parentComment" ng-options="siteChatgroupComment as siteChatgroupComment.id for siteChatgroupComment in vm.sitechatgroupcomments track by siteChatgroupComment.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
