
<div>
    <h2><span>Site Chatgroup Comment</span> {{vm.siteChatgroupComment.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>User Id</span></dt>
        <dd>
            <span>{{vm.siteChatgroupComment.userId}}</span>
        </dd>
        <dt><span>Comment</span></dt>
        <dd>
            <span>{{vm.siteChatgroupComment.comment}}</span>
        </dd>
        <dt><span>Datetime</span></dt>
        <dd>
            <span>{{vm.siteChatgroupComment.datetime | date:'medium'}}</span>
        </dd>
        <dt><span>Site Chatgroup</span></dt>
        <dd>
            <a ui-sref="site-chatgroup-detail({id:vm.siteChatgroupComment.siteChatgroup.id})">{{vm.siteChatgroupComment.siteChatgroup.originalName}}</a>
        </dd>
        <dt><span>Parent Comment</span></dt>
        <dd>
            <a ui-sref="site-chatgroup-comment-detail({id:vm.siteChatgroupComment.parentComment.id})">{{vm.siteChatgroupComment.parentComment.id}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="site-chatgroup-comment-detail.edit({id:vm.siteChatgroupComment.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down"> Edit</span>
    </button>
</div>
