
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myAuthorToSiteChatgroupLabel">Create or edit a Author To Site Chatgroup</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.authorToSiteChatgroup.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.authorToSiteChatgroup.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_fromDate">From Date</label>
                <div class="input-group">
                    <input id="field_fromDate" type="text" class="form-control" name="fromDate" datetime-picker="{{dateformat}}" ng-model="vm.authorToSiteChatgroup.fromDate" is-open="vm.datePickerOpenStatus.fromDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('fromDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_originalName">Original Name</label>
            <input type="text" class="form-control" name="originalName" id="field_originalName"
                    ng-model="vm.authorToSiteChatgroup.originalName"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_englishName">English Name</label>
            <input type="text" class="form-control" name="englishName" id="field_englishName"
                    ng-model="vm.authorToSiteChatgroup.englishName"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_profileLink">Profile Link</label>
            <input type="text" class="form-control" name="profileLink" id="field_profileLink"
                    ng-model="vm.authorToSiteChatgroup.profileLink"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_toDate">To Date</label>
                <div class="input-group">
                    <input id="field_toDate" type="text" class="form-control" name="toDate" datetime-picker="{{dateformat}}" ng-model="vm.authorToSiteChatgroup.toDate" is-open="vm.datePickerOpenStatus.toDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('toDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_staffFunction">Staff Function</label>
            <input type="text" class="form-control" name="staffFunction" id="field_staffFunction"
                    ng-model="vm.authorToSiteChatgroup.staffFunction"
                    />
        </div>

        <div class="form-group">
            <label for="field_author">Author</label>
            <select class="form-control" id="field_author" name="author" ng-model="vm.authorToSiteChatgroup.author" ng-options="author as author.id for author in vm.authors track by author.id" required>
            </select>
        </div>
        <div ng-show="editForm.author.$invalid">
            <p class="help-block"
                ng-show="editForm.author.$error.required">
                This field is required.
            </p>
        </div>
        <div class="form-group">
            <label for="field_siteChatgroup">Site Chatgroup</label>
            <select class="form-control" id="field_siteChatgroup" name="siteChatgroup" ng-model="vm.authorToSiteChatgroup.siteChatgroup" ng-options="siteChatgroup as siteChatgroup.id for siteChatgroup in vm.sitechatgroups track by siteChatgroup.id" required>
            </select>
        </div>
        <div ng-show="editForm.siteChatgroup.$invalid">
            <p class="help-block"
                ng-show="editForm.siteChatgroup.$error.required">
                This field is required.
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
