
<div>
    <h2><span>Author To Site Chatgroup</span> {{vm.authorToSiteChatgroup.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>From Date</span></dt>
        <dd>
            <span>{{vm.authorToSiteChatgroup.fromDate | date:'medium'}}</span>
        </dd>
        <dt><span>Original Name</span></dt>
        <dd>
            <span>{{vm.authorToSiteChatgroup.originalName}}</span>
        </dd>
        <dt><span>English Name</span></dt>
        <dd>
            <span>{{vm.authorToSiteChatgroup.englishName}}</span>
        </dd>
        <dt><span>Profile Link</span></dt>
        <dd>
            <span>{{vm.authorToSiteChatgroup.profileLink}}</span>
        </dd>
        <dt><span>To Date</span></dt>
        <dd>
            <span>{{vm.authorToSiteChatgroup.toDate | date:'medium'}}</span>
        </dd>
        <dt><span>Staff Function</span></dt>
        <dd>
            <span>{{vm.authorToSiteChatgroup.staffFunction}}</span>
        </dd>
        <dt><span>Author</span></dt>
        <dd>
            <a ui-sref="author-detail({id:vm.authorToSiteChatgroup.author.id})">{{vm.authorToSiteChatgroup.author.id}}</a>
        </dd>
        <dt><span>Site Chatgroup</span></dt>
        <dd>
            <a ui-sref="site-chatgroup-detail({id:vm.authorToSiteChatgroup.siteChatgroup.id})">{{vm.authorToSiteChatgroup.siteChatgroup.id}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="author-to-site-chatgroup-detail.edit({id:vm.authorToSiteChatgroup.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down"> Edit</span>
    </button>
</div>
