
<div>
    <h2><span>News Summary Metadata</span> {{vm.newsSummaryMetadata.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Value String</span></dt>
        <dd>
            <span>{{vm.newsSummaryMetadata.valueString}}</span>
        </dd>
        <dt><span>Value Number</span></dt>
        <dd>
            <span>{{vm.newsSummaryMetadata.valueNumber}}</span>
        </dd>
        <dt><span>Value Date</span></dt>
        <dd>
            <span>{{vm.newsSummaryMetadata.valueDate | date:'medium'}}</span>
        </dd>
        <dt><span>News Summary</span></dt>
        <dd>
            <a ui-sref="news-summary-detail({id:vm.newsSummaryMetadata.newsSummary.id})">{{vm.newsSummaryMetadata.newsSummary.id}}</a>
        </dd>
        <dt><span>Metagroup</span></dt>
        <dd>
            <a ui-sref="metagroup-detail({id:vm.newsSummaryMetadata.metagroup.id})">{{vm.newsSummaryMetadata.metagroup.name}}</a>
        </dd>
        <dt><span>Metafield</span></dt>
        <dd>
            <a ui-sref="metafield-detail({id:vm.newsSummaryMetadata.metafield.id})">{{vm.newsSummaryMetadata.metafield.name}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="news-summary-metadata-detail.edit({id:vm.newsSummaryMetadata.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down"> Edit</span>
    </button>
</div>
