
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myNewsSummaryMetadataLabel">Create or edit a News Summary Metadata</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.newsSummaryMetadata.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.newsSummaryMetadata.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_valueString">Value String</label>
            <input type="text" class="form-control" name="valueString" id="field_valueString"
                    ng-model="vm.newsSummaryMetadata.valueString"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_valueNumber">Value Number</label>
            <input type="number" class="form-control" name="valueNumber" id="field_valueNumber"
                    ng-model="vm.newsSummaryMetadata.valueNumber"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_valueDate">Value Date</label>
                <div class="input-group">
                    <input id="field_valueDate" type="text" class="form-control" name="valueDate" datetime-picker="{{dateformat}}" ng-model="vm.newsSummaryMetadata.valueDate" is-open="vm.datePickerOpenStatus.valueDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('valueDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>

        <div class="form-group">
            <label for="field_newsSummary">News Summary</label>
            <select class="form-control" id="field_newsSummary" name="newsSummary" ng-model="vm.newsSummaryMetadata.newsSummary" ng-options="newsSummary as newsSummary.id for newsSummary in vm.newssummaries track by newsSummary.id" required>
            </select>
        </div>
        <div ng-show="editForm.newsSummary.$invalid">
            <p class="help-block"
                ng-show="editForm.newsSummary.$error.required">
                This field is required.
            </p>
        </div>
        <div class="form-group">
            <label for="field_metagroup">Metagroup</label>
            <select class="form-control" id="field_metagroup" name="metagroup" ng-model="vm.newsSummaryMetadata.metagroup" ng-options="metagroup as metagroup.name for metagroup in vm.metagroups track by metagroup.id" required>
            </select>
        </div>
        <div ng-show="editForm.metagroup.$invalid">
            <p class="help-block"
                ng-show="editForm.metagroup.$error.required">
                This field is required.
            </p>
        </div>
        <div class="form-group">
            <label for="field_metafield">Metafield</label>
            <select class="form-control" id="field_metafield" name="metafield" ng-model="vm.newsSummaryMetadata.metafield" ng-options="metafield as metafield.name for metafield in vm.metafields track by metafield.id" required>
            </select>
        </div>
        <div ng-show="editForm.metafield.$invalid">
            <p class="help-block"
                ng-show="editForm.metafield.$error.required">
                This field is required.
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
