.inline-messages {

  .refresh-selector > div > .fa {
    font-size: 20px;
  }

  .data-table.avanan-table .table {
    tr, tr:hover {
      &.row-action-watchdog {
        &, & td {
          background-color: #f39c12;
          color: #fff;
          a {
            color: #fff;
          }
        }
      }

      &.row-action-unknown {
        &, & td {
          background-color: #f35428;;
          color: #fff;
          a {
            color: #fff;
          }
        }
      }
    }
  }
}