.saas-scan-status {
    &, .sec-app-table {
        display: table;
        width: 100%;
        > div {
            display: table-row;
            > div {
                display: table-cell;
                vertical-align: middle;
            }
        }
    }
    
    .saas-scan-row {
        > div {
            padding-top: 10px;
            padding-bottom: 40px;
            border-top: 1px solid #808080;
        }
        
        > .saas-sec-apps-none {
            min-width: 400px;
            text-align: center;
            font-size: 22px;
        }
    }
    .saas-scan-header {
        > div {
            font-size: 16px;
            text-align: center;
            font-weight: 800;
        }
    }
    
    .saas-icon {
        vertical-align: top;
        min-width: 50px;
        img {
            height: 50px;
        }
    }
    .saas-status {
        text-align: center;
        vertical-align: top;
        font-size: 16px;
        min-width: 150px;
        > div {
            padding: 3px 5px 0px;
        }
        strong {
            display: block;
        }
    }
    .app-name {
        padding-right: 10px;
        min-width: 250px;
    }
    .app-status {
        padding-right: 10px;
        min-width: 100px;
        > div {
            color: white;
            font-weight: 800;
            background-color: #D9E00B;
            padding: 0px 5px;
            text-align: center;
        }
    }
    .status-done .app-status > div {
        background-color: #0AC925;
    }
        
    .status-hide {
        display: none !important;
    }
    .app-progress {
        padding: 2px;
        .total-percent {
            position: relative;
            width: 100%;
            min-width: 300px;
            height: 20px;
            border: 1px solid #808080;
            background-color: #FFFFFF;
            overflow: hidden;
            // border-radius: 3px;
            .app-scanned {
                position: absolute;
                height: 100%;
                // background-color: rgb(74, 197, 152);
                // background-color: #09AD5B;
                background-color: #0AC925;
                text-align: right;
                color: #000000;
            }
            .poc-percent {
                position: absolute;
                height: 100%;
                background-color: #d0d0d0;
                color: #606060;
                padding: 0px 5px;
                border-left: 2px solid #000000;
                overflow: hidden;
            }
        }
        
        &.app-progress-labels {
            position: relative;
            height: 20px;
            > span {
                position: absolute;
                top: 0;
            }
            .left-text {
                left: 0;
            }
            .right-text {
                right: 0;
            }
            .middle-text {
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
    .app-debug {
        min-width: 200px;
    }
    .column-filler {
        width: 100%;
    }
}