<div class="saas-scan-status">
    <div ng-if="internalModel" class="saas-scan-header">
        <div>Saas</div>
        <div>Status</div>
        <div>Security Scan Progress</div>
    </div>
    <div ng-repeat="entity in internalModel" class="saas-scan-row">
        <div class="saas-icon">
            <div linked-text="getSaasIcon(entity)"></div>
        </div>
        <div class="saas-status" ng-class="'status-' + entity.status">
            <div >
                {{getEntityName(entity)}} Scan 
                <strong ng-if="entity.status == 'done'">Completed</strong>
                <strong ng-if="entity.status != 'done'">In Progress</strong>
                <div>({{entity.totalCount}} entities)</div> 
                <div ng-if="debugEnabled">Files to scan: {{entity.periodCount}} ({{(entity.periodCount/entity.totalCount*100).toFixed(0)}}%)</div>
            </div>
        </div>
        <div class="saas-sec-apps-none" ng-if="!entity.secApps.length">
            Security applications not enabled
        </div>
        <div class="saas-sec-apps" ng-if="entity.secApps.length">
            <div class="sec-app-table">
                <div>
                    <div class="app-name"></div>
                    <div class="app-status"></div>
                    <div class="app-progress app-progress-labels">
                        <span class="left-text">0%</span>
                        <span class="middle-text">{{entity.daysCount}} days limit ({{entity.poc}}%)</span>
                        <span class="right-text">100%</span>
                    </div>
                </div>
                <div ng-repeat="secApp in entity.secApps" ng-class="getAppStatusClass(secApp)">
                    <div class="app-name">
                        <div linked-text="getAppName(secApp)" class="float-right"></div>
                    </div>
                    <div class="app-status" ng-switch="secApp.status">
                        <div ng-switch-when="done">Completed</div>
                        <div ng-switch-when="matrix_policy_off">Policy Pause</div>
                        <div ng-switch-default>In progress</div>
                    </div>
                    <div class="app-progress">
                        <div class="total-percent">
                            <div class="app-scanned" ng-style="{width: secApp.scanned + '%'}">{{secApp.scanned}}%</div>
                            <div ng-if="secApp.poc >= 0" class="poc-percent" ng-style="{left: secApp.poc + '%', width: (100 - secApp.poc) + '%'}">
                            </div>
                        </div>
                    </div>
                    <div ng-if="debugEnabled" class="app-debug">
                        Pending: {{secApp.pendingCount}} ({{(secApp.pendingCount/secApp.periodCount*100).toFixed(0)}}%)
                    </div>
                </div>
            </div>
        </div>
        <div class="column-filler"></div>
    </div>
</div>