
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myNewsSummaryCommentLabel">Create or edit a News Summary Comment</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.newsSummaryComment.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.newsSummaryComment.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_userId">User Id</label>
            <input type="text" class="form-control" name="userId" id="field_userId"
                    ng-model="vm.newsSummaryComment.userId"
                    required/>
            <div ng-show="editForm.userId.$invalid">
                <p class="help-block"
                    ng-show="editForm.userId.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_comment">Comment</label>
            <input type="text" class="form-control" name="comment" id="field_comment"
                    ng-model="vm.newsSummaryComment.comment"
                    required/>
            <div ng-show="editForm.comment.$invalid">
                <p class="help-block"
                    ng-show="editForm.comment.$error.required">
                    This field is required.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label for="field_newsSummary">News Summary</label>
            <select class="form-control" id="field_newsSummary" name="newsSummary" ng-model="vm.newsSummaryComment.newsSummary" ng-options="newsSummary as newsSummary.id for newsSummary in vm.newssummaries track by newsSummary.id" required>
            </select>
        </div>
        <div ng-show="editForm.newsSummary.$invalid">
            <p class="help-block"
                ng-show="editForm.newsSummary.$error.required">
                This field is required.
            </p>
        </div>
        <div class="form-group">
            <label for="field_parentComment">Parent Comment</label>
            <select class="form-control" id="field_parentComment" name="parentComment" ng-model="vm.newsSummaryComment.parentComment" ng-options="newsSummaryComment as newsSummaryComment.id for newsSummaryComment in vm.newssummarycomments track by newsSummaryComment.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
