
<div>
    <h2><span>News Summary Comment</span> {{vm.newsSummaryComment.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>User Id</span></dt>
        <dd>
            <span>{{vm.newsSummaryComment.userId}}</span>
        </dd>
        <dt><span>Comment</span></dt>
        <dd>
            <span>{{vm.newsSummaryComment.comment}}</span>
        </dd>
        <dt><span>News Summary</span></dt>
        <dd>
            <a ui-sref="news-summary-detail({id:vm.newsSummaryComment.newsSummary.id})">{{vm.newsSummaryComment.newsSummary.id}}</a>
        </dd>
        <dt><span>Parent Comment</span></dt>
        <dd>
            <a ui-sref="news-summary-comment-detail({id:vm.newsSummaryComment.parentComment.id})">{{vm.newsSummaryComment.parentComment.id}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="news-summary-comment-detail.edit({id:vm.newsSummaryComment.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down"> Edit</span>
    </button>
</div>
