<div class="form-group" ng-if="visible()">
    <div class="system-config-parameter">
        <input type="checkbox" ng-model="model.value">
        <span class="custom-checkbox"></span>
        <span>{{label}}</span>
    </div>
    <button class="btn btn-blue" ng-if="changed()" ng-click="save()">Save changes</button>
</div>
