.system-config-parameter {
  display: inline-block;
  height: 27px;
  line-height: 27px;
  margin-right: 10px;

  input[type="checkbox"] {
    position: relative;
    left: 20px;
    top: 5px;
    margin-left: -20px;
  }
}
