.items-selector {
  .items-list {
    position: relative;
  }
  .item {
    width: 100%;
    height: 34px;
    line-height: 34px;
    padding: 0 10px;
    cursor: pointer;
    -webkit-transform: translate3d(0, 0, 0); //fix for strange google chrome error on mac retina


    .item-icon {
      margin-right: 5px;
      svg {
        display: inline-block;
        vertical-align: middle;
      }
    }

    &.selected, &:hover {
      background-color: #e8eef4;
      color: #4688af;
      svg path {
        fill: #4688af;
      }
    }

  }
}