<div class="items-selector">
    <div class="filter-group" ng-if="showFilter">
        <input type="text" class="text-input" ng-model="internal.filter" placeholder="Search"><span class="fa fa-search"></span>
    </div>
    <div class="items-list">
        <div ng-repeat="item in internal.items track by item.uniqueId" class="item" ng-class="{selected: item.selected}"
             linked-text="item.display"
             ng-click="toggleSelected(item)"
             ng-dblclick="doubleClicked($event, item)"></div>
        <div class="item loading" ng-if="loading"><span class="fa fa-spinner fa-pulse"></span> Loading...</div>
    </div>
</div>
