<div class="quarantine">

    <ul class="nav nav-tabs">
        <li role="presentation" ng-repeat="saas in enabledSaases" ng-class="{'active': saas.name === currentModule}">
            <a ng-href="{{'/#!' + saas.link}}" qtip2="saas.title"><img ng-src="{{saas.img}}"></a></li>
    </ul>
    <ul class="nav nav-pills" ng-if="saasEntities[currentModule] && saasEntities[currentModule].length > 1">
        <li role="presentation" ng-repeat="entity in saasEntities[currentModule] track by $index" ng-class="{'active': entity.type === currentEntity}">
            <a ng-href="{{'/#!' + entity.link}}">{{entity.label}}</a></li>
    </ul>

    <div ng-if="resultsPanel" widget-panel="resultsPanel" class="results-panel">
        <widget-body>
            <div ng-if="tableModel" class="avanan-table vertical-middle medium-icons" data-table="tableModel" options="tableOptions"></div>
        </widget-body>
    </div>
</div>