.quarantine {
  .nav-tabs {
    margin-bottom: 20px;
  }

  .nav-pills {
    margin-bottom: 20px;
  }

  .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background-color: #F9F9F9;
  }
  .data-table.avanan-table .top-left .button-actions {
    float: none;

    & > .panel-btn.btn {
      width: 90px;
      height: 28px;
      padding-left: 6px;
      padding-right: 6px;
      padding-top: 0;
      line-height: 26px;
      border: 1px solid #2980b9;
      background-color: #fff;
      border-radius: 2px;
      color: #2980b9;
      text-align: left;
      font-size: 11px;
      margin-left: -1px;
    }
  }

  .data-table .table-wrapper {
    min-height: 400px;
  }
}