<div class="report-create">
    <div widget-panel="reportOptionsPanel">
        <widget-body>
            <div report-options="model.data"></div>
            <button class="btn btn-blue" ng-click="save()" ng-class="{'display-none': !isSaveVisible()}">Continue</button>
        </widget-body>
    </div>
</div>