
<div>
    <h2><span>News Confidential Image</span> {{vm.newsConfidentialImage.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Filename</span></dt>
        <dd>
            <span>{{vm.newsConfidentialImage.filename}}</span>
        </dd>
        <dt><span>Blob</span></dt>
        <dd>
            <div ng-if="vm.newsConfidentialImage.blob">
                <a ng-click="vm.openFile(vm.newsConfidentialImage.blobContentType, vm.newsConfidentialImage.blob)">
                    <img data-ng-src="{{'data:' + vm.newsConfidentialImage.blobContentType + ';base64,' + vm.newsConfidentialImage.blob}}" style="max-width: 100%;" alt="newsConfidentialImage image"/>
                </a>
                {{vm.newsConfidentialImage.blobContentType}}, {{vm.byteSize(vm.newsConfidentialImage.blob)}}
            </div>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
            <span>{{vm.newsConfidentialImage.description}}</span>
        </dd>
        <dt><span>Description Translation</span></dt>
        <dd>
            <span>{{vm.newsConfidentialImage.descriptionTranslation}}</span>
        </dd>
        <dt><span>Image Order</span></dt>
        <dd>
            <span>{{vm.newsConfidentialImage.imageOrder}}</span>
        </dd>
        <dt><span>News</span></dt>
        <dd>
            <a ui-sref="news-detail({id:vm.newsConfidentialImage.news.id})">{{vm.newsConfidentialImage.news.id}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="news-confidential-image-detail.edit({id:vm.newsConfidentialImage.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down"> Edit</span>
    </button>
</div>
