
<div>
    <h2><span>News Public Image</span> {{vm.newsPublicImage.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Filename</span></dt>
        <dd>
            <span>{{vm.newsPublicImage.filename}}</span>
        </dd>
        <dt><span>Blob</span></dt>
        <dd>
            <div ng-if="vm.newsPublicImage.blob">
                <a ng-click="vm.openFile(vm.newsPublicImage.blobContentType, vm.newsPublicImage.blob)">
                    <img data-ng-src="{{'data:' + vm.newsPublicImage.blobContentType + ';base64,' + vm.newsPublicImage.blob}}" style="max-width: 100%;" alt="newsPublicImage image"/>
                </a>
                {{vm.newsPublicImage.blobContentType}}, {{vm.byteSize(vm.newsPublicImage.blob)}}
            </div>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
            <span>{{vm.newsPublicImage.description}}</span>
        </dd>
        <dt><span>Description Translation</span></dt>
        <dd>
            <span>{{vm.newsPublicImage.descriptionTranslation}}</span>
        </dd>
        <dt><span>Image Order</span></dt>
        <dd>
            <span>{{vm.newsPublicImage.imageOrder}}</span>
        </dd>
        <dt><span>News</span></dt>
        <dd>
            <a ui-sref="news-detail({id:vm.newsPublicImage.news.id})">{{vm.newsPublicImage.news.id}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="news-public-image-detail.edit({id:vm.newsPublicImage.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down"> Edit</span>
    </button>
</div>
