<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">×</button>
    <h4>{{args.title}}</h4>
</div>
<div class="modal-body">
    <p ng-bind-html="args.message"></p>
</div>
<div class="modal-footer">
    <div ng-if="args.remember" nice-checkbox="result.remember" text="args.remember" class="float-left"></div>
    <button ng-class="cancelClass" ng-click="cancel()">{{args.cancelText}}</button>
    <button ng-class="okClass" ng-click="ok()">{{args.okText}}</button>
</div>
