<div>
    <div class="row" ng-repeat="row in graphRows[alertsHelper.graphMode().id].rows">
        <div ng-repeat="panel in row" ng-class="panel.size">
            <div ng-if="panel.wrapper.type === 'widget-panel'" widget-panel="panel">
                <widget-body>
                    <div widget-selector="panel"></div>
                </widget-body>
            </div>
            <div ng-if="panel.wrapper.type === 'title'">
                <div class="title">{{panel.wrapper.title}}</div>
                <div widget-selector="panel"></div>
            </div>
            <div ng-if="panel.wrapper.type === 'none'" widget-selector="panel"></div>
        </div>
    </div>
</div>
