<div class="anomaly-detection-config">
    <div widget-panel="configPanel">
        <widget-body>
            <div class="avanan-table line-selection small-icons" ng-if="tableModel" data-table="tableModel" options="tableOptions"></div>
        </widget-body>
    </div>
</div>