.grouped-by-saas-saas-title {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  color: #333;
  height: 45px;
  line-height: 45px;
}

.data-table tr td .grouped-by-saas-saas-title img {
  width: 34px;
  height: 34px;
  max-width: 34px;
  margin-right: 10px;
}