<div class="authorize-error-wrapper">
    <div class="avanan-logo" ng-style="{'background-image': 'url(' + path('main').directive('side-menu').img('logo.png') + ')'}"></div>
    <div class="panel animation-delay1">
        <div class="panel-header">{{panelTitle}}</div>
        <div class="panel-body">
            <div linked-text="message"></div>
            <div class="panel-buttons">
                <a ng-repeat="button in buttons track by $index"
                   class="btn btn-blue"
                   ng-href="{{button.url}}" ng-attr-target="{{button.target}}"
                   ng-click="button.onClick($event)">{{button.text}}</a>
            </div>
        </div>
    </div>
</div>