.authorize-error-wrapper {
  margin-top: 65px;
  text-align: center;
  .avanan-logo {
    background: no-repeat center;
    height: 50px;
  }
  .panel {
    margin: 20px auto 0 auto;
    background: #ffffff;
    border: 1px solid #b9babd;
    border-radius: 5px;
    display: inline-block;
    min-width: 420px;
    max-width: 50%;

    .panel-header {
      font-size: 24px;
      font-weight: 200;
      color: #424242;
      border-bottom: 1px solid #b9babd;
      height: 63px;
      line-height: 62px;
      vertical-align: middle;
      padding-left: 50px;
      padding-right: 50px;
      text-align: center;
    }

    .panel-body {
      text-align: left;
      padding-left: 30px;
      padding-right: 30px;
      font-size: 13px;


      .error-details-outer {
        padding-top: 5px;
      }
      .error-details {
        padding-left: 10px;
      }

      .panel-buttons {
        text-align: right;
        margin-top: 10px;

        .btn {
          margin-right: 10px;
        }
      }

    }

    .google-step {
      display: block;
      margin-top: 10px;
    }
    img.google-step-img {
      width: 500px;
      margin-left: 15px;
      margin-top: 5px;
      margin-bottom: 10px;
      border-radius: 5px;

    }
  }
}