<div class="profile-email-info" widget="loadData()" tick="30000" api="widgetApi">
    <div class="widget-head">
        <div class="widget-label">Email Profile</div>
        <div ng-if="mainQueueDebug" class="debug-link head-link">
            <a ng-click="mainQueueDebug.execute()">{{mainQueueDebug.label}}</a>
        </div>
        <div class="head-link" widget-filters="filters"></div>
    </div>
    <div class="widget-body">
        <div data-table="recipientsWidget" ng-class="recipientsWidget.class"></div>
        <div meta-info="infoWidget"></div>
        <div info="restoreRequestWidget" ng-class="restoreRequestWidget.class" ng-style="restoreRequestWidget.style"></div>
        <div class="profile-actions-container">
            <div actions="actionsWidget" class="profile-entity-actions"></div>
        </div>
    </div>
</div>
