.profile-email-info {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;

  > .widget-head {
    flex: 0 0 auto;
  }

  > .widget-body {
    flex: 1 1 auto;
    border-radius: 4px;
    border: 7px solid #e0e3e8;
    background-color: #fff;
    padding: 10px;

    display: flex;
    flex-direction: column;
    > div {
      flex: 0 0 auto;
      &.profile-actions-container {
        flex: 1 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-end;
      }
    }
  }

  .profile-actions-container {
    margin-top: 10px;
  }
}