<div class="system-config">
    <div class="row">
        <div widget-panel="passwordSecurityPanel" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <widget-body>
                <div class="params-row" ng-class="{inactive: !passwordSecurityModel.pwd_expire_enabled}">
                    <input type="checkbox" ng-model="passwordSecurityModel.pwd_expire_enabled">
                    <span class="custom-checkbox"></span>
                    <span class="param-details">
                    Force periodical password change every
                    <input type="number" ng-model="passwordSecurityModel.pwd_expire_days"
                           ng-disabled="!passwordSecurityModel.pwd_expire_enabled"
                           min="{{passwordSecurityModel.pwd_security_limits.pwd_expire_days.min}}"
                           max="{{passwordSecurityModel.pwd_security_limits.pwd_expire_days.max}}"
                           qtip2="passwordSecurityTip('pwd_expire_days')"
                           class="number-input avanan-square"> days
                    </span>
                </div>

                <div class="params-row" ng-class="{inactive: !passwordSecurityModel.pwd_history_enabled}">
                    <input type="checkbox" ng-model="passwordSecurityModel.pwd_history_enabled">
                    <span class="custom-checkbox"></span>
                    <span class="param-details">
                        Password can not be reused for
                    <input type="number" ng-model="passwordSecurityModel.pwd_history_length"
                           ng-disabled="!passwordSecurityModel.pwd_history_enabled"
                           min="{{passwordSecurityModel.pwd_security_limits.pwd_history_length.min}}"
                           max="{{passwordSecurityModel.pwd_security_limits.pwd_history_length.max}}"
                           qtip2="passwordSecurityTip('pwd_history_length')"
                           class="number-input avanan-square"> times
                        </span>
                </div>

                <div class="params-row" ng-class="{inactive: !passwordSecurityModel.pwd_lock_enabled}">
                    <input type="checkbox" ng-model="passwordSecurityModel.pwd_lock_enabled">
                    <span class="custom-checkbox"></span>
                    <span class="param-details">
                        Lock account for
                    <input type="number" ng-model="passwordSecurityModel.pwd_lock_release_hours"
                           ng-disabled="!passwordSecurityModel.pwd_lock_enabled"
                           min="{{passwordSecurityModel.pwd_security_limits.pwd_lock_release_hours.min}}"
                           max="{{passwordSecurityModel.pwd_security_limits.pwd_lock_release_hours.max}}"
                           qtip2="passwordSecurityTip('pwd_lock_release_hours')"
                           class="number-input avanan-square">
                    hours after
                    <input type="number" ng-model="passwordSecurityModel.pwd_lock_attempts"
                           ng-disabled="!passwordSecurityModel.pwd_lock_enabled"
                           min="{{passwordSecurityModel.pwd_security_limits.pwd_lock_attempts.min}}"
                           max="{{passwordSecurityModel.pwd_security_limits.pwd_lock_attempts.max}}"
                           qtip2="passwordSecurityTip('pwd_lock_attempts')"
                           class="number-input avanan-square">
                    failed login attempts within
                    <input type="number" ng-model="passwordSecurityModel.pwd_lock_interval_minutes"
                           ng-disabled="!passwordSecurityModel.pwd_lock_enabled"
                           min="{{passwordSecurityModel.pwd_security_limits.pwd_lock_interval_minutes.min}}"
                           max="{{passwordSecurityModel.pwd_security_limits.pwd_lock_interval_minutes.max}}"
                           qtip2="passwordSecurityTip('pwd_lock_interval_minutes')"
                           class="number-input avanan-square">
                        <span ng-if="passwordSecurityParams.pwd_lock_interval_minutes.error"
                              class="fa fa-exclamation red-text param-error-icon"
                              qtip2="passwordSecurityTip('pwd_lock_interval_minutes')"
                        ></span>

                        minutes
                        </span>
                </div>
                <button class="btn btn-blue" ng-click="savePasswordSecurity()">Save Changes</button>

            </widget-body>
        </div>
    </div>
</div>