.system-config {
  input[type="checkbox"] {
    margin-top: 10px;
  }
  .number-input {
    padding: 6px 2px 6px 6px;
    margin: 0 6px;
    width: 45px;
  }
  .params-row {
    margin: 5px 0;
  }

  .inactive .param-details {
    opacity: 0.7;
  }

  .param-error-icon {
    margin-left: -5px;
    margin-right: 5px;
  }
}