
<div>
    <h2><span>Metafield</span> {{vm.metafield.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Name</span></dt>
        <dd>
            <span>{{vm.metafield.name}}</span>
        </dd>
        <dt><span>Metagroup</span></dt>
        <dd>
            <a ui-sref="metagroup-detail({id:vm.metafield.metagroup.id})">{{vm.metafield.metagroup.name}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="metafield-detail.edit({id:vm.metafield.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down"> Edit</span>
    </button>
</div>
