.linked-text {
  display: inline;

  .link {
    cursor: pointer;
    text-decoration: underline;

    &.btn {
      text-decoration: none;
    }

    .link-empty-text {
      opacity: 0.6;
    }
  }

  .no-ws-small & {
    line-height: 0px;
    font-size: 0px;

    > * {
      font-size: 13px;
      line-height: 13px;
    }
  }
}

