<div class="linked-text"><!-- These comments are an ugly way to remove spaces between inline elements for better work of line break algorithms and no visual spaces
    --><span ng-repeat-start="part in textParts" ng-if="part.display === 'text'" class="text" ng-class="part.class" ng-click="onClick($event, part)" qtip2="part.data.tooltip" ng-style="part.data.style">{{part.data.text}}</span><!--
    --><span ng-if="part.display === 'html'" class="html" ng-class="part.class" ng-bind-html="part.data.text"></span><!--
    --><a ng-if="part.display === 'link' && !part.data.odometer" class="link" ng-href="{{part.data.path}}" ng-click="processClick($event, part)" ng-class="part.class" qtip2="part.data.tooltip" ng-style="part.data.style"><!--
    --><div ng-if="part.data.linkedText" linked-text="part.data.linkedText"></div><!--
    --><span ng-if="!part.data.text && part.data.emptyLinkText" class="link-empty-text">{{part.data.emptyLinkText}}</span>{{part.data.text}}</a><!--
    --><a ng-if="part.display === 'external-link'" class="link" ng-href="{{part.data.href}}" target="_blank" ng-class="part.class" ng-click="externalLinkClick($event, part)" qtip2="part.data.tooltip" ng-attr-rel="{{part.data.rel}}">{{part.data.text}}</a><!--
    --><img ng-if="part.display === 'img'" title="{{part.data.text}}" ng-src="{{part.data.path}}" default-src="part.data.defaultPath" qtip2="part.data.tooltip" ng-class="part.class" ng-click="onClick($event, part)" ><!--
    --><div ng-if="part.display === 'img-div'" ng-style="{'background-image': 'url(' + part.data.path + ')'}" qtip2="part.data.tooltip" ng-class="part.class"></div><!--
    --><div ng-if="part.display == 'div'" qtip2="part.data.tooltip" ng-class="part.class" ng-click="onClick($event, part)"></div><!--
    --><div ng-if="part.display === 'flot'" flot="part.data.flot" ng-class="part.class"></div><!--
    --><div ng-if="part.display === 'inline-list'" inline-list="part.data" ng-class="part.class"></div><!--
    --><div ng-if="part.display === 'linked-text'" linked-text="part.data.text" ng-class="part.class" ng-style="part.data.style" qtip2="part.data.tooltip" ng-click="onClick($event, part)"></div><!--
    --><div ng-if="part.display === 'odometer'" odometer="part.data.text" options="part.data.odometer" ng-class="part.class" qtip2="part.data.tooltip" ng-click="onClick($event, part)"></div><!--
    --><a ng-if="part.display === 'link' && part.data.odometer" odometer="part.data.text" options="part.data.odometer" class="link" ng-href="{{part.data.path}}" ng-click="processClick($event, part)" ng-class="part.class" qtip2="part.data.tooltip" ng-style="part.data.style"></a><!--
    --><div ng-if="part.display === 'editable'" linked-editable="part.data" ng-class="part.class" ng-style="part.data.style"></div><!--
    --><div ng-repeat-end ng-if="part.display === 'stacked-progress'" stacked-progress="part.data"></div><!--
--></div>