
<div>
    <h2><span>Site Chatgroup Info</span> {{vm.siteChatgroupInfo.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Info</span></dt>
        <dd>
            <span>{{vm.siteChatgroupInfo.info}}</span>
        </dd>
        <dt><span>Username</span></dt>
        <dd>
            <span>{{vm.siteChatgroupInfo.username}}</span>
        </dd>
        <dt><span>Submission Date</span></dt>
        <dd>
            <span>{{vm.siteChatgroupInfo.submissionDate | date:'medium'}}</span>
        </dd>
        <dt><span>Site Chatgroup</span></dt>
        <dd>
            <a ui-sref="site-chatgroup-detail({id:vm.siteChatgroupInfo.siteChatgroup.id})">{{vm.siteChatgroupInfo.siteChatgroup.originalName}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="site-chatgroup-info-detail.edit({id:vm.siteChatgroupInfo.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down"> Edit</span>
    </button>
</div>
