
<div>
    <h2><span>News Comment</span> {{vm.newsComment.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>User Id</span></dt>
        <dd>
            <span>{{vm.newsComment.userId}}</span>
        </dd>
        <dt><span>Comment</span></dt>
        <dd>
            <span>{{vm.newsComment.comment}}</span>
        </dd>
        <dt><span>Datetime</span></dt>
        <dd>
            <span>{{vm.newsComment.datetime | date:'medium'}}</span>
        </dd>
        <dt><span>News</span></dt>
        <dd>
            <a ui-sref="news-detail({id:vm.newsComment.news.id})">{{vm.newsComment.news.id}}</a>
        </dd>
        <dt><span>Parent Comment</span></dt>
        <dd>
            <a ui-sref="news-comment-detail({id:vm.newsComment.parentComment.id})">{{vm.newsComment.parentComment.id}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="news-comment-detail.edit({id:vm.newsComment.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down"> Edit</span>
    </button>
</div>
