<div ng-if="wizardState.inProgress" class="wizard-nav">
    <a class="btn btn-default" ng-href="{{wizardUrl}}">Back to Configuration Wizard</a>
</div>
<div ng-if="tableModel" class="user-list">
    <div widget-panel="userListPanel">
        <widget-body>
            <div class="avanan-table" data-table="tableModel" options="tableOptions"></div>
        </widget-body>
    </div>
</div>