.user-list {
  .new-user-button {
    display: inline-block;
    margin-left: 20px;
  }

  .actions-button {
    display: inline-block;
    margin-left: 100px;
  }

  .user-table {
    margin-top: 10px;
    padding: 0px 10px;
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);

    .table {
      margin-bottom: 10px;
    }
  }
}