.policy-list {
  .policy-list-panel .panel-body {
    overflow: visible !important;
  }
  
  .new-policy-button {
    display: inline-block;
    margin-left: 20px;
  }

  .actions-button {
    display: inline-block;
    margin-left: 100px;
  }

  #import-file {
    display: none;
  }

  .table {
    td {
      height: 76px;
    }
    .policy-name {
      display: block;
      color: #6596b8;
      font-size: 12px;
      font-weight: 600;
      text-decoration: none;
      margin-bottom: 5px;

      &:hover {
        text-decoration: underline;
      }
    }
    .policy-description {

    }
    .new-event {
      display: block;
      height: 14px;
      width: 54px;
      padding: 1px 3px;
      text-transform: uppercase;
      font-size: 8px;
      font-weight: 800;
      color: #fff;
      background-color: #7bae1d;
      border-radius: 2px;
    }
    .findings-flot {
      height: 60px;
      width: 100px;
    }
  }
}