<div ng-if="tableModel" class="policy-list">
    <input id="import-file" type="file" name="import-file" on-read-file="importFileReadComplete($fileContent)">
    <div widget-panel="policyListPanel" class="policy-list-panel">
        <widget-body>
            <div class="avanan-table" data-table="tableModel" options="tableOptions"></div>
        </widget-body>
    </div>
</div>