
<div>
    <h2><span>Author To Tag</span> {{vm.authorToTag.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Author</span></dt>
        <dd>
            <a ui-sref="author-detail({id:vm.authorToTag.author.id})">{{vm.authorToTag.author.originalName}}</a>
        </dd>
        <dt><span>Tag</span></dt>
        <dd>
            <a ui-sref="tag-detail({id:vm.authorToTag.tag.id})">{{vm.authorToTag.tag.name}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="author-to-tag-detail.edit({id:vm.authorToTag.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down"> Edit</span>
    </button>
</div>
