<label ng-repeat-start="item in items" ng-if="!item.items" class="single-item item"ng-style="itemStyle">
    <div class="item-checkbox item-icon">
        <input type="checkbox" ng-model="item.checked">
        <span class="custom-checkbox"></span>
    </div>
    <span>{{item.label}}</span>
</label>
<div ng-repeat-end ng-if="item.items" class="item-group-item" ng-class="{collapsed: item.collapsed}">
    <div class="item" ng-click="itemClicked($event, item)"  ng-style="itemStyle">
        <span class="item-collapsed-icon item-icon">
            <svg width="17px" height="15px" viewBox="0 0 17 15" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <path fill-rule="evenodd" fill="#A1ABAF"
                              d="M5.27586207,2.1427334 L6.62218391,3.50137731 C7.12241379,4.00613048 7.79752874,4.28843314 8.50097701,4.28544053 L14.875977,4.28544053 L14.875977,12.8572666 L2.12597701,12.8572666 L2.12597701,2.1427334 L5.27586207,2.1427334 L5.27586207,2.1427334 Z M5.93534483,2.62671268e-05 L1.06298851,2.62671268e-05 C0.782586207,-0.00196880469 0.513908046,0.109755217 0.314597701,0.311257471 C0.115287356,0.511762189 0.00195402299,0.785087028 0,1.07137983 L0,13.9286202 C0.00390804598,14.5241491 0.478735632,15.0029663 1.06201149,14.9999737 L15.9370115,14.9999737 C16.2174138,15.0019688 16.486092,14.8902448 16.6854023,14.6887425 C16.8847126,14.4882378 16.998046,14.214913 17,13.9286202 L17,3.21408697 C16.998046,2.92779416 16.8847126,2.65446932 16.6854023,2.4539646 C16.486092,2.25246235 16.2174138,2.14073833 15.9370115,2.1427334 L8.5,2.1427334 C8.35931034,2.1427334 8.22448276,2.08687139 8.12385057,1.98612026 L6.31051724,0.156639405 C6.20988506,0.055888278 6.07505747,2.62671268e-05 5.93436782,2.62671268e-05 L5.93436782,2.62671268e-05 L5.93534483,2.62671268e-05 Z"></path>
            </svg>
        </span>
        <span class="item-expanded-icon item-icon">
            <svg width="17px" height="15px" viewBox="0 0 17 15" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <path fill-rule="evenodd" fill="#A1ABAF"
                              d="M5.93534483,2.62671268e-05 L1.06298851,2.62671268e-05 C0.782586207,-0.00196880469 0.513908046,0.109755217 0.314597701,0.311257471 C0.115287356,0.511762189 0.00195402299,0.785087028 0,1.07137983 L0,13.9286202 C0.00390804598,14.5241491 0.478735632,15.0029663 1.06201149,14.9999737 L15.9370115,14.9999737 C16.2174138,15.0019688 16.486092,14.8902448 16.6854023,14.6887425 C16.8847126,14.4882378 16.998046,14.214913 17,13.9286202 L17,3.21408697 C16.998046,2.92779416 16.8847126,2.65446932 16.6854023,2.4539646 C16.486092,2.25246235 16.2174138,2.14073833 15.9370115,2.1427334 L8.5,2.1427334 C8.35931034,2.1427334 8.22448276,2.08687139 8.12385057,1.98612026 L6.31051724,0.156639405 C6.20988506,0.055888278 6.07505747,2.62671268e-05 5.93436782,2.62671268e-05 L5.93436782,2.62671268e-05 L5.93534483,2.62671268e-05 Z M6.62218391,3.50137731 C7.12241379,4.00613048 7.79752874,4.28843314 8.50097701,4.28544053 L14.875977,4.28544053 L14.875977,6.03300018 L2.12597701,6.03300018 L2.12597701,2.1427334 L5.27586207,2.1427334 L6.62218391,3.50137731 Z M2.12597703,8.03300018 L14.875977,8.03300018 L14.875977,12.8580002 L2.12597703,12.8580002 L2.12597703,8.03300018 Z"></path>
            </svg>
        </span>
        {{item.label}}</div>
    <div policy-rules-dlp-rules-group="item.items" level="{{level + 1}}" class="sub-items"></div>
</div>
