#top-nav.skin-light {
  background: #FFF;
  border-bottom-color: #dfdfdf;
  text-align: center;

  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;


  .cloud-app {
    display: inline-block;
    padding: 5px;

    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
    opacity: 0.5;

    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;

    &.active, &:hover {
      opacity: 1;
      filter: none;
      -webkit-filter: grayscale(0%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
    }
  }

  .top-nav-cloud-apps {
    float: left;
  }

  .top-nav-title-wrapper {
    display: inline-block;
    padding-top: 8px;
    top: 0;

    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;

    .top-nav-title {
      display: inline-block;
      text-transform: uppercase;
      font-size: 20px;
      color: #464d57;
      vertical-align: middle;
    }
  }

  .sidebar-mini & {
    margin-left: 90px;
  }

  .navbar-toggle {
    margin-left: 10px;
    .icon-bar {
      background-color: #434a54;
    }
  }

  .nav-notification {
    > li {
      &.open {
        background: #fff;
      }
      &:hover {
        background: #fff;
      }

      > a {
        color: #434a54;
        &:hover, &:focus {
          color: #434a54;
        }
      }
    }
    .alert-notification {
      float: left;
      cursor: pointer;
      font-size: 30px;
      line-height: 45px;
    }
  }

  .two-line-top & {
    height: 90px;

    .top-nav-title-wrapper {
      display: block;
      text-align: center;
      position: absolute;
      top: 45px;
      width: 100%;
      border-top: 1px solid #eee;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}