<div ng-if="!sideMenuManager.fullscreen()" skinned id="top-nav" class="fixed">
    <div ng-if="feature" class="top-nav-cloud-apps">
        <button type="button" class="navbar-toggle pull-left" id="sidebarToggle" side-menu-display-toggle>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <button type="button" class="navbar-toggle pull-left hide-menu" id="menuToggle" side-menu-hide-toggle>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a ng-if="!feature.treeSideMenu && !route.current.hideSaasSwitch" ng-repeat="app in modulesManager.cloudApps()" class="cloud-app" ng-href="{{'/#!' + switchCloudLink(app)}}"
           ng-click="switchCloudApp($event, app)" ng-class="{'active': isAppActive(app)}"
           qtip2="{content: {text: app.title}, position: {at: 'bottom center'}}">
            <img ng-src="{{app.img}}">
        </a>
        <a ng-if="!feature.treeSideMenu && showPaloAlto() && !route.current.hideSaasSwitch" class="cloud-app" ng-href="{{'/#!/dashboard/paloalto/'}}"
           ng-click="$event.preventDefault()" qtip2="{content: {text: 'Palo Alto'}, position: {at: 'bottom center'}}">
            <img ng-src="/assets/security-stack/images/applications/paloalto.png">
        </a>
    </div>
    <div class="top-nav-print-logo">
        <img src="/assets/main/directives/side-menu/images/logoavanan_b.png" class="print-logo">
    </div>
    <ul class="nav-notification clearfix">
        <div class="alert-notification fa fa-exclamation-circle" ng-class="notification.getClass()" qtip2="notification.getTooltip()" ng-click="notification.onClick()"></div> 
        <li class="profile dropdown" dropdown>
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" ng-click="$event.preventDefault()">
                <strong>{{sideMenuManager.currentUser().email}}</strong>
                <span>
                    <i class="fa fa-chevron-down"></i>
                </span>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a tabindex="-1" href="#" class="main-link" ng-click="showSettings($event)">
                        <i class="fa fa-cog"></i> Settings
                    </a>
                </li>
                <li>
                    <a tabindex="-1" href="#" class="main-link" ng-click="showVersion($event)">
                        <i class="fa fa-code-fork fa-lg"></i> Show version
                    </a>
                </li>
                <li>
                    <a tabindex="-1" href="#" class="main-link" ng-click="showLogoutConfirm($event)">
                        <i class="fa fa-lock fa-lg"></i> Log out
                    </a>
                </li>
            </ul>
        </li>
    </ul>
    <div class="top-nav-title-wrapper">
        <div class="top-nav-title" id="top-nav-title" linked-text="route.current.fullTitle || route.current.title"></div>
    </div>
</div>