<div class="security-events-pie-charts" ng-show="!chartVisible">
    <div class="chart-widget">
        <div class="widget-label chart-label" >
            <a ng-click="toggleVisibility()" href=""> <i class="fa fa-angle-down"></i> Graph view</a>
        </div>
    </div>
</div>

<div class="security-events-pie-charts" widget="loadData()" tick="30000" api="widgetApi" ng-show="chartVisible">
    <div ng-repeat="chart in charts" class="chart-widget">
        <div class="widget-label chart-label">{{chart.label}}</div>
        <div class="chart-wrapper">
            <div ng-if="chart.show" class="chart" flot="chart.model"></div>
            <div ng-if="!chart.show" class="empty-chart">
                <div class="label">No events in selected period</div>
            </div>
        </div>
    </div>
</div>

<div class="security-events-pie-charts-hide" ng-show="chartVisible">
    <div class="chart-widget">
        <div class="hide-label">
            <a ng-class="{'hide-link': loadingFirstTime}" ng-click="toggleVisibility()" href=""> <i class="fa fa-angle-up"></i> Hide graph view</a>
        </div>
    </div>
</div>