.security-events-pie-charts-hide {
  > div {
    margin: 0;

    .hide-label {
      display: flex;
      flex-direction: row-reverse;

      .hide-link {
        color: transparent;
      }
    }
  }
}

.security-events-pie-charts {
  display: flex;
  justify-content: space-between;
  align-items: stretch;

  > div {
    margin: 15px 0 5px 0;
  }

  .chart-widget {
    flex: 1 1;

    .chart-label {
      flex-grow: 0;
      display: flex;
      flex-direction: row;
    }

    .chart-wrapper {
      border-top: 6px solid #e0e3e8;
      border-bottom: 6px solid #e0e3e8;
      height: 140px;
      background-color: #ffffff;
      padding: 10px 0 ;
      border-right: 1px solid #c1c6d0;

      .chart {
        width: 100%;
        height: 100%;

        .legendColorBox > div {
          border-width: 0 !important;
        }

        .legend > table {
          left: 73% !important;
          font-size: 9px !important;
          line-height: 1.1 !important;
          width: 27%;

          .legendLabel {
            cursor: pointer;
          }
        }

        .flot-overlay {
          cursor: pointer;
        }
      }
      .empty-chart {
        padding: 0 0 0 10px;
        font-size: 14px;
      }
    }

    .chart-empty-wrapper {
      border-top: 6px solid #e0e3e8;
    }

    &:first-child .chart-wrapper {
      border-left: 6px solid #e0e3e8;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }

    &:last-child .chart-wrapper {
      border-right: 6px solid #e0e3e8;
      border-bottom-right-radius: 5px;

      .chart {
        border-right: none;
      }
    }
  }
}