<div ng-if="tableModel" class="domains-list">
    <div widget-panel="domainsListPanel">
        <widget-body>
            <div class="avanan-table" data-table="tableModel" options="tableOptions"></div>
        </widget-body>
    </div>
</div>