.app-store {
  position: relative;
  background: #e6e9eb;
  border-top: 1px solid #d5dce0;
  padding-top: 30px !important;
  margin-top: -20px;
  > div > div, .multi-widget > div {
    padding: 0px;
  }

  .store-group {
    .hidden {
      display: none;
    }
  }

  .store-button {
    border: 1px solid #66bb6a;
    border-radius: 19px;
    height: 38px;
    background: #66bb6a;
    color: #ffffff;
    font-weight: 600;
    margin: 10px 0px 10px 20px;
  }

  .active .store-button {
    border-color: #b0bec5;
    background: #ffffff;
    color: #546e7a;
    font-weight: 400;
  }
}

.params-modal .parameter .multi-accounts {
  font-size: 12px;
  color: #777;
  margin-bottom: 10px;

  .account-line {
    padding: 3px 0 3px 10px;

    &:hover {
      background-color: #eee;
    }

    .account-name {
      display: inline-block;
      width: 200px;
    }
    .account-actions {
      display: inline-block;
      float: right;

      .action {
        cursor: pointer;
        text-decoration: underline;
      }
    }
    .account-working {
      float: right;
    }

  }
}
