<div class="datetime-picker">
    <input type="text" class="picker-input input-field" ng-model="internalModel">
    <span class="fa fa-calendar picker-button" ng-click="togglePicker()"></span>
    <span class="picker-widget" ng-class="{'open': widgetOpen}"></span>
    <div class="picker-background" ng-class="{'open': widgetOpen}" ng-click="backgroundClick($event)"></div>
</div>