.datetime-picker {
  position: relative;
  display: inline-block;
  padding: 0 !important;
  .picker-input {
    width: 100%;
    height: 100%;
    border: none;
    cursor: text !important;
  }
  .picker-button {
    position: absolute;
    top: calc(50% - 7px);
    right: 5px;
    cursor: pointer;
  }
  .picker-widget {
    z-index: 10;
    position: absolute;
    display: none;
    right: 0;
    
    td {
      padding: 0 !important;
    }
    
    &.open {
      display: block;
    }
  }
  .picker-background {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: none;
    &.open {
      display: block;
    }
  }
  
  .ui-datepicker-buttonpane {
    display: none;
  }

  &.avanan-square > input {
    padding-left: 7px;
  }
}