.app-store-v2 {
  .group-title {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 600;
    color: #555;

    &.sub-title {
      font-size: 15px;
      margin-top: 10px;
    }
  }

  .apps-category {
    margin-bottom: 20px;
  }

  .group-apps {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: stretch;
    justify-content: flex-start;
    margin-left: -10px;
    margin-right: -10px;

    .app-item {
      flex: 0 0 312px;
      border: 1px solid #c1c6d0;
      border-radius: 3px;
      background-color: white;
      margin: 10px;
      display: flex;
      flex-direction: column;
      position: relative;
      overflow: hidden;

      .app-img {
        height: 130px;
        border-bottom: 1px solid #c1c6d0;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          max-height: 100px;
        }
      }

      .app-info {
        flex: 1 0 auto;
        margin: 15px 30px 10px;
        .app-label {
          font-size: 14px;
          font-weight: 600;
        }
      }

      .app-buttons {
        flex: 0 0 auto;
        margin: 0 15px 5px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .app-button {
          min-width: 110px;
          margin: 15px;
          border: 1px solid #1585d8;
          background-color: #2298f0;
          border-radius: 4px;
          cursor: pointer;
          color: #fff;
          font-size: 12px;
          padding: 8px 10px;
          font-weight: normal;
          text-align: center;

          &.op-btn {
            background-color: #36af47;
            border-color: #269235;

            &.op-stop {
              background-color: #4a505c;
              border-color: #343942;
            }
          }
        }
      }
      .op-button-icon {
        position: absolute;
        left: 20px;
        top: 20px;
        width: 40px;
        height: 40px;
        border-radius: 20px;
        overflow: hidden;
        background-color: #66BB66;
        text-align: center;
        line-height: 40px;
        color: white;
        cursor: pointer;
        font-size: 20px;

        .fa-play {
          margin-left: 4px;
        }
      }

      .beta-label {
        position: absolute;
        background-color: #2980b9;
        color: #fff;
        font-weight: bold;
        text-transform: uppercase;
        padding: 2px 50px;
        font-size: 16px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.75);
        top: 0;
        right: 0;
        transform: translateY(16px) translateX(40px) rotate(40deg);
      }

      .expired-label {
        position: absolute;
        background-color: #f35428;
        color: #fff;
        font-weight: bold;
        text-transform: uppercase;
        padding: 2px 65px;
        font-size: 16px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.75);
        top: 0;
        right: 0;
        transform: translateY(36px) translateX(44px) rotate(40deg);
      }




    }
  }
}

body.guiV2 .license-modal-body {
  .app-logo-container {
    min-height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .params-left {
    width: 190px;
    margin-right: 21px;
  }

  &:before {
    background-color: #caced7;
    bottom: -60px;
  }

  .selector > button {
    padding-top: 6px;
  }

  .bold-text {
    font-weight: 700;
  }
}