<div class="app-store-v2" page>
    <content>
        <div ng-repeat="topCat in topCategories">
            <div class="group-title" ng-if="topCat.label && topCat.categories.length > 1">{{topCat.label}}</div>
            <div class="apps-category" ng-repeat="cat in topCat.categories">
                <div ng-repeat="group in cat.groups" ng-if="group.apps.length">
                    <div class="group-title" ng-if="!topCat.label || topCat.categories.length > 1"
                         ng-class="{'sub-title': topCat.label}">{{group.title}}{{cat.categoryLongName}} / {{group.apps.length}}
                        {{(group.activeApps && group.activeApps.length) ? (' (' + group.activeApps.length + ' active)'): ''}}
                    </div>
                    <div class="group-title" ng-if="topCat.label && topCat.categories.length === 1">{{topCat.label}} / {{group.apps.length}}
                        {{(group.activeApps && group.activeApps.length) ? (' (' + group.activeApps.length + ' active)'): ''}}
                    </div>
                    <div class="group-apps">
                        <div class="app-item" ng-repeat="app in group.apps">
                            <div class="app-img"><img ng-src="{{app.imgSrc}}" /></div>
                            <div class="app-info">
                                <div class="app-label">{{app.label}}</div>
                                <div class="app-descr">{{app.description}}</div>
                            </div>
                            <div class="app-buttons">
                                <div class="app-button" ng-class="button.btnClass" ng-repeat="button in app.buttons"
                                     ng-click="button.execute()">
                                    <span class="fa fa-spinner fa-pulse" ng-if="button.inProgress && button.inProgress()"></span>
                                    <span ng-if="!button.inProgress || !button.inProgress()">{{button.label}}</span>
                                </div>
                            </div>
                            <a ng-if="app.opButton.asIcon && !app.opButton.inProgress()" class="op-button-icon"
                               ng-click="app.opButton.execute()"
                               qtip2="app.opButton.label"><span class="fa" ng-class="app.opButton.iconClass"></span></a>
                            <div ng-if="app.opButton.asIcon && app.opButton.inProgress()"
                                 class="op-button-icon"><span class="fa fa-spinner fa-pulse"></span></div>
                            <div ng-if="app.is_beta" class="beta-label">BETA</div>
                            <div ng-if="app.isExpired" class="expired-label">EXPIRED</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </content>
</div>