
<div>
    <h2><span>Author To Language</span> {{vm.authorToLanguage.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Author</span></dt>
        <dd>
            <a ui-sref="author-detail({id:vm.authorToLanguage.author.id})">{{vm.authorToLanguage.author.originalName}}</a>
        </dd>
        <dt><span>Language</span></dt>
        <dd>
            <a ui-sref="language-detail({id:vm.authorToLanguage.language.id})">{{vm.authorToLanguage.language.name}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="author-to-language-detail.edit({id:vm.authorToLanguage.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down"> Edit</span>
    </button>
</div>
