
<div>
    <h2><span>RFI Response</span> {{vm.rFIResponse.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Note</span></dt>
        <dd>
            <span>{{vm.rFIResponse.note}}</span>
        </dd>
        <dt><span>Username</span></dt>
        <dd>
            <span>{{vm.rFIResponse.username}}</span>
        </dd>
        <dt><span>Submission Date</span></dt>
        <dd>
            <span>{{vm.rFIResponse.submissionDate | date:'medium'}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="rfi-response-detail.edit({id:vm.rFIResponse.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down"> Edit</span>
    </button>
</div>
