<div class="policy-excluded-by">
    <button class="btn btn-blue" ng-click="addPath()"><span class="fa fa-plus-circle"></span> Add path</button>
    <div ng-repeat="data in model">
        <input class="label-input avanan-square form-control" type="text" placeholder="Label" ng-model="data.label">
        <div class="property path-input" sub-selector="properties.properties" ng-model="data.path"></div>
        <button class="btn btn-white remove" ng-click="removePath($index)">
            <span class="fa fa-times"></span>
        </button>
    </div>
</div>