.policy-excluded-by {
  margin-top: 11px;
  margin-bottom: 5px;

  & > div {
    margin-top: 10px;
    .label-input {
      display: inline-block;
      width: 175px;
    }
    .path-input {
      display: inline-block;
      width: 250px;
    }
    .remove {
      width: 27px;
    }
  }
}