<div class="security-matrix">
    <table ng-if="tableModel">
        <thead>
        <tr class="groups">
            <th ng-repeat="group in tableModel.groups" colspan="{{groupWidth(group)}}" qtip2="groupState(group).tooltip" ng-class="{'collapseable': groupState(group).collapseable}" ng-click="toggleGroup(group)">
                <h2>{{group.label}}</h2>
                <div class="group-collapseable-mark" ng-if="groupState(group).collapseable">{{groupState(group).leftText}} <span class="fa" ng-class="groupState(group).iconClass"></span> {{groupState(group).rightText}}</div>
            </th>
        </tr>
        <tr class="items">
            <th ng-repeat="item in tableModel.items" ng-class="cellClass(item, null)">
                <div ng-if="!item.empty">
                    <div class="security-image" ng-click="toAppStore($event, item)">
                        <img ng-src="{{item.img.path}}" default-src="defaultAppImage" />
                    </div>
                    <div class="security-label">
                        <span>{{item.label}}</span>
                    </div>
                    <div class="security-dynamic-text">
                        <span>{{item.dynamicText}}</span>
                    </div>
                </div>
                <div ng-if="item.empty && $index">
                    <a ng-href="{{'#!' + itemLink(item)}}" ng-click="toAppStore($event, item)">ADD</a>
                </div>
                <div ng-if="!item.empty && item.isExpired" class="expired-label">EXPIRED</div>
                <div ng-if="!item.empty && item.isBeta && !item.isExpired" class="beta-label">BETA</div>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="application in tableModel.applications">
            <td ng-repeat="item in tableModel.items" ng-class="cellClass(item, application.groups[getItemIndexForColumn($index)])">
                <div ng-if="$index == 0" class="application" ng-class="{'grayout': application.status != 'active'}">
                    <div class="application-info-wrapper">
                        <div class="application-info">
                            <span class="item-label">{{application.label}}</span><br>
                        </div>
                    </div>
                    <img ng-src="{{application.img.path}}"/>
                </div>
                <div ng-if="!item.empty && $index" class="state"
                     state-switch="application.groups[getItemIndexForColumn($index)].state"
                     ng-click="switchPolicy(application, $index)" qtip2="application.groups[getItemIndexForColumn($index)].tooltip"></div>
            </td>
        </tr>
        </tbody>
    </table>
</div>