$border: #dbdbdb;
$background: #f9f9fb;
$application-width: 34px;
$application-padding-right: 8px;
$application-padding-top: 15px;

.security-matrix {
  table {

    .groups th {
      vertical-align: middle;
      text-align: center;
      h2 {
        display: inline-block;
        margin: 0;
        color: #333;
        text-transform: uppercase;
        font-weight: BOLD;
        font-size: 12px
      }
    }

    .groups th.collapseable {
      cursor: pointer;
    }

    td {
      border: 1px solid $border;

      &:first-child {
        background: $background;
        border-left: none;
      }

      &:last-child {
        border-right: none;
      }
    }
    .items th {
      width: 150px;
      vertical-align: top;
      padding: 10px 4px 10px;
      border: 1px solid $border;
      background: $background;
      position: relative;
      overflow: hidden;

      > div.expired-label {
        position: absolute;
        top: 5px;
        right: 0;
        font-weight: bold;
        font-size: 11px;
        background-color: #f35428;
        color: #fff;
        text-transform: uppercase;
        padding: 1px 42px;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.75);
        text-align: center;
        transform: translateY(7px) translateX(41px) rotate(40deg);
        line-height: normal;
        height: auto;
      }
      > div.beta-label {
        position: absolute;
        top: 5px;
        right: 0;
        font-weight: bold;
        font-size: 11px;
        background-color: #2980b9;
        color: #fff;
        text-transform: uppercase;
        padding: 1px 24px;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.75);
        text-align: center;
        transform: translateY(2px) translateX(21px) rotate(40deg);
        line-height: normal;
        height: auto;
      }


      > div {
        position: relative;
        height: 123px;
        .security-image {
          background: no-repeat center;
          width: 100%;
          height: 52px;
          line-height: 52px;
          margin-bottom: 5px;
          cursor: pointer;
          text-align: center;
          position: relative;
          overflow: hidden;

          img {
            width: auto;
            max-width: none;
          }
        }
        .security-label, .security-dynamic-text {
          display: table;
          width: 100%;
          span {
            display: table-cell;
            text-align: center;
            vertical-align: middle;
            font-weight: 400;
            margin: 0 10px;
            width: 100%;
          }
        }
        a {
          position: absolute;
          left: calc(50% - 21px);
          left: -moz-calc(50% - 21px);
          left: -webkit-calc(50% - 21px);
          top: calc(50% - 14px);
          top: -moz-calc(50% - 14px);
          top: -webkit-calc(50% - 14px);
          display: block;
          width: 42px;
          padding: 3px 6px;
          font-size: 12px;
          color: #349dcc;
          font-weight: 800;
          border: 2px solid #349dcc;
          border-radius: 5px;
        }
      }
      &:first-child {
        width: 200px;
        border-left: none;
      }
      &:last-child {
        border-right: none;
      }
    }
    td {
      position: relative;
      .application {
        img {
          background: #fff;
          margin-left: -100%;
          padding: $application-padding-top $application-padding-right $application-padding-top 0px;
          margin-right: $application-padding-right;
          float: left;
          width: $application-width + $application-padding-right;
          height: $application-width + $application-padding-top * 2;
        }
        .application-info-wrapper {
          background: $background;
          float: left;
          width: 100%;
          .application-info {
            padding: 23px 5px 23px 5px;
            height: $application-width + $application-padding-top * 2;
            margin-left: $application-width + $application-padding-right;
            border-left: 1px solid #f0f0f0;
            white-space: nowrap;
            .item-label {
              font-weight: bold;
            }
          }
        }

        &.grayout {
          img {
            filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
            filter: gray; /* IE6-9 */
            -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
          }

          .application-info-wrapper {
            color: #A0A0A0;
          }
        }
      }
    }
    .state {
      vertical-align: middle;
      display: table;
      margin: 0 auto;
    }

    .collapsed {
      display: none;
    }

    .group-collapseable-mark {
      float: right;
      padding-right: 5px;
      font-weight: normal;
    }

  }
  .add-application-button {
    width: 168px;
    margin-top: 5px;
  }

  .state-switch {
    cursor: pointer;
  }

  .state-switch-icon {
    font-size: 20px;
    color: #aaa;
  }
}

.qtip-security-matrix {
  font-size: 12px;
  max-width: none;
  a {
    text-decoration: underline;
  }
}