
<div>
    <h2><span>Author Profile</span> {{vm.authorProfile.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Info</span></dt>
        <dd>
            <span>{{vm.authorProfile.info}}</span>
        </dd>
        <dt><span>Username</span></dt>
        <dd>
            <span>{{vm.authorProfile.username}}</span>
        </dd>
        <dt><span>Submission Date</span></dt>
        <dd>
            <span>{{vm.authorProfile.submissionDate | date:'medium'}}</span>
        </dd>
        <dt><span>Author</span></dt>
        <dd>
            <a ui-sref="author-detail({id:vm.authorProfile.author.id})">{{vm.authorProfile.author.originalName}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="author-profile-detail.edit({id:vm.authorProfile.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down"> Edit</span>
    </button>
</div>
