
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myAuthorProfileLabel">Create or edit a Author Profile</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.authorProfile.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.authorProfile.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_info">Info</label>
            <input type="text" class="form-control" name="info" id="field_info"
                    ng-model="vm.authorProfile.info"
                    required/>
            <div ng-show="editForm.info.$invalid">
                <p class="help-block"
                    ng-show="editForm.info.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_username">Username</label>
            <input type="text" class="form-control" name="username" id="field_username"
                    ng-model="vm.authorProfile.username"
                    required/>
            <div ng-show="editForm.username.$invalid">
                <p class="help-block"
                    ng-show="editForm.username.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_submissionDate">Submission Date</label>
                <div class="input-group">
                    <input id="field_submissionDate" type="text" class="form-control" name="submissionDate" datetime-picker="{{dateformat}}" ng-model="vm.authorProfile.submissionDate" is-open="vm.datePickerOpenStatus.submissionDate"
                    required/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('submissionDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.submissionDate.$invalid">
                <p class="help-block"
                    ng-show="editForm.submissionDate.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.submissionDate.$error.ZonedDateTimelocal">
                    This field should be a date and time.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label for="field_author">Author</label>
            <select class="form-control" id="field_author" name="author" ng-model="vm.authorProfile.author" ng-options="author as author.originalName for author in vm.authors track by author.id" required>
            </select>
        </div>
        <div ng-show="editForm.author.$invalid">
            <p class="help-block"
                ng-show="editForm.author.$error.required">
                This field is required.
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
