<div ng-if="tableModel" class="policy-allows">
    <div widget-panel="policyAllowsListPanel">
        <widget-body>
            <div class="avanan-table" data-table="tableModel" options="tableOptions"></div>
        </widget-body>
    </div>
</div>