
<div>
    <h2><span>Author Comment</span> {{vm.authorComment.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>User Id</span></dt>
        <dd>
            <span>{{vm.authorComment.userId}}</span>
        </dd>
        <dt><span>Comment</span></dt>
        <dd>
            <span>{{vm.authorComment.comment}}</span>
        </dd>
        <dt><span>Datetime</span></dt>
        <dd>
            <span>{{vm.authorComment.datetime | date:'medium'}}</span>
        </dd>
        <dt><span>Author</span></dt>
        <dd>
            <a ui-sref="author-detail({id:vm.authorComment.author.id})">{{vm.authorComment.author.originalName}}</a>
        </dd>
        <dt><span>Parent Comment</span></dt>
        <dd>
            <a ui-sref="author-comment-detail({id:vm.authorComment.parentComment.id})">{{vm.authorComment.parentComment.id}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="author-comment-detail.edit({id:vm.authorComment.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down"> Edit</span>
    </button>
</div>
