<div class="dashboard-apps-status" widget="loadData()" tick="30000" api="widgetApi">
    <div class="saas-status">
        <div class="widget-label">SaaS Status</div>
        <div class="list">
            <div ng-repeat="saas in saasList track by $index" class="saas">
                <div class="item">
                    <div class="image"><img ng-src="{{saas.img}}" /></div>
                    <div class="info">
                        <div class="label">{{ saas.label }}</div>
                        <div class="active">
                            <div class="label">{{ saas.active.label }}</div>
                            <a class="count" ng-href="{{saas.active.href}}">{{ saas.active.count }}</a>
                        </div>
                        <div class="total">
                            <div class="label">{{ saas.total.label }}</div>
                            <a class="count" ng-href="{{saas.total.href}}">{{ saas.total.count }}</a>
                        </div>
                        <div class="mode" ng-class="modeClass(saas)">{{ saas.modeLabel }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="security-stack-status">
        <div class="widget-label">Security Stack Status</div>
        <div class="list">
            <div class="list-scroller">
                <div ng-repeat="app in appList" class="app">
                    <div class="status"><span ng-class="appStatusClass(app)"></span></div>
                    <div class="app-label">{{ app.label }}</div>
                    <div class="label">Scanned: </div>
                    <div class="count" ng-class="{'loading': app.scannedLoading}">{{ app.scanned }}</div>
                    <div class="label">Today: </div>
                    <div class="count" ng-class="{'loading': app.todayLoading}">{{ app.today }}</div>
                </div>
            </div>
        </div>
    </div>
</div>