.dashboard-apps-status {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  .label {
    background-color: white;
    padding: 0;
    font-weight: normal;
    font-size: inherit;
  }

  > div {
    display: flex;
    flex-direction: column;
    margin: 15px 0;

    .list {
      flex-grow: 1;
      background-color: #fff;
      height: 132px;
    }
  }

  .widget-label {
    flex-grow: 0;
  }

  .saas-status {
    flex: 3 1 170px;
    min-width: 170px;
    .list {
      border: 6px solid #e0e3e8;
      border-right: 1px solid #e0e3e8;
      border-radius: 5px 0 0 5px;
      padding: 17px 5px 17px 0;
      background-color: #fff;
      overflow: auto;
      white-space: nowrap;

      .saas {
        border-left: 1px solid #c1c6d0;
        &:first-child {
          border-left: none;
        }
        min-width: 25%;
        display: inline-block;
        .image {
          padding: 0 7px;
          display: flex;
          align-items: center;
          justify-content: center;
          > img  {
            width: 38px;
            height: 38px;
            max-width: 38px;
            min-width: 38px;
            border-radius: 19px;
          }
        }
        > .item {
          display: flex;
          flex-direction: row;
          align-items: stretch;
          justify-content: center;

        }

        .mode {
          margin-top: 10px;
          &.detect {
            color: #ed1c24;
          }
          &.protected {
            color: #1bb934;
          }
        }

        .info {
          padding: 0 7px;
          > .label {
            background-color: #fff;
            font-size: 14px;
            padding: 0;
            font-weight: 600;
            color: #333;
          }

          > div {
            > div {
              display: inline;
            }
          }
          .count {
            font-weight: 600;
            color: #333;
          }
        }
      }
    }
  }

  .security-stack-status {
    flex: 1 0 100px;
    min-width: 370px;
    .list {
      border: 6px solid #e0e3e8;
      border-left: 0;
      border-radius: 0 5px 5px 0;
      overflow: auto;
      .list-scroller {
        max-height: 125px;
        overflow: auto;
        width: 100%;
        display: table;
      }

      .app {
        flex: 0 0 auto;
        height: 40px;
        display: table-row;
        > * {
          display: table-cell;
          vertical-align: middle;
          border-bottom: 1px solid #c1c6d0;
          border-radius: 0;
        }
        > .status {
          flex: 0 0 auto;
        }
        > * {
          padding: 0 5px;
          &:first-child {
            padding-left: 10px;
          }
          &:last-child {
            padding-right: 10px;
          }
          > * {
            display: inline;
          }
        }

        > .app-label {
          text-align: left;
          font-size: 12px;
          color: #333;
          font-weight: 600;
          white-space: normal;
          width: 140px;
        }

        .count:not(.loading) {
          font-weight: 600;
          color: #333;
        }

        .status-ok {
          color: #1bb934;
        }
        .status-bad {
          color: #ed1c24;
        }
      }
    }
  }
}