.alerts {
  .results-panel {
    .panel-heading {
      display: none;
    }
    .panel-body {
      .table-wrapper {
        min-height: 400px;
      }

      .data-table tbody tr:nth-child(n+6) td .editable .dropdown-menu {
        bottom: 100%;
        top: auto;
      }
    }
  }
  .comment-column {
    .linked-text {
      .text {
        white-space: pre-line;
      }
    }
  }

  .top-left {
    &:after {
      content: ' ';
      display: table;
      clear: both;
    }
  }

  .dropdown-menu {
    max-height: 400px;
    overflow-y: auto;
  }

  .dropdown-menu.editable-with-buttons.string {
    overflow: visible;
  }
  .filter-item {
    display: inline-block;

    padding: 3px 5px 3px 18px;
    margin: 3px 0 3px 5px;
    position: relative;
    line-height: 13px;
    color: #333;
    cursor: default;
    border: 1px solid #aaaaaa;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 2px #fff inset, 0 1px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 2px #fff inset, 0 1px 0 rgba(0, 0, 0, 0.05);
    background-clip: padding-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #e4e4e4;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#f4f4f4', GradientType=0);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eee));
    background-image: -webkit-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);
    background-image: -moz-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);
    background-image: linear-gradient(to bottom, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);

    .filter-item-remove {
      position: absolute;
      left: 5px;
      top: 4px;
      cursor: pointer;
    }
  }

  .time-filter {
    text-align: right;
    margin-bottom: 30px;
  }

  .graph-mode-selector {
    float: left;
    .fa {
      font-size: 18px;
      color: #999;
    }
  }

  .editable {
    cursor: pointer;
  }
  .comment-add {
    cursor: pointer;
    text-decoration: underline;
    color: #999;
  }
  .piechart-block {
    .piechart-chart {
      width: 100%;
      height: 250px;

      .legend td {
        padding: 1px 3px;
      }
    }
  }
  .alerts-history-graph {
    height: 250px;
    width: 100%;
  }

  .severity-display {
    color: #fff;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 10px;
    text-align: center;
    border-radius: 2px;
    padding: 1px 2px;
    height: 16px;
    margin-right: 5px;
  }
}

.alerts-confirm-filter-line {
  display: block;
  padding-left: 15px;
}

.alerts-confirm-filter-title {
  display: inline-block;
  width: 60px;
  vertical-align: top;
}
.alerts-confirm-filter-value {
  display: inline-block;
}

.alerts-confirm-filter-element {
  display: block;
}

.alerts-details-hover {
  border: 2px solid #aaa;
  border-radius: 5px;
  padding: 7px;
  background: #fff;

  .alert-details-row {
    white-space: nowrap;

    .col-title {
      width: 200px;
      display: inline-block;
    }
    .col-value {
      display: inline-block;
      .row-icon {
        width: 30px;
      }
    }


  }
}