<div class="alerts">

    <div class="graph-mode-selector">
        <div class="btn-group">
            <div ng-repeat="mode in alertsHelper.graphModes" class="btn btn-default btn-sm" ng-class="{active: mode === alertsHelper.graphMode()}" ng-click="alertsHelper.graphMode(mode)">
                <span ng-class="mode.class"></span>
            </div>
        </div>
    </div>

    <div class="time-filter">
        <div class="btn-group">
            <div ng-repeat="el in periods" class="btn btn-default btn-sm" ng-class="{active: el.period === model.period}" ng-click="setPeriod(el.period)">{{el.label}}</div>
        </div>
    </div>

    <div alerts-graphs></div>

    <div widget-panel="filtersPanel">
        <widget-body>
            <div class="filters">
                <div ng-repeat="filter in model.filters track by $index" class="filter-item"><span class="fa fa-times filter-item-remove" ng-click="removeFilterByIndex($index)"></span>{{filter.label}}</div>
            </div>
        </widget-body>
    </div>


    <div widget-panel="resultsPanel" class="results-panel">
        <widget-body>
            <div ng-if="tableModel" class="avanan-table vertical-middle medium-icons" data-table="tableModel" options="tableOptions" table-cell-hover="cellHoverInfo"></div>
        </widget-body>
    </div>
</div>