<div class="report">
    <div ng-if="splitterOptions" splitter="splitterOptions" class="pretty-splitter">
        <div widget-panel="reportOptionsPanel" ng-show="showOptions">
            <widget-body>
                <div report-options="model.data"></div>
                <button class="btn btn-blue" ng-click="update()">Update</button>
            </widget-body>
        </div>
        <div widget-panel="resultsPanel" class="results-panel">
            <widget-body>
                <div ng-if="tableModel" class="query-results">
                    <div class="avanan-table  vertical-middle medium-icons" data-table="tableModel" options="tableOptions"></div>
                </div>
            </widget-body>
        </div>
    </div>
</div>