.policy-condition-square {
    .dropdown-menu {
        padding: 5px;
        min-width: 300px;
    }
    .add-column-button {
        float: left;
        margin-right: 5px;
    }
    .save-button {
        float: right;
    }
    .cancel-button {
        border: 1px solid #2980b9;
        color: #2980b9;
        background-color: #fff;
        width: 80px;
        height: 27px;
        font-size: 12px;
        border-radius: 2px;
        padding-top: 5px;
        margin-left: 5px;
        float: right;
    }
}