<div class="policy-condition-square dropdown" dropdown ng-click="conditionClicked($event)">
    <div class="dropdown-toggle" dropdown-toggle linked-text="options.label"></div>
    <ul ng-if="showDropdown" class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" ng-click="editorClick($event)">
        <li class="hide-on-system">
            <div column-filter="internal.filters" column-id="options.path" options="headerOptions"></div>
        </li>
        <li class="hide-on-system">
            <div ng-if="internal.showAddColumn" class="btn btn-blue add-column-button" ng-click="addColumn()">Add as column</div>
            <div class="btn cancel-button" ng-click="close()">Cancel</div>
            <div class="btn btn-blue save-button" ng-click="save()">Save</div>
        </li>
        <li class="hide-on-custom">
            This is a system query and can not be altered. To change the query conditions, first save-as it and create a new, edit-enabled, query.
        </li>
    </ul>
</div>