.tree-side-menu-element {
    // position: relative;
    // margin-top: 5px;
    color: #ffffff;
    
    > .element-active {
        position: absolute;
        left: 0px;
        right: 0px;
        height: 100%;
        z-index: -1;
    }
    
    .tree-side-sub-menu .tree-side-menu-element {
        .element-label {
            font-size: 14px;
            font-weight: 400;
        }
        .active-highlight {
            background-color: transparent !important;
            &.active {
                background-color: transparent !important;
            }
        }
        > .element-active {
            background-color: #556675;
            &.active {
                background-color: #475866;
            }
        }
        &:hover {
            .active-highlight {
                background-color: transparent !important;
            }
            > .element-active {
                background-color: #475866;
            }
        }
    }
    
    &.root-tree-side-menu {
        border-top: 1px solid #394a56;
        .active-highlight.active {
            background-color: #569abd;
        }
        
        &:hover {
            .active-highlight {
                background-color: #569abd;
            }
        }
    }
    
    .active-highlight {
        width: 4px;
        height: 100%;
    }
        
    .element-status {
        font-size: 12px;
        width: 25px;
        margin-left: 4px;
        text-align: center;
        cursor: pointer;
        &.no-state {
            cursor: default;
        }
    }
    .element-icon {
        font-size: 35px;
        width: 45px;
        text-align: center;
    }
    .element-image-wrapper {
        width: 45px;
        .element-image {
            height: 34px;
            width: 34px;
            margin: 0 auto;
            box-shadow: inset 0px 0px 3px 1px #30343c;
            border-radius: 3px;
            background-position: center;
            background-repeat: no-repeat;
        }
    }
    .element-label {
        font-size: 14px;
        font-weight: 600;
        padding-left: 5px;
    }
    .element-sub {
        position: relative;
        display: block;
        // margin-top: 5px;
        padding-left: 24px;
        border-top: 1px solid #5a6b7a;
    }
    
    .group-policies-sub-menu, .report-sub-menu {
        .element-icon {
            font-size: 12px;
        }
    }
    
    .element-row-wrapper {
        width: 100%;
        cursor: pointer;
        display: table;
        min-height: 46px;
    }
}