<div class="tree-side-menu-element" ng-class="model.class">
    <div class="element-active" ng-class="{active: model.active}"></div>
    <div class="element-row-wrapper" ng-click="onClick()">
        <div class="element-row">
            <div class="active-highlight" ng-class="{active: model.active}"></div>
            <div ng-if="model.icon" class="element-icon fa" ng-class="model.icon"></div>
            <div ng-if="model.image" class="element-image-wrapper">
                <div class="element-image" ng-style="{'background-image': 'url(' + model.image + ')'}"></div>
            </div>
            <div class="element-label">{{model.label}}</div>
            <div class="element-status fa" ng-class="statusIcon" ng-click="statusClick($event)"></div>
        </div>
    </div>
    <div ng-repeat="sub in model.sub" class="element-sub">
        <div ng-if="sub" ng-transclude="subElement"></div>
    </div>
</div>