
<div>
    <h2><span>Author To Contact</span> {{vm.authorToContact.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Contact Value</span></dt>
        <dd>
            <span>{{vm.authorToContact.contactValue}}</span>
        </dd>
        <dt><span>Author</span></dt>
        <dd>
            <a ui-sref="author-detail({id:vm.authorToContact.author.id})">{{vm.authorToContact.author.originalName}}</a>
        </dd>
        <dt><span>Contact Type</span></dt>
        <dd>
            <a ui-sref="contact-type-detail({id:vm.authorToContact.contactType.id})">{{vm.authorToContact.contactType.name}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="author-to-contact-detail.edit({id:vm.authorToContact.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down"> Edit</span>
    </button>
</div>
