
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myAuthorToContactLabel">Create or edit a Author To Contact</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.authorToContact.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.authorToContact.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_contactValue">Contact Value</label>
            <input type="text" class="form-control" name="contactValue" id="field_contactValue"
                    ng-model="vm.authorToContact.contactValue"
                    required/>
            <div ng-show="editForm.contactValue.$invalid">
                <p class="help-block"
                    ng-show="editForm.contactValue.$error.required">
                    This field is required.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label for="field_author">Author</label>
            <select class="form-control" id="field_author" name="author" ng-model="vm.authorToContact.author" ng-options="author as author.originalName for author in vm.authors track by author.id" required>
            </select>
        </div>
        <div ng-show="editForm.author.$invalid">
            <p class="help-block"
                ng-show="editForm.author.$error.required">
                This field is required.
            </p>
        </div>
        <div class="form-group">
            <label for="field_contactType">Contact Type</label>
            <select class="form-control" id="field_contactType" name="contactType" ng-model="vm.authorToContact.contactType" ng-options="contactType as contactType.name for contactType in vm.contacttypes track by contactType.id" required>
            </select>
        </div>
        <div ng-show="editForm.contactType.$invalid">
            <p class="help-block"
                ng-show="editForm.contactType.$error.required">
                This field is required.
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
