
<div>
    <h2><span>News Summary To News</span> {{vm.newsSummaryToNews.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>News Summary</span></dt>
        <dd>
            <a ui-sref="news-summary-detail({id:vm.newsSummaryToNews.newsSummary.id})">{{vm.newsSummaryToNews.newsSummary.id}}</a>
        </dd>
        <dt><span>News</span></dt>
        <dd>
            <a ui-sref="news-detail({id:vm.newsSummaryToNews.news.id})">{{vm.newsSummaryToNews.news.id}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="news-summary-to-news-detail.edit({id:vm.newsSummaryToNews.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down"> Edit</span>
    </button>
</div>
