<div class="remediation-actions">
    <button class="btn btn-blue" ng-click="addAction()"><span class="fa fa-plus-circle"></span> Add action</button>
    <div ng-repeat="action in actions" class="form-inline action">
        <div selector="action.name" variants="actionTypes"></div>
        <div ng-if="getActionType(action).display === 'inline'" ng-repeat="attribute in actionTypes[action.type].attributes" class="input-group form-inline parameter">
            <span class="input-group-addon">{{attribute.label}}</span>
            <input ng-if="attribute.type === 'string'" type="text" ng-model="action.attribute[attribute.id]" class="form-control"/>
        </div>
        <button ng-if="getActionType(action).display === 'popup'" class="btn btn-white configure" ng-click="showConfigurePopup(action)">
            <span class="fa fa-cogs"></span> Configure
        </button>
        <button class="btn btn-white remove" ng-click="removeAction($index)">
            <span class="fa fa-times"></span>
        </button>
    </div>
</div>