<div class="modal-header">
    <button ng-if="!options.disableCloseX" type="button" class="close" ng-click="close()">×</button>
    <h4>{{options.title || 'Alert dialog'}}</h4>
</div>
<div class="modal-body conditions-editor-modal">
    <div class="root-condition-group" condition-group="conditions" options="options.properties" property-types="options.types" root="true"></div>
    <div ng-if="options.readOnly" class="read-only-cover"></div>
</div>
<div class="modal-footer">
    <button class="btn btn-danger btn-sm" ng-click="close()">{{options.closeText || 'Close'}}</button>
    <button ng-if="!options.readOnly" class="btn btn-success btn-sm" ng-click="ok()">{{options.okText || 'Ok'}}</button>
</div>
