.avanan-info-box {
  position: relative;
  padding: 10px 15px 5px;
  color: #fff;
  .count, .message, .count-odometer {
    display: inline-block;
    clear: both;
    float: left;
    &.right {
      clear: right;
      float: right;
      text-align: right;
    }
  }

  .count {
    font-size: 30px;
    font-weight: 600;
    height: 65px;
    cursor: pointer;

    a {
      color: white;
    }

    .fa-long-arrow-up, .fa-long-arrow-down {
      position: relative;
      font-size: 24px;
      margin-right: 4px;
    }
    .fa-long-arrow-up {
      top: -3px;
    }
  }

  .av-check {
    float: right;
    margin-top: 2px;
  }

  .count-odometer {
    font-size: 26px;
  }

  .message {
    font-size: 10px;
    padding-bottom: 5px;
  }

  &:after {
    content:'';
    display:block;
    clear: both;
  }

  a.odometer.link {
    position: relative;
    text-decoration: none;
    &:hover, &:focus, &:visited {
      text-decoration: none;
    }
    &:after {
      content: " ";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 8px;
      height: 3px;
      background-color: #fff;
    }
  }

  .double-messages-line {
    position: absolute;
    bottom: 5px;
    left: 15px;
    right: 15px;
    clear: both;
    height: 22px;
    line-height: 22px;
    overflow: hidden;

    & > div {
      display: inline-block;
      width: 100%;
    }

    & > div > .linked-text {
      display: table;
      width: 100%;
    }

    .message-left, .message-right {
      font-size: 10px;
      display: table-cell;
      vertical-align: top;
      line-height: 11px;
    }

    .message-left {
      text-align: left;
    }

    .message-right {
      text-align: right;
      padding-left: 5px;
    }
  }
  
  .left-cover {
    position: absolute;
    left: 0;
    right: 50%;
    top: 0;
    bottom: 0;
    cursor: pointer;
  }
  
  .right-cover {
    position: absolute;
    right: 0;
    left: 50%;
    top: 0;
    bottom: 0;
    cursor: pointer;
  }

  &.policy-info-box {
    padding-bottom: 2px;
  }
}

.infobox-param-arrows {
  .fa {
    font-size: 20px;
    position: relative;
    top: 3px;
  }
}
.infobox-trend-arrows {
  .fa-long-arrow-up {
    color: #0f0;
  }
  .fa-long-arrow-down {
    color: #f00;
  }
  &.uparrow-red {
    .fa-long-arrow-up {
      color: #f00;
    }
    .fa-long-arrow-down {
      color: #0f0;
    }
  }
}

.policy-infobox-config-modal {
  .error {
    color: #f35428;
  }
}

.policy-infobox {
  h2 {
    width: calc(100% - 20px);
    overflow-wrap: break-word;
  }

  .panel-heading {
    height: 40px;
    overflow: hidden;
  }

  .empty-infobox-area {
    font-size: 12px;
    height: 65px;
    padding-top: 7px;
  }
  .empty-infobox-text {
    display: inline;
    font-size: 12px;
    & > div {
      display: inline;
    }
  }
}