[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.btn.btn-blue, .btn.btn-blue:hover{
  background-color: #2980b9;
  color: #fff;
  height: 27px;
  border: 0px;
  font-size: 11px;
  font-weight: 600;
  border-radius: 2px;

  &.active {
    background-color: #255484;
  }
  
  &.highlight {
    -webkit-box-shadow: 0px 0px 5px 2px rgb(22, 160, 133);;
    -moz-box-shadow: 0px 0px 5px 2px rgb(22, 160, 133);;
    box-shadow: 0px 0px 5px 2px rgb(22, 160, 133);;
    background: rgb(22, 160, 133);
  }
}

.btn.btn-red, .btn.btn-red:hover{
  background-color: #f35428;
  color: #fff;
  height: 27px;
  border: 0;
  font-size: 11px;
  font-weight: 600;
  border-radius: 2px;
}


.btn.btn-blue-border, .btn.btn-blue-border:hover {
  position: relative;
  height: 28px;
  padding-left: 6px;
  padding-right: 25px;
  border: 1px solid #2980b9;
  border-radius: 0px;
  color: #2980b9;
  text-align: left;
  font-size: 11px;
  
  background-color: #fff;
  -webkit-box-shadow: none;
  box-shadow: none;
  
  .fa {
    position: absolute;
    right: 4px;
    top: 9px;
    font-size: 8px;
  }

  &.centered {
    padding-right: 6px;
  }
}

.btn.btn-white, .btn.btn-white:hover {
  background-color: #fff;
  color: #434a54;
  border: 1px solid #434a54;
  border-radius: 2px;
  height: 27px;
  font-size: 10px;
  padding: 0px;
}

.btn.btn-selector, .btn.btn-selector:hover {
  background-color: #fff;
  border: 1px solid #d5d7da;
  height: 34px;
  border-radius: 0px;
  font-size: 12px;
}

.avanan-square {
  background-color: #fff;
  border: 1px solid #d5d7da;
  height: 34px;
  border-radius: 0px !important;

  -webkit-box-shadow: none;
  box-shadow: none;
}

.zero-opacity {
  opacity: 0;
}

@media (max-width: 767px) {
  .col-xs-clearfix {
    clear: both;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .col-sm-clearfix {
    clear: both;
  }

  .col-sm-no-right-padding {
    padding-right: 0;
    .panel {
      padding-right: 15px;
    }
  }
  .col-sm-no-left-padding {
    padding-left: 0;
    .panel {
      padding-left: 15px;
    }
  }

}

@media (min-width: 992px) and (max-width: 1199px) {
  .col-md-clearfix {
    clear: both;
  }

  .col-md-no-right-padding {
    padding-right: 0;
    .panel {
      padding-right: 15px;
    }
  }
  .col-md-no-left-padding {
    padding-left: 0;
    .panel {
      padding-left: 15px;
    }
  }

}

@media (min-width: 1200px) {
  .col-lg-clearfix {
    clear: both;
  }

  .col-lg-no-right-padding {
    padding-right: 0px;
    .panel {
      padding-right: 15px;
    }
  }
  .col-lg-no-left-padding {
    padding-left: 0px;
    .panel {
      padding-left: 15px;
    }
  }
}

.email-view-warning {
  max-width: 600px;
  .danger-text {
    font-size: 20px;
    font-weight: bold;
    .fa {
      font-size: 18px;
      margin-right: 10px;
    }
  }
  .warning-content {
    font-size: 12px;
    a {
      text-decoration: underline;
    }
  }
}