.widget-label  {
  font-size: 20px;
  color: #343942;
  font-weight: normal;
  margin: 5px 0;
  white-space: nowrap;
  overflow:hidden;
  text-overflow: ellipsis;
}

.rule-identity-icon-users, .rule-identity-icon-groups {
  svg {
    vertical-align: middle;
    position: relative;
    top: -3px;

  }
}

body.guiV2 {
  color: #343942;

  .modal-header {
    border-bottom: 1px solid #caced7;

    .close {
      margin-top: 10px;
      color: #07477d;
      opacity: 1;
      &:hover {
        opacity: 1;
        color: #052c4d;
      }
    }
  }

  .modal-footer {
    border-top: none;

    .btn.btn-sm {
      min-width: 108px;
    }
    .btn.btn-success, .btn.btn-success:hover  {
      border-color: #269235;
      background-color: #36af47;
    }
    .btn.btn-danger, .btn.btn-danger:hover  {
      border-color: #343942;
      background-color: #4a505c;
    }
  }

  .modal-content {
    border-radius: 4px;
    box-shadow: none;
    border: 1px solid #caced7;
  }

  .modal-backdrop {
    background-color: #343942;
  }
}