.table {
  .user-name {
    display: block;
  }
  .user-email {
    font-size: 12px;
  }
  .user-suspended {
    color: #ffaa11;
    font-weight: bold;
    font-size: 12px;
  }

  .ip-address {
    display: block;
  }
  .ip-country, .ip-city {
    font-size: 12px;
  }
}

html {
  height: 100%;
  overflow: visible;
}

body {
  height: 100%;
  overflow: visible;
  background: url('/assets/auth/controllers/auth/images/background.png');
}

.float-right {
  float: right !important;
}

.float-left {
  float: left !important;
}

.display-none {
  display: none !important;
}

.display-inline-block {
  display: inline-block !important;
}

.display-block {
  display: block !important;
}

.text-align-left {
  text-align: left !important;
}

.text-align-right {
  text-align: right !important;
}

.text-align-center {
  text-align: center;
}

.word-break-all {
  word-break: break-all;
}

img.icon-16px {
  width: 16px !important;
  height: 16px !important;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-default {
  cursor: default;
}

.action-img {
  &.pending {
    opacity: 0.5;
  }
}
.action-img-with-status {
  display: inline-block;
}
.action-status {
  vertical-align: super;
  margin-left: -10px;
}

.green-text, .fa-check.green-check {
  color: #89b041;
}

.green-tag {
  color: #ffffff;
  background-color: #89b041;
}

.lowest-severity-tag {
  color: #ffffff;
  background-color: #89b041;
}

.low-severity-tag {
  color: #ffffff;
  background-color: #41731F;
}

.medium-severity-tag {
  color: #ffffff;
  background-color: #f39c12;
}

.high-severity-tag {
  color: #ffffff;
  background-color: #FF2828;
}

.highest-severity-tag {
  color: #ffffff;
  background-color: #A00000;
}

.width-20 {
  width: 20px;
}

.blue-text, .fa-times.blue-times, .fa-arrow-right.blue-arrow-right {
  color: #2980b9;
}

.red-text {
  color: #f35428;
}

.gray-text {
  color: #AAAAAA;
}

.black-text {
  color: #000000;  
}

.yellow-text {
  color: #f39c12;
}

.dark-blue-text {
  color: #30343c;
}

.font-italic {
  font-style: italic;
}

.fa.big-icon {
  font-size: 32px;
}

.fa.big-icon.icon-in-circle {
  background-color: #777;
  color: #fff;
  font-size: 14px;
  width: 28px;
  height: 28px;
  text-align: center;
  line-height: 28px;
  border-radius: 14px;
}

.big-icon.status-na {
  background-color: #999;
  color: #fff;
  font-size: 10px;
  width: 28px;
  height: 28px;
  text-align: center;
  line-height: 29px;
  border-radius: 14px;
  display: inline-block;

  &:before {
    content: 'N/A';
  }
}


.bold-text {
  font-weight: 800;
}

.fa-spin{ -webkit-filter: blur(0); } /*Fix for artifacts in chrome on retina display */

/*Fix for bad table borders in Google Chrome on Macs with retina displays (at least version 48) */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .security-matrix > table, .general-table {
    transform: translate(0);
  }
}

.cell-div-width-100 > div {
  width: 100%;
}

.white-space-nowrap {
  white-space: nowrap;
}

.white-space-pre {
  white-space: pre;
}

.dropdown-align-right {
  .dropdown-menu {
    left: auto;
    right: 0;
  }
}

.scan-details-summary-qtip {
  max-width: none;
  td {
    vertical-align: top;
    padding: 2px;
  }
}

.scan-status-troubleshooting-tip {
  max-width: none;
  font-size: 12px;
  .qtip-content {
    word-wrap: normal;
  }
  .status-tip-stats {
    padding-left: 30px;
  }
  .status-tip-stats-line {
    white-space: nowrap;
    &.not-empty {
      font-weight: bold;
    }
  }
}

.flotTip {
  background-color: #fff;
  padding: 6px;
  border-radius: 4px;
  border: 1px solid #eee;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}

.dropdown-submenu>a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}  
  
.data-table.light .table tr.section-change, .table tr.section-change {
  border-top: 3px solid #999;
}

.folder-browser-item {
  a.item-title {
    white-space: nowrap;
  }
  a.item-owner {
    background-color: #EBEBEB;
    color: #666;
    font-size: 9px;
    font-weight: bold;
    text-decoration: none;
    margin-left: 10px;
    position: relative;
    top: -3px;
    padding: 0 3px;
    border-radius: 3px;
    white-space: nowrap;
    float: right;
  }
  .item-description {
    font-style: italic;
    display: block;
  }
  .item-modified {
    margin-right: 15px;
  }
  .sharing-icon {
    img {
      width: 20px;
      height: 20px;
    }
  }
  .item-deleted {
    background-color: #999;
    color: #fff;
    font-size: 9px;
    padding: 1px 5px;
  }
}

.table-header-nowrap {
  th {
    white-space: nowrap;
  }
}


.none-policy-severity-tag {
  color: #fff;
  background-color: #16a085;
}

.low-policy-severity-tag {
  color: #fff;
  background-color: #9bbb59;
}

.med-policy-severity-tag {
  color: #fff;
  background-color: #f39c12;
}

.high-policy-severity-tag {
  color: #fff;
  background-color: #f35428;
}

@media (min-width: 1200px) {
  .col-lg-5-in-a-row {
    width: 20%;
  }
}

.top-nav-print-logo {
  display: none;
  position: absolute;
  left: 5px;
  padding: 5px;
  .print-logo {
    width: 97px;
    height: 34px;
  }
}

@media print {
  .top-nav-print-logo {
    display: block;
  }
}

.LPMcontainer {
  margin-right: -10px !important;
}

.modal-dialog {
  .modal-header {
    h4 {
      word-break: break-word;
    }
  }
}

.quarantined-msg {
  display: block;
  font-size: 13px;
  font-weight: bold;
}

.email-read-status-icon {
  min-width: 32px;
  max-width: 32px;
  min-height: 32px;
  max-height: 32px;
}

.action-confirm-items-list {
  padding-left: 10px;
}

.z-index-1 {
  z-index: 1;
}

.user-is-client-mark {
  color: #fff;
  background-color: #f39c12;
  font-weight: bold;
  padding: 0 5px;
  text-transform: uppercase;
  font-size: 9px;
  border-radius: 2px;
}

.switch-on {
  width: 5.5em;
  height: 2.8em;
  display: inline-block;
  border-radius: 1.4em;
  background-color: #9bbb59;
  text-transform: uppercase;
  color: white;
  font-size: 9px;
  font-weight: bold;
  text-align: left;
  position: relative;
  padding-left: 0.8em;
  padding-top: 0.8em;

  &:after {
    content: '';
    width: 2.2em;
    height: 2.2em;
    background-color: #fff;
    border-radius: 1.1em;
    display: inline-block;
    position: absolute;
    top: 0.3em;
    right: 0.3em;
  }
}

.switch-off {
  width: 5.5em;
  height: 2.8em;
  display: inline-block;
  border-radius: 1.4em;
  background-color: #d8d8d8;
  text-transform: uppercase;
  color: white;
  font-size: 9px;
  font-weight: bold;
  text-align: right;
  position: relative;
  padding-right: 0.7em;
  padding-top: 0.8em;

  &:before {
    content: '';
    width: 2.2em;
    height: 2.2em;
    background-color: #fff;
    border-radius: 1.1em;
    display: inline-block;
    position: absolute;
    top: 0.3em;
    left: 0.3em;
  }
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.overflow-wrap-break-word {
  overflow-wrap: break-word;
}