<div class="entity-debug">
    <div class="entity-debug-form">
        <div ng-if="!model.entityType" class="form-group">
            <span class="entity-debug-label">Entity Type:</span>
            <div class="entity-debug-param">
                <div select2="entityDebug.type" variants="entityTypes" settings="{multiple: false}"></div>
            </div>
        </div>
        <div ng-if="!model.entityId" class="form-group">
            <span class="entity-debug-label">Entity Id:</span>
            <input type="text" class="avanan-square entity-debug-param" ng-model="entityDebug.id">
        </div>
        <div class="entity-debug-buttons-top">
            <div class="entity-debug-buttons">
                <button class="btn btn-blue action-button-left" ng-click="entitySecurityInfo()" ng-show="entityDebug.type && entityDebug.id && !model.noSecurityInfo">View security info</button>
                <button class="btn btn-blue action-button-left" ng-click="showOriginalSecurityInfo()" ng-show="entityDebug.type && model.preReleaseId && !model.noSecurityInfo">Original security info</button>
                <button class="btn btn-blue action-button" ng-click="loadEntityInfo()" ng-show="entityDebug.type && entityDebug.id">Load Raw Info</button>
            </div>
            <div class="entity-debug-buttons">
                <a target="_blank"
                   ng-if="model.showDownload && entityDebug.type && entityDebug.id"
                   class="btn btn-blue action-button-left"
                   ng-href="/api/v1/entity/download/{{entityDebug.type}}/{{entityDebug.id}}"
                   ng-disabled="isDeleted"
                   qtip2="downloadLinkToolTip"
                   ng-click="downloadLinkClick($event)"
                >Download</a>
            </div>
        </div>
        <div class="entity-debug-buttons">
            <button class="btn btn-blue action-button-left" ng-click="uploadFile()" ng-show="ftpUploadData">Upload {{ftpUploadData.type}} {{ftpUploadData.id}} to FTP server</button>
        </div>
    </div>
    <div class="entity-debug-data">
        <div class="entity-debug-pair" ng-repeat="line in entityData">
            <div class="key">{{line.key}}</div>
            <div class="value">
                <div linked-text="line.value"></div>
            </div>
        </div>
    </div>
</div>