.entity-debug {
  .entity-debug-form {
    .form-group {
      position: relative;
      margin-bottom: 5px;
    }

    .entity-debug-buttons {
      margin-bottom: 8px;
      width: 403px;
      .action-button {
        float: right;
      }

      .action-button-left {
        float: left;
        width: auto;
        margin-right: 3px;
      }
      &:after {
        content: ' ';
        display: block;
        clear: both;
      }
    }
    .entity-debug-buttons-top .entity-debug-buttons {
      display: inline-block;
    }



    .entity-debug-label {
      display: inline-block;
      width: 100px;
    }
    .entity-debug-param, .entity-debug-param {
      display: inline-block;
      width: 300px;

      &.selector {
        & > button {
          width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .dropdown-menu {
          max-height: 350px;
          overflow: auto;
        }
      }
    }
  }
  
  .entity-debug-data {
    .entity-debug-pair {
      margin-top: 20px;
      clear: both;
      &:hover {
        background-color: #eee;
      }

      .key {
        width: 200px;
        float: left;
        word-break: break-all;
        padding-right: 5px;
      }
      .value {
        width: calc(100% - 205px);
        float:left;
        word-break: break-all;

        & > div > div > span.text {
          white-space: pre-line;
        }
      }
    }
  }
}