<div class="working-indicator" ng-if="helper.isShown" ng-class="{'disable-screen': helper.disableScreen}">
    <i class="fa fa-refresh fa-spin"></i>
    <div class="unlock" ng-if="helper.showUnlockButton">
        <div class="unlock-message">Request took more time then expected, press button bellow to unlock screen</div>
        <div class="btn btn-blue" ng-click="unlock()">Unlock screen</div>
    </div>
</div>