.working-indicator {
  font-size: 50px;
  text-align: center;
  padding-top: 200px;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  
  &.disable-screen {
    background-color: #fff;
  }
  
  .unlock {
    display: block;
    width: 320px;
    margin: auto;
    background-color: white;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #d5d7da;
  
    .unlock-message {
      width: 300px;
      margin: 10px auto;
      font-size: 16px;
    }
    
    .btn {
      display: block;
      margin: 0 auto;
      width: 100px;
    }
  }
}