<div class="page">
    <div class="top" ng-transclude="top">
        <div top-panel="{{ title }}"></div>
    </div>
    <div ng-if="errorStatusHolder.errorStatus()" error-status></div>
    <div ng-if="!errorStatusHolder.errorStatus()" class="content" ng-transclude="content"></div>
</div>