.page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;

  height: 100vh;

  .top {

  }

  .content {
    background-color: #f3f5f9;
    padding: 0 54px;
    overflow: auto;
    height: 100%;
  }
}