.office365_emails_email-profile {
  .top-line {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    margin: 0 -6px;

    > div {
      flex: 1 0 100px;
      display: flex;
      flex-direction: column;

      .widget-body {
        border-style: solid;
        border-color: #e0e3e8;
        border-width: 7px 4px 7px 3px;
        border-radius: 0;
      }

      &:first-child {
        .widget-body {
          border-top-left-radius: 4px;
          border-bottom-left-radius: 4px;
          border-left-width: 7px;
        }
      }

      &:last-child {
        .widget-body {
          border-top-right-radius: 4px;
          border-bottom-right-radius: 4px;
          border-right-width: 7px;
        }
      }

      &:not(:last-child) {
        .widget-head {
          padding-right: 10px;
        }
      }
    }
  }
  .second-line {
    display: flex;
    flex-direction: row;
    margin: 10px -10px 0;
    > div {
      flex: 1 0 100px;
      margin: 0 10px;
    }
  }
}

.widget-head {
  display: flex;
  flex-direction: row;

  > .widget-label {
    flex: 1 1 auto;
  }

  > .head-link {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    margin-left: 10px;
  }

  .debug-link > a{
    color: #2298f0;
    cursor: pointer;
  }
}
