<div class="profile-v2 office365_emails_email-profile" page>
    <top>
        <div top-panel="{{ shared.title || 'Email Profile' }}" class="profile-top-panel">
        </div>
    </top>
    <content>
        <div class="top-line">
            <div profile-office365-emails-email-email-info="shared"></div>
            <div profile-security-stack></div>
        </div>
        <div class="second-line">
            <div profile-office365-emails-email-attachments></div>
            <div profile-office365-emails-email-conversations></div>
        </div>
        <div profile-office365-emails-email-event-log></div>
        <div profile-entity-debug></div>

    </content>
</div>