<div ng-if="model" class="panel" ng-class="model.wrapper.class" ng-style="model.wrapper.style">
    <div class="panel-heading" qtip2="model.wrapper.tooltip" ng-click="headerClick('slow')">
        <div ng-transclude="widgetHeader">
            <div ng-if="buttons('left')" widget-panel-buttons="buttons('left')" class="widget-panel-buttons widget-panel-buttons-left"></div>
            <div class="panel-actions" ng-click="$event.stopPropagation()">
                <div ng-if="buttons('main-left')" widget-panel-buttons="buttons('main-left')" class="widget-panel-buttons"></div>
                <div ng-if="model.wrapper.checkbox" nice-checkbox="model.wrapper.checkbox.value" text="model.wrapper.checkbox.text" ng-class="model.wrapper.checkbox.class"></div>
                <div ng-if="model.wrapper.dateInterval" class="date-interval" datetime-picker="model.wrapper.dateInterval.from" qtip2="'From date'"></div>
                <div ng-if="model.wrapper.dateInterval" class="date-interval" datetime-picker="model.wrapper.dateInterval.to" qtip2="'To date'"></div>
                <input ng-if="model.wrapper.filter && !minimized" type="text" class="form-control avanan-square" ng-model="model.wrapper.filter.value" placeholder="{{model.wrapper.filter.placeholder}}">
                <input ng-if="model.wrapper.resolution" type="number" class="resolution-input avanan-square" ng-model="model.wrapper.resolution.count" qtip2="'Days'">
                <input ng-if="model.wrapper.resolution" type="number" class="resolution-input avanan-square" ng-model="model.wrapper.resolution.interval" qtip2="'Interval'">
                <div ng-if="model.wrapper.resolution" class="btn-group resolution-dropdown" dropdown>
                    <div class="resolution-value btn btn-blue" data-toggle="dropdown" dropdown-toggle qtip2="'Interval type'">{{getResolutionLabel()}}<i class="fa fa-chevron-down"></i></div>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-repeat="variant in model.wrapper.resolution.variants">
                            <a href="#" ng-click="setResolution($event, variant)">{{variant.label}}</a>
                        </li>
                    </ul>
                </div>
                <div ng-if="model.wrapper.inlineFilters" inline-panel-filters="model.wrapper.inlineFilters" uuid="model.uuid"></div>
                <div ng-if="model.wrapper.filters" class="btn-icon btn-group btn-filters" dropdown>
                    <i class="multiselect fa fa-cogs" data-toggle="dropdown" dropdown-toggle></i>
                    <div select-dropdown="model.wrapper.filters" on-change="filterChanged(option)"></div>
                </div>
                <div ng-if="buttons('main')" widget-panel-buttons="buttons('main')" class="widget-panel-buttons"></div>
                <div ng-if="model.wrapper.settings" class="btn-icon btn-setting" ng-click="showSettings()"><i class="fa fa-wrench"></i></div>
                <div ng-if="model.wrapper.minimize" class="btn-icon btn-minimize" ng-click="minimizeToggle()"><i class="fa" ng-class="minimized ? icons.expand : icons.minimize"></i></div>
                <div ng-if="model.wrapper.close" class="btn-icon btn-close" ng-click="close()"><i class="fa fa-times"></i></div>
            </div>
            <div ng-if="model.wrapper.progress" class="widget-progress" stacked-progress="model.wrapper.progress"></div>
            <h2 ng-if="!model.wrapper.linkedTextTitle">{{model.wrapper.title}}</h2>
            <div ng-if="model.wrapper.linkedTextTitle" linked-text="model.wrapper.linkedTextTitle" class="linked-text-title"></div>
            <div ng-if="model.wrapper.tag" class="tag">{{model.wrapper.tag}}</div>
            <div  ng-if="buttons('right')" widget-panel-buttons="buttons('right')"  class="widget-panel-buttons widget-panel-buttons-right"></div>
        </div>
    </div>

    <div class="panel-body" ng-style="model.bodyStyle" ng-class="{'panel-body-loading': (model.wrapper.showLoading && model.wrapper.isLoading)}">
        <p ng-if="model.wrapper.description" class="description">
            <small>{{model.wrapper.description}}</small>
        </p>
        <br ng-if="model.wrapper.description">
        <div ng-if="model.wrapper.showLoading && model.wrapper.isLoading" class="panel-loading">
            <span class="fa fa-spinner fa-pulse"></span>
        </div>
        <div ng-transclude="widgetBody"></div>
    </div>
</div>