.panel {
  -webkit-border-radius:0;
  -moz-border-radius:0;
  border-radius:0;
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
  box-shadow:none;
  margin-bottom:30px;

  &.no-margin {
    margin-bottom: 0px;
  }

  &.single-widget > .panel-body {
    min-height: 300px;
  }

  .panel-heading{
    line-height:40px;
    padding:0 15px;
    min-height:40px;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
    border-bottom:1px solid #d4d4d4;
    position:relative;
    -webkit-box-shadow:inset 0 0 1px 1px #fff;
    -moz-box-shadow:inset 0 0 1px 1px #fff;
    box-shadow:inset 0 0 1px 1px #fff;
  }

  &.no-inner-padding > .panel-heading,
  &.no-inner-padding > .panel-body,
  &.light.white-body.no-inner-padding > .panel-body {
      padding-left: 0;
      padding-right: 0;
  }

  .panel-heading {

    h2, h3{
      display:inline-block;
      margin:0;
      color:#333;
      text-transform:uppercase;
      font-weight:500;
      font-size:12px;
    }

    .linked-text-title {
      display: inline-block;
    }

    .left-label-button {
      display: inline-block;
      margin-right: 10px;
    }

    .panel-title{
      display:inline-block;
    }

    .switch{
      margin:10px;
    }

    .widget-progress {
      display: inline-block;
      float: right;
    }

    .panel-actions{
      display: inline-block;
      margin-right: -15px;
      float: right;
      background: inherit;
      border-left:1px solid white;
      height:40px;
      font-size:0;

      i{
        display:inline-block;
        color:#a6a6a3;
        text-align:center;
        width:40px;
        -webkit-transition:all .1s ease-in-out;
        -moz-transition:all .1s ease-in-out;
        -ms-transition:all .1s ease-in-out;
        -o-transition:all .1s ease-in-out;
        transition:all .1s ease-in-out;
        text-decoration:none;
        font-size:14px;
      }

      .btn-icon {
        display:inline-block;
        height:30px;
        width:44px;
        border-left:1px solid #d4d4d4;
        text-align:center;
        -webkit-box-shadow:inset 0 0 1px 1px #fff;
        -moz-box-shadow:inset 0 0 1px 1px #fff;
        box-shadow:inset 0 0 1px 1px #fff;
        cursor: pointer;
        vertical-align: middle;
        .dropdown-menu {
          right: 0px;
          left: auto;
        }
      }

      .btn {
        margin-left: 5px;
        &.btn-icon {
          margin-left: 0;
        }
        &:first-child {
          margin-left: 0;
        }
      }

      .btn-default {
        height: 28px;
        padding-left: 6px;
        padding-right: 6px;
        border: 1px solid #2980b9;
        border-radius: 2px;
        color: #2980b9;
        text-align: left;
        font-size: 11px;
      }

      input[type=text], input[type=number] {
        display:inline-block;
        height: 25px;
        line-height: 20px;
        margin-right: 5px;
        width: 200px;
        vertical-align: middle;
      }

      .btn-filters .select-dropdown {
        right: 0px;
        left: auto;
        max-height: 250px;
        overflow-y: auto;
      }
    }

    .label.pull-right, .badge.pull-right {
      margin:11px 0;
    }

    .widget-panel-buttons {
      .btn.btn-icon {
        padding-left: 0;
        padding-right: 0;
        width: 20px;
        text-align: center;
        margin-right: 0;
        i {
          width: auto;
        }
      }

      .btn-default {
        height: 28px;
        padding-left: 6px;
        padding-right: 6px;
        border: 1px solid #2980b9;
        border-radius: 2px;
        color: #2980b9;
        text-align: left;
        font-size: 11px;
      }

    }

  }

  .panel-body {
    overflow: auto;
    &.no-padding {
      padding: 0
    }

    &.padding-horizontal{
      padding:0 15px
    }

    &.no-padding-bottom{
      padding-bottom:0
    }

    &.panel-body-loading {
      position: relative;
      min-height: 70px;
    }
    .panel-loading {
      font-size: 25px;
      text-align: center;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(255,255,255,0.8);
      z-index: 10;

      .fa {
        position: relative;
        top: 20px;
      }
    }
  }

  .panel-footer{
    background:white;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
    border-top:1px solid #d4d4d4;
    position:relative;
    -webkit-box-shadow:inset 0 0 1px 1px #fff;
    -moz-box-shadow:inset 0 0 1px 1px #fff;
    box-shadow:inset 0 0 1px 1px #fff
  }

  &.panel-default {
    border:1px solid #d4d4d4;
    -webkit-box-shadow:0 2px 1px -1px rgba(0,0,0,0.1);
    -moz-box-shadow:0 2px 1px -1px rgba(0,0,0,0.1);
    box-shadow:0 2px 1px -1px rgba(0,0,0,0.1);

    .panel-heading, .panel-footer {
      background:#f5f5f5
    }
  }

  &.panel-primary {
    border-color:#20a8d8;
    .panel-heading, .panel-footer {
      background:#5dc3e7;
      color:#092f3d;
      border-color:#20a8d8;
    }
  }

  &.panel-success {
    border-color:#79c447;
    .panel-heading, .panel-footer {
      background:#a3d781;
      color:#284315;
      border-color:#79c447
    }
  }

  &.panel-info {
    border-color:#67c2ef;
    .panel-heading, .panel-footer{
      background:#acdef6;
      color:#106894;
      border-color:#67c2ef
    }
  }

  &.panel-warning {
    border-color:#fabb3d;
    .panel-heading, .panel-footer {
      background:#fcd588;
      color:#815703;
      border-color:#fabb3d
    }
  }

  &.panel-danger {
    border-color:#ff5454;
    .panel-heading, .panel-footer {
      background:#ffa1a1;
      color:#a10000;
      border-color:#ff5454
    }
  }

  &.left-controls {
    h2 i {
      display: none;
    }

    .panel-actions{
      float: none;
      margin-right: 15px;
      margin-left: -15px;
      div {
        border: none;
        border-right:1px solid #d4d4d4;
        &.widget-panel-buttons {
          border-right: 0;
        }
      }
    }
  }

  &.light {
    font-family: "Open Sans", sans-serif;

    &.custom-color {
      .panel-heading {
        background-color: transparent;
        border-bottom: 1px solid rgba(255,255,255,0.25);
        .panel-body {
          background-color: transparent;
        }
      }
    }


    &.color1 {
      $color: #2980b9;
      border-top: 4px solid $color;
      .tag {
        background: $color;
      }
      .panel-body {
        color: $color;
      }
    }
    &.color2 {
      $color: #16a085;
      border-top: 4px solid $color;
      .tag {
        background: $color;
      }
      .panel-body {
        color: $color;
      }
    }
    &.color3 {
      $color: #9bbb59;
      border-top: 4px solid $color;
      .tag {
        background: $color;
      }
      .panel-body {
        color: $color;
      }
    }
    &.color4 {
      $color: #f39c12;
      border-top: 4px solid $color;
      .tag {
        background: $color;
      }
      .panel-body {
        color: $color;
      }
    }
    &.color5 {
      $color: #f35428;
      border-top: 4px solid $color;
      .tag {
        background: $color;
      }
      .panel-body {
        color: $color;
      }
    }

    &.white-body > .panel-body {
      padding: 15px;
      background: #fff;
      border-bottom: 1px solid #d5d7da;
    }

    &.white-header > .panel-heading {
      background: #fff;
    }

    background: #f9f9f9;
    border: none;
    border-top: 4px solid #d5d7da;
    > .panel-heading {
      border-bottom: 1px solid #d5d7da;

      h2 {
        font-weight: bold;
        color: #30343c;
        i {
          display: none;
        }
      }

      .tag {
        color: #FFF;
        float: right;
        height: 16px;
        line-height: 10px;
        font-size: 10px;
        font-weight: bold;
        padding: 3px 7px;
        margin-top: 10px;
      }

      .panel-actions {
        border: none;
        padding-right: 5px;
        .btn-icon {
          border: none;
          width: 20px;
          i {
            width: auto;
          }
        }
      }
    }

    > .panel-body {
      padding: 0px;

      .description {
        color: #30343c
      }
    }
  }

  &.avanan {
    font-family: open-sans, sans-serif;

    &.custom-color {
      .panel-heading {
        background-color: transparent;
        border-bottom: 1px solid rgba(255,255,255,0.25);
        .panel-body {
          background-color: transparent;
        }
      }
    }

    &.color1 {
      $color: #2980b9;
      background-color: $color;
      .panel-heading {
        background-color: $color;
        border-bottom: 1px solid #5297c5;
      }
      .panel-body {
        background-color: $color ;
      }
    }

    &.color2 {
      $color: #16a085;
      background-color: $color;
      .panel-heading {
        background-color: $color;
        border-bottom: 1px solid #43b19b;
      }
      .panel-body {
        background-color: $color ;
      }
    }

    &.color3 {
      $color: #89b041;
      background-color: $color;
      .panel-heading {
        background-color: $color;
        border-bottom: 1px solid #9fbe65;
      }
      .panel-body {
        background-color: $color ;
      }
    }

    &.color4 {
      $color: #f39c12;
      background-color: $color;
      .panel-heading {
        background-color: $color;
        border-bottom: 1px solid #f5b041;
      }
      .panel-body {
        background-color: $color ;
      }
    }

    &.color5 {
      $color: #f35428;
      background-color: $color;
      .panel-heading {
        background-color: $color;
        border-bottom: 1px solid rgb(255, 125, 89);
      }
      .panel-body {
        background-color: $color ;
      }
    }

    &.white-body > .panel-body {
      padding: 15px;
      background: #fff;
      border-bottom: 1px solid #d5d7da;
    }

    &.white-header > .panel-heading {
      background: #fff;
    }

    background: #f9f9f9;
    > .panel-heading {
      background-color: #434a54;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;

      h2 {
        font-weight: bold;
        color: #fff;
        i {
          display: none;
        }
      }

      .tag {
        color: #FFF;
        float: right;
        height: 16px;
        line-height: 10px;
        font-size: 10px;
        font-weight: bold;
        padding: 3px 7px;
        margin-top: 10px;
      }

      .panel-actions {
        border: none;
        padding-right: 5px;
        .btn-icon {
          border: none;
          -webkit-box-shadow: none;
          -moz-box-shadow: none;
          box-shadow: none;
          width: 20px;
          i {
            width: auto;
          }
        }
      }
    }

    > .panel-body {
      padding: 0px;

      .description {
        color: #30343c
      }
    }
  }

  &.solid-avanan {
    background: #f0eff5;
    border-top: 1px solid #d5d7da;
    border-bottom: 1px solid #d5d7da;
    > .panel-heading {
      background-color: #f0eff5;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      border-bottom: none;

      h2 {
        font-weight: bold;
        color: #434a54;
        i {
          display: none;
        }
        vertical-align: middle;
      }

      .tag {
        color: #FFF;
        float: right;
        height: 16px;
        line-height: 10px;
        font-size: 10px;
        font-weight: bold;
        padding: 3px 7px;
        margin-top: 10px;
      }

      .panel-actions {
        border: none;
        padding-right: 5px;
        .btn-icon {
          border: none;
          -webkit-box-shadow: none;
          -moz-box-shadow: none;
          box-shadow: none;
          width: 20px;
          i {
            width: auto;
          }
        }
      }
    }

    > .panel-body {
      padding: 10px;

      .description {
        color: #30343c
      }
    }

    &.white-body > .panel-body  > div {
      background: #fff;
    }

  }

  &.store-group {
    margin: 5px 15px 50px 15px;
    background: #e6e9eb;
    > .panel-heading {
      padding-left: 30px;
      border: 1px solid #d7d8d8;
      border-radius: 5px;
      background-color: #ffffff;
      box-shadow: 0 0 1px #b0bec5;
      -webkit-box-shadow: 0 0 1px #b0bec5;
      -moz-box-shadow: 0 0 1px #b0bec5;
      margin-right: 4px;
      height: 60px;

      .panel-actions {
        border: none;
      }

      h2 {
        font-size: 12px;
        line-height: 60px;
        font-weight: 600;
        text-transform: uppercase;
        color: #455a64;
        i {
          display: none;
        }
      }
    }

    > .panel-body {
      padding: 15px 0 0 0;
      margin-left: -5px;
      background: #e6e9eb;
      overflow: visible;
    }
  }

  &.expandable-group {
    > .panel-heading {
      background-color: #f5f6f6;
      border: none;
      h2 {
        text-transform: none;
      }

      .panel-actions {
        border: none;
        padding-right: 5px;
        margin-right: 0px;
        .btn-icon {
          border: none;
          -webkit-box-shadow: none;
          -moz-box-shadow: none;
          box-shadow: none;
          width: 20px;
          i {
            width: auto;
            color: #2980b9;
            margin-left: 7px;
          }
        }
      }
    }
    > .panel-body {
      padding: 0px;
      background-color: #fff;
    }
  }

  &.panel-minimized .panel-body{
    display:none;
  }

  .btn-filters {
    vertical-align: top;
    margin-left: 10px;
  }
  
  .date-interval {
    margin-right: 10px;
    .picker-input {
      border: 1px solid rgba(0, 0, 0, 0.15) !important;
      margin-right: 0 !important;
      width: 150px !important;
      padding-left: 5px;
    }
    .picker-button {
      font-size: 12px !important;
      line-height: 12px;
    }
    .picker-widget {
      font-size: 12px !important;
      line-height: 14px;
    }
  }
  
  .resolution-input {
    width: 75px !important;
  }
  
  .resolution-dropdown {
    display: inline-block;
    .btn {
      width: 75px;
    }
    
    i {
      width: auto !important;
      color: #FFFFFF !important;
      font-size: 10px !important;
      margin-left: 5px;
    }
    
    .dropdown-menu {
      right: 0px;
      left: auto;
    }
  }

  &.overflow-auto .panel-body {
    overflow: auto;
  }

  &.avanan .panel-heading .panel-actions .button-action-container,
  .panel-heading .panel-actions .button-action-container {
    margin-left: 5px;
    display: inline-block;
    width: auto;
    height: auto;
    float: right;

    div {
      width: auto;
      height: auto;
    }


    .dropdown {
      .dropdown-menu {
        left: auto;
        right: 0;
        > li {
          position: relative;
        }
      }

      .btn {
        height: 28px;
        padding-left: 6px;
        padding-right: 6px;
        border: 1px solid #2980b9;
        border-radius: 2px;
        color: #2980b9;
        text-align: left;
        font-size: 11px;
      }
    }
  }

  .bx-wrapper .bx-controls-direction a {
    z-index: 100;
  }
}

.widget-panel-buttons {
  display: inline-block;
  > div {
    display: inline-block;
  }
}

.widget-panel-buttons-right {
  float: right;
  .dropdown-menu {
    left: auto;
    right: 0;
  }
}

.widget-panel-buttons:empty {
  display: none;
}

.widget-panel-buttons-left > div:last-child {
  margin-right: 10px;
}

.panel.bigger-custom-buttons .panel-heading .panel-actions .widget-panel-buttons {
  .btn-icon {
    width: 23px;

    span.pre-icon {
      color: #eee;
      font-size: 16px;
    }
  }
}

.panel.file-security-stack-category {
  margin-bottom: 15px;
  position: static;
  .general-table {
    transform: none;
  }
  .panel-heading {
    box-shadow: none;
    border: none;
    height: 25px;
    min-height: 25px;
    line-height: 25px;
    position: static;
    h2 {
      text-transform: none;
      font-weight: bold;
      color: rgb(119, 119, 119);
      font-size: 16px;
      i {
        display: none;
      }
    }
  }
  .panel-body {
    padding-top: 7px;
  }
}

.panel.overflow-auto .panel.file-security-stack-category .panel-body {
  overflow: visible;
}