<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">×</button>
    <h4>{{args.title}}</h4>
</div>
<div class="modal-body key-value-graph-modal">
    <div key-value-graph="model" options="options"></div>
</div>
<div class="modal-footer">
    <div ng-if="args.remember" nice-checkbox="result.remember" text="args.remember" class="float-left"></div>
    <button class="btn btn-sm btn-danger" ng-click="cancel()">{{args.cancelText}}</button>
    <button class="btn btn-success btn-sm" ng-click="ok()">{{args.okText}}</button>
</div>
