
<div>
    <h2><span>News Original Image</span> {{vm.newsOriginalImage.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Filename</span></dt>
        <dd>
            <span>{{vm.newsOriginalImage.filename}}</span>
        </dd>
        <dt><span>Blob</span></dt>
        <dd>
            <div ng-if="vm.newsOriginalImage.blob">
                <a ng-click="vm.openFile(vm.newsOriginalImage.blobContentType, vm.newsOriginalImage.blob)">
                    <img data-ng-src="{{'data:' + vm.newsOriginalImage.blobContentType + ';base64,' + vm.newsOriginalImage.blob}}" style="max-width: 100%;" alt="newsOriginalImage image"/>
                </a>
                {{vm.newsOriginalImage.blobContentType}}, {{vm.byteSize(vm.newsOriginalImage.blob)}}
            </div>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
            <span>{{vm.newsOriginalImage.description}}</span>
        </dd>
        <dt><span>Image Order</span></dt>
        <dd>
            <span>{{vm.newsOriginalImage.imageOrder}}</span>
        </dd>
        <dt><span>News</span></dt>
        <dd>
            <a ui-sref="news-detail({id:vm.newsOriginalImage.news.id})">{{vm.newsOriginalImage.news.id}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="news-original-image-detail.edit({id:vm.newsOriginalImage.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down"> Edit</span>
    </button>
</div>
