
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myNewsOriginalImageLabel">Create or edit a News Original Image</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.newsOriginalImage.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.newsOriginalImage.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_filename">Filename</label>
            <input type="text" class="form-control" name="filename" id="field_filename"
                    ng-model="vm.newsOriginalImage.filename"
                    required/>
            <div ng-show="editForm.filename.$invalid">
                <p class="help-block"
                    ng-show="editForm.filename.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group" ngf-drop ngf-change="vm.setBlob($file, vm.newsOriginalImage)" ngf-pattern="'image/*'">
            <label class="control-label" for="field_blob">Blob</label>
            <div>
                <img data-ng-src="{{'data:' + vm.newsOriginalImage.blobContentType + ';base64,' + vm.newsOriginalImage.blob}}" style="max-height: 100px;" ng-if="vm.newsOriginalImage.blob" alt="newsOriginalImage image"/>
                <div ng-if="vm.newsOriginalImage.blob" class="help-block clearfix">
                    <span class="pull-left">{{vm.newsOriginalImage.blobContentType}}, {{vm.byteSize(vm.newsOriginalImage.blob)}}</span>
                    <button type="button" ng-click="vm.newsOriginalImage.blob=null;vm.newsOriginalImage.blobContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="button" ngf-select class="btn btn-default btn-block"
                        ngf-change="vm.setBlob($file, vm.newsOriginalImage)" accept="image/*">
                    Add image
                </button>
            </div>
            <input type="hidden" class="form-control" name="blob" id="field_blob"
                    ng-model="vm.newsOriginalImage.blob"
                    required/>
            <input type="hidden" class="form-control" name="blobContentType" id="field_blobContentType"
                    ng-model="vm.newsOriginalImage.blobContentType" />
            <div ng-show="editForm.blob.$invalid">
                <p class="help-block"
                    ng-show="editForm.blob.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="vm.newsOriginalImage.description"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_imageOrder">Image Order</label>
            <input type="number" class="form-control" name="imageOrder" id="field_imageOrder"
                    ng-model="vm.newsOriginalImage.imageOrder"
                    />
        </div>

        <div class="form-group">
            <label for="field_news">News</label>
            <select class="form-control" id="field_news" name="news" ng-model="vm.newsOriginalImage.news" ng-options="news as news.id for news in vm.news track by news.id" required>
            </select>
        </div>
        <div ng-show="editForm.news.$invalid">
            <p class="help-block"
                ng-show="editForm.news.$error.required">
                This field is required.
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
