.quarantine-v2 {
  .nav-tabs {
    margin-bottom: 20px;
    border: none;
    margin-top: 20px;
  }

  .nav-pills {
    margin-bottom: 20px;
  }

  .nav-tabs > li > a, .nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
    border: none;
    background-color: transparent;
  }


  .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background-color: transparent;
    border: none;
    border-bottom: 3px solid #c1c6d0;
  }

  .nav-tabs > li > a > img {
    width: 34px;
    height: 34px;
    border-radius: 17px;
  }

  .data-table.avanan-table .top-left .button-actions {
    float: none;

    & > .panel-btn.btn {
      width: 90px;
      height: 28px;
      padding-left: 6px;
      padding-right: 6px;
      padding-top: 0;
      line-height: 26px;
      border: 1px solid #2980b9;
      background-color: #fff;
      border-radius: 2px;
      color: #2980b9;
      text-align: left;
      font-size: 11px;
      margin-left: -1px;
    }
  }

  .data-table .table-wrapper {
    min-height: 400px;
  }

  .data-table {
    margin-bottom: 30px;

    .top-left {
      margin-left: 0;
      .button-actions {
        float: left;
        .btn {
          margin-left: 0;
          border-width: 1px;
          border-color: rgb(21, 133, 216);
          border-style: solid;
          border-radius: 4px;
          background-color: rgb(34, 152, 240);
          font-size: 12px;
          color: #fff;
        }
      }
    }
  }

}

