.policy-columns-pick {
  .columns-dropdown.dropdown-menu {
    display: block;
  }
  
  .close-buttons {
    text-align: center;
    padding: 5px 20px 3px;
    white-space: nowrap;

    .close-btn {
      width: 80px;
      height: 28px;
      font-size: 12px;
      border-radius: 2px;
      padding-top: 5px;

      &.btn-primary {
        background-color: #2980b9;
        color: #fff;
        border: 0;
      }

      &.btn-default {
        border: 1px solid #2980b9;
        color: #2980b9;
      }
    }
  }
  
  .dropdown-menu {
    padding: 5px;
    table td {
      .title {
        font-weight: bold;
        color: black;
      }
      white-space: nowrap;
      padding: 2px 5px 2px 10px;
    }
  }
  
  .hovered {
    background: #3c8dbc;
    color: #fff;
  }
}