<div class="policy-columns-pick dropdown" dropdown>
    <div class="panel-btn btn btn-blue-border dropdown-toggle" dropdown-toggle ng-click="buttonClicked()"><span ng-class="options.class"></span>{{options.label}}</div>
    <div ng-if="showDropdown" class="dropdown-menu" role="menu">
        <table ng-click="$event.stopPropagation()">
            <tbody>
                <tr ng-repeat="row in rows">
                    <td ng-repeat="cell in row">
                        <div ng-if="cell.type == 'title'" class="title">{{cell.label}}</div>
                        <a ng-if="cell.type == 'item'" href="#" ng-click="onItemClick($event, cell)">
                            <span class="fa" ng-class="getItemClass(cell)"></span>
                            {{cell.label}}
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="close-buttons">
            <div class="close-btn btn btn-primary" ng-click="applyChange()">Ok</div>
            <div class="close-btn btn btn-default">Cancel</div>
        </div>
    </div>
</div>