
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="mySiteChatgroupNumUsersLabel">Create or edit a Site Chatgroup Num Users</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.siteChatgroupNumUsers.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.siteChatgroupNumUsers.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_numUsers">Num Users</label>
            <input type="number" class="form-control" name="numUsers" id="field_numUsers"
                    ng-model="vm.siteChatgroupNumUsers.numUsers"
                    required/>
            <div ng-show="editForm.numUsers.$invalid">
                <p class="help-block"
                    ng-show="editForm.numUsers.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.numUsers.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_numUserDate">Num User Date</label>
                <div class="input-group">
                    <input id="field_numUserDate" type="text" class="form-control" name="numUserDate" datetime-picker="{{dateformat}}" ng-model="vm.siteChatgroupNumUsers.numUserDate" is-open="vm.datePickerOpenStatus.numUserDate"
                    required/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('numUserDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.numUserDate.$invalid">
                <p class="help-block"
                    ng-show="editForm.numUserDate.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.numUserDate.$error.ZonedDateTimelocal">
                    This field should be a date and time.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label for="field_siteChatgroup">Site Chatgroup</label>
            <select class="form-control" id="field_siteChatgroup" name="siteChatgroup" ng-model="vm.siteChatgroupNumUsers.siteChatgroup" ng-options="siteChatgroup as siteChatgroup.originalName for siteChatgroup in vm.sitechatgroups track by siteChatgroup.id" required>
            </select>
        </div>
        <div ng-show="editForm.siteChatgroup.$invalid">
            <p class="help-block"
                ng-show="editForm.siteChatgroup.$error.required">
                This field is required.
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
