
<div>
    <h2><span>Site Chatgroup Num Users</span> {{vm.siteChatgroupNumUsers.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Num Users</span></dt>
        <dd>
            <span>{{vm.siteChatgroupNumUsers.numUsers}}</span>
        </dd>
        <dt><span>Num User Date</span></dt>
        <dd>
            <span>{{vm.siteChatgroupNumUsers.numUserDate | date:'medium'}}</span>
        </dd>
        <dt><span>Site Chatgroup</span></dt>
        <dd>
            <a ui-sref="site-chatgroup-detail({id:vm.siteChatgroupNumUsers.siteChatgroup.id})">{{vm.siteChatgroupNumUsers.siteChatgroup.originalName}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="site-chatgroup-num-users-detail.edit({id:vm.siteChatgroupNumUsers.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down"> Edit</span>
    </button>
</div>
