<div class="inline-panel-filters">
    <input ng-repeat-start="filter in model track by $index" ng-if="filter.type === 'number'" type="number" min="{{filter.min}}" class="inline-input avanan-square" ng-model="filter.value" qtip2="filter.tooltip" ng-class="filter.class" ng-style="filter.style">
    <span ng-if="filter.type === 'staticText'" class="inline-static-text" ng-class="filter.class" ng-style="filter.style">{{filter.value}}</span>
    <div ng-repeat-end ng-if="filter.type === 'select'" class="btn-group inline-dropdown" dropdown>
        <div class="inline-select-value btn btn-blue" data-toggle="dropdown" dropdown-toggle qtip2="filter.tooltip">{{getSelectLabel(filter)}}<i class="fa fa-chevron-down"></i></div>
        <ul class="dropdown-menu" role="menu">
            <li ng-repeat="variant in filter.variants track by variant.id">
                <a href="#" ng-click="setSelect($event, filter, variant)">{{variant.label}}</a>
            </li>
        </ul>
    </div>

</div>