.inline-panel-filters,
.panel .panel-heading .panel-actions .inline-panel-filters {
  .inline-input {
    width: 75px;
  }

  .inline-static-text {
    font-size: 12px;
    display: inline-block;
    margin-right: 5px;
    height: 25px;
    vertical-align: middle;
    line-height: 25px;
  }

  .inline-dropdown {
    display: inline-block;
    .btn {
      width: 75px;
    }

    i {
      width: auto !important;
      color: #FFFFFF !important;
      font-size: 10px !important;
      margin-left: 5px;
    }

    .dropdown-menu {
      right: 0;
      left: auto;
    }
  }
}
