.side-menu-v2 {
  background-color: #06346b;
  .side-menu-logo {
    display: block;
  }
  .side-menu-logo img {
    padding-left: 34px;
    margin: 13px 0 19px 0;
    border-bottom: 1px solid #063166;
  }
}