<div class="side-menu-v2" ng-show="menuVisible()">
    <a ng-href="{{logoHref}}" class="side-menu-logo">
        <img ng-src="{{logo}}"/>
    </a>
    <div user-menu-v2></div>
    <div main-menu-v2></div>
</div>