<div class="sub-selector btn-group dropdown" ng-class="{'open': searchDropdown.accessor()}" dropdown>
    <div class="input-group">
        <input type="text" class="form-control avanan-square" ng-model="value" ng-focus="onFilterFocus(true)" ng-blur="onFilterFocus(false)" ng-change="onFilterChange()" placeholder="{{oldValue}}">
        <span class="input-group-btn">
            <button class="btn avanan-square dropdown-toggle" ng-focus="onFilterFocus(true)" ng-blur="onFilterFocus(false)"><span class="fa fa-chevron-down"></span></button>
        </span>
    </div>
    <div ng-mouseenter="searchDropdown.hover = true" ng-mouseleave="searchDropdown.hover = false" sub-menu="filteredMenus" menu-id="root" selected-id="model" menu-clicked="menuClicked(event, menuIds, fullMenuId)" depth="{{depth}}"></div>
</div>