.store-item {
  float: left;
  position: relative;
  padding: 5px 5px 5px 5px;
  width: 100%;
  min-width: 250px;
  background: #e6e9eb;

  overflow: hidden;

  .store-item-inner {
    box-shadow: 0 0 1px #b0bec5;
    -webkit-box-shadow: 0 0 1px #b0bec5;
    -moz-box-shadow: 0 0 1px #b0bec5;
    border-radius: 5px;
  }

  .status-active {
    .img-wrapper .item-img {
      opacity: 1;
    }
  }

  .img-wrapper {
    border: 1px solid #d7d8d8;
    border-radius: 5px 5px 0px 0px;
    border-bottom: none;
    background: #f4f4f4;
    overflow: hidden;
    position: relative;

    height: 155px;
    .item-img {
      width: 100%;
      height: 100%;
      background: no-repeat center;
      opacity: 0.5;
    }
    
    .authorized-by {
      position: absolute;
      left: 2px;
      bottom: 2px;
    }
  }

  .item-info {
    position: relative;
    border: 1px solid #d7d8d8;
    background: #ffffff;

    height: 132px;
    padding: 20px;

    .title {
      color: #455a64;
      font-weight: 600;
      font-size: 14px;
    }
    .description {
      color: #455a64;
      font-size: 12px;
    }
  }

  .actions {
    position: relative;
    border: 1px solid #d7d8d8;
    border-top: none;
    border-radius: 0px 0px 5px 5px;
    height: 60px;
    background: #ffffff;

    .price {
      float: right;
      display: block;
      margin: 8px 15px 0px 0px;
      vertical-align: sub;
      span {
        font-size: 24px;
        color: #66bb6a;

        span {
          vertical-align: super;
          font-size: 12px;
          font-weight: 600;
        }
      }
    }
  }

  .active-check {
    position: absolute;
    left: 35px;
    top: 35px;
  }

  .operation-button {
    position: absolute;
    left: 35px;
    top: 35px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    overflow: hidden;
    background-color: #66BB66;
    text-align: center;
    line-height: 40px;
    color: white;
    cursor: pointer;
    font-size: 20px;

    .fa-play {
      margin-left: 4px;
    }
  }

  .coming-soon {
    position: absolute;
    background-color: #f35428;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    padding: 2px 50px;
    font-size: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.75);
    top: 0;
    right: 0;
    transform: translateY(30px) translateX(35px) rotate(30deg);
  }

  .beta-label {
    position: absolute;
    background-color: #2980b9;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    padding: 2px 50px;
    font-size: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.75);
    top: 0;
    right: 0;
    transform: translateY(16px) translateX(40px) rotate(40deg);
  }

  .expired-label {
    position: absolute;
    background-color: #f35428;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    padding: 2px 65px;
    font-size: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.75);
    top: 0;
    right: 0;
    transform: translateY(36px) translateX(44px) rotate(40deg);
  }


  .btn-upload-logs {
    position: absolute;
    left: 0;
    top: -60px;
    font-size: 13px;
    width: 95px;
    padding-left: 0;
    padding-right: 0;
    background-color: #2980b9;
    border-color: #2980b9;
  }
  .analyzing-message {
    position: absolute;
    left: 130px;
    top: -40px;
  }



}
.app-store .store-item {
  .store-button.btn-store-fixed {
    width: 95px;
  }

  .active .store-button {
    border: 1px solid #66bb6a;
    background: #66bb6a;
    color: #ffffff;
    font-weight: 600;
  }
}

.license-info-text p {
  margin-bottom: 0;
}