<div class="store-item">
    <div class="store-item-inner" ng-class="storeItemClass()">
        <div class="img-wrapper">
            <div class="item-img" ng-style="{'background-image': 'url(' + path.img(model.options.img.path) + ')'}">
            </div>
            <div ng-if="showComingSoonIcon && model.options.moduleStatus === 'display_only'" class="coming-soon">Coming Soon</div>
            <div ng-if="model.options.isBeta" class="beta-label">BETA</div>
            <div ng-if="model.options.isExpired" class="expired-label">EXPIRED</div>
            <div ng-if="model.options.authEmail" class="authorized-by">Authorized by {{model.options.authEmail}}</div>
        </div>
        <div class="item-info">
            <div class="title">{{model.options.title}}</div>
            <div class="description">{{model.options.description}}</div>
            <div class="license-info" ng-repeat="infoLine in licenseInfo">{{infoLine}}</div>
        </div>
        <div class="actions">
            <button ng-if="model.options.uploadLogs" class="btn btn-default store-button btn-upload-logs" ng-click="uploadLogs()">Upload Logs</button>
            <div class="analyzing-message" ng-if="analyzing()">Logs are being analyzed</div>
            <button ng-if="configureButton.enabled" class="btn btn-default store-button" ng-class="configureButton.class" ng-click="configureButton.execute()">{{configureButton.label}}</button>
            <button ng-if="licenseButton.enabled" class="btn btn-default store-button"  ng-class="licenseButton.class" ng-click="licenseButton.execute()">{{licenseButton.label}}</button>

            <button ng-if="model.options.moduleStatus === 'display_only'" class="btn btn-default store-button" ng-click="notifyWhenAvailable()">Notify Me When Available</button>

            <!--Prices temporary removed for demo-->
            <!--<div ng-if="isHavePrice() && !isFree()" class="price">Price: <span>{{getDollars()}}<span>{{getCents()}}</span></span>/ month</div>-->
            <!--<div ng-if="isHavePrice() && isFree()" class="price">Price: <span>FREE</span></div>-->
        </div>
        <a ng-if="operationButton.enabled && !operationInProgress()" class="operation-button" ng-click="operationButton.execute()" qtip2="operationButton.label"><span class="fa" ng-class="operationButton.labelClass"></span></a>
        <div ng-if="operationButton.enabled && operationInProgress()" class="operation-button"><span class="fa fa-spinner fa-pulse"></span></div>
    </div>
</div>