<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-click="vm.toggleNavbar()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand logo" href="#/" ng-click="vm.collapseNavbar()">
                <img class="logo-img" src="content/images/logo-jhipster.png" alt="logo"/>
                <span>Newmeridian</span> <span class="navbar-version">v{{VERSION}}</span>
            </a>
        </div>
        <div class="navbar-collapse" uib-collapse="vm.isNavbarCollapsed" ng-switch="vm.isAuthenticated()">
            <ul class="nav navbar-nav navbar-right">
                <li ui-sref-active="active">
                    <a ui-sref="home" ng-click="vm.collapseNavbar()">
                        <span class="glyphicon glyphicon-home"></span>
                        <span class="hidden-sm">Home</span>
                    </a>
                </li>
                <li ng-class="{active: vm.$state.includes('entity')}" ng-switch-when="true" has-authority="ROLE_WEBUI" uib-dropdown class="dropdown pointer">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="entity-menu">
                        <span>
                            <span class="glyphicon glyphicon-th-list"></span>
                            <span class="hidden-sm">
                                Entities
                            </span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ui-sref-active="active">
                                <a ui-sref="author" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span>Author</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="author-comment" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span>Author Comment</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="author-name" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span>Author Name</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="author-profile" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span>Author Profile</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="author-to-contact" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span>Author To Contact</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="author-to-language" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span>Author To Language</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="author-to-site-chatgroup" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span>Author To Site Chatgroup</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="author-to-tag" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span>Author To Tag</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="category" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span>Category</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="contact-type" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span>Contact Type</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="language" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span>Language</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="location" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span>Location</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="metafield" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span>Metafield</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="metagroup" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span>Metagroup</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="news" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span>News</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="news-attachment" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span>News Attachment</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="news-comment" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span>News Comment</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="news-confidential-image" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span>News Confidential Image</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="news-downloadable-content-url" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span>News Downloadable Content Url</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="news-metadata" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span>News Metadata</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="news-original-image" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span>News Original Image</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="news-public-image" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span>News Public Image</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="news-summary" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span>News Summary</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="news-summary-attachment" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span>News Summary Attachment</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="news-summary-comment" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span>News Summary Comment</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="news-summary-confidential-image" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span>News Summary Confidential Image</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="news-summary-metadata" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span>News Summary Metadata</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="news-summary-public-image" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span>News Summary Public Image</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="news-summary-to-news" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span>News Summary To News</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="news-summary-to-tag" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span>News Summary To Tag</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="news-to-language" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span>News To Language</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="news-to-tag" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span>News To Tag</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="news-url" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span>News Url</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="rfi-response" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span>Rfi Response</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="site-chatgroup" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span>Site Chatgroup</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="site-chatgroup-comment" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span>Site Chatgroup Comment</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="site-chatgroup-domain" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span>Site Chatgroup Domain</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="site-chatgroup-info" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span>Site Chatgroup Info</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="site-chatgroup-ip" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span>Site Chatgroup Ip</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="site-chatgroup-name" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span>Site Chatgroup Name</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="site-chatgroup-num-users" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span>Site Chatgroup Num Users</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="site-chatgroup-num-visitors" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span>Site Chatgroup Num Visitors</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="site-chatgroup-to-language" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span>Site Chatgroup To Language</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="site-chatgroup-to-tag" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span>Site Chatgroup To Tag</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="tag" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span>Tag</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="mitigations-bypassed" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span>Mitigations Bypassed</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="author" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span>Author</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="site-chatgroup" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span>Site Chatgroup</span>
                                </a>
                            </li>
                        <li ui-sref-active="active">
                                <a ui-sref="news-to-related-author" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span>News To Related Author</span>
                                </a>
                            </li>
                        <!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
                    </ul>
                </li>
                <li ng-class="{active: vm.$state.includes('account')}" uib-dropdown class="dropdown pointer">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="account-menu">
                        <span>
                            <span class="glyphicon glyphicon-user"></span>
                            <span class="hidden-sm">
                                Account
                            </span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ui-sref-active="active" ng-switch-when="true">
                            <a ui-sref="settings" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-wrench"></span>&nbsp;
                                <span>Settings</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-switch-when="true">
                            <a href="" ng-click="vm.logout()" id="logout">
                                <span class="glyphicon glyphicon-log-out"></span>&nbsp;
                                <span>Sign out</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-switch-when="false">
                            <a href="" ng-click="vm.login()" id="login">
                                <span class="glyphicon glyphicon-log-in"></span>&nbsp;
                                <span>Sign in</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li ng-class="{active: vm.$state.includes('admin')}"  ng-switch-when="true" has-authority="ROLE_WEBUI" uib-dropdown class="dropdown pointer">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="admin-menu">
                        <span>
                            <span class="glyphicon glyphicon-tower"></span>
                            <span class="hidden-sm">Administration</span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ui-sref-active="active">
                            <a ui-sref="user-management" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-user"></span>&nbsp;
                                <span>User management</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="jhi-metrics" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-dashboard"></span>&nbsp;
                                <span>Metrics</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="jhi-health" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-heart"></span>&nbsp;
                                <span>Health</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="jhi-configuration" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-list-alt"></span>&nbsp;
                                <span>Configuration</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="audits" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-bell"></span>&nbsp;
                                <span>Audits</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="logs" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-tasks"></span>&nbsp;
                                <span>Logs</span>
                            </a>
                        </li>
                        <li ng-show="vm.swaggerEnabled" ui-sref-active="active">
                            <a ui-sref="docs" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-book"></span>&nbsp;
                                <span>API</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="elasticsearch-reindex">
                                <span class="glyphicon glyphicon-exclamation-sign"></span>&nbsp;
                                <span>Reindex Elasticsearch</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
