aside.skin-light {
  background: #434a54;

  /*
  .slimScrollDiv {
    height: calc(100% - 198px) !important;
    height: -webkit-calc(100% - 198px) !important;
    height: -moz-calc(100% - 198px) !important;
  }
  */
}

.sidebar-mini aside {
  .search-box, .sidebar-trial-msg {
    display: none;
  }
}

.left-logo {
  width: 100%;
  height: 150px;
  text-align: center;
  line-height: 150px;
  display: block;

  img {
    max-width: 190px;
    max-height: 140px;
  }

  &:hover {
    background: #30343c;
    color: #fff;
  }
}

.sidebar-mini .left-logo {
  width: 100%;
  height: 70px;
  text-align: center;
  line-height: 70px;

  img {
    max-width: 80px;
    max-height: 60px;
  }
}

.sidebar-trial-msg {
  margin-top: 10px;
  text-align: center;
  color: #f35428;
  font-weight: bold;
  font-size: 14px;
}

.sidebar-powered-by {
  margin-top: 20px;
  text-align: center;
}