<aside skinned class="fixed">
    <a href="/#!/" class="left-logo" id="mainLeftLogo">
        <img ng-if="defaultLogo" ng-src="{{sideMenuManager.customIcon()}}" default-src="defaultLogo" image-load-error="sideMenuManager.logoIsCustom(false)"/>
    </a>
    <div class="sidebar-trial-msg" ng-if="sideMenuManager.trialMessage()">{{sideMenuManager.trialMessage()}}</div>
    <div search-box></div>
    <div ng-style="{height: sideMenuManager.sideMenuHeight()}">
        <div class="sidebar-inner scrollable-sidebar" slimscroll="{height: '100%', size: '0px'}">
            <div main-menu></div>
        </div>
    </div>
</aside>