.widget-panel-buttons {
    .btn {
        margin: 0px 5px;
    }
    .pre-icon {
        margin-right: 5px;
    }
    .dropdown-submenu {
        position: relative;
        > a:after {
            display: block;
            content: " ";
            float: right;
            width: 0;
            height: 0;
            border-color: transparent;
            border-style: solid;
            border-width: 5px 0 5px 5px;
            border-left-color: #ccc;
            margin-top: 5px;
            margin-right: -10px;
        }
    
        > .dropdown-menu {
            top: 0;
            left: 100%;
            margin-top: -6px;
            margin-left: -1px;
            -webkit-border-radius: 0 6px 6px 6px;
            -moz-border-radius: 0 6px 6px;
            border-radius: 0 6px 6px 6px;
        }
        
        &:hover > .dropdown-menu {
            display: block;
        }
    }
    .dropdown-menu li a.no-events {
        color: #262626;
        background-color: transparent;
    }
    .dropdown-menu .filter-container {
        padding-left: 15px;
        padding-right: 15px;
        .widget-panel-button-filter {
            border: 1px solid #ccc;
            color: #666;
            width: 100%;
        }
    }
}

.widget-button-option-sort-mark {
    display: inline-block;
    width: 10px;
    position: relative;

    &.fa-sort-desc {
        top: -2px;
    }
    &.fa-sort-asc {
        top: 3px;
    }

}