<div class="widget-panel-buttons" ng-repeat="button in buttons" qtip2="button.tooltip">
    <div ng-if="!button.options" ng-click="execute(button, $event)" ng-class="button.class" class="btn"><span ng-if="button.iconClass" class="pre-icon" ng-class="button.iconClass"></span>{{button.label}}</div>
    <div ng-if="button.options" class="dropdown panel-btn btn" dropdown ng-class="button.class" is-open="button.isOpen">
        <div dropdown-toggle><span ng-if="button.iconClass" class="pre-icon" ng-class="button.iconClass"></span>{{button.label}} <span ng-if="!button.iconClass" class="fa fa-chevron-down"></span></div>
        <ul ng-if="button.options.length" class="dropdown-menu" role="menu">
            <li ng-repeat="option in button.options" ng-class="getOptionClass(option)" ng-if="!button.filter || option.noFilter">
                <a href="javascript:void(0);" ng-click="execute(option, $event, button)" ng-class="{'disabled-link': !actionActive(option), 'no-events': option.noEvents}"><div class="display-inline-block" linked-text="option.label"></div>
                    <span ng-if="option.secondary" ng-class="option.secondary.class" ng-click="$event.stopPropagation(); execute(option.secondary, $event); button.isOpen = false;"></span>
                </a>
                <ul ng-if="option.subMenus" role="menu" class="dropdown-menu">
                    <li ng-repeat="subMenu in option.subMenus">
                        <a href="javascript:void(0);" ng-click="execute(subMenu, $event)" ng-class="{'disabled-link': !actionActive(subMenu)}"><div class="display-inline-block" linked-text="subMenu.label"></div></a>
                    </li>
                </ul>
            </li>
            <li ng-if="button.filter" class="filter-container">
                <input type="text" class="widget-panel-button-filter" ng-model="button.filterValue" ng-click="$event.stopPropagation();" placeholder="{{button.filterPlaceholder}}">
            </li>
            <li ng-repeat="option in button.options | filter: button.filterValue" ng-class="getOptionClass(option)" ng-if="button.filter && !option.noFilter">
                <a href="javascript:void(0);" ng-click="execute(option, $event)" ng-class="{'disabled-link': !actionActive(option), 'no-events': option.noEvents}"><div class="display-inline-block" linked-text="option.label"></div>
                    <span ng-if="option.secondary" ng-class="option.secondary.class" ng-click="$event.stopPropagation(); execute(option.secondary, $event); button.isOpen = false;"></span>
                </a>
                <ul ng-if="option.subMenus" role="menu" class="dropdown-menu">
                    <li ng-repeat="subMenu in option.subMenus">
                        <a href="javascript:void(0);" ng-click="execute(subMenu, $event)" ng-class="{'disabled-link': !actionActive(subMenu)}"><div class="display-inline-block" linked-text="subMenu.label"></div></a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>