
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myNewsSummaryAttachmentLabel">Create or edit a News Summary Attachment</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.newsSummaryAttachment.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.newsSummaryAttachment.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_filename">Filename</label>
            <input type="text" class="form-control" name="filename" id="field_filename"
                    ng-model="vm.newsSummaryAttachment.filename"
                    required/>
            <div ng-show="editForm.filename.$invalid">
                <p class="help-block"
                    ng-show="editForm.filename.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group" ngf-drop ngf-change="vm.setBlob($file, vm.newsSummaryAttachment)">
            <label class="control-label" for="field_blob">Blob</label>
            <div>
                <div ng-if="vm.newsSummaryAttachment.blob" class="help-block clearfix">
                    <a class="pull-left" ng-click="vm.openFile(vm.newsSummaryAttachment.blobContentType, vm.newsSummaryAttachment.blob)">open</a><br>
                    <span class="pull-left">{{vm.newsSummaryAttachment.blobContentType}}, {{vm.byteSize(vm.newsSummaryAttachment.blob)}}</span>
                    <button type="button" ng-click="vm.newsSummaryAttachment.blob=null;vm.newsSummaryAttachment.blobContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="button" ngf-select class="btn btn-default btn-block"
                        ngf-change="vm.setBlob($file, vm.newsSummaryAttachment)">
                    Add blob
                </button>
            </div>
            <input type="hidden" class="form-control" name="blob" id="field_blob"
                    ng-model="vm.newsSummaryAttachment.blob"
                    required/>
            <input type="hidden" class="form-control" name="blobContentType" id="field_blobContentType"
                    ng-model="vm.newsSummaryAttachment.blobContentType" />
            <div ng-show="editForm.blob.$invalid">
                <p class="help-block"
                    ng-show="editForm.blob.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="vm.newsSummaryAttachment.description"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_descriptionTranslation">Description Translation</label>
            <input type="text" class="form-control" name="descriptionTranslation" id="field_descriptionTranslation"
                    ng-model="vm.newsSummaryAttachment.descriptionTranslation"
                    />
        </div>

        <div class="form-group">
            <label for="field_newsSummary">News Summary</label>
            <select class="form-control" id="field_newsSummary" name="newsSummary" ng-model="vm.newsSummaryAttachment.newsSummary" ng-options="newsSummary as newsSummary.id for newsSummary in vm.newssummaries track by newsSummary.id" required>
            </select>
        </div>
        <div ng-show="editForm.newsSummary.$invalid">
            <p class="help-block"
                ng-show="editForm.newsSummary.$error.required">
                This field is required.
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
