
<div>
    <h2><span>News Summary Attachment</span> {{vm.newsSummaryAttachment.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Filename</span></dt>
        <dd>
            <span>{{vm.newsSummaryAttachment.filename}}</span>
        </dd>
        <dt><span>Blob</span></dt>
        <dd>
            <div ng-if="vm.newsSummaryAttachment.blob">
                <a ng-click="vm.openFile(vm.newsSummaryAttachment.blobContentType, vm.newsSummaryAttachment.blob)">open</a>
                {{vm.newsSummaryAttachment.blobContentType}}, {{vm.byteSize(vm.newsSummaryAttachment.blob)}}
            </div>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
            <span>{{vm.newsSummaryAttachment.description}}</span>
        </dd>
        <dt><span>Description Translation</span></dt>
        <dd>
            <span>{{vm.newsSummaryAttachment.descriptionTranslation}}</span>
        </dd>
        <dt><span>News Summary</span></dt>
        <dd>
            <a ui-sref="news-summary-detail({id:vm.newsSummaryAttachment.newsSummary.id})">{{vm.newsSummaryAttachment.newsSummary.id}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="news-summary-attachment-detail.edit({id:vm.newsSummaryAttachment.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down"> Edit</span>
    </button>
</div>
