.profile-v2 {
  &.page .content {
    padding-top: 30px;
  }

  .content > * > div > div > div {
    padding: 0;
  }

  .meta-info .email-meta-data {
    &.info-field-Subject,
    &.info-field-subject {
      .value {
        font-weight: bold;
      }
    }
  }

  .panel,
  .panel.avanan {
    background-color: transparent;
    > .panel-heading {
      background-color: transparent;
      box-shadow: none;
      border: none;
      line-height: normal;
      padding: 0;

      width: 100%;

      > div {
        display: flex;
        flex-direction: row;
        width: 100%;
      }

      h2, h3 {
        flex: 1 1 auto;
        order: 1;
        line-height: normal;
        font-size: 20px;
        color: #343942;
        font-weight: normal;
        margin: 5px 0;
        text-transform: none;
        white-space: nowrap;
        overflow:hidden;
        text-overflow: ellipsis;
      }

      .panel-actions {
        flex: 0 0 auto;
        order: 3;
        float: none;
        line-height: 40px;
        margin-right: 0;
        padding-right: 0;
      }

      .widget-panel-buttons {
        flex: 0 0 auto;
        order: 2;
        float: none;
        line-height: 40px;

        .btn:last-child {
          margin-right: 0;
        }

        .btn.btn-blue {
          color: #2298F0;
          padding: 0;
          height: auto;
          background-color: transparent;
        }
      }

      .btn-filters {
        margin-left: 5px;
        height: 28px;
      }

      }
    > .panel-body,
    &.white-body > .panel-body {
      border: 1px solid #c1c6d0;
      border-radius: 4px;
      background-color: #fff;
    }
  }
  .panel.file-security-stack-category > .panel-body {
    border: none;
    border-radius: 0;
  }
}
.profile-v2 .panel > .panel-body > div > * > div > div > .data-table:not(.file-security-stack-table):not(.meta-like) {
  margin: -15px;
  width: calc(100% + 30px);
}
.profile-v2 .panel > .panel-body .data-table:not(.file-security-stack-table):not(.meta-like) {
  > .table-wrapper {

    >.table {
      > thead {
        border-bottom: 1px solid #c1c6d0;
        > tr {
          border: 0;
          > th {
            background-color: #fff;
            color: #7f8fa4;
            font-size: 12px;
            font-weight: 600;
            height: 48px;
            padding: 0 10px;
            vertical-align: middle;

            .column-header-label {
              text-transform: uppercase;
            }

            &:first-child {
              border-top-left-radius: 4px;
              padding-left: 20px;
            }
            &:last-child {
              border-top-right-radius: 4px;
              padding-right: 20px;
            }
          }
        }
      }

      > tbody {
        > tr {
          background-color: #fff;
          border: none;
          border-top: 1px solid #c1c6d0;;
          border-bottom: 1px solid #c1c6d0;;
          > td {
            border: none;
            border-top: 1px solid #c1c6d0;
            &:first-child {
              padding-left: 20px;
            }
            &:last-child {
              padding-right: 20px;
            }
          }

          &:last-child {
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
            > td:first-child {
              border-bottom-left-radius: 4px;
            }
            > td:last-child {
              border-bottom-right-radius: 4px;
            }

          }
        }
      }

      border-bottom: 1px solid #c1c6d0;
      margin-bottom: -1px;

    }

    &.dropdown-column-headers.highlight-column-mode {
      > table > thead > tr > th.column-clickable > div {
        white-space: nowrap;
        &:after {
          font: normal normal normal 14px/1 FontAwesome;
          font-size: inherit;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          content: "\f0dd";
          vertical-align: top;
        }
      }
    }

  }

  > .bottom-container {
    background-color: #e6eaf2;
    padding: 10px;
    margin-top: 20px;

    .bottom-info-text {
      float: left;
      text-transform: uppercase;
      padding-top: 3px;
    }

    .pagination {
      margin-top: 0;
    }

    &:after {
      content: ' ';
      display: table;
      clear: both;
    }
  }

}

.actions.file-info-actions-widget2 {
  .btn.btn-blue {
    color: #2298F0;
    padding: 0;
    height: auto;
    background-color: transparent;
    width: auto;
  }
}

.meta-info {
  .btn.btn-blue {
    color: #2298F0;
    padding: 0;
    height: auto;
    background-color: transparent;
  }
}

.profile-entity-actions {
  .btn {
    border-color: #1585d8;
    background-color: #2298f0;
    color: #fff;
    font-weight: 600;
    border-radius: 4px;
    font-size: 11px;
    width: 100%;
  }
  .seperator {
    padding-top: 5px;
  }
}

.top-panel.profile-top-panel {
  > .title {
    text-transform: none;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

