<div class="column-filter">
    <div ng-repeat="condition in internalModel" class="clearfix column-condition">
        <div class="line" ng-show="options.operators.length">
            <span ng-if="options.multiple" class="fa fa-minus-square" ng-click=removeCondition($index)></span>
            <span ng-if="!options.multiple" class="fa fa-filter"></span>
            <div ng-show="isNotAllowed">
                <select ng-model="condition.not">
                    <option value=""></option>
                    <option value="true">NOT</option>
                </select>
            </div>
            <div ng-show="isAggregatedOperatorAllowed">
                <select ng-model="condition.aggregatedOperator">
                    <option value="all">ALL</option>
                    <option value="any">ANY</option>
                    <option value="none">NONE</option>
                </select>
            </div>
            <div class="column-filter-first-line-label">
                <select ng-show="options.operators.length > 1" ng-model="condition.operator" ng-options="item as item.label for item in actualOperators">
                </select>
                <div ng-show="options.operators.length == 1">{{options.operators[0].label}}</div>
            </div>
            <div ng-if="options.input == 'text' && condition.operator && (condition.operator.type == 'single' || condition.operator.type == 'double')">
                <input class="input-field" type="text" ng-model="condition.data.first">
            </div>
            <div ng-if="options.input == 'date' && condition.operator && (condition.operator.type == 'single' || condition.operator.type == 'double')" datetime-picker="condition.data.first"></div>
            <div ng-if="condition.operator.type == 'time-shift'">
                <input class="time-shift-number input-field" type="number" min="0" ng-model="condition.data.first">
                <select ng-model="condition.data.second" ng-options="item as item.label for item in timeshiftOptions">
                    <option value=""></option>
                </select>
            </div>
            <div ng-repeat="option in condition.operator.options" qtip2="option.tooltip" ng-click="onOptionClick(condition, option)" ng-class="optionClass(condition, option)"></div>
        </div>
        <div class="new-line-multi-operator" ng-if="condition.operator.type == 'multiEnum'">
            <div select2="condition.data.first" variants="condition.operator.variants"></div>
        </div>
        <div class="line" ng-if="condition.operator.type == 'double'">
            <div></div>
            <div ng-if="isNotAllowed"></div>
            <div ng-if="isAggregatedOperatorAllowed"></div>
            <div class="column-filter-second-line-label">and</div>
            <input ng-if="condition.operator.type == 'double' && options.input == 'text'" class="input-field" type="text" ng-model="condition.data.second">
            <div ng-if="condition.operator.type == 'double' && options.input == 'date'" datetime-picker="condition.data.second"></div>
        </div>
    </div>
    <div ng-if="options.notNullAllowed" class="not-null-checkbox" nice-checkbox="internal.notNull" text="'Not empty'"></div>
    <div ng-if="options.multiple && options.operators.length" class="add-condition btn btn-blue" ng-click="addCondition()">
        <span class="fa fa-plus"></span>
        Add condition
    </div>
    <div ng-if="disabled" class="disabled-panel"></div>
</div>