.column-filter {
  display: inline-block;
  position: relative;
  width: 100%;
  
  > .disabled-panel {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1000;
    background-color: #FFFFFF;
    opacity: 0.5;
    margin: 0;
  }
  
  > div {
    margin-bottom: 2px;
  }

  select {
    font-weight: normal;
  }

  .column-filter-second-line {
    padding-top: 2px;
      
    > input, .datetime-picker {
      float: right
    }
  }

  .column-filter-first-line-label {
    display: inline-block;
  }
  
  .new-line-multi-operator {
    margin-top: 5px;
    display: block;
    > .select2-container {
      min-width: 200px;
    }
  }

  .column-filter-second-line-label {
    font-weight: normal;
    display: inline-block;
    vertical-align: middle;
    text-align: right;
  }
  
  .time-shift-number {
    width: 70px !important;
  }
  
  .not-null-checkbox {
    margin: 5px 0px;
    display: inline-block;
    font-weight: 600;
    color: black;
  }
  
  .add-condition {
    float: right;
    position: relative;
    padding-left: 23px;
    > .fa {
      position: absolute;
      left: 7px;
      top: 7px;
      font-size: 14px;
    }
  }
  
  > .column-condition > .line {
    display: table-row;
    border: none;
    color: #333333;
    > * {
      display: table-cell;
      padding-right: 3px;
      padding-bottom: 2px;
    }
  }
  
  .input-field {
    vertical-align: middle;
    height: auto;
    width: auto;
    border: 1px solid rgba(0, 0, 0, .15);
    font-weight: normal;
    padding-left: 2px;
    padding-right: 2px;
  }
}