.sectool-exceptions {
  .nav-tabs {
    margin-bottom: 20px;

    > li > a {
      filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
      filter: gray; /* IE6-9 */
      -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
      opacity: 0.5;
      transition: all 0.5s ease-out;

    }

    > li.active a,
    > li:hover a {
      opacity: 1;
      filter: none;
      -webkit-filter: grayscale(0%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
    }

  }

  .nav-pills {
    margin-bottom: 20px;
    & > li > a {
      padding: 5px 15px;
    }
  }



  .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background-color: #F9F9F9;
  }

  .data-table.avanan-table .top-left .filter {
    margin-bottom: 6px;
  }
  .data-table.avanan-table .top-left .button-actions {
    float: none;

    & > .panel-btn.btn {
      width: auto;
      height: 28px;
      padding-left: 6px;
      padding-right: 6px;
      padding-top: 0;
      line-height: 26px;
      border: 1px solid #2980b9;
      background-color: #fff;
      border-radius: 2px;
      color: #2980b9;
      text-align: left;
      font-size: 11px;
      margin-left: -1px;
    }
  }

  .data-table .table-wrapper {
    min-height: 400px;
  }
}