<div class="dlp-configuration">
    <div widget-panel="configurationListPanel">
        <widget-body>
            <div class="avanan-table" ng-if="tableModel" data-table="tableModel" options="tableOptions"></div>
        </widget-body>
    </div>
    <div ng-if="tableModel">
        <input id="dlp-import-file" type="file" name="import-file" on-read-file="importFileReadComplete($fileContent)">
    </div>
</div>