.dlp-configuration {
  #dlp-import-file {
    display: none;
  }
}

.dlp-rules-import-dialog {

  .rule-import-line {

    border-bottom: 1px solid #fff;

    &:hover {
      border-bottom: 1px solid #ddd;
    }

    &:after {
      content: ' ';
      display: table;
      clear: both;
    }

    .line-title {
      display: inline-block;
      width: 200px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      .linked-text {
        width: 100%;

        .text {
          display: inline-block;
          width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

    }

    .status-text {
      display: inline-block;
      width: 330px;
      float: right;
      white-space: nowrap;
      margin-right: 10px;
      text-align: right;

      .linked-text {
        width: 100%;

        .text {
          display: inline-block;
          width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

    }
    .status-icon {
      display: inline-block;
      float: right;

      .fa-ban {
        color: #F35428;
      }

      .fa-check {
        color: #89b041;
      }


    }

  }


}