<div class="condition">
    <div class="property" sub-selector="options.properties" ng-model="internal.property" ng-class="{'invalid':invalid.property}"></div>

    <div ng-hide="isOperatorHidden(internal.property)" ng-if="oneToMany === false" text-check-box="model.not" check-label="NOT" class="not-select"></div>
    <div ng-hide="isOperatorHidden(internal.property)" ng-if="oneToMany === true" selector="model.aggregatedOperator" variants="applyAggregateVariants" class="apply-aggregate-selector"></div>
    <div ng-hide="isOperatorHidden(internal.property)" ng-if="model.property" selector="internal.operatorLabel" variants="getOperatorVariants(internal.property)" class="operator"></div>

    <div ng-if="(internal.operator.type && internal.operator.type != 'none') && !model.options.data_is_property" class="value-selector" ng-class="{'invalid':invalid.data}">
        <input ng-if="internal.operator.type === 'single'" type="text" class="form-control avanan-square" ng-model="internal.data">
        <div ng-if="internal.operator.type === 'double'" class="input-group form-inline">
            <span ng-if="internal.operator.firstLabel" class="input-group-addon">{{internal.operator.firstLabel}}</span>
            <input type="text" class="form-control avanan-square" ng-model="internal.data.first">
            <span ng-if="internal.operator.secondLabel" class="input-group-addon">{{internal.operator.secondLabel}}</span>
            <span ng-if="!internal.operator.secondLabel" class="input-group-btn"></span>
            <input type="text" class="form-control avanan-square" ng-model="internal.data.second">
        </div>
        <div ng-if="internal.operator.type === 'double-date'" class="input-group form-inline">
            <span ng-if="internal.operator.firstLabel" class="input-group-addon">{{internal.operator.firstLabel}}</span>
            <div datetime-picker="internal.data.first" class="form-control avanan-square"></div>
            <span ng-if="internal.operator.secondLabel" class="input-group-addon">{{internal.operator.secondLabel}}</span>
            <span ng-if="!internal.operator.secondLabel" class="input-group-btn" ng-model="internal.data.second"></span>
            <div datetime-picker="internal.data.second" class="form-control avanan-square"></div>
        </div>
        <div ng-if="internal.operator.type == 'time-shift'" class="time-shift-group">
            <input class="time-shift-number form-control avanan-square" type="number" min="0" ng-model="internal.data.first">
            <div selector="internal.data.second" variants="timeshiftOptions"></div>
        </div>

        <div ng-if="internal.operator.type === 'single-date'" datetime-picker="internal.data" class="form-control avanan-square"></div>

        <div ng-if="internal.operator.type === 'list'" select2="internal.data" variants="getVariants(internal.property)"></div>
        <div ng-if="internal.operator.type === 'selector'" selector="internal.data" variants="getVariants(internal.property)"></div>
    </div>

    <div ng-if="model.options.data_is_property" class="value-selector" ng-class="{'invalid':invalid.data}">
        <div sub-selector="options.properties" ng-model="internal.data"></div>
    </div>

    <div ng-if="internal.options.length" class="btn-group filters">
        <button class="multiselect btn btn-white" data-toggle="dropdown">
            <i class="fa fa-cogs"></i>
        </button>
        <div select-dropdown="internal.options"></div>
    </div>
    <button ng-click="remove()" class="btn btn-white remove-button form-control"><span class="fa fa-times"></span></button>
</div>