.time-resolution-selector {
  .dropdown-toggle {
    border: 1px solid #c1c6d0;
    border-radius: 3px;
    background-color: #f7f8fb;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 34px;
    cursor: pointer;

    .selected {
      width: 199px;
      height: 100%;
      display: flex;
      align-items: center;
      margin-left: 10px;
    }
    .chevron {
      border-left: 1px solid #c1c6d0;
      width: 34px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .menu-item {
    padding: 2px 10px;

    &:hover {
      background-color: #06346b;
      font-weight: 600;
      color: white;
      cursor: pointer;
    }
  }
}