<div class="time-resolution-selector dropdown" dropdown>
    <div class="dropdown-toggle" dropdown-toggle>
        <div class="selected">{{ timeResolutions.get(resolution).pastLabel }}</div>
        <div class="chevron">
            <div class="fa fa-chevron-down"></div>
        </div>
    </div>
    <div class="dropdown-menu">
        <div ng-repeat="res in timeResolutions.data" ng-if="res.id !== 'minute'" class="menu-item" ng-click="onSelect(res.id)">
            {{ timeResolutions.get(res.id).pastLabel }}
        </div>
    </div>
</div>