<div class="search-box input-group dropdown" ng-mouseenter="resultsHovered = true" ng-mouseleave="resultsHovered = false">
    <div class="input-group dropdown-toggle">
        <input class="form-control search-input avanan-square" type="text" ng-model="keyword"
               placeholder="Search All" ng-focus="showResults = true" ng-blur="showResults = false">
        <span class="fa fa-search"></span>
    </div>
    <div ng-if="(showResults || resultsHovered) && keyword" class="search-results dropdown-menu">
        <div ng-if="tableModels['policy']" class="avanan-table" data-table="tableModels['policy']" options="tableOptions"></div>
        <div ng-if="tableModels['user']" class="avanan-table" data-table="tableModels['user']" options="tableOptions"></div>
        <div ng-if="tableModels['group']" class="avanan-table" data-table="tableModels['group']" options="tableOptions"></div>
        <div ng-if="tableModels['file']" class="avanan-table" data-table="tableModels['file']" options="tableOptions"></div>
        <div ng-if="tableModels['bucket']" class="avanan-table" data-table="tableModels['bucket']" options="tableOptions"></div>
        <div ng-if="tableModels['folder']" class="avanan-table" data-table="tableModels['folder']" options="tableOptions"></div>
        <div ng-if="tableModels['site']" class="avanan-table" data-table="tableModels['site']" options="tableOptions"></div>
        <div ng-if="tableModels['app']" class="avanan-table" data-table="tableModels['app']" options="tableOptions"></div>
        <div ng-if="tableModels['email']" class="avanan-table" data-table="tableModels['email']" options="tableOptions"></div>
        <div ng-if="!haveResults()" class="no-results">{{searching ? 'Searching...' : 'No results'}}</div>
    </div>
</div>