.search-box {
  .input-group {
    .search-input {
      height: 30px;
      width: 200px;
      margin: 10px 10px 5px;
      padding: 5px;
    }

    span {
      position: absolute;
      right: 18px;
      top: 16px;
      color: #434a54;
      font-size: 17px;
      pointer-events: none;
      z-index: 2;
    }
  }

  .to-advanced-search {
    border-bottom: 1px solid #ffffff;
    float: right;
    color: #ffffff;
    font-weight: 600;
    margin-bottom: 5px;
    margin-right: 10px;
  }

  .search-results {
    left: 9px;
    top: 40px;
    width: 400px;
    max-height: 400px;
    overflow-y: auto;
    display: block;

    .row-icon {
      max-width: 20px;
      max-height: 20px;
      min-width: 20px;
      min-height: 20px;
    }
    .entity-type-image {
      width: 20px;
      max-width: none;
    }
    .policy-icon {
      width: 20px;
      text-align: center;
      font-size: 20px;
    }
  }

  .table {
    margin-bottom: 0px;
    thead {
      display: none;
    }
  }
}