
<div>
    <h2><span>Site Chatgroup Ip</span> {{vm.siteChatgroupIp.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Ip Name</span></dt>
        <dd>
            <span>{{vm.siteChatgroupIp.ipName}}</span>
        </dd>
        <dt><span>Ip Whois</span></dt>
        <dd>
            <span>{{vm.siteChatgroupIp.ipWhois}}</span>
        </dd>
        <dt><span>First Used Date</span></dt>
        <dd>
            <span>{{vm.siteChatgroupIp.firstUsedDate | date:'medium'}}</span>
        </dd>
        <dt><span>Last Used Date</span></dt>
        <dd>
            <span>{{vm.siteChatgroupIp.lastUsedDate | date:'medium'}}</span>
        </dd>
        <dt><span>Site Chatgroup</span></dt>
        <dd>
            <a ui-sref="site-chatgroup-detail({id:vm.siteChatgroupIp.siteChatgroup.id})">{{vm.siteChatgroupIp.siteChatgroup.originalName}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="site-chatgroup-ip-detail.edit({id:vm.siteChatgroupIp.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down"> Edit</span>
    </button>
</div>
