
<div>
    <h2><span>News Attachment</span> {{vm.newsAttachment.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Filename</span></dt>
        <dd>
            <span>{{vm.newsAttachment.filename}}</span>
        </dd>
        <dt><span>Blob</span></dt>
        <dd>
            <div ng-if="vm.newsAttachment.blob">
                <a ng-click="vm.openFile(vm.newsAttachment.blobContentType, vm.newsAttachment.blob)">open</a>
                {{vm.newsAttachment.blobContentType}}, {{vm.byteSize(vm.newsAttachment.blob)}}
            </div>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
            <span>{{vm.newsAttachment.description}}</span>
        </dd>
        <dt><span>News</span></dt>
        <dd>
            <a ui-sref="news-detail({id:vm.newsAttachment.news.id})">{{vm.newsAttachment.news.id}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="news-attachment-detail.edit({id:vm.newsAttachment.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down"> Edit</span>
    </button>
</div>
