.selector {
  > button {
    width: 100%;

    position: relative;
    text-align: left;
    padding-left: 7px;
    padding-top: 8px;
    margin: 0;

    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 15px;

    > span {
      position: absolute;
      right: 4px;
      top: 11px;
      font-size: 8px;
    }
  }

  .no-variants-caption {
    font-style: italic;
  }
}