<div class="selector dropdown" dropdown>
    <button class="btn btn-selector dropdown-toggle" dropdown-toggle ng-disabled="selectDisabled">{{getLabel(model)}}<span class="fa fa-chevron-down"></span></button>
    <ul class="dropdown-menu" role="menu">
        <li ng-repeat="variant in variants">
            <a href="#" ng-click="setVariant($event, variant)">{{getVariantLabel(variant)}}</a>
        </li>
        <li ng-if="!variants.length && noVariantsCaption" class="no-variants-caption">
            <a href="#" ng-click="$event.stopPropagation(); $event.preventDefault()">{{noVariantsCaption}}</a>
        </li>
    </ul>
</div>