<div class="actions">
    <div ng-repeat="action in model.actions" ng-if="isActionVisible(action)">
        <button class="btn" ng-class="action.class" ng-style="action.style" ng-click="action.onClick()" ng-disabled="isDisabled(action)">{{isDisabled(action) && action.label_disabled || action.label}}</button>
        <div class="seperator"></div>
    </div>
</div>