.datetime-interval {
  input[type="number"].form-control {
    width: 80px;
    padding-right: 0;
    display: inline-block;
  }
  .selector  {
    display: inline-block;
    width: calc(100% - 85px);
    float: right;
  }
}