<div class="datetime-interval">
    <input type="number" integer-restriction min="1" ng-model="internalModel.amount" class="form-control avanan-square"/>
    <div selector="internalModel.type" variants="periodTypes"></div>
</div>