.user-list-v2 {
  .user-list-v2-body {
    .page-head {
      margin: 15px 0;
    }

    .wizard-nav {
      padding: 0 0 20px 0;
      .btn.btn-default {
        border: 1px solid #2980b9;
        border-radius: 4px;
        color: #2980b9;
        font-size: 11px;
      }
    }

    .avanan-table-v2 {
      .top-left {
        float: none;
        width: 100%;
        margin: 0 0 10px 0;

        .filter {
          padding: 6px;
          width: 170px;
          border-radius: 4px;
          border: 1px solid #c1c6d0;
          box-shadow: none;

          &:focus {
            border-color: #c1c6d0;
            box-shadow: none;
          }
        }
      }

      .toggle-button {
        float: right;
        > div:nth-child(1n+2) {
          margin-left: 10px;
        }
      }

      .table-wrapper {
        background-color: #fff;
        border: 1px solid #c1c6d0;
        border-radius: 4px;
        min-height: 400px;

        .table {
          > thead > tr {
            border: 0 none;

            > th:first-child {
              border-top-left-radius: 4px;
              border-top-right-radius: 4px;
            }

            > th {
              background-color: #fff;
              color: #7f8fa4;
              font-size: 12px;
              font-weight: 600;
              height: 48px;
              padding: 0 10px;
              vertical-align: middle;
              > div > span {
                text-transform: uppercase;
              }
            }
          }

          > tbody > tr {
            -moz-border-bottom-colors: none;
            -moz-border-left-colors: none;
            -moz-border-right-colors: none;
            -moz-border-top-colors: none;
            background-color: #fff;
            border-color: #c1c6d0 currentcolor;
            border-image: none;
            border-style: solid none;
            border-width: 1px medium;

            > td {
              vertical-align: middle;
            }
          }
        }
      }
    }

    .events-filters {
      bottom: 10px;
      left: 180px;
      position: relative;
      top: 35px;
      width: calc(100% - 180px);
      margin-top: -40px;
      .filters-controls {
        &:after {
          clear: both;
          content: ' ';
          display: table;
        }
        .filter {
          float: left;
          margin-right: 20px;
          width: 120px;

          .dropdown-toggle {
            background-color: #fff;
          }

          .dropdown-menu {
            min-width: 0;
            background-color: #fff;

            li a:hover, li a:focus {
              background-color: inherit;
              color: inherit;
            }

            .menu-item.disabled {
              font-style: normal;
            }
          }
          .menu-item:hover {
            color: inherit;
          }
          &.user-actions {
            width: 160px;
          }
        }

        .add-user-button {
          background-color: #2298f0;
          border: 1px solid #1585d8;
          border-radius: 5px;
          color: #fff;
          cursor: pointer;
          display: inline-block;
          float: right;
          font-size: 12px;
          font-weight: normal;
          padding: 8px 30px;
          vertical-align: middle;

          .plus-sign {
            display: inline-block;
            font-size: 28px;
            height: 1px;
            line-height: 0;
            margin-right: 10px;
            vertical-align: middle;
          }
        }
      }
    }
  }
}