<div class="user-list-v2" page>
    <content class="user-list-v2-body" ng-if="tableModel">
        <div ng-if="wizardState.inProgress" class="wizard-nav">
            <a class="btn btn-default" ng-href="{{wizardUrl}}">Back to Configuration Wizard</a>
        </div>
        <div class="page-head">
            <div class="widget-label list-title">Users</div>
        </div>
        <div class="events-filters">
            <div class="filters-controls">
                <div ng-repeat="button in filterButtons" class="filter" ng-class="button.class">
                    <div class="selector-v2 dropdown" dropdown>
                        <div class="dropdown-toggle" dropdown-toggle>
                            <div class="selected" linked-text="button.label"></div>
                            <div class="chevron">
                                <div class="fa fa-chevron-down"></div>
                            </div>
                        </div>
                        <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                            <li ng-class="{'menu-item': true, 'disabled': !variant.active()}" role="menuItem" ng-repeat="variant in button.variants">
                                <a ng-click="variant.execute()">{{variant.label}}</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div ng-if="createNewUserButton">
                    <a ng-click="createNewUserButton.execute()" class="add-user-button">
                        <span class="plus-sign">+</span>
                        {{createNewUserButton.label}}
                    </a>
                </div>
            </div>
        </div>

        <div class="avanan-table-v2" data-table="tableModel" options="tableOptions"></div>
    </content>
</div>