<div ng-if="initialized" class="policy" ng-class="{'system': internalModel.system, 'custom': !internalModel.system}">
    <div widget-panel="resultsPanel" class="results-panel fill-page" ng-class="{'fill-page': bodyScroll}">
        <widget-header>
            <span class="fa fa-refresh blue-text refresh-button" ng-class="buttons.refresh.class" qtip2="buttons.refresh.tooltip" ng-click="buttons.refresh.execute()"></span>
            <div ng-if="tableModel" class="query-dropdown" dropdown>
                <div class="btn btn-blue-border" dropdown-toggle>
                    {{buttons.query.label}}
                    <span class="fa fa-chevron-down"></span>
                </div>
                <ul class="dropdown-menu">
                    <li ng-repeat="button in buttons.query.buttons" ng-class="{'hide-on-system': buttons[button].hideOnSystem}">
                        <a href="#" ng-click="buttons[button].execute($event)" ng-class="buttons[button].class" qtip2="buttons[button].tooltip()">{{buttons[button].label}}</a>
                    </li>
                    <li class="dropdown-submenu">
                        <a href="#" ng-click="$event.preventDefault()">{{buttons.queryActions.label}}</a>
                        <ul class="dropdown-menu" role="menu">
                            <li class="dropdown-submenu">
                                <a href="#" ng-click="$event.preventDefault()">{{buttons.queryActions.addAction.label}}</a>
                                <ul class="dropdown-menu" role="menu">
                                    <li ng-repeat="button in buttons.queryActions.addAction.buttons">
                                        <a href="#" ng-click="button.execute($event, button)" ng-class="button.class">{{button.label}}</a>
                                    </li>
                                </ul>
                            </li>
                            <li ng-repeat="button in buttons.queryActions.buttons" class="policy-action">
                                <a href="#" ng-click="button.execute($event)" ng-class="button.class">
                                    <div class="display-inline-block" linked-text="button.label"></div>
                                    <span ng-class="button.secondary.class" ng-click="button.secondary.execute($event)"></span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li ng-if="feature.policyGraph" class="dropdown-submenu">
                        <a href="#" ng-click="$event.preventDefault()">{{buttons.layoutActions.label}}</a>
                        <ul class="dropdown-menu layout-dropdown" role="menu">
                            <li ng-repeat="layout in buttons.layoutActions.layouts" class="layout" ng-class="{'active': layout.id == model.layout.id}" ng-click="setLayout(layout)">
                                <div ng-repeat="el in layout.elements" class="layout-element" ng-class="['width' + el.width, 'height' + el.height]">
                                    <span class="fa" ng-class="el.icon"></span>
                                </div>
                            </li>
                        </ul>  
                    </li>
                </ul>
            </div>
            <div ng-if="tableModel && buttons.policyColumnsPick" policy-columns-pick-v2="buttons.policyColumnsPick.model" options="buttons.policyColumnsPick.options"></div>
            <div ng-if="tableModel && buttons.policyAddColumns.options.menus" class="policy-add-column" sub-button="buttons.policyAddColumns.options" on-click="buttons.policyAddColumns.onClick(menuIds, filter)"></div>
            <div ng-if="tableModel" class="query-dropdown" dropdown>
                <div class="btn btn-blue-border" dropdown-toggle>
                    {{buttons.manualActions.label}}
                    <span class="fa fa-chevron-down"></span>
                </div>
                <ul class="dropdown-menu">
                    <li ng-repeat="button in buttons.manualActions.buttons">
                        <a href="#" ng-click="button.execute($event)" ng-class="{'disabled-link': !button.active()}">{{button.label}}</a>
                    </li>
                </ul>
            </div>
            
            <div ng-if="tableModel" class="cogs-dropdown" dropdown>
                <div class="fa fa-cogs" qtip2="buttons.cogs.tooltip" dropdown-toggle>
                </div>
                <ul class="dropdown-menu">
                    <li ng-repeat="button in buttons.cogs.buttons">
                        <a href="#" ng-click="button.execute($event)" ng-class="button.class">{{button.label}}</a>
                    </li>
                </ul>
            </div>
            
            <div ng-if="!tableModel" class="policy-status">{{buttons.status.label}}</div>
            <div ng-if="tableModel && !isPaused() && buttons.status.progress" class="policy-progress" stacked-progress="buttons.status.progress"></div>
            <div ng-if="tableModel && isPaused()" class="policy-paused" qtip2="'Click to start policy'" ng-click="startPolicy()">PAUSED <span class="fa fa-pause"></span></div>
            <div ng-if="tableModel" class="btn btn-blue-border toggle-squares-button" ng-click="buttons.toggleSquares.execute()">{{buttons.toggleSquares.label}}</div>
        </widget-header>
        <widget-body>
            <div ng-if="tableModel && model.layout.id != 'big-table'" class="squares-line" ng-class="['layout-' + model.layout.id]" ng-show="!hideSquares">
                <div class="squares-line-row">
                <div class="left">
                    <div ng-if="model.layout.id == 'info' || model.layout.id == 'info-chart'" square-list="conditionsList" options="conditionsListOptions" class="conditions-list col-lg-6 col-md-12 col-sm-12 col-xs-12">
                        <list-label>
                            <div ng-if="buttons.policyAddConditions.options.menus && !model.advancedConditions" class="policy-add-condition hide-on-system" sub-button="buttons.policyAddConditions.options" on-click="buttons.policyAddConditions.onClick(menuIds, filter)"></div>
                            <div class="conditions-label" linked-text="$parent.options.label"></div>    
                        </list-label>
                        <square ng-init="root = $parent">
                            <div ng-if="root.item.condition" policy-condition-square="root.item"></div>
                            <div ng-if="!root.item.condition" linked-text="root.item.label"></div>
                        </square>
                    </div>
                    <div ng-if="model.layout.id == 'info-chart'" square-list="excludedItemsList" options="excludedItemsListOptions" class="allows-list col-lg-6 col-md-12 col-sm-12 col-xs-12"></div>
                    <div ng-if="model.layout.id == 'chart-info' || model.layout.id == 'chart-chart'" key-value-graph="model.layout.leftChart" options="graphOptions" on-change="onChartChange()"></div>
                </div>
                <div class="square-delimeter"></div>
                <div class="right">
                    <div ng-if="model.layout.id == 'chart-info'" square-list="conditionsList" options="conditionsListOptions" class="conditions-list col-lg-6 col-md-12 col-sm-12 col-xs-12">
                        <list-label>
                            <div ng-if="buttons.policyAddConditions.options.menus && !model.advancedConditions" class="policy-add-condition hide-on-system" sub-button="buttons.policyAddConditions.options" on-click="buttons.policyAddConditions.onClick(menuIds, filter)"></div>
                            <div class="conditions-label" linked-text="$parent.options.label"></div>    
                        </list-label>
                        <square ng-init="root = $parent">
                            <div ng-if="root.item.condition" policy-condition-square="root.item"></div>
                            <div ng-if="!root.item.condition" linked-text="root.item.label"></div>
                        </square>
                    </div>
                    <div ng-if="model.layout.id == 'chart-info' || model.layout.id == 'info'" square-list="excludedItemsList" options="excludedItemsListOptions" class="allows-list col-lg-6 col-md-12 col-sm-12 col-xs-12"></div>
                    <div ng-if="model.layout.id == 'info-chart' || model.layout.id == 'chart-chart'" key-value-graph="model.layout.rightChart" options="graphOptions" on-change="onChartChange()"></div>    
                </div>
                </div>
            </div>
            <div ng-if="tableModel" class="query-results">
                <div class="avanan-table left-pagination results-table medium-icons" ng-class="{'hide-allow-buttons': hideAllowButtons()}" data-table="tableModel" options="tableOptions"></div>
            </div>
        </widget-body>
    </div>
</div>
