.policy {
  .refresh-button {
    cursor: pointer;
    font-size: 20px;
    display: inline-block;
    vertical-align: middle;
    
    &.highlight {
      color: rgb(22, 160, 133);
      text-shadow: 0px 0px 2px rgb(22, 160, 133);
    }
  }
  
  .query-dropdown {
    line-height: normal;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-left: 7px;
  }
  
  .layout-dropdown {
    top: -70px;
    min-width: 185px;
    padding: 0;
    .layout {
      padding: 5px;
      width: 60px;
      height: 50px;
      display: inline-block;
      cursor: pointer;
      
      &:hover, &.active {
        .layout-element {
          background-color: #2980b9;
        }
      }
      .layout-element {
        color: white;
        background-color: #aaa;
        float: left;
        text-align: center;
        vertical-align: middle;
        font-size: 14px;
        
        &.width1 {
          width: 23px;
          
          &:first-child {
            margin-right: 4px;
          }
        }
        &.width2 {
          width: 50px;
        }
        &.height1 {
          height: 18px;
          line-height: 18px;
          &:first-child {
            margin-bottom: 4px;
          }
        }
        &.height2 {
          line-height: 40px;
          height: 40px;
        }
      }
    }
  }
  
  .policy-columns-pick, .policy-columns-pick-v2 {
    line-height: normal;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    
    > .btn {
      width: 70px;
    }
  } 
  
  .policy-add-column {
    line-height: normal;
    display: inline-block;
    vertical-align: middle;
    margin-left: -4px;
    
    > .btn {
      padding: 0;
      width: 17px;
    }
    
    > .dropdown-menu {
      left: -170px;
    }
  }
  
  .squares-line {
    display: table;
    table-layout: fixed;
    margin-top: -5px;
    margin-bottom: 5px;
    width: 100%;
    
    .squares-line-row {
      display: table-row;
    }
    
    .left, .right {
      display: table-cell;
      float: none;
      width: 50%;
      overflow: visible;
      vertical-align: top;
      height: 1px;
      border: 1px solid #aaaaaa;
      border-radius: 3px;
      padding: 5px;
      
      .square-list {
        border: none;
      }
      
      .key-value-graph .graph {
        height: 200px;
        > .graph-div {
          height: 100%;
        }
      }
    }
    
    .conditions-list, .allows-list {
      width: 100%;
      float: none;
    }
    
    &.layout-chart-info, &.layout-info-chart {
      .allows-list {
        margin-top: 10px;
      }
    }

    .square-delimeter {
      display: table-cell;
      border: 0px;
      width: 5px;
    }
    
    .conditions-label {
      display: inline-block;
      margin-left: 5px;
    }

    .label-hidden .conditions-label {
      display: none;
    }

    .policy-add-condition {
      display: inline-block;
    }
  }
  
  .policy-status {
    float: right;
    display: inline-block;
    font-weight: bold;
    color: #30343c;
    font-size: 16px;
  }
  
  .policy-progress, .policy-paused {
    float: right;
    display: inline-block;
    border-radius: 0px;
    
    margin-top: 6px;
    height: 27px;
    width: 300px;
  }
  
  .policy-progress {
    background-color: #2980b9;
    > .progress-bar {
      background-color: #255484;
    }
    .label > span {
      color: #FFF;
      font-size: 11px;
      line-height: 22px;
      font-weight: 600;
    }
  }
  
  .policy-paused {
    background-color: #e94b44;
    color: #fff;
    font-size: 16px;
    line-height: 27px;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
  }
  
  .cogs-dropdown {
    position: relative;
    float: right;
    cursor: pointer;
    font-size: 20px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    
    > .dropdown-menu {
      right: 0;
      left: auto;
    }
  }

  .toggle-squares-button {
    float: right;
    margin-top: 6px;
    margin-right: 8px;
    &, &:hover {
      padding-right: 6px;
    }
  }

  .panel .panel-body {
    overflow: visible !important;

    &.minimizing {
      overflow: hidden !important;
    }
  }

  .results-panel:not(.right_panel) {
    width: 100% !important;
  }
  .splitter_panel {
    .left_panel, .right_panel {
      background-color: #f9f9fa;
    }

    .right_panel {
      z-index: 2;
    }
  }

  .excluded-objects {
    margin-left: 10px;
    margin-top: 10px;
    .list-selector {
      width: 100%;

      .select2-choices {
        background-color: #fff;
        border: 1px solid #d5d7da;
        height: 34px;
        border-radius: 0;
      }
    }
  }

  .exclude-by {
    margin-top: 11px;
    margin-bottom: 5px;
  }

  .execute, .execute:hover, .recheck, .recheck:hover {
    float: right;
    width: 105px;
    margin: 12px 0 12px 5px;
  }

  .policy-options-panel {
    clear: both;
  }

  .query-results {
    clear: both;
    .results-table.avanan-table {
      .table-wrapper {
        margin-bottom: 10px;
      }
      th {
        background-color: #e1e2e2;
      }
      .excluded td, .excluded:hover td{
        background: #FFAAAA;
      }
      .pagination {
        &.pagination-bottom {
          margin: 0 10px;
        }
      }
    }
  }
  
  .query-load {
    .fa {
      font-size: 50px;
      position: absolute;
      top: 200px;
      left: 48%;
      z-index: 2;
    }
  }

  .root-condition-group {
    margin: 11px 0 0 0 !important;
    border: none !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
  }

  .actions-column {
    width: 150px;
  }

  .update-columns-pick {
    float: right;
    margin-top: 8px;
  }
  
  .policy-action {
    position: relative;
    
    .policy-action-remove {
      position: absolute;
      right: 0;
      top: 0;
      padding: 7px;
      
      &:hover {
        padding: 2px;
        font-size: 20px;
      }
    }
  }
  
  .data-table.avanan-table .top-left .policy-add-column.dropdown-actions > div {
    margin-left: -5px;
    width: 15px !important;
  }
  
  .query-results .policy-report-cell {
    position: relative;
    // padding-right: 15px !important;
    .cell-actions {
      display: block;
      position: absolute;
      right: 0;
      top: calc(50% - 11px);
      opacity: 0;
      
      background: white;
      border-radius: 5px;
      padding: 0 4px;
      border: 1px solid #C0C0C0;
      white-space: nowrap;
    }
    
    .inline-list-dropdown-row {
      position: relative;
      padding-right: 30px !important;
      .cell-list-actions {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        width: 30px;
        opacity: 0;
      }
      
      &:hover {
        background-color: #F0F0F0;
        .cell-list-actions {
          opacity: 1;
        }
      }
    }
  }
  .query-results td:hover .cell-actions {
    opacity: 0.4;
    
    &:hover {
      opacity: 1;
    }
  }
  .hide-allow-buttons .cell-actions {
    display: none;
  }

  .results-table .table td .inline-list .dropdown-menu {
    max-height: 260px;
    overflow: auto;
  }
  
  .results-table .table {
    .row-icon {
      position: absolute;
      left: 5px;
      top: 50%;
      margin-top: -20px;
    }
    
    .row-text {
      margin-left: 50px;
    }
  }
  
  .results-panel.fill-page {
    height: calc(100% - 20px);
    .panel {
      height: 100%;
      .panel-body {
        height: calc(100% - 20px);
      }
    }
  }
  
  &.system {
    .hide-on-system {
      display: none !important;
    }
  }
  &.custom {
    .hide-on-custom {
      display: none !important;
    }
  }
}

.cell-actions, .cell-list-actions {
  display: none;
}