
<div>
    <h2><span>News Summary Public Image</span> {{vm.newsSummaryPublicImage.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Filename</span></dt>
        <dd>
            <span>{{vm.newsSummaryPublicImage.filename}}</span>
        </dd>
        <dt><span>Blob</span></dt>
        <dd>
            <div ng-if="vm.newsSummaryPublicImage.blob">
                <a ng-click="vm.openFile(vm.newsSummaryPublicImage.blobContentType, vm.newsSummaryPublicImage.blob)">
                    <img data-ng-src="{{'data:' + vm.newsSummaryPublicImage.blobContentType + ';base64,' + vm.newsSummaryPublicImage.blob}}" style="max-width: 100%;" alt="newsSummaryPublicImage image"/>
                </a>
                {{vm.newsSummaryPublicImage.blobContentType}}, {{vm.byteSize(vm.newsSummaryPublicImage.blob)}}
            </div>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
            <span>{{vm.newsSummaryPublicImage.description}}</span>
        </dd>
        <dt><span>Description Translation</span></dt>
        <dd>
            <span>{{vm.newsSummaryPublicImage.descriptionTranslation}}</span>
        </dd>
        <dt><span>Image Order</span></dt>
        <dd>
            <span>{{vm.newsSummaryPublicImage.imageOrder}}</span>
        </dd>
        <dt><span>News Summary</span></dt>
        <dd>
            <a ui-sref="news-summary-detail({id:vm.newsSummaryPublicImage.newsSummary.id})">{{vm.newsSummaryPublicImage.newsSummary.id}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="news-summary-public-image-detail.edit({id:vm.newsSummaryPublicImage.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down"> Edit</span>
    </button>
</div>
