<div>
    <h2>News Summary Public Images</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="news-summary-public-image.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs-down" >
                        Create new News Summary Public Image
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="Query">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="filename"><span>Filename</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="blob"><span>Blob</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="description"><span>Description</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="descriptionTranslation"><span>Description Translation</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="imageOrder"><span>Image Order</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="newsSummary.id"><span>News Summary</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="newsSummaryPublicImage in vm.newsSummaryPublicImages track by newsSummaryPublicImage.id">
                    <td><a ui-sref="news-summary-public-image-detail({id:newsSummaryPublicImage.id})">{{newsSummaryPublicImage.id}}</a></td>
                    <td>{{newsSummaryPublicImage.filename}}</td>
                    <td>
                        <a ng-if="newsSummaryPublicImage.blob" ng-click="vm.openFile(newsSummaryPublicImage.blobContentType, newsSummaryPublicImage.blob)">
                            <img data-ng-src="{{'data:' + newsSummaryPublicImage.blobContentType + ';base64,' + newsSummaryPublicImage.blob}}" style="max-height: 30px;" alt="newsSummaryPublicImage image"/>
                        </a>
                        <span ng-if="newsSummaryPublicImage.blob">{{newsSummaryPublicImage.blobContentType}}, {{vm.byteSize(newsSummaryPublicImage.blob)}}</span>
                    </td>
                    <td>{{newsSummaryPublicImage.description}}</td>
                    <td>{{newsSummaryPublicImage.descriptionTranslation}}</td>
                    <td>{{newsSummaryPublicImage.imageOrder}}</td>
                    <td>
                        <a ui-sref="news-summary-detail({id:newsSummaryPublicImage.newsSummary.id})">{{newsSummaryPublicImage.newsSummary.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="news-summary-public-image-detail({id:newsSummaryPublicImage.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="news-summary-public-image.edit({id:newsSummaryPublicImage.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="news-summary-public-image.delete({id:newsSummaryPublicImage.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
