.info {
  &.file-info {
    width: 100%;
    .profile-image {
      float: left;
      max-width: 120px;
      max-height: 120px;
      min-width: 120px;
      min-height: 120px;
      margin-right: 10px;
    }
    .file-name {
      margin-left: 140px;
      font-size: 25px;
      line-height: 35px;
      font-weight: bold;
      width: calc(100% - 140px);
      width: -webkit-calc(100% - 140px);
      width: -moz-calc(100% - 140px);
      word-wrap: break-word;
    }
    .file-size {
      margin-left: 140px;
      font-size: 20px;
      font-weight: bold;
    }
    .file-parents {
      margin-left: 140px;
      font-size: 13px;
    }
    .file-type {
      margin-left: 140px;
      font-size: 13px;
    }
    .file-link {
      margin-left: 140px;
      font-size: 20px;
    }
    .email-link {
      margin-left: 140px;
      font-size: 13px;
    }
    .email-sent {
      margin-left: 140px;
      font-size: 13px;
    }
    .email-deleted {
      margin-left: 140px;
      font-size: 13px;
    }

    .quarantined {
      margin-left: 140px;
      font-size: 13px;
      font-weight: bold;

      .quarantined-entity-link {
        font-weight: normal;
        display: block;
      }
      .quarantined-status {
        display: block;
      }
    }

    .file-encrypted-icon {
      font-size: 45px;
      position: absolute;
      top: 165px;
      left: 20px;
    }

    .file-deleted {
      margin-left: 140px;
      font-size: 16px;
    }
  }

  &.folder-info {
    .profile-image {
      float: left;
      max-width: 120px;
      max-height: 120px;
      min-width: 120px;
      min-height: 120px;
      margin-right: 10px;
    }
    .folder-name {
      margin-left: 140px;
      font-size: 25px;
      line-height: 35px;
      font-weight: bold;
      width: calc(100% - 140px);
      width: -webkit-calc(100% - 140px);
      width: -moz-calc(100% - 140px);
      word-wrap: break-word;
    }
    .folder-size {
      margin-left: 140px;
      font-size: 20px;
      font-weight: bold;
    }
    .folder-parents {
      margin-left: 140px;
      font-size: 13px;
    }
    .folder-link {
      margin-left: 140px;
      font-size: 20px;
    }
    .folder-info-actions-widget {
      width: 250px;
      position: absolute;
      bottom: 0;
      right: 10px;
    }

    .folder-deleted {
      margin-left: 140px;
      font-size: 16px;
    }
  }

  &.site-info {
    .site-image {
      float: left;
      width: 120px;
      height: 120px;
      margin-right: 10px;
    }
    .site-name {
      margin-left: 140px;
      font-size: 25px;
      line-height: 35px;
      font-weight: bold;
      width: calc(100% - 140px);
      width: -webkit-calc(100% - 140px);
      width: -moz-calc(100% - 140px);
      word-wrap: break-word;
    }
  }

  &.user-info {
    .profile-image {
      display: table;
      margin: 0 auto;
      height: 128px;
    }
    .user-name {
      text-align: center;
      font-size: 20px;
      font-weight: bold;
      word-break: break-all;
    }
    .user-email {
      text-align: center;
      font-size: 18px;
      word-break: break-all;
    }
    .user-suspended {
      text-align: center;
      font-size: 18px;
      font-weight: bold;
      color: #ffaa11;
    }
    .user-instance {
      text-align: center;
      font-size: 16px;
    }
  }

  &.ip-info {
    .ip-address {
      text-align: center;
      font-size: 25px;
      font-weight: bold;
    }
    .ip-country, .ip-city {
      text-align: center;
      font-size: 20px;
    }
  }

  &.user-application-count {
    .count {
      display: table;
      margin: 0 auto;
      font-size: 50px;
      font-weight: bold;
    }
  }

  &.application-info {
    .application-image {
      display: table;
      margin: 0 auto;
      height: 160px;
    }

    .application-name {
      text-align: center;
      font-size: 30px;
      font-weight: bold;
    }
  }

  &.group-info {
    .group-image {
      display: table;
      margin: 0 auto;
      height: 130px;
    }
    .group-name {
      text-align: center;
      font-size: 25px;
      font-weight: bold;
    }
    .group-email {
      text-align: center;
      font-size: 20px;
    }
    .group-members {
      text-align: center;
      font-size: 20px;
    }
  }

  .module-stats-labels {
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    top: 0;
    overflow: hidden;
    z-index: 1;

    .beta-label {
      position: absolute;
      top: 5px;
      right: 0;
      font-weight: bold;
      font-size: 11px;
      background-color: #2980b9;
      color: #fff;
      text-transform: uppercase;
      padding: 1px 24px;
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.75);
      text-align: center;
      transform: translateY(2px) translateX(21px) rotate(40deg);
      line-height: normal;
      height: auto;
      cursor: default;
    }

    .expired-label {
      position: absolute;
      top: 5px;
      right: 0;
      font-weight: bold;
      font-size: 11px;
      background-color: #f35428;
      color: #fff;
      text-transform: uppercase;
      padding: 1px 42px;
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.75);
      text-align: center;
      transform: translateY(14px) translateX(31px) rotate(40deg);
      line-height: normal;
      height: auto;
      cursor: default;
    }
  }

  .module-stats-separator {
    position: absolute;
    height: 220px;
    width: 1px;
    left: 0;
    top: 5px;
    background-color: #d5d7da;
  }

  .module-stats-image {
    height: 52px;
    width: 100%;
    background: no-repeat center;
  }
  .module-stats-category {
    font-size: 12px;
    height: 35px;
    text-align: center;
    font-weight: 600;
  }
  .module-stats-scanned {
    font-size: 16px;
    text-align: center;

    .module-stats-scanned-number {
      font-size: 22px;

      &.odometer.link {
        position: relative;
        text-decoration: none;
        &:hover, &:focus, &:visited {
          text-decoration: none;
        }
        &:after {
          content: " ";
          position: absolute;
          left: 0;
          right: 0;
          bottom: 7px;
          height: 2px;
        }

        &.blue-text {
          &:hover, &:focus, &:visited {
            color: #2980b9;
          }
          &:after {
            background-color: #2980b9;
          }
        }
      }
    }
  }

  .module-stats-suspected {
    font-size: 16px;
    text-align: center;
    .module-stats-check {
      font-size: 13px;
      color: #66BB6A;
      .fa-check {
        color: #fff;
      }
    }
    .module-stats-number {
      font-size: 26px;
      font-weight: bold;
      color: #f39c12;
    }
    position: relative;
    z-index: 2;
  }


  .module-stats-found {
    font-size: 16px;
    text-align: center;
    .module-stats-check {
      font-size: 14px;
      margin-top: 2px;
      color: #66BB6A;
      .fa-check {
        color: #fff;
      }
    }
    .module-stats-number {
      font-size: 30px;
      font-weight: bold;
      color: #f35428;
    }
    position: relative;
    z-index: 2;
  }

  &.policy-severity-info {
    font-size: 20px;

    .policy-severity-info-left {
      float: left;
    }
    .policy-severity-info-right {
      float: right;
    }

  }

  &.policy-severity-empty {

    & > div {
      display: inline;

      & > div {
        display: inline;
      }
    }

    .configure-link {
      cursor: pointer;
      text-decoration: underline;
    }
  }

  &.multi-engine-label {
    font-size: 20px;

    .multi-engine-label-left {
      position: relative;
      width: 70%;
      left: 29%;
      display: block;

      &.single {
        left: 18%;
      }
    }

    .multi-engine-label-right {
      position: relative;
      width: 70%;
      display: block;

      &.single {
        left: 11%;
      }
    }


    & > div > div {
      position: absolute;
      display: block;
      width: 100px;
      margin-left: -50px;
      left: 50%;

      & > div {
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  .avanan-dlp-troubleshooting-pair {
    clear: both;
    .key {
      float: left;
      width: 180px;
      padding-left: 25px;
    }
    .value {
      float: right;
      width: calc(100% - 180px);
      text-align: left;
    }
  }
  
  .crypt-pair-link {
    font-size: 16px;
    margin-left: 20px;
  }

  &.restore-request-widget {
    color: #333;
    border: 3px solid #ccc;
    margin: 10px 0 5px;
    padding: 5px;
    border-radius: 3px;
  }

  .email-restore-text, .email-restore-date, .email-restore-declined {
    font-size: 14px;
    .user-message {
      font-weight: bold;
    }
  }
  .email-restore-declined {
    font-weight: bold;
  }
}
.file-info-actions-widget,
.widget-selector > div > div.file-info-actions-widget{
  width: 200px;
  float: right;
  margin-top: 20px;
  margin-bottom: -10px;

  &.wider-buttons {
    width: 230px;
  }

  &.wide-250-buttons {
    width: 250px;
  }

  &.wide-310-buttons {
    width: 310px;
  }
}
