<div class="info">
    <img ng-repeat-start="line in model.lines" ng-if="line.img !== undefined" ng-src="{{line.img}}" default-src="line.defaultImg" ng-style="line.style" ng-class="line.class"/>
    <div ng-if="line.text !== undefined" ng-style="line.style" ng-class="line.class" ng-click="line.execute()">
        <i ng-if="line.icon !== undefined" class="fa" ng-class="line.icon"></i>
        <div linked-text="line.text"></div>
    </div>
    <div ng-repeat-end ng-if="line.widget !== undefined" widget-selector="line.widget"></div>
</div>