<div class="policy-options">
    <div class="form-inline">
        <label>SaaS: </label>
        <div selector="internal.saas" variants="getSaasVariants()"
             change="onSaasChange()" class="saas-selector"></div>
    </div>
    <div class="form-inline">
        <label>Object type: </label>
        <div selector="internal.entityType" variants="getSourceVariants()"
             no-variants-caption="Please select SaaS first" change="onEntityTypeChange()"
             class="object-type-selector"></div>
    </div>
</div>