.office365_emails_user-profile {
  .top-line {
    display: flex;
    flex-direction: row;
    > div {
      flex: 1 1 auto;

      &.user-info {
        max-width: 300px;
      }
    }
  }
  .graphs {
    display: flex;
    flex-direction: row;
    > div {
      flex: 1 1 auto;
    }
  }
}