<div class="profile-v2 office365_emails_user-profile" page>
    <content>
        <div class="top-line">
            <div profile-office365-emails-user-user-info class="user-info"></div>
            <div profile-office365-emails-user-user-meta-info></div>
            <div profile-office365-emails-user-user-emails></div>

        </div>
        <div class="graphs">
            <div profile-office365-emails-user-collaborators external="true"></div>
            <div profile-office365-emails-user-collaborators external="false"></div>

        </div>
        <div profile-entity-debug></div>

    </content>
</div>