<div class="policy-dashboard">
    <div ng-repeat="group in groups" class="policy-group-wrapper" ng-click="openGroup(group)">
        <div class="policy-group">
            <div class="group-image" ng-style="{'background': 'url(' + group.background + ')'}"></div>
            <div class="group-label">{{group.label}}</div>
            <div class="group-description">{{group.description}}</div>
        </div>
    </div>
</div>