.policy-dashboard {
    .policy-group-wrapper {
        height: 122px;
        width: 25%;
        padding: 10px;
        float: left;
        .policy-group {
            box-shadow: 0 0 1px #b0bec5;
            border: 1px solid #C0C0C0;
            border-radius: 5px;
            background: #f4f4f4;
            padding: 5px;
            height: 100%;
            width: 100%;
            cursor: pointer;
            .group-image {
                float: left;
                width: 90px;
                height: 90px;
                margin-right: 5px;
                background-color: #AAAAAA !important;
            }
            .group-label {
                color: #455a64;
                font-weight: 600;
                font-size: 14px;
            }
            .group-description {
                color: #455a64;
                font-size: 12px;
            }
            &:hover {
                box-shadow: 0 0 3px #b0bec5;
            }
        }
    }
}