.wizard {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  padding-bottom: 20px;

  .wizard-last {
    margin-top: 100px;
    text-align: center;

    .wizard-last-message {
      padding: 30px;
      font-size: 13px;
    }
  }
  .wizard-btn-user-management {
    float: right;
  }

  .wizard-window {
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #b9babd;
    position: relative;
    min-width: 730px;
    min-height: 98%;
  }

  .wizard-head {
    height: 95px;
    color: #00467f;
    font-size: 17px;
    font-weight: 200;
    line-height: 63px;
    padding-left: 27px;
    padding-right: 27px;
  }

  .wizard-msg-bg-container {
    position: absolute;
    top: 64px;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: #71acc9;//rgb(70, 143, 180);
    border-top: 1px solid #b9babd;
    border-bottom: 1px solid #b9babd;
    box-shadow: inset 0 0 200px 50px rgb(70, 143, 180); //rgba(197, 220, 232, 0.3);
  }

  .wizard-msg-area {
    color: #fff;
    font-weight: 200;
    text-align: center;
    position: relative;
    margin-bottom: 0;

    .wizard-msg-title {
      font-size: 25px;
      margin-top: 75px;
      margin-bottom: 30px;
    }
    .wizard-msg {
      font-size: 16px;
      display: inline-block;
      max-width: 780px;
    }

    .wizard-msg-timeline {
      position: relative;
      margin: 50px 10px;
      width: 100%;

      .wizard-msg-timeline-inner {
        width: 556px;
        display: inline-block;
        position: relative;

        .timeline-line {
          width: 488px;
          height: 3px;
          background-color: #fff;
          position: absolute;
          top: 38px;
          left: 0;
        }
        .timeline-circle {
          width: 15px;
          height: 15px;
          border-radius: 7.5px;
          background-color: #fff;
          position: absolute;
          top: 31.5px;
          left: -8px;
        }
        .timeline-item {
          width: 136px;
          height: 200px;
          display: inline-block;
          text-align: center;
          position: relative;
          z-index: 2;
          font-weight: normal;
          font-size: 16px;
          vertical-align: top;

          .timeline-item-head {
            font-weight: bold;
            font-size: 20px;
            margin-top: 15px;
            margin-bottom: 7px;
          }
          .timeline-item-text {
            display: inline-block;
            line-height: 18px;
          }
          .circle-done {
            width: 72px;
            height: 72px;
            border: 7px solid #a2cadd;
            border-radius: 36px;
            display: inline-block;
            line-height: 58px;
            text-align: center;
            background-color: #fff;
            color: #468fb4;
            font-size: 23px;
          }

        }

      }


    }


  }

  .wizard-big-button-area {
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: #fff;
    height: 115px;
  }

  .wizard-big-button {
    display: block;
    margin: 20px auto;
    width: 265px;
    height: 75px;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    background-color: #00467f;
    cursor: pointer;
    line-height: 75px;
    font-size: 20px;
    font-weight: normal;
    box-shadow:  inset 0 -2px rgba(0,0,0,0.2), 0 2px 6px rgba(0,0,0,0.22);
  }

  .wizard-step-info {
    background-color: #71acc9;//rgb(70, 143, 180);
    min-height: 128px;
    padding-bottom: 10px;
    border-top: 1px solid #b9babd;
    box-shadow: inset 0 0 250px 50px rgb(70, 143, 180); //rgba(197, 220, 232, 0.3);
    color: #fff;
    font-weight: 200;
    position: relative;
    padding-left: 27px;
    padding-right: 310px;

    .wizard-step-msg {
      display: inline-block;
      max-width: 1100px;
      .wizard-msg-title {
        font-size: 25px;
        margin-top: 15px;
        margin-bottom: 3px;
      }

      .wizard-msg {
        font-size: 14px;
      }
    }

    .wizard-progress {
      position: absolute;
      right: 27px;
      width: 268px;
      top: 47px;

      .progress-line {
        position: absolute;
        width: 268px;
        top: 18px;
        background-color: #a3c7da;
        height: 2px;
      }
      .progress-start {
        position: absolute;
        width: 10px;
        height: 10px;
        border-radius: 5px;
        top: 14px;
        background-color: #a3c7da;
      }
      .progress-here {
        position: absolute;
        font-weight: bold;
        color: white;
        font-size: 11.85px;
        top: 40px;
        white-space: nowrap;
      }


      .progress-circle {
        background-color: #fff;
        width: 36px;
        height: 36px;
        border: 3px solid #fff;
        border-radius: 18px;
        display: inline-block;
        position: relative;
        z-index: 2;
        float: right;
        margin-left: 32px;
        color: #468fb4;
        font-size: 15px;
        font-weight: 800;
        line-height: 30px;
        text-align: center;

        &:last-child {
          margin-left: 0;
        }
        &.done {
          border-color: #a3c7da;
        }
      }

    }

  }
  .wizard-app-step-container {
    padding-bottom: 0; /*78px;*/
  }

  .wizard-top-nav {
    float: right;
    font-weight: 200;
    font-size: 14px;

    .wizard-btn {
      width: 100px;
      height: 40px;
      line-height: 38px;
      box-shadow:  inset 0 -2px rgba(0,0,0,0.2), 0 2px 6px rgba(0,0,0,0.22);
      color: #fff;
      text-align: center;
      font-weight: normal;
      font-size: 16px;
      border-radius: 5px;
      display: inline-block;
      margin-left: 10px;
      cursor: pointer;

      &.btn-back {
        background-color: #5b9dbe;
      }

      &.btn-next {
        background-color: #00467f;
      }
      &.btn-next.disabled {
        background-color: #7b7b7b;
        color: #c4c4c4;
        cursor: not-allowed;
      }
    }

    .wizard-link {
      display: inline-block;
      color: #5b9dbe;
      margin-left: 10px;
      cursor: pointer;
    }

    .wizard-link-separator {
      color: #9c9fa4;
      margin-left: 10px;
      display: inline-block;
    }

    .wizard-info-btn {
      height: 40px;
      background-color: #00467f;
      line-height: 38px;
      box-shadow:  inset 0 -2px rgba(0,0,0,0.2), 0 2px 6px rgba(0,0,0,0.22);
      color: #fff;
      text-align: center;
      font-weight: normal;
      font-size: 16px;
      border-radius: 5px;
      display: inline-block;
      margin-left: 10px;
      cursor: pointer;
      padding: 0 20px;
    }
  }


  .wizard-bottom-nav {
    display: none;
    height: 78px;
    border-top: 1px solid #b9babd;
    padding: 13px 27px 0;
    position: absolute;
    width: 100%;
    bottom: 0;
    font-weight: 200;
    font-size: 16px;

    .wizard-btn {
      width: 140px;
      height: 52px;
      line-height: 50px;
      box-shadow:  inset 0 -2px rgba(0,0,0,0.2), 0 2px 6px rgba(0,0,0,0.22);
      color: #fff;
      text-align: center;
      font-weight: normal;
      font-size: 20px;
      border-radius: 5px;
      display: inline-block;
      cursor: pointer;

      &.btn-back {
        background-color: #5b9dbe;
      }

      &.btn-next {
        background-color: #00467f;
        float: right;
      }
      &.btn-next.disabled {
        background-color: #7b7b7b;
        color: #c4c4c4;
        cursor: not-allowed;
      }
    }

    .wizard-link {
      display: inline-block;
      color: #5b9dbe;
      margin-left: 23px;
      cursor: pointer;
    }

    .wizard-link-separator {
      color: #9c9fa4;
      margin-left: 23px;
      display: inline-block;
    }
  }

  .wizard-apps {
    padding: 23px 15px;
    min-height: 255px;
  }

  .wizard-terms-link {
    line-height: 20px;
    text-align: right;
    font-size: 18px;

    input[type="checkbox"] + .custom-checkbox {
      line-height: 15px;
      margin-bottom: 3px;
    }
  }

  .wizard-category-select {
    padding: 20px;
    position: relative;

    text-align: center;

    .wizard-category-select-spacer {
      max-height: 60px;
      height: calc(50vh - 260px);
    }

    .wizard-category-item {
      .wizard-category-item-inner {
        display: inline-block;
        margin: 10px;
        width: 470px;
        height: 80px;
        background-color: #ecf4f7;
        border-radius: 40px;
        line-height: 80px;
        text-align: left;
        cursor: pointer;
        transition: all 0.2s ease;

        .selected-icon {
          font-size: 25px;
          color: #5BAD37;
          margin-top: 6px;
          margin-left: 2px;
          transition: all 0.2s ease;
          opacity: 0;
        }

        .check-area {
          background-color: #fff;
          width: 35px;
          height: 35px;
          display: inline-block;
          vertical-align: top;
          margin-top: 22px;
          margin-left: 32px;
          margin-right: 20px;
          line-height: 35px;
          text-align: center;
          box-shadow: 1px 1px 2px #ADCCDC inset;

        }

        img {
          margin-right: 20px;
          vertical-align: top;
          margin-top: 18px;
        }


        .wizard-category-label {
          display: inline;
          font-weight: bold;
          font-size: 20px;
          color: #929292;
        }
        &:hover {
          background-color: #DAE9F0;
        }
        &.selected {
          background-color: #DAE9F0;
          .selected-icon {
            opacity: 1;
          }
        }


      }
    }

    .starting-container {
      position: absolute;
      background-color: rgba(255, 255, 255, 0.6);
      text-align: center;
      padding-top: 50px;
      font-size: 30px;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      z-index: 10;
    }
  }

}

.wizard-nav, .wizard-last {
  .btn.btn-primary {
    height: 28px;
    padding-top: 7px;
    background-color: #2980b9;
    color: #fff;
    font-weight: 600;
    font-size: 11px;
    border: 0;
    border-radius: 2px;
  }

  .btn.btn-default {
    height: 28px;
    padding-left: 6px;
    padding-right: 6px;
    border: 1px solid #2980b9;
    border-radius: 2px;
    color: #2980b9;
    font-size: 11px;
  }
}
.wizard-nav {
  padding: 20px 20px;

  .btn {
    width: 220px;
    margin-right: 30px;
  }
}
