<div class="wizard" ng-style="{background: 'url(' + bgImage + ')'}">
    <div class="wizard-window clearfix">
        <div class="wizard-head">AVANAN
            <div class="wizard-top-nav" ng-if="stepInfo.type !== 'info'">
                <div class="wizard-link" ng-if="allowNav()" ng-click="exit()">Exit and do not show this wizard again</div>
                <div class="wizard-link-separator" ng-if="allowNav()">|</div>
                <a class="wizard-link" ng-href="{{userManagementUrl}}">Manage users</a>
                <div class="wizard-btn btn-back" ng-click="goBack()">Back</div>
                <div class="wizard-btn btn-next" ng-class="{disabled: !allowNav()}" ng-click="goNext()">Next</div>
                <div class="wizard-terms-link" ng-if="stepInfo.showTerms">
                    <input type="checkbox" ng-model="terms.accepted" ng-disabled="terms.accepted" ng-click="acceptTerms()">
                    <span class="custom-checkbox"></span>
                    I Accept <a ng-href="{{stepInfo.termsUrl}}" target="_blank">Terms Of Service</a>
                </div>
            </div>
            <div class="wizard-top-nav" ng-if="stepInfo.type === 'info'">
                <div class="wizard-info-btn" ng-if="stepInfo.nextButton" ng-click="goNext()">{{stepInfo.nextButton}}</div>
                <a class="wizard-info-btn" ng-if="linkUrl" ng-href="{{linkUrl}}">{{stepInfo.linkText}}</a>
            </div>
        </div>
        <div ng-if="stepInfo.type === 'info'" class="wizard-msg-bg-container"></div>
        <div ng-if="stepInfo.type === 'info'">
            <div class="wizard-msg-area">
                <div class="wizard-msg-title">
                    {{title}}
                </div>
                <div class="wizard-msg">{{stepInfo.message}}</div>
                <div class="wizard-msg-timeline">
                    <div class="wizard-msg-timeline-inner" ng-style="{'width': ((wizardHelper.steps.length - 2) * 138 + 12) + 'px'}">
                        <div class="timeline-line" ng-style="{'width': ((wizardHelper.steps.length - 2) * 138 - 64) + 'px'}"></div>
                        <div class="timeline-circle"></div>
                        <div ng-repeat-start="step in wizardHelper.steps" class="timeline-item" ng-if="step.icon && (currentStep < 1 || !stepDone($index))">
                            <img ng-src="{{imgRoot.img(step.icon)}}">
                            <div class="timeline-item-head">Step {{$index}}</div>
                            <div class="timeline-item-text">{{step.timelineLong}}</div>
                        </div>
                        <div ng-repeat-end class="timeline-item" ng-if="step.icon && (currentStep > 0 && stepDone($index))">
                            <div class="circle-done"><i class="fa fa-check"></i></div>
                            <div class="timeline-item-head">{{step.timelineShort}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="wizard-app-step-container" ng-if="stepInfo.type !== 'info'">
            <div class="wizard-step-info" ng-style="{'padding-right': ((wizardHelper.steps.length - 2) * (33 + 36) + 34) + 'px'}">
                <div class="wizard-step-msg">
                    <div class="wizard-msg-title">
                        {{title}}
                    </div>
                    <div class="wizard-msg">{{stepInfo.message}}</div>
                </div>
                <div class="wizard-progress" ng-style="{'width': ((wizardHelper.steps.length - 2) * (33 + 36) - 8) + 'px'}">
                    <div class="progress-line" ng-style="{'width': ((wizardHelper.steps.length - 2) * (33 + 36) - 8) + 'px'}"></div>
                    <div class="progress-start"></div>
                    <div class="progress-here" ng-style="hereStyle()">You Are Here</div>
                    <div ng-repeat="step in wizardHelper.steps" ng-if="step.icon" class="progress-circle" ng-class="{done: stepDone(progressStepByIndex($index))}"><span ng-if="!stepDone(progressStepByIndex($index))">{{progressStepByIndex($index)}}</span><i class="fa fa-check" ng-if="stepDone(progressStepByIndex($index))"></i></div>
                </div>
            </div>
            <div class="wizard-apps clearfix" ng-if="stepInfo.type === 'select-app'">
                <div ng-repeat="widget in wizardHelper.getWidgets()" widget-selector="widget" ng-class="getWidgetClasses(widget)"></div>
            </div>
            <div class="wizard-category-select" ng-if="stepInfo.type === 'category-selector'">
                <div class="starting-container" ng-if="startingApps"><span class="fa fa-spinner fa-pulse"></span></div>
                <div class="wizard-category-select-spacer"></div>

                <div class="wizard-category-item" ng-repeat="category in stepInfo.categories track by $index"
                     ng-if="visibleCategories[category.type]">
                    <div class="wizard-category-item-inner"
                         ng-class="{selected: startCategories[category.type]}"
                         ng-click="toggleCategoryState(category.type)"
                         qtip2="categoryTooltip(category)">
                        <div class="check-area">
                            <span class="fa fa-check selected-icon"></span>
                        </div>
                        <img ng-src="{{imgRoot.img(category.img)}}">
                        <div class="wizard-category-label">{{category.label}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>