.policy-columns-pick-v2 {
  .columns-dropdown.dropdown-menu {
    display: block;
  }
  
  $color1: #434a54;
  $color2: #FFFFFF;
  $color1-font: #FFFFFF;
  $color2-font: #434a54;
  
  .close-buttons {
    text-align: center;
    padding: 5px 20px 3px;
    white-space: nowrap;

    .close-btn {
      width: 80px;
      height: 28px;
      font-size: 12px;
      border-radius: 2px;
      padding-top: 5px;

      &.btn-primary {
        background-color:  $color1-font;
        color: $color1;
        border: 0;
      }

      &.btn-default {
        border: 1px solid $color1-font;
        color: $color1-font;
        background-color: $color1;
      }
    }
  }
  
  
  .dropdown-menu {
    background-color: $color1;
    padding: 5px;
    table {
      min-height: 300px;
      .cell-scroll {
        width: 100%;
        height: 100%;
        max-height: 500px;
        overflow-y: auto;
      }
      .groups {
        vertical-align: top;
        .cell-scroll {
          min-width: 210px;
          .group, .search {
            padding: 5px 10px 5px 5px;
            cursor: pointer;
            font-weight: bold;
            color: $color1-font;
          }
          
          .group.selected-group, .group:hover, .search.selected-group {
            background-color: $color2;
            color: $color2-font;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
          }
          
          .search > input {
            color: $color1;
            font-weight: 400;
            border: $color1 1px solid;
            padding: 2px;
            width: 145px;
          }
        }
      }
      .columns { 
        vertical-align: top;
        height: 100%;
        .cell-scroll {
          border-radius: 5px;
          background-color: $color2;
          color: $color2-font;
          min-width: 350px;
          margin-left: -5px;
          .column {
            font-size: 14px;
            margin: 5px 5px 5px 10px;
            cursor: pointer;
          }
        }
      }
    }
  }
  
  .hovered {
    background: #3c8dbc;
    color: #fff;
  }
}