<div class="policy-columns-pick-v2 dropdown" dropdown>
    <div class="panel-btn btn btn-blue-border dropdown-toggle" dropdown-toggle ng-click="buttonClicked()"><span ng-class="options.class"></span>{{options.label}}</div>
    <div ng-if="showDropdown" class="dropdown-menu" role="menu">
        <table ng-click="$event.stopPropagation()">
            <tbody>
                <tr>
                    <td class="groups">
                        <div class="cell-scroll">
                            <div class="search" ng-click="showSearch()" ng-class="{'selected-group': selectedGroup == searchGroup}">
                                Search: <input ng-model="internal.search" ng-change="showSearch()">
                            </div>
                            <div ng-repeat="group in internalGroups" ng-click="selectGroup(group)" class="group" ng-class="{'selected-group': selectedGroup == group}">
                                {{group.label}}
                            </div>
                        </div>
                    </td>
                    <td class="columns">
                        <div class="cell-scroll">
                            <div ng-repeat="column in selectedGroup.columns" class="column">
                                <div nice-checkbox="internalModel[column.id]" text="column.label"></div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="close-buttons">
            <div class="close-btn btn btn-primary" ng-click="applyChange()">Ok</div>
            <div class="close-btn btn btn-default">Cancel</div>
        </div>
    </div>
</div>