<div class="widget-modal" widget-panel="options.panel">
    <widget-body>
        <div widget-selector="options.panel"></div>
    </widget-body>
</div>
<div class="modal-footer" ng-if="!options.noDialogButtons">
    <button class="btn btn-danger btn-sm" ng-click="close()">{{options.closeText || 'Close'}}</button>
</div>