.widget-modal {
    .panel {
        margin-bottom: 0;
    }
    .panel.avanan > .panel-heading .panel-actions .btn-icon.widget-modal-close-x {
        margin-left: 2px;
        padding-top: 1px;
        font-size: 20px;
        color: #a6a6a3;
        .pre-icon {
            margin-right: 0;
        }
        &:hover {
            transform: scale(1.35, 1.35);
        }
    }

    + .modal-footer {
        border-top: none;
    }
}

@media (min-width: 992px) {
    .size-xl {
        .modal-dialog {
            width: 900px;
        }
    }
}

@media (min-width: 1250px) {
    .size-xl {
        .modal-dialog {
            width: 1200px;
        }
    }
}

@media (min-width: 1550px) {
    .size-xl {
        .modal-dialog {
            width: 1500px;
        }
    }
}
