<div class="report-list">
    <div widget-panel="reportListPanel">
        <widget-body>
        <div ng-if="tableModel" class="avanan-table" data-table="tableModel" options="tableOptions"></div>
        </widget-body>
    </div>
</div>