.tree-side-menu {
    .sidebar-hide & {
        display: none;
    }
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 220px;
    background: #31434f;
    
    .menu-logo {
        height: 162px;
        background-repeat: no-repeat;
        background-position: center; 
    }
    
    .search-box .input-group .search-input {
        width: 200px;
    }
    
    .dashboard-sub-menu {
        display: block;
    }
    
    .sub-menu-icon {
        font-size: 12px;
        width: 45px;
        text-align: center;
    }
    
    .sub-menu-label {
        font-size: 16px
    }
    
    .element-row {
        display: table-row;
        > div {
            display: table-cell;
            vertical-align: middle;
        }
    }
    
    .state-blank {
        width: 20px;
    }
    
    .slimScrollDiv {
        height: calc(100% - 207px) !important;
    }
    
    .tree-side-menu-element .element-label {
        font-weight: 600;
        font-size: 14px;
        text-transform: none;
    }
}