<div class="tree-side-menu">
    <div class="menu-logo" ng-style="{'background-image': 'url(' + root.img('logo.png') + ')'}"></div>
    <div search-box></div>
    <div class="sidebar-inner scrollable-sidebar" slimscroll="{height: '100%', size: '0px'}">
        <div tree-side-menu-element="menus.dashboard" class="root-tree-side-menu">
            <sub-element class="dashboard-sub-menu tree-side-sub-menu" ng-init="root = $parent">
                <div tree-side-menu-element="root.sub"></div>
            </sub-element>
        </div>
        <div tree-side-menu-element="menus.analytics" class="root-tree-side-menu">
            <sub-element class="analytics-sub-menu tree-side-sub-menu" ng-init="root = $parent">
                <div tree-side-menu-element="root.sub">
                    <sub-element class="group-policies-sub-menu" ng-init="group = $parent">
                         <div tree-side-menu-element="group.sub"></div>
                    </sub-element>
                </div>
            </sub-element>
        </div>
        <div tree-side-menu-element="menus.alerts" class="root-tree-side-menu"></div>
        <div tree-side-menu-element="menus.reports" class="root-tree-side-menu">
            <sub-element class="report-sub-menu tree-side-sub-menu" ng-init="root = $parent">
                <div tree-side-menu-element="root.sub"></div>
            </sub-element>
        </div>
        <div tree-side-menu-element="menus.securityStack" class="root-tree-side-menu"></div>
        <div tree-side-menu-element="menus.configuration" class="root-tree-side-menu">
            <sub-element class="configuration-sub-menu tree-side-sub-menu" ng-init="root = $parent">
                <div tree-side-menu-element="root.sub"></div>
            </sub-element>
        </div>
    </div>
</div>