<div class="modal-header">
    <button ng-if="!options.disableCloseX" type="button" class="close" ng-click="close()">×</button>
    <h4>{{options.title || 'Alert dialog'}}</h4>
</div>
<div class="modal-body">
    <div ng-repeat="message in messages">
        <p ng-if="options.display == 'text'">{{message}}</p>
        <pre ng-if="options.display == 'json'">{{message | json}}</pre>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-danger btn-sm" ng-click="close()">{{options.closeText || 'Close'}}</button>
</div>
