<div class="params-section-title" ng-click="openToggle()"><span class="fa" ng-class="opened ? 'fa-caret-down' : 'fa-caret-right'"></span> {{section.label}}</div>
<div class="params-section-body">
    <ng-transclude></ng-transclude>
</div>
