<div class="meta-info">
    <div ng-repeat="data in model.data" ng-class="pairClass(data)" ng-style="model.pair.style">
        <div ng-if="isDefined(data.key)" class="key" ng-class="model.key.class" ng-style="model.key.style">{{data.key}}:</div>
        <div ng-if="isDefined(data.value)" class="value" ng-class="model.value.class" ng-style="model.value.style" linked-text="data.value"></div>
        <div ng-if="isDefined(data.button)" ng-class="data.button.class" ng-style="data.button.style" ng-click="data.button.onClick()">{{data.button.label}}</div>
        <div ng-if="isDefined(data.buttons)" class="buttons" ng-class="data.button.class" ng-style="data.button.style">
            <div ng-repeat="button in data.buttons" ng-class="button.class" ng-style="button.style" ng-click=button.onClick()>{{button.label}}</div>
        </div>
    </div>
</div>