.meta-info {
  .buttons {
    & > * {
      display: inline-block;
      margin-right: 10px;
      margin-top: 10px;
    }
    .btn {
      transition: none;
    }
  }
  .file-meta-data, .folder-meta-data, .email-meta-data, .group-meta-data, .wildfire-scan-details, .checkpoint-av-scan-details, .checkpoint-te-scan-details, .symantec-scan-details, .globalvelocity-scan-details, .opswat-scan-details, .alert-details, .default-scan-details, .deployment-status {
    clear: both;
    .key {
      float: left;
      width: 200px;
      word-wrap: break-word;
    }
    .value {
      float: right;
      width: calc(100% - 200px);
      & > .linked-text > span {
        float: left;
        text-align: left;
        width: 100%;
        word-wrap: break-word;
      }
      .inline-array .linked-text > span {
        display: inline;
        float: none;
        width: auto;
      }
      .inline-list {

        .linked-text > span {
          float: none;
        }
        position: relative;
        span.fa {
          position: relative;
          right: auto;
          top: -2px;
          margin-left: 5px;
        }
        .dropdown-menu {
          left: 0;
          right: auto;
        }
        .dropdown > .dropdown-toggle > div {
          display: inline-block;
        }

      }

      .cyren-found-links {

        .linked-text > span {
          display: inline;
          width: auto;
          float: none;
        }

        .cyren-found-link-element {
          width: 100%;
          & > .linked-text {
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }

        & > .linked-text {
          white-space: nowrap;
        }


        .cyren-link-categories {
          margin-right: -3px;
          font-weight: 600;
        }

        .cyren-link-link {
          white-space: nowrap;
        }

      }


    }
  }

  .default-scan-details {
    .value {
      overflow-wrap: break-word;
    }
  }
  .user-meta-data, .application-meta-data {
    clear: both;
    .key {
      float: left;
      width: 220px;
      word-wrap: break-word;
    }
    .value {
      float: right;
      width: calc(100% - 220px);
      .linked-text span{
        float: left;
        text-align: left;
        width: 100%;
        word-wrap: break-word;
      }
    }
    &.key-width-190 {
      .key {
        width: 190px;
      }
      .value {
        width: calc(100% - 190px);
      }
    }
  }


  .alert-details {
    img.row-icon {
      max-width: 30px;
      max-height: 30px;
      min-width: 30px;
      min-height: 30px;
    }
  }

  .download-xml-button {
    margin-top: 50px;
    cursor: pointer;
    text-decoration: underline;
  }
}

.qtip-cyren-link {
  max-width: 50%;
}
