.settings {
  button {
    width: 150px;
  }
  .change-password {
    .form-group {
      position: relative;
      margin-bottom: 5px;
      .password-label {
        display: inline-block;
        width: 150px;
        text-align: right;
      }
      input {
        display: inline-block;
        width: 200px;
        padding: 5px;
      }
      .verification {
        position: absolute;
        right: 10px;
        top: 8px;
        font-size: 20px;
        &.fa-exclamation-circle {
          color: #800000;
        }

        &.fa-check-circle {
          color: #008000;
        }
      }
    }
    button {
      width: 150px;
      margin-left: 203px;
    }
  }

  .friendly-domains-widget {
    button {
      margin-top: 5px;
      width: 150px;
      float: right;
    }
  }
  .row {
    padding-bottom: 30px;
  }

  .session-idle-param {
    > .idle-timeout-label {
      width: 160px;
      text-align: right;
      display: inline-block;
    }
    
    > input {
      width: 80px;
      padding: 6px 12px;
    }
    
    > .idle-timeout-postfix {
      width: 70px;
      display: inline-block;
    }
  }
  
  .backend-param {
    > span {
      width: 160px;
      text-align: right;
      display: inline-block;
    }

    > .form-param {
      width: 150px;
      display: inline-block;
    }

    > input[type="number"],
    > input[type="text"] {
      padding: 6px 12px;
      width: 150px;
    }
  }
  .advanced-section {
    .form-group {
      margin-bottom: 7px;
    }
  }
}