<div class="settings">
    <div class="row">
    <div widget-panel="changePasswordPanel" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <widget-body>
            <div class="change-password">
                <div class="form-group">
                    <span class="password-label">Current password:</span>
                    <input type="password" class="avanan-square" placeholder="Current password" ng-model="changePasswordModel.oldPassword">
                    <span ng-if="error.oldPassword" qtip2="error.oldPassword" class="verification fa fa-exclamation-circle"></span>
                </div>
                <div class="form-group">
                    <span class="password-label">New password:</span>
                    <input type="password" class="avanan-square" placeholder="New password" ng-model="changePasswordModel.newPassword">
                    <span ng-if="error.newPassword" qtip2="error.newPassword" class="verification fa fa-exclamation-circle"></span>
                </div>
                <div class="form-group">
                    <span class="password-label">Repeat password:</span>
                    <input type="password" class="avanan-square" placeholder="Repeat password" ng-model="changePasswordModel.repeatPassword">
                    <span ng-if="error.repeatPassword" qtip2="error.repeatPassword" class="verification fa fa-exclamation-circle"></span>
                </div>
                <button class="btn btn-blue" ng-click="changePassword()">Change password</button>
            </div>
        </widget-body>
    </div>
    <div ng-if="friendlyDomainsPanel" widget-panel="friendlyDomainsPanel" class="col-lg-6 col-md-6 col-sm-12 col-xs-12 friendly-domains-widget">
        <widget-body>
            <div select2="friendlyDomainsModel.domains"></div>
            <button class="btn btn-blue" ng-click="saveDomains()">Save domains</button>
        </widget-body>
    </div>
    </div>
    <div class="row">
        <div ng-if="advancedPanel" widget-panel="advancedPanel" class="col-lg-6 col-md-6 col-sm-12 col-xs-12 advanced-section">
            <widget-body>
                <div ng-if="updateLocalModules" class="form-group">
                    <button class="btn btn-blue" ng-if="updateLocalModules" ng-click="updateLocalModules()">Update local modules</button>
                </div>
                <div class="form-group">
                    <button class="btn btn-blue" ng-click="uploadCustomIcon()">Upload custom logo</button>
                    <button class="btn btn-blue" ng-click="removeCustomIcon()">Remove custom logo</button>
                </div>
                <div ng-if="sendEmailReport" class="form-group">
                    <button class="btn btn-blue" ng-click="sendEmailReport()">Send email report</button>
                </div>
                <div system-config-parameter="hide_beta_apps" data-label="Hide Beta Applications in App Store" debug-only="true"></div>

                <div class="form-group" ng-if="domainsManageLink">
                    <a ng-href="/#!{{domainsManageLink}}" class="link-like">Manage Email Domains</a>
                </div>
                <div class="form-group session-idle-param">
                    <span class="idle-timeout-label">Idle-session auto log-off after:</span>
                    <input integer-restriction min="1" class="avanan-square" ng-model="params.idleTimeout"/>
                    <span class="idle-timeout-postfix">minutes</span>
                    <button class="btn btn-blue" ng-click="saveIdleTimeout()">Update timeout</button>
                </div>
                <div ng-if="showDownloadConfirmationParam"
                     system-config-parameter="download-entity-no-confirm"
                     data-label="Don't show confirmation when downloading entity" storage="local"></div>

                <div ng-repeat="param in configParams" ng-if="!param.hidden && param.loaded" class="form-group backend-param">
                    <span class="backend-param-label">{{param.label}}:</span>
                    <div form-param="param" ng-model="param.data"></div>
                    <button class="btn btn-blue" ng-click="saveConfigParam(param)">Update</button>
                </div>
                <div ng-if="showHardReset" class="form-group">
                    <button class="btn btn-red" ng-click="performHardReset()">Hard Reset</button>
                </div>
                <div system-config-parameter="hide_system_alerts" data-label="Hide System Alerts" debug-only="true"></div>

                <div system-config-parameter="email_alerts_show_logo" data-label="Add AVANAN Logo to Email Alerts"></div>

            </widget-body>
        </div>
        <div ng-if="debugLinksPanel" widget-panel="debugLinksPanel" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <widget-body>
                <div ng-repeat="link in debugLinksPanel.links" linked-text="link"></div>
            </widget-body>
        </div>
    </div>
    <div class="row">
        <div ng-if="entityDebugPanel" widget-panel="entityDebugPanel" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <widget-body>
                <div entity-debug="entityDebugPanel"></div>
            </widget-body>
        </div>
    </div>

</div>