<div class="solgate-exceptions">
    <div ng-if="resultsPanel" widget-panel="resultsPanel" class="results-panel">
        <widget-body>
            <div ng-if="tableModel" class="avanan-table vertical-middle medium-icons" data-table="tableModel" options="tableOptions"></div>
        </widget-body>
    </div>
</div>