
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myNewsToTagLabel">Create or edit a News To Tag</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.newsToTag.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.newsToTag.id" readonly />
        </div>

        <div class="form-group">
            <label for="field_news">News</label>
            <select class="form-control" id="field_news" name="news" ng-model="vm.newsToTag.news" ng-options="news as news.id for news in vm.news track by news.id" required>
            </select>
        </div>
        <div ng-show="editForm.news.$invalid">
            <p class="help-block"
                ng-show="editForm.news.$error.required">
                This field is required.
            </p>
        </div>
        <div class="form-group">
            <label for="field_tag">Tag</label>
            <select class="form-control" id="field_tag" name="tag" ng-model="vm.newsToTag.tag" ng-options="tag as tag.name for tag in vm.tags track by tag.id" required>
            </select>
        </div>
        <div ng-show="editForm.tag.$invalid">
            <p class="help-block"
                ng-show="editForm.tag.$error.required">
                This field is required.
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
