
<div>
    <h2><span>News To Tag</span> {{vm.newsToTag.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>News</span></dt>
        <dd>
            <a ui-sref="news-detail({id:vm.newsToTag.news.id})">{{vm.newsToTag.news.id}}</a>
        </dd>
        <dt><span>Tag</span></dt>
        <dd>
            <a ui-sref="tag-detail({id:vm.newsToTag.tag.id})">{{vm.newsToTag.tag.name}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="news-to-tag-detail.edit({id:vm.newsToTag.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down"> Edit</span>
    </button>
</div>
